<% http_header("style/advanced.css", "funcs.js", "advanced.js", "top.js") %>
<body onload="loadvalue();" onResize="change_size(); setHeight_for_IE6();">
<!--[if IE 6]>
<script type="text/javascript">
document.execCommand("BackgroundImageCache", false, true);
</script>
<![endif]-->
<script>
var back_flag=0;//for click browser "back"
var refresh_another_time=0;
var timeoutfunc;
var enable_action=1;
var enabled_wds="<% wds_enable() %>";
var enabled_wps="<% wps_menu() %>";
var type="advanced";
var charcount=0;
var file_version=0;
var file_region="";
var netgear_version=0;
var netgear_region="<% get_firmware_region() %>"
<% cfg_set("hijack_language", "0") %>
var help_info="_index";
var wps_charcount=0;
var wps_endis_configured=1;     // 1 for unconfigured, 5 for configured
var wps_an_endis_configured=1;  // 1 for unconfigured, 5 for configured
var folder_path="";     //save the browser's folder path, and show in USB creat/edit page
var qos_check_time=0;
var pin_refresh_time=0;
var select_basic="<% cfg_get("internet_type") %>";
var select_type="<% cfg_get("internet_ppp_type") %>";
var plc_setting_flag="<% cfg_get("plc_supp_ui")%>";
var qos_edit_mac = "";
var qos_edit_ip = "";
var qos_edit_name = "";
var qos_priority = "";
var wps_process=0;
var enable_ap_flag="<% cfg_get("ap_mode") %>";//bug 24666 according to the page 128 of spec 2.0,add AP mode
var enable_extender_flag="<% cfg_get("extender_mode") %>"; 
var enable_bridge_flag="<% cfg_get("bridge_mode") %>";
var ParentalControl = "<% cfg_get("ParentalControl") %>";
var wifi_schedule_select = "";

var gui_region="<% cfg_get("GUI_Region") %>";
var show_ap_page= "<% cfg_get("show_ap") %>";
var show_bridge_page= "<% cfg_get("show_bridge") %>";
var show_rae_page= "<% cfg_get("show_rae") %>";
var show_netdisk = "<% cfg_get("show_netdisk") %>";
var auto_change_lang = 0;
var region_class;
var old_div = "";
var ether_post_flag = 0;
var ddns_post_flag = 0;

var jp_multiPPPoE = "<% cfg_get("jp_multiPPPoE") %>";
var language_change_status="<% lang_change_status() %>";
var to_multipppoe = 0;

var run_green_time=0;
var green_download_items;
var green_refresh_time=0;
var green_download_item_num=0;
var green_downloading_item_num=0
var green_download_item_queuen_num=0;
var mlnet_error=0;
<% plc_devs_detection() %>
<% web_flag() %>
<% ru_web_flag() %>
<% refresh_timestamp("wds") %>
<% check_fuppes() %>
<% hijack_success_page() %>
<% lang_change_status_finish() %>
var from_nowan = "<% cfg_get("from_nowan_retry") %>";
var advanced_open=0;
var broadband_wan_type="<% cfg_get("dango_det_wan_type") %>";
var download_type = "<% cfg_get("download_type") %>";

//Failover & Loadbalance
var multi_wan_mode="none";  // none, multi
var multi_wan_mode_ether="0";//0:unconfigured, 1:configured
var multi_wan_mode_mobile="0";//0:unconfigured, 1:configured

//usb bug 41187
var usb_creat_apply_already=0;
var usb_edit_apply_already=0;

var is_ru_version=(((netgear_region.toUpperCase() == "WW" || netgear_region == "") && gui_region == "Russian" ) || netgear_region.toUpperCase() == "RU") ? 1 : 0;
var is_pr_version=(((netgear_region.toUpperCase() == "WW" || netgear_region == "") && gui_region == "Chinese" ) || netgear_region.toUpperCase() == "PR") ? 1 : 0;
var is_jp_version=(((netgear_region.toUpperCase() == "WW" || netgear_region == "") && gui_region == "Japanese" ) || netgear_region.toUpperCase() == "JP") ? 1 : 0;
var is_gr_version=(((netgear_region.toUpperCase() == "WW" || netgear_region == "") && gui_region == "German" ) || netgear_region.toUpperCase() == "GR") ? 1 : 0;
var click_lte_sim=0;
var set_vlan_tag="<% cfg_get("set_vlan_tag") %>";
var ookla_speedtest_flag = 0;
var basic_qos_ookla_speedtest_flag = 0;
var open_facebook_page=0;//check whether need to open a new page facebook


var enable_bridge_flag="<% cfg_get("bridge_mode") %>";
var basic_dynamic_page="<% cfg_get("basic_dynamic_page") %>"
var enable_mapt="<% cfg_get("mapt_enable") %>";
var master = "<% cfg_get("http_loginname") %>";

var disk_num = "<% cat_file("/tmp/usbdisknum") %>";
disk_num = parseInt(disk_num);
if(isNaN(disk_num)) disk_num = 0;

var lang_select = "<% cfg_get("Language_Selection") %>";
var browser_lang = "<% get_browser_language() %>";
var bgn_pr_wds_support_wpa=0;
var an_pr_wds_support_wpa=0;
var old_wds_endis_fun="<% cfg_get("wds_endis_fun") %>";
var security_mode="<% cfg_get("wl_sectype") %>";
var old_wds_endis_fun_a="<% cfg_get("wla_wds_endis_fun") %>";
var security_mode_a="<% cfg_get("wla_sectype") %>";
var dis_lang_crl = "<% cfg_get("Enable_GUIStringTable") %>";
var device_mode = "<% cfg_get("modem_mode") %>";
var success_url='<% ntgr_success_url("1") %>';
var wizard_wan_preference = parent.support_wan_preference;
if( wds_support_wpa == 1 && gui_region == "Chinese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW"))
{
	if((security_mode=="3" ||  security_mode=="4" || security_mode == "5") && old_wds_endis_fun == "1")
		bgn_pr_wds_support_wpa=1;

	if(an_router_flag == 1 )
	{
		if( (security_mode_a == "3" || security_mode_a == "4" || security_mode_a == "5") && old_wds_endis_fun_a == "1" )
			an_pr_wds_support_wpa=1;

	}	
}



function loadvalue()
{
	var form = document.forms[0];
	change_size();

	if(document.location.search.indexOf('vpn_on_updating=1') !== -1) {
		goto_formframe('vpn_upgrade_process.htm');
		return;
	}

	if(lang_select == "Auto" && browser_lang != gui_region)
	{
		if(bgn_pr_wds_support_wpa == 1 || an_pr_wds_support_wpa == 1 || dis_lang_crl == "0" )
			auto_change_lang = 0;
		else
			auto_change_lang = 1;
	}
	/*if(gui_region == "Russian" || gui_region == "Finnish")
	{
		var obj = document.getElementById("menu");
		obj.className="menu_rufi_words";
	}*/
	if( show_ap_page == 1 || show_bridge_page ==1 || show_rae_page == "1")
	{
		open_or_close_sub('advanced');
	}

	if(jp_multiPPPoE=="1" && language_change_status=="1")/*Change language to JP fail should redirect to multi-pppoepage*/
	{
		to_multipppoe = 1;
		if(document.getElementById("setup_sub").style.display == "none")
			open_or_close_sub("setup");

		click_adv_action("internet");
	}
	else if( auto_change_lang == 0 ){/* if auto_change_lang == 0, it will show status page, else it will go to lang_check.html */
		if(enable_bridge_flag == "1")
			goto_formframe("RST_bridge_status.htm");
		else	
			goto_formframe("<% adv_main_link() %>");
	}

	if( from_nowan == "1" && have_lte_flag != 1 )
		menu_color_change('adv_setup_wizard');
	else if(show_rae_page == "1")
		menu_color_change('rae');
	else if(to_multipppoe == 0)
		menu_color_change('adv_home');
	else if( master == "guest" )
		click_adv_action("adv_home");

	if(set_vlan_tag=="1")
		click_adv_action("vlan");
	if(show_netdisk == "1")
	{
		open_or_close_sub("usb");
		click_adv_action("amazon");
	}
	setHeight_for_IE6();

}

</script>
<div id="top">
	<iframe name="topframe" id="topframe" src="top.html" allowtransparency="true" height="100%" width="100%" frameborder="0"></iframe>
</div>

<div id="container" class="container_center">
<div id="middle">
<div id="menu" class="menu_common_words">
	<div id="adv_home" class="advanced_purple_button" onclick="click_adv_action('adv_home');"><b><span id="home">$adv_home</span></b></div>
	<% advanced_menu_setup_wizard() %>

	<div id="setup_bt" class="advanced_white_close_button" onclick="open_or_close_sub('setup');"><b><span id="setup">$setup_head</span></b></div>
	<div id="setup_sub" class="sub_men"  style="display: none">
	<dl>
		<% advanced_sub_menu("lte_broadband", "sub_back", "lte_broadband_title", "broadband_set", "broadband_set") %>
		<% advanced_sub_menu("mobile_internet", "sub_back", "mobile_setup", "mobile_set", "mobile_set") %>
		<% advanced_sub_menu("internet", "sub_back", "int_setup", "internet_setup", "int_set") %>
		<% advanced_sub_menu("wireless", "sub_back", "wls_setup", "wireless_setup", "wireless") %>
		<% advanced_sub_menu("guest", "sub_back", "wlan_mark_guest", "guest_network_setup", "guest") %>
		<% advanced_sub_menu("wan", "sub_back", "wan_setup_head", "wan_setup", "wan") %>
	       	<dt id="lan" class="sub_back"><a target="formframe" onclick="click_adv_action('lan');"><b><span name="lan" id="lan_setup">$lan_mark_head</span></b></a></dt>
		<% advanced_sub_menu("qos", "sub_back", "qos_head", "qos_setup", "qos") %>
		<% advanced_sub_menu("devname", "sub_back", "edit_devname", "advanced_devname")%>
	</dl>
	</div>

	<% advanced_menu_usb() %>

	<% advanced_menu_security() %>

	<% advanced_menu_green_download() %>
	<div id="admin_bt" class="advanced_white_close_button" onclick="open_or_close_sub('admin');"><b><span id="admin">$admin</span></b></div>
	<div id="admin_sub" class="sub_men"  style="display: none">
	<dl>
	       	<dt id="status" class="sub_back"><a  target="formframe" onclick="click_adv_action('status');"><b><span name="status" id="admin_status">$info_mark_head</span></b></a></dt>
		<dt id="log" class="sub_back"><a  target="formframe" onclick="click_adv_action('log');"><b><span name="log" id="admin_logs">$logs_head</span></b></a></dt>
		<dt id="attached" class="sub_back"><a  target="formframe" onclick="click_adv_action('attached');"><b><span name="attached" id="admin_attached">$attach_device</span></b></a></dt>
		<dt id="bak_set" class="sub_back"><a  target="formframe" onclick="click_adv_action('bak_set');"><b><span name="bak_set" id="admin_bakup">$backup_head</span></b></a></dt>
		<dt id="passwd" class="sub_back"><a  target="formframe" onclick="click_adv_action('passwd');"><b><span name="passwd" id="admin_setpassword">$passwd_head</span></b></a></dt>
		<% advanced_sub_menu("ntp", "sub_back", "ntp_settings", "ntp_debug", "admin_ntp") %>
		<dt id="upgrade" class="sub_back"><a  target="formframe" onclick="click_adv_action('upgrade');"><b><span name="upgrade" id="admin_upgrade">$firm_upgrade</span></b></a></dt>
		<% advanced_sub_menu("mobile_upg", "sub_back", "mobile_upgrade", "admin_mobileupg") %>
	</dl>	
	</div>	

	<div id="advanced_bt" class="advanced_white_close_button" onclick="open_or_close_sub('advanced');"><b><span id="advanced">$adv_setup</span></b></div>
	<div id="advanced_sub" class="sub_men"  style="display: none">
	<dl>
		<% advanced_sub_menu("plc", "sub_back", "plc_head", "advanced_plc") %>
		<% advanced_sub_menu("wladv", "sub_back","wlan_mark", "advanced_wireless", "adv_wireless_set") %>
		<% advanced_sub_menu("wlap", "sub_back", "wlan_ap", "advanced_wirelessap") %>
		<% advanced_sub_menu("rae", "sub_back", "rae_header", "advanced_rae") %>
		<% advanced_sub_menu("wl_bridge", "sub_back", "bridge_head", "advanced_bridge") %>
		<% advanced_sub_menu("wds", "long_name", "wds_head", "advanced_wds", "wds") %>
		<% advanced_sub_menu("forwarding_triggering", "long_name", "logs_port_forward_trigger", "advanced_pf_pt", "forwarding_triggering") %>
		<% advanced_sub_menu("dns", "sub_back", "ddns_head", "advanced_ddns", "dns") %>
		<% advanced_sub_menu("vpn", "sub_back", "vpn_head", "Advanced_vpnservice")%>
		<% advanced_sub_menu("pptp_vpn", "sub_back", "pptp_vpn_head", "advanced_pptpvpn")%>
		<% advanced_sub_menu("static", "sub_back", "static_router_head", "advanced_static", "static") %>
		<% advanced_sub_menu("remote", "sub_back", "remote_head", "advanced_remote", "remote") %>
		<% advanced_sub_menu("usb_set", "sub_back", "usb_settings", "advanced_usb", "usb") %>
		<% advanced_sub_menu("upnp", "sub_back", "upnp_head", "advanced_upnp", "upnp") %>
		<% advanced_sub_menu("ipv6", "sub_back", "ipv6_head", "advanced_ipv6", "ipv6") %>
		<% advanced_sub_menu("sim", "sub_back", "sim_head", "advanced_sim", "adv_wireless_set") %>
		<% advanced_sub_menu("traffic", "sub_back", "traffic_head", "advanced_traffic", "traffic") %>
		<% advanced_sub_menu("vlan", "sub_back", "vlan_head", "advanced_vlan") %>
		<% advanced_sub_menu("led", "long_name", "led_head", "advanced_led")%>
		<% advanced_sub_menu("fbwifi", "sub_back", "facebook_head", "advanced_fbwifi")%>
		<% advanced_sub_menu("lacp", "long_name", "lacp_head", "advanced_lacp")%>
		<% advanced_sub_menu("priozone", "sub_back", "priority_zone", "advanced_priozone")%>
		<% advanced_sub_menu("devmode", "sub_back", "dsl_device_mode", "advanced_devmode")%>
		<% advanced_sub_menu("vpn_client", "sub_back", "vpn_client", "adv_vpn_client")%>
	</dl>	
	</div>	
</div>
<div id="formframe_div">
		<iframe name="formframe" id="formframe" allowtransparency="true" height="100%" width="100%" scrolling="no" frameborder="0" style="display:none;">
		</iframe>
		<div id="formframe_wait_div" style="background-color:#fff; width:100%; height:100%;font-size:10pt;font-family: Arial;">
			<div align="center"><br /><br /><b>$wizard_pls_wait</b><br /><br /></div>
			<div align="center"><img src="image/wait30.gif" /></div>
		</div>
</div>

<div id="footer" class="footer">
	<img class="footer_img" src="image/footer.gif">
<div id="support">
	<b> $help_and_support</b> &nbsp;
	<script>
		if( is_jp_version == 1)
			document.write("<a target=\"_blank\" href=\"http://www.netgear.jp/supportInfo/\">$docu_head</a> | <a target=\"_blank\" href=\"https://www.netgear.jp/supportInfo/Contact/\">$online_support</a> | <a target=\"_blank\" href=\"http://www.netgear.jp/supportInfo/\">$router_faq</a> |");
		else
			document.write("<a target=\"_blank\" href=\"http://downloadcenter.netgear.com/\">$docu_head</a> | <a target=\"_blank\" href=\"http://support.netgear.com\">$online_support</a> | <a target=\"_blank\" href=\"http://kb.netgear.com/app/answers/detail/a_id/12923\">$router_faq</a> |");
	</script>
		<a target="_blank" href="license.htm">GNU GPL</a>
</div>
<div id="search" align=right>
	<b> $search_help </b>
	<input type="text" name="search" value="$ent_srh_item" onkeypress="detectEnter('num',event);" onFocus="this.value='';" onblur="(this.value=='')?(this.value='$ent_srh_item'):''" />
	<input id="search_button" class="search_button" type="button" name="dosearch" value="$go_mark" onClick="do_search();">
</div>
</div>
</div>
</div>
</body>
</html>
