<% cfg_set("after_welcome", "0") %>

<% http_header("style/form.css", "/funcs.js") %>

<script>
var select_basic="<% cfg_get("internet_type") %>";
var select_type="<% cfg_get("internet_ppp_type") %>";
var gui_region="<% cfg_get("GUI_Region") %>";
var jp_multiPPPoE="<% cfg_get("jp_multiPPPoE") %>";
var netgear_region=getTop(window).netgear_region;
//var have_l2tp=( (gui_region == "Russian" && getTop(window).l2tp_flag == 1 && (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "RU") ? 1 : 0 ;
var have_l2tp = (getTop(window).l2tp_flag == 1) ? 1 : 0;
var support_broadband = (getTop(window).have_broadband ==1 && (getTop(window).is_ru_version==1 || getTop(window).is_pr_version==1)) ? 1 : 0;

function loadvalue()
{
	getTop(window).broadband_mode = "<% cfg_get("dango_det_wan_type") %>";

	if( getTop(window).location.href.indexOf("adv_index.htm") == -1 && support_broadband == 1 ){
		getTop(window).enabledItemsClass_basic();
		getTop(window).basic_menu_color_change('ethernet');
	}

	if(getTop(window).to_multipppoe == 1)
	{
		this.location.href = "BAS_mulpppoe.htm";
		getTop(window).to_multipppoe = 0;
	}
	else if( select_basic == 1 )
                this.location.href="BAS_ether.htm";
        else
        {
		if(((jp_multiPPPoE == 1 && gui_region != "Japanese" ) || ( select_type > 0 && gui_region == "Japanese") ) && (netgear_region == "" || netgear_region.toUpperCase() == "WW"))
                        this.location.href = "BAS_mulpppoe.htm";
		else if(((jp_multiPPPoE == 1 && gui_region != "Japanese" ) ||  select_type > 0 ) && netgear_region.toUpperCase() == "JP" )
			this.location.href = "BAS_mulpppoe_ww.htm";
                else if( select_type == 0 )
                        this.location.href="BAS_pppoe.htm";
                else if(select_type == 1 )
                        this.location.href="BAS_pptp.htm";
		else if( select_type == 4 && have_l2tp == 1 )
			this.location.href="BAS_l2tp.htm";
		else if(parent.support_orange_flag == 1 && select_type == 6)
			this.location.href="BAS_orange_pppoe.htm";
		else if(parent.support_orange_flag == 1 && select_type == 7)
			this.location.href="BAS_orange_dhcp.htm";
		else
			this.location.href="BAS_pppoe.htm";
		
        }

}

</script>
<BODY onLoad="loadvalue();">
</BODY>

</HTML>
