<% http_header("style/form.css") %>
<BODY bgcolor="#ffffff" onLoad="updateProgress()">
<div class="page_title">$update_head</div>
<div id="main" class="main inner-sub">
<% refresh_timestamp("l2tp","ether", "pppoe", "pptp") %>

<script type="text/javascript">
var pchar = "||"; // progress char
var maxchars = 38;
var delay_time = 1500; // msecs
var charcount = 0; 
var percent = parseFloat(100/maxchars);
var mark = "<% cfg_get("timestamp") %>";

function makeStr(strsize)
{
	var currentPer = strsize * percent ;
	document.getElementById("bar").style.width = currentPer + "%";
}

function updateProgress()
{
	var cf = document.forms[0];
	if (charcount < maxchars)
	{
		charcount ++;
		makeStr(charcount);
		setTimeout("updateProgress()",delay_time);
	}
	else
	{ 
		if(top.dsl_enable_flag == 0)
		   location.href='BAS_basic.htm';
		else
		   location.href='BAS_basic_dsl.htm';
	}
}

var xmlhttp;

if ( window.XMLHttpRequest)
{
	xmlhttp = new XMLHttpRequest();
}
else
{
	xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}

xmlhttp.onreadystatechange = function()
{
	if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 )
	{
		var result = xmlhttp.responseText;
		if ( result == 1 ) {
			charcount = maxchars-1;
			updateProgress();
		} else {
			setTimeout(function() {
				xmlhttp.open("GET", "finish.txt?mark="+mark, true);
				xmlhttp.send();
			}, 1000 );
		}
	}
};
xmlhttp.open("GET", "finish.txt?mark="+mark, true);
xmlhttp.send();
</script>

<FORM>
<TABLE border="0" cellpadding="0" cellspacing="3" width="100%">
<tr class='el-show'><td></td></tr>
<TR>
	<!--TD align="left"><H1>$update_head</H1></TD-->
	<!--TD></TD-->
 	<TD nowrap align=center>
	<!--<input type="text" name="progress" class="prgbar" value="">-->
	<div class="prgbar1"><div id="bar" class="bar"></div></div>
	</TD>
</TR>
$bluebar
</table>
</form>
</div>
</BODY>
</HTML>
