<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>针对您的奥秘应用、奥秘软件、奥秘服务和奥秘设备的主服务条款</p>
				<p>根据本主服务条款（“本协议”）阐明的条款和条件及本协议提及的隐私政策 https://www.netgear.com/about/privacy-policy/，NETGEAR, INC.（“NETGEAR”）同意向接受本协议的个人或公司（“您”）提供使用奥秘设备时可用或被激活的软件（定义见下文）、服务和资源以及奥秘应用（以下均称为“本服务”）。除非属于以下情形，否则应适用本协议：(I) 您已与 NETGEAR 就奥秘应用、本软件及奥秘设备另行达成购买协议，此时应适用该另行达成的协议，或 (II) 应适用其他 NETGEAR 条款和条件。</p>
				<p>您下载、安装和/或以其他方式使用本软件，即表明您已以具有法律约束力的方式接受本协议的条款和条件。如果您不接受本协议的条款和条件，请勿试图下载、安装、访问或以其他方式使用本软件。 </p>
				<p>如果您是代表某一第三方获得本软件，则您向 NETGEAR 陈述：您已获得适当授权，可代表该第三方行事，并可代表该第三方接受本协议的条款和条件。通过签署本协议（内容下详），NETGEAR 与第三方之间形成一份有约束力的合同。本协议中使用的术语“您”是指第三方。</p>
				<p>如果您所在的司法管辖区对使用基于互联网的应用程序或签订协议（如本协议）的能力存在年龄限制，而且您位于该等司法管辖区并应适用该等年龄限制，那么您不得签订本协议，而且不得下载、安装或使用 NETGEAR 软件。签订本协议即表明您明确声明：您已在您自己所在的司法管辖区核实您可以使用本软件。</p>
				<p>1. <b>本软件的定义。</b>本协议对以下内容的访问和使用进行了规定：(i) NETGEAR 奥秘应用、嵌入奥秘设备或服务的任何软件、用于您从 NETGEAR 或其经销商购买的、与奥秘设备或服务一同使用的任何产品或服务的 NETGEAR 品牌软件、或由 NETGEAR 提供的可在 NETGEAR 网站、NETGEAR 供应商的网站、GOOGLE PLAY STORE 或 APPLE APP STORE 下载的软件；(ii) NETGEAR 提供的针对该等软件且与奥秘应用有关的任何安装手册、用户指南或其他文件（统称“文件”）；以及 (iii) 从 NETGEAR 获得的该等软件和文件的任何新的更新或升级（上述所有内容统称“本软件”）。 </p>
				<p>2. <b>许可的授予。</b>在您遵守本协议条款和条件的前提下：</p>
				<p>2.1 <b>非排他许可。</b>NETGEAR 及其供应商向您授予一项非排他许可，允许您使用本软件的拷贝，使之可与奥秘设备及其他 NETGEAR 产品配套使用。您未被授予任何其他权利。 </p>
				<p>2.2 <b>拷贝。</b>如为进行备份或使用奥秘设备及其他 NETGEAR 产品时需要，您可为本软件制作拷贝，但您必须复制本软件原始拷贝上的所有版权和其他专有权声明。</p> 
				<p>2.3 <b>第三方软件。</b> (a) 作为本软件的一部分或在与本软件相关的事项中，NETGEAR 可提供 (i) 第三方软件，但须遵守单独的第三方许可条款和条件（“第三方许可条款”）；和/或 (ii)“开放源代码”软件，但须遵守公开可用之许可的条款和条件（“开放源代码许可条款”）。</p>
				<p> (b) 您认可并同意：(i) 该等第三方软件和开放源代码软件仅适用相关的第三方许可条款和开放源代码许可条款；和 (ii) 该等条款仅对您与相关许可方有效，就该等软件而言，除非以下第 11 节作出相关规定，否则 NETGEAR 概不承担本协议项下任何义务或责任。 </p>
				<p>2.4	<b>更新。</b>NETGEAR 可不时进行补丁开发、错误修正、更新、升级或其他修改，以提高本服务、本软件和/或奥秘设备的性能（“更新”）。<b>一旦使用本服务、本软件或奥秘设备，即代表您同意自动下载及安装该等更新，且该等更新有可能被自动安装至您的移动设备和奥秘设备（视具体情况），而不再给予任何附加通知或需要进一步获得您的同意。</b>如果您不希望进行该等更新，您针对以下内容的唯一救济是：(i) 针对应用更新，您可在移动设备的设置中关闭自动更新功能或将 NETGEAR 或 Orbi 应用从设备中删除，或者 (ii) 针对奥秘设备和/或软件，您可终止您的奥秘账户和/或停止使用奥秘设备。如果您此后撤销上述设置（例如开启移动设备的自动更新功能或重新使用您的奥秘设备），即表示您了解自动下载和安装更新将重新启用，且您同意该等自动更新。您认可，若更新无法自动安装，您可能需要进行安装以继续使用或获取本服务、本软件和奥秘设备的全部功能，您同意在此情况下立即安装这些更新。</p>
				<p>3. <b>使用限制。</b></p>
				<p>3.1 <b>一般限制。</b>除非本协议第 2 节明确允许（且仅在本协议第 2 节允许的范围内），或者根据适用法律该等权利不可予以排除，否则您不得进行或者允许或鼓励任何第三方进行以下行为：(i) 以任何方式拷贝、复印或复制软件，但为了进行备份或使用您的服务、本软件或奥秘设备而需要这样做的除外；(ii) 向任何第三方分发、散布、再许可、租赁、出租、出借、让与、出让或转让本软件（或其任何拷贝或组件）或它们的任何权利；(iii) 移除、更改或遮蔽本软件之上或之中包含的任何产品识别信息、商标、版权、保密信息、专有权或其他声明或图例；(iv) 为分时共享或服务局之目的或者以本协议未明确允许的任何其他方式使用本软件；或 (v) 将本软件（或其任何拷贝或部分）整合到您的任何产品之中。</p>
				<p>3.2 <b>修改和逆向工程。</b>除非本协议第 2 节明确允许（且仅在本协议第 2 节允许的范围内），或者根据适用法律下述权利不可予以排除，否则您不得进行或者允许或鼓励任何第三方进行以下行为：(i) 对本软件或其任何部分进行逆向工程、反汇编或反编译，或者试图获取源代码；或 (ii) 创建本软件的任何更改版、改编版、修订版、翻译版、改进版或衍生作品（均称为“衍生品”）。 </p>
				<p>3.3 <b>合作。</b>您应对 NETGEAR 给予配合，并应提供 NETGEAR 请求的所有合理协助，以协助 NETGEAR 防范和识别任何违反本协议使用或访问本软件的行为。</p>
				<p>3.4. <b>高风险应用。</b>本软件、本服务和奥秘应用并非设计用于要求故障安全特性的应用或环境，也不保证能在要求故障安全特性的应用或环境中使用。上述应用或环境包括核设施、飞行器导航或通讯系统的运行，空中交通管制，生命支持设备，手术植入设备，武器系统，或者一旦本软件、本服务和奥秘设备或其任何部分发生故障，将可能直接导致人员伤亡或重大身体伤害或环境破坏（“高风险活动”）的其他应用、设备或系统。尽管本协议有其他任何规定，您不得在与任何高风险活动相关的事项中，使用或许可任何第三方使用本软件、本服务和奥秘设备或其任何部分。您将承担该等使用的全部风险，且如果您或您许可的任何第三方在与任何高风险活动相关的事项中，使用本软件、本服务和奥秘设备或其任何部分，您同意就该等使用、由您引起的针对 NETGEAR 的所有索赔、费用和债务向 NETGEAR 赔偿，为其辩护，使其免受损害。</p>
				<p>4. <b>费用与支持。</b></p>
				<p>4.1 <b>一般性条款。</b>您同意在某一项费用或收费到期应付时按照当时生效的费用、收费和计费条款向您的账户支付所有该等费用。您的付款供应商协议对您使用指定的信用卡进行了规定，您必须参考该协议（而不是本协议）以确定您使用信用卡的权利和义务。向 NETGEAR 提供您的信用卡号码及相关付款信息，即代表您同意授权 NETGEAR 即刻就本协议项下应向 NETGEAR 支付的所有到期费用和收费向您的账户开具发票，恕不另行向您发出通知，亦无需另行征求您的同意。您同意，若您用于本协议项下付款的账单地址或信用卡支付信息发生变更，您将立即通知 NETGEAR。NETGEAR 可通过在网站发布或向您发送电子邮件，随时变更其将来的价格和计费方式。</p>
				<p>a.	<b>税款。</b>如果您在根据本协议购买任何奥秘设备或本服务或为其付款时，需要缴纳销售税，且您未向 NETGEAR 支付适用的销售税，则您将负责向相关税务当局缴纳该等销售税和任何相关的罚金或利息。就本节而言，“销售税”是指允许 NETGEAR 转移至客户的、按销售所得计提的任何销售税或使用税，且在相关征税司法管辖区不征收销售税或使用税的情况下，该税种与销售税具有同等功能。</p>
				<p>b.	<b>预扣税。</b>您同意向 NETGEAR 支付的所有费用均不含任何预扣税，亦不从中进行此等扣减。您须单独负责因向 NETGEAR 付款产生的任何该等税收，并向 NETGEAR 提供由合适的税务当局开具的正式收据，或提供我们可能合理要求的其他证据以证明您已支付该等税收。</p>
				<p>c.	<b>争议。</b>如果您对您的信用卡账单上载明的我方收费有争议，请在收到信用卡账单七 (7) 天内以书面形式通知 NETGEAR。有关计费的争议应当通过以下电邮地址通知我们：support@NETGEAR.com</p>
				<p>4.2 <b>支持。</b>NETGEAR 可随时停止更新或支持本服务、本软件和/或奥秘设备，或不再对其进行升级或增强，恕不说明理由或另行通知。</p>
				<p>5. <b>知识产权和专有权利。</b></p>
				<p>5.1 <b>本软件中的权利。</b>本服务、本软件和奥秘设备中的知识产权受美国和其他相关司法管辖区的版权法（包括国际条约）以及美国、外国和国际性的知识产权、专有权利和工业产权法律、条例和条约保护。NETGEAR 及其许可方拥有并保留本软件（包括其任何和所有拷贝和部分以及它们中的所有知识产权）中的或针对本软件（包括其任何和所有拷贝和部分以及它们中的所有知识产权）可享有的唯一且排他的权利、所有权和利益。NETGEAR 及其许可方保留本协议未明确授予的所有权利。您认可并同意，本软件（包括向您提供、由您制作或为您制作的所有拷贝）均为向您授予使用许可，而非出售给您。</p>
				<p>5.2 <b>支持性信息和衍生品中的权利。</b>您提供的或代表您提供的与本服务、本软件或奥秘设备相关的任何想法、错误报告、可用性反馈与任何其他建议和反馈（“支持性信息”）以及您提供的或为您提供的（无论本协议是否允许）本软件的任何衍生品 - 包括它们中包含的和对它们所享有的任何和所有知识产权 - 都是 NETGEAR 或其许可方的唯一且排他的财产。 </p>
				<p>5.3 <b>权利的转让。</b>您不可撤销地同意向 NETGEAR 转让并特此转让支持性信息或衍生品中在全世界适用的所有权利、所有权和利益以及它们中的所有知识产权。如果 NETGEAR 提出请求，您同意协助 NETGEAR 完善、记录和执行该等权利，费用由 NETGEAR 承担。如果根据适用法律该等转让无效，则您不可撤销地向 NETGEAR 授予 - 并特此授予 - 一项排他、可转让、可再许可、无限、永久且在全世界适用的许可，允许 NETGEAR 以任何已知或未来构想出的方式使用、复制和以其他方式利用或商业化该等支持性信息和衍生品。</p>
				<p>5.4 <b>技术和数据收集。</b>您必须自费提供并维持所有通信线路、显示屏、个人电脑，调制解调器、路由器、移动设备、您的互联网服务供应商（“互联网服务供应商”）服务、您的移动设备运营商（“运营商”）服务以及使用本软件、本服务和奥秘设备所需的任何访问权限。</p>
				<p><b>作为本软件正常安装和运行的一部分，NETGEAR 将收集数据，以优化本软件和/或奥秘网络的性能。所收集的信息可包括但不限于所需的点击次数、完成设置的时间、设置开始至结束的路径、互联网服务供应商的 WiFi 速度、奥秘网络与您移动设备之间的 LAN 速度以及用于设置您的网络的移动设备的操作系统和型号。作为本软件的部分特性，当奥秘网络的技术发生变动时，您可能会收到 NETGEAR 发送的通知，NETGEAR 还可能会向您发送关于奥秘设备和服务的技术更新。</b>奥秘还可能每天自动进行防火墙更新和自动网络技术优化特性，本软件将执行这些更新和特性。  </p>
				<p>使用本软件即表明您同意 NETGEAR 可收集上述信息。</p>
				<p>随着时间的推移，NETGEAR 可向您提供机会，使您有可能通过及使用本服务将奥秘设备、本软件和本服务与一个或多个第三方产品和服务（“第三方产品和服务”）连接起来。您将决定是否进行连接以及与哪些第三方产品和服务连接。 </p>
				<p>一旦您同意连接某个第三方产品和服务，即代表您同意 NETGEAR 可根据其隐私政策就您及您的服务、本软件和奥秘设备交换信息及控制数据（包括个人信息），以激活您授权的接口。一旦该信息与某个第三方产品和服务共享，即代表该信息的使用适用该第三方（而非 NETGEAR）的隐私政策。您认可并同意，NETGEAR 不就任何第三方产品或服务的安全性作任何声明或保证。因此，除非下文第 11 节作出相关规定，您使用任何第三方产品或服务，或就您使用任何第三方产品或服务而产生的或与之相关的任何人员伤亡、财产损坏或其他损害或损失，NETGEAR 概不负责。有关第三方产品和服务的任何问题，您应当联系该第三方。您所在地区有关数据保护、隐私及其他方面的法律可能要求您及您在使用奥秘设备、本软件和本服务时承担某些责任。您同意在您使用奥秘设备、本软件和本服务时，您（而非 NETGEAR）确保您将遵守任何及所有适用法律。</p>
				<p>本软件安装过程中及安装之后，NETGEAR 收集到的关于您的任何信息必须符合我们的隐私政策，该隐私政策可在以下网址查阅：http://www.netgear.com/about/privacypolicy/。</p>
				<p>6. <b>注册及账户数据。</b></p>
				<p>6.1.奥秘设备、本软件和本服务中提供的或者通过奥秘设备、本软件和本服务中提供的某些功能可能要求您进行注册并建立一个账户（包括建立一个用户名和密码（“账户数据”）。您同意在注册时提供准确、完整及最新的信息（“注册数据”）。您同意，NETGEAR 可储存并使用您提供的注册数据以维护您的账户并向您的账户计费。您对维持您账户数据的保密性及您的账户活动，负有全部责任。您同意，若发现任何未经授权使用您的账户或账户数据的行为，您将尽快通知 NETGEAR。 </p>
				<p>6.2.NETGEAR 通过单点登录程序（“单点登录”）实施一种经整合的注册解决方案。单点登录是指一旦您在 NETGEAR 建立了一个账户，即代表您可使用您的用户账户和用户名获取其他 NETGEAR 服务，从而免去为各种服务维持单独的用户账户和用户名的需要。单点登录还允许您同时登录不同设备或同时退出。</p>
				<p>6.3 单点登录可通过应用程序接口 (API) 或其他软件使您有机会通过您的账户将您的设备与诸如 Facebook、Twitter 及 Google + 的第三方社交媒体站点连接。  </p>
				<p>在不限制或撤销 NETGEAR 可根据其隐私政策进行相关披露的前提下，一旦您通过单点登录与您在该等第三方网站的账户连接，即代表您同意我们访问该等账户的信息，而该信息可能包括个人可识别信息。此外，您明白，通过您的社交媒体或其他第三方账户进行单点登录，您在单点登录中的活动有可能发布在第三方网站上。是否使用任何该等第三方网站，由您自行选择。我们建议您在允许单点登录与您在该等第三方网站的账户连接之前或者与好友分享页面或信息之前，阅读这些网站的隐私政策。</p>
<p>您认可，您不拥有您的单点登录用户名。NETGEAR 可收回或使用您的单点登录用户名。 </p>
				<p>6.4.您将保持您账户数据的安全性，并防止第三方未经授权访问您的账户数据或您的账户。特别需要指出的是，您应该避免使用显而易见的用户名或密码，定期更换密码并确保您不向他人披露密码或授权任何其他用户或第三方访问您的账户数据或服务。</p>
				<p>6.5.如果 NETGEAR 收到来自某一用户或第三方的任何指令，且该用户或第三方使用或提供您的账户数据，则 NETGEAR 可认为该指令来自于您。</p>
				<p>6.6.您同意，未经作为相关服务所有人的用户或人士许可，不使用除您本人之外的任何其他用户或人士的任何数据或服务。</p>
				<p>6.7.如果您发现任何未经授权使用您的注册数据或账户数据的行为或任何其他安全漏洞，您将立即通知 NETGEAR。</p>
				<p>6.8.您可通过访问相关 NETGEAR 服务，随时查看和变更您的注册数据和账户数据。 </p>
				<p>7. <b>终止。 </b></p>
				<p>7.1 <b>协议有效期。</b>本协议自您接受之日起生效，在其根据本协议规定终止之前保持不定期限的效力。 </p>
				<p>7.2 <b>终止。</b>在不损害 NETGEAR 可获得的任何其他权利或救济的前提下，若您未能遵守本协议的任何条款或条件，NETGEAR 有权通过向您发送通知，立即终止本协议。在此情况下，NETGEAR 将向您退回相应比例的费用。您还可销毁您占有或控制的本软件的所有拷贝，随时终止本协议。如果 NETGEAR 通过公开声明、向您发出的电子邮件、网站发贴或通讯稿提出终止本协议的请求，则本协议将于任何该等公开声明、向您发出的电子邮件、网站发贴或通讯稿规定的日期（“终止日期”）终止；您同意在该等终止日期或该等日期之前停止使用本软件的拷贝。本协议或与任何软件相关的许可因任何原因终止后，第 1 节、第 3 节、第 5 节、第 6 节、第 7.2 节、第 8 节、第 9 节、第 10 节、第 11 节和第 12 节根据相应的条款继续有效。</p>
				<p>如果您将奥秘设备转让给新的持有人，您将不再有权使用与奥秘设备相关的服务，且新的持有人无权通过您的 NETGEAR 账户使用奥秘设备或服务，该持有人将需要注册一个单独的 NETGEAR 账户。</p>
				<p>8. <b>商标。 </b></p>
				<p>8.1 <b>未授予商标许可。</b>您认可：除非本协议具体授权，对于 NETGEAR 或其任何子公司或附属公司的公司名称、商标、服务标志、认证标志、品牌名称、品牌口号、徽标或其他名称（统称“NETGEAR 标志”），即使该等标志出现在本软件之上或之中或者出现在向您提供的与本协议相关的任何材料中包含的其他内容之上或之中，本协议也并不授权您使用任何该等标志。</p>
				<p>8.2 <b>不采用或使用。</b>您同意不采用、使用或注册类似于或者全部或部分包含在与任何 NETGEAR 标志中的任何公司名称、商标、服务标志、认证标志、品牌名称、品牌口号、标识或其他名称。在前述规定不受限制的前提下，您同意，无论是本协议有效期内还是有效期届满后，您不会将 "NETGEAR" 或 "Orbi" 作为您的公司名称、品牌名称、产品名称或二级域名的一部分。 </p>
				<p>9. <b>保密。</b>您认可，本软件构成 NETGEAR 有价值的商业秘密和保密信息（“保密信息”）。您同意不会向任何第三方提供或披露本保密信息，但向受类似的保密义务约束的第三方提供或披露的除外。</p>
				<p>10. <b>保证和免责声明。</b> </p>
				<p>奥秘设备的硬件质量保证已在随附设备的有限质量保证中载明，并可通过以下网页查看：https://www.netgear.com/about/warranty。</p>
				<p>10.1 法定保修权利可适用于本软件。  </p>
				<p>10.2 在受第 10.1 节和/或以下第 11 节规定的责任的约束下，NETGEAR、NETGEAR 的许可方、供应商、经销商、分销商、代理商或雇员口头或书面提供的任何信息或建议均不以任何方式改变或扩大本质量保证的范围，NETGEAR 亦不保证本软件和本服务符合被许可方、经销商、最终用户或其他第三方的要求，亦不保证本软件和本服务能不间断地运行或维持零错误。对于因被许可方使用、误用、错误安装、错误操作、事故或滥用本软件和本服务而造成的缺陷情况或不符合项，因将本软件和本服务整合到被许可方的产品或被许可方未遵守 NETGEAR 提供的修改、指示、更新或更正而引起的错误，NETGEAR 概不做出任何保证。</p> 
				<p>11. <b>责任限制。 </b></p>
				<p>11.1 针对以下事项，NETGEAR 负有不受限的责任：</p>
				<p>(i)	NETGEAR 或 NETGEAR 的董事或高级职员或其他代理人故意造成的或因重大过失造成的损失或损害；以及</p>
				<p>(ii)	因酿成死亡、人身伤害或疾病的行为或者基于某项保证或采购风险的假设而引起的损失或损害，或者适用相关法律的损失或损害。</p>
				<p>11.2 若因 NETGEAR 实质性违反合同义务而需要承担赔偿责任，且该违约行为是由于 NETGEAR 或其董事、高级职员或其他代理人的过失（而非重大过失）所致，则 NETGEAR 承担的责任在任何情况下均不得超过通常可预见的赔偿金额，该赔偿金额应相当于造成违约事项的软件和服务（或提供这些软件或服务的产品）在 NETGEAR 价目表中的报价或您为其支付的价格，两者取金额较低者。</p>
				<p>11.3 在遵守上述第 11.1 和 11.2 款的前提下，NETGEAR 不承担任何其他责任。</p>
				<p>11.4 如果第 11.2 款对责任限制做出规定，NETGEAR 亦不对利润损失或任何其他间接损害承担责任。 </p>
				<p>12. <b>一般规定。</b></p>
				<p>12.1 <b>税款。</b>您应自行承担针对本软件和本服务、您对本软件和本服务的使用或您在本协议项下的履行行为而评定的任何税款、关税或收费（如有）。您应负责支付 NETGEAR 被评定的任何该等税款、关税或收费，但适用于 NETGEAR 的净收入或工资的税款、关税或收费除外。</p>
				<p>12.2 <b>您的对价。</b>本协议所授予的权利和许可是否生效取决于您是否遵守本协议条款和条件。您认可并同意，您履行本协议的唯一且排他的对价是本协议所授予的权利和许可，您无权从 NETGEAR 或其供应商获得任何报酬、报销或其他对价。 </p>
				<p>12.3 <b>禁令救济。</b>您认可并同意，以不符合本协议任何条文的方式拷贝、披露或使用本软件或本协议规定的任何信息、材料或服务会给 NETGEAR 造成无法弥补的损害，对于这些损害，NETGEAR 无法获得足够的法律救济。因此，NETGEAR 有权在法庭上获得衡平法上的救济，包括但不限于临时性禁令、初步禁令和永久禁令，视具体情况而定。</p>
				<p>12.4 <b>非合伙关系。</b>双方各自承担作为独立缔约方各自应承担的在本协议项下的义务。本协议并非旨在促使 NETGEAR 与您建立任何雇用、代理、分销、特许经营、合资、法律上的合伙或其他类似的法律关系。任何一方均不享有代表对方行事或使对方受到约束的权利或权限。任何一方均不得向任何第三方陈述其享有该等权利或权限。</p>
				<p>12.5 <b>不得转让。</b>未经 NETGEAR 事先书面同意（NETGEAR 可自行酌情决定是否予以同意），您不得出让或转让本协议或本协议项下的权利或义务（无论是全部转让还是部分转让，亦无论是自愿转让、通过兼并、实施法律还是以其他方式转让）；任何试图进行的转让或让与均归无效，应被视为对本协议的实质违反。</p>
				<p>12.6 <b>完整协议；修订。</b>本协议代表着与本协议主旨事项相关的完整、最终且排他的协议。本协议的全部或部分内容只有经过事先向您通知，方可进行修订。</p>
				<p>12.7 <b>弃权。</b>对本协议项下任何违约行为或本协议任何条款和条件的弃权不得不视为持续弃权，亦不得被视为对任何其他违约行为或任何其他条款或条件的弃权，而是仅适用于该弃权所针对的情形。</p>
				<p>12.8 <b>准据法和语言。</b>本协议受加利福尼亚州的法律管辖，但有关法律冲突的条款和须受美国法律管辖的除外。上述法律选择不得限制适用法律（如消费者保护法）赋予您的不可减损的保护。明确排除适用《联合国国际货物销售合同公约》。本协议的正式文本以英文书写，对本协议的任何解释或解读均应基于此英文版本。如果本协议或与之相关的任何文档或通知被翻译成其他语言，以英文版本为准，但适用于您的法律另有规定的除外。</p>
				<p>12.9 <b>出口。</b>您认可，本软件和奥秘设备的出口或再出口受进出口条例的约束。尤其需要指出的是，本软件和奥秘设备不得出口或再出口至 (a) 被美国禁运的国家，或 (b) 美国财政部“特别指定国民名单”或美国商务部“拒绝往来人士或机构清单”上的任何人。一旦使用本软件和奥秘设计，即代表您声明并保证：(i) 您所在的国家没有被美国政府禁运，也不是美国政府指定的“恐怖主义支持”国，以及 (ii) 您不在美国政府禁止或限制的名单之列。一般来说，您应严格遵守美国所有出口管制规定，不得将本软件和奥秘设备或其任何直接产品出口、再出口、转让或转移至受美国出口管制法律和条例禁止或限制的任何目的地或最终用户，但美国商务部明确授权的除外。您同意，如果您违反本段规定，导致 NETGEAR 及其供应商遭受或招致任何索赔、损失、负债或损害赔偿金，您将对 NETGEAR 及其供应商做出赔偿，使其免于受损。</p>
				<p>本服务、本软件和奥秘设备并非供所有人使用或可在所有国家/地区使用。如果您选择在本服务、本软件和奥秘设备不受 NETGEAR 支持的国家使用本服务、本软件和奥秘设备，此举是您本人自主选择，您对遵守所在国的当地适用法律负有单独的责任。您理解并接受，本服务、本软件或奥秘设备的某些或所有特性在该等国家/地区可能无法使用或不适宜使用。在法律许可的范围内，NETGEAR 对在未受 NETGEAR 支持的国家/地区访问或使用本服务、本软件或奥秘设备所造成的任何损害或损失，不承担任何责任。无论您在何地访问或使用本网站或使用本服务，您都将受到本条款约束。</p>
				<p>12.10 <b>可分割性。</b>如果有管辖权的法院根据适用法律认定本协议任何条文全部或部分非法、无效或不可执行，则该等条文或其相关部分在其非法、无效或不可执行的范围内被视为在该法庭所在的司法管辖区没有效力，并应被视为已被做出必要修改，以便遵守适用法律，从而最大程度地体现双方的意图。该等条文在该司法管辖区的非法、无效或不可执行对该等条文或本协议任何其他条文在任何其他司法管辖区的合法性、有效性或可执行性无任何影响。</p>
				<p>12.11 <b>不可抗力。</b>如果本协议项下任何未履行或迟延履行的发生原因可全部或部分、直接或间接归因于任何超出相关当事方合理控制的紧急情况、迟延、故障或原因，则该相关当事方概不负责。在前述规定的一般适用性不受限制的前提下，该等原因包括火灾、爆炸、地震、风暴、洪灾或其他天气因素、必要公用事业设备或原材料不可用、断电事故、罢工、停工、组件不可用、工人或其他劳工困难同时发生、战争、恐怖主义行为、叛乱、骚乱、天灾、公敌行为、法律、法案、命令、出口管制条例、公告法令、条例、条令、政府或其他公共机构的指令或者法庭或有管辖权的司法管辖区的判决或法令（并非针对本协议该方的违反行为）。</p>
				<p>12.12	<b>通知。</b>如果 NETGEAR 要求您提供电邮地址，您有责任向 NETGEAR 提供您最新的电邮地址。若您最近一次向 NETGEAR 提供的电邮地址无效，或由于任何原因无法接收根据本条款需要或允许向您发出的任何通知，NETGEAR 发出含该等通知的电邮即构成有效通知。您或您的网络供应商设置的针对电邮通知的自动过滤与 NETGEAR 无关。您发给 NETGEAR 的通知必须发往以下电邮地址：support@NETGEAR.com</p>
				<p>12.13 <b>完整协议。</b>本条款（包括通过引用而纳入本协议的各附加条款）构成您与 NETGEAR 的全部条款，并代替您与 NETGEAR 就本协议主旨事项达成或进行的任何及所有先前的口头或书面的协议、谈判或其他通信。</p>
				<p>12.15.	<b>遵守法律。</b>您同意在使用本服务、本软件和奥秘设备时遵守所有适用法律。</p>
				<p>12.16.	<b>同意使用电子通信。</b>一旦使用本服务、本软件和奥秘设备，即代表您同意从我方接收某些有关奥秘设备、本软件和本服务的电子通信，这些通信包括但不限于 (a) 关于您使用（含违规使用）本产品、本软件和本服务的通知，(b) 升级，以及 (c) 通过电子邮件向您发送的有关 NETGERA 产品、本软件和本服务的推广信息和材料（前提是您根据适用法律同意接收该等信息和材料）。请查看我们的隐私政策，了解我们如何使用您的个人信息以及您如何更改偏好选择和退订推广材料等更多资讯。</p>
				<p>您同意，我们通过电子方式向您发送的任何通知、协议、披露或其他通信均满足法定的通信要求。</p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134 USA</b></p>
				<p><b>公司办公电话</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>公司办公传真</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>或</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Ireland</b></p>
				<p><b>公司办公电话</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>公司办公传真</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>第 1 修订版，生效日期：<b>2016 年 9 月 14 日</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
