<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>
<script>
<% refresh_timestamp("backup_restore") %>
var ts = "<% cfg_get("backup_restore") %>"
function goBack()
{
	this.location.href = "BRS_02_genieHelp.html";
	return false;
}

function retoreSettings()
{

	var cf = document.forms[0];

	var file_upgrade = document.getElementById("file_upgrade");
	var filestr = file_upgrade.value;

	if(filestr.length == 0)
	{
		alert(bh_filename_null);
		return false;
	}
	var file_format = filestr.substr(filestr.lastIndexOf(".") + 1);
	if(file_format != "cfg")
	{
		alert(bh_not_correct_file+"cfg");
		return false;
	}

	if(confirm(bh_ask_for_restore))
	{
		cf.action="/restore.cgi?/BRS_03B_haveBackupFile_fileRestore.html timestamp="+ts;
		
		return true;
	}
	else
	{
		return false;
	}
	return true;
}

</script>

<body>

<form action="NETGEAR_WNDR3700.cfg" method="post" enctype="multipart/form-data">
<div id="container">
	<div class="dialog-content">
		<!-- Restore Router Settings -->
		<div id="card-restore-router-settings" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
		     <div class="content">
			<div class="desc-title"><script>document.write(bh_orbi_restore);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_restore_msg1);</script></div>

			
			<div class="file-field prefix input-field">
                <div class="btn">
                  <i class="material-icons prefix">cloud_upload</i>
                  <span><script>document.write(bh_file);</script></span>
                  <input type="file" multiple name="mtenRestore" id="file_upg" unselectable="on">
                </div>
                <div class="file-path-wrapper">
                  <script>document.write('<input class="file-path validate" placeholder="'+bh_orbi_sel_file+'" type="text" name="restore_file_select" id="file_upgrade" unselectable="on">');</script>
                </div>
             </div>

		    </div>
	     <div class="buttons">
		<button id="back" name="Back" class="waves-effect btn-flat button-nav-skip" type="button" onclick="return goBack();">
			<span><script>document.write(bh_orbi_back_mark);</script></span>
		</button>
		<button id="next" name="Next" class="waves-effect waves-light btn button-nav btn-icon icon-right" onclick="return retoreSettings();">
			<span><script>document.write(bh_orbi_next_mark);</script></span><i class="material-icons">navigate_next</i>
		</button>
	     </div>
	  </div>
	</div>
</div>
</form>
</body>

</html>
