<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<script language="javascript" type="text/javascript" src="ipv6.js"></script>
<% hijack_language() %>
</head>

<script>
var master="<% cfg_get("http_loginname") %>";
var my_internet = "<% cfg_get("my_internet") %>";
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable")%>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";

var ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
var ipv6_lan_ip = "<% ipv6_lan_ip() %>";
<% ipv6_auto_dns() %>

//bug 28770
//var wan_ip_split = ipv6_wan_ip_all.split('/');
//var ipv6_wan_ip = ipv6_wan_ip_all;

/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "dslite" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
}

if(my_internet == "1")
	var get_dns_assign='<% cfg_get("ipv6_pppoe_dns_assign") %>';
else
	var get_dns_assign='<% cfg_get("ipv6_dhcp_dns_assign") %>';
if (get_dns_assign == '0')
{
	var ipv6_get_dns1=ipv6_auto_dns1;
	var ipv6_get_dns2=ipv6_auto_dns2;
}
else if(my_internet == "1")
{
	var ipv6_get_dns1="<% cfg_get("ipv6_pppoe_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_pppoe_dns2") %>";
}
else
{
	var ipv6_get_dns1="<% cfg_get("ipv6_dhcp_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_dhcp_dns2") %>";
}

var enable_value="<% cfg_get("mapt_enable") %>";
var type_value="<% cfg_get("mapt_type") %>";
var local_ipv6="<% cfg_get("mapt_loc_ip6pre") %>";
var local_ipv6_pre_len="<% cfg_get("mapt_loc_ip6pre_len") %>";
var local_ipv4="<% cfg_get("mapt_loc_ip4pre") %>";
var local_ipv4_pre_len="<% cfg_get("mapt_loc_ip4pre_len") %>";
var local_ea="<% cfg_get("mapt_loc_ealen") %>";
var remote_ipv6="<% cfg_get("mapt_rmt_ip6pre") %>";
var remote_ipv6_pre_len="<% cfg_get("mapt_rmt_ip6pre_len") %>";
var loc_psidoffset="<% cfg_get("mapt_loc_psidoffset") %>";
getTop(window).enable_mapt=enable_value;
var ipv6_pppoe_username = "<% cfg_get("ipv6_pppoe_username") %>";
var ipv6_pppoe_pwd = "<% cfg_get("ipv6_pppoe_passwd") %>";
var ipv6_pppoe_servername = "<% cfg_get("ipv6_pppoe_servername") %>";
var pppoe_username = "<% cfg_sed_xss("wan_pppoe_username") %>";
var pppoe_password = "<% cfg_sed_xss("wan_pppoe_passwd") %>";
var pppoe_servername = "<% cfg_sed_xss("wan_pppoe_service") %>";
var pppoe_dod = "<% cfg_get("wan_pppoe_demand") %>";
var aftr_ipv6 = "<% cfg_get("aftr_ipv6") %>";
var aftr_ipv6_addr = "<% cfg_get("manual_aftr_ipv6") %>";

function goBack()
{
	if(getTop(window).dsl_enable_flag == "0")
		this.location.href = "BRS_02_genieHelp.html";
	else	
	{
		if(getTop(window).location.href.indexOf("BRS_index.htm") > -1)
			this.location.href = "BRS_ISP_country_help.html";
		else
			this.location.href = "DSL_WIZ_sel.htm";
	}	
	return true;
}

function remove_space(str)
{
	str = delete_end_space(str);
	str = str.replace(/^\s*/, "");

	return str;
}

function hijack_ipv6_write_ip(ipv6_ip_addr)
{
	if(ipv6_ip_addr != "")
		ipv6_ip_addr = remove_space(ipv6_ip_addr);

	if(ipv6_ip_addr == "")
	{
		document.write("$ipv6_not_available");
	}
	else
	{
		var each_ip = ipv6_ip_addr.split(' ');
		var i;

		for(i=0; i<each_ip.length; i++)
		{
			show_ipv6_ip(each_ip[i]);
		}
	} 
}

function check_domain(str)
{
	var exp = /^(www\.)?[-a-zA-Z0-9]+(\.[-a-zA-Z0-9]+)+$$/g;
	return exp.test(str);
}

function check_dslite()
{
	var cf = document.forms[0];

	if(cf.my_internet[1].checked == true)
	{
		cf.hid_my_internet.value = "1";
		cf.hid_aftr_ipv6.value = "1";
	}
	else{
		cf.hid_my_internet.value = "0";
		if(cf.aftr_ipv6[1].checked == true)
			cf.hid_aftr_ipv6.value = "1";
		else
			cf.hid_aftr_ipv6.value = "0";
	}
	if(cf.hid_aftr_ipv6.value == "1"){
		if(cf.aftr_ipv6_addr.value == "")
		{
			alert("Empty Manual Config AFTR IPv6 Address!");
			return false;
		}

		ipv6_array=cf.aftr_ipv6_addr.value.split(':');
		if((ipv6_array.length<3 || ipv6_array.length>8) && !check_domain(cf.aftr_ipv6_addr.value))
		{
			alert("Invalid Manual Config AFTR IPv6 Address!");
			return false;
		}

	}
	cf.hid_pppoe_dod.value = cf.pppoe_dod.value;//bug 22322:when connection mode gray out,need a hidden-value to transfer
	cf.hidden_pppoe_idle_time.value = cf.pppoe_idletime.value;

	if( ipv6_save_common(cf) == false )
                return false;

	if(getTop(window).ipv6_dns_manual == 1)
	{
		if(checkIPv6DNS(cf) == false)
			return false;
		if(cf.hid_my_internet.value == "1")
		{
			if(cf.pppoe_username.value == "")
			{
				alert("$login_name_null");
				return false;
			}
			for(i=0;i<cf.pppoe_username.value.length;i++)
			{
				if(isValidChar(cf.pppoe_username.value.charCodeAt(i))==false)
				{
					alert("$loginname_not_allowed");
					return false;
				}
			}

			for(i=0;i<cf.pppoe_servername.value.length;i++)
			{
				if(isValidChar(cf.pppoe_servername.value.charCodeAt(i))==false)
				{
					alert("$servname_not_allowed");
					return false;
				}
			}

			if(cf.pppoe_passwd.value == "")
			{
				alert("$password_null");
				return false;
			}
			for(i=0;i<cf.pppoe_passwd.value.length;i++)
			{
				if(isValidChar(cf.pppoe_passwd.value.charCodeAt(i))==false)
				{
					alert("$password_error");
					return false;
				}
			}
		}
	}
	cf.submit();
}

function change_ipv6_pppoe_password(obj)
{
        if( obj.type == "password" )
        {
                if( get_browser() == "Firefox" )
                {
                        obj.value = "";
                        obj.type = "text";
                }
                else
                {
                        obj.outerHTML = '<input type="text" name="ipv6_pppoe_passwd" maxlength="64" size="18" onFocus="this.select();" onKeyPress="return getkey(\'ssid\', event)" value="">';
                        document.forms[0].ipv6_pppoe_passwd.focus();
                        document.forms[0].ipv6_pppoe_passwd.focus();
                }
        }
}

function change_ipv6_dslite()
{
	var cf = document.forms[0];

	if(cf.my_internet[1].checked == true)
	{
		document.getElementById("login_line").style.display="";
		document.getElementById("passwd_line").style.display="";
		document.getElementById("servname_line").style.display="";
		document.getElementById("conn_mode_line").style.display="";
		document.getElementById("idle_line").style.display="";
		document.getElementById("ds_lite_tr5").style.display="none";
		cf.aftr_ipv6[1].checked = true;
		cf.hid_aftr_ipv6.value = "1";
		cf.aftr_ipv6_addr.disabled = false;
		if(ipv6_pppoe_pwd == "")
		{
			cf.pppoe_passwd.outerHTML='<input type="text" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="this.select();" onKeyPress="return getkey(\'ssid\', event)" value="">';
		}
		else
		{
			cf.pppoe_passwd.outerHTML='<input type="password" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey(\'ssid\', event)" value="">';
			cf.pppoe_passwd.value = ipv6_pppoe_pwd;
		}
	}
	else{
		document.getElementById("login_line").style.display="none";
		document.getElementById("passwd_line").style.display="none";
		document.getElementById("servname_line").style.display="none";
		document.getElementById("conn_mode_line").style.display="none";
		document.getElementById("idle_line").style.display="none";
		document.getElementById("ds_lite_tr5").style.display="";
	}
}

function show_idleout(form,time)
{
	if( time == 1 )
		form.pppoe_idletime.disabled = false;
	else
		form.pppoe_idletime.disabled = true;
}

function loadvalue()
{
	var cf = document.forms[0];
        
	cf.pppoe_username.value = ipv6_pppoe_username;
	cf.pppoe_servername.value = ipv6_pppoe_servername;

	if(getTop(window).ipv6_dns_manual == 1)
	{
		load_ipv6_dns(cf);
	}

	/* load the LAN Setup items' value */
	ipv6_load_common(cf);

	if(my_internet === "1") {
		cf.my_internet[1].checked = true;
		cf.hid_my_internet.value = "1";
	}
	else {
		cf.my_internet[0].checked = true;
		cf.hid_my_internet.value = "0";
	}
	if(pppoe_dod === "1")
	{
		cf.pppoe_dod.options[1].selected = true;
		cf.pppoe_idletime.disabled = false;
	}
	else if(pppoe_dod === "2")
	{
		cf.pppoe_dod.options[2].selected = true;
		cf.pppoe_idletime.disabled = true;
	}
	else{
		cf.pppoe_dod.options[0].selected = true;
		cf.pppoe_idletime.disabled = true;
	}
	if(aftr_ipv6 === "1") {
		cf.aftr_ipv6[1].checked = true;
		cf.hid_aftr_ipv6.value = "1";
		cf.aftr_ipv6_addr.disabled = false;
	}
	else {
		cf.aftr_ipv6[0].checked = true;
		cf.hid_aftr_ipv6.value = "0";
		cf.aftr_ipv6_addr.disabled = true;
	}
	cf.aftr_ipv6_addr.value = aftr_ipv6_addr;
	change_ipv6_dslite();
	cf.login_type.value="dslite";
}
</script>
<body  onload="loadvalue()">
<% form_submit("apply", "BRS_security.html", "hijack_dslite") %>
<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="<% cfg_get("ipv6_dhcps_interface_id") %>">
<input type="hidden" name="ipv6_hidden_filtering" value="">
<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_dhcp_dns1") %>" />
<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_dhcp_dns2") %>" />
<input type="hidden" name="ipv6_hidden_ip_assign" value="">
<input type="hidden" name="hid_my_internet" value="0">
<input type="hidden" name="hid_aftr_ipv6" value="0">
<input type="hidden" name="hid_pppoe_dod"><!--bug 22322:when connection mode gray out,need a hidden-value to transfer -->
<input type="hidden" name="hidden_pppoe_idle_time">
<div id="container">
        <div class="dialog-content">
                <!-- Orbi Admin Account Settings-->
                <div id="card-orbi-admin-account" class="install-card clearfix">
                        <div class="logos">
                                <img class="netgear-logo" src="images/svg/netgear.svg">
                                <% hijack_logo_title() %>
                        </div>
                     <div class="content">
			 <div class="input-field">
				<select class="DSlite_sel" name="login_type" size="1">
				<option value="dslite" selected>Dual-Stack Lite</option>
				</select>
				<label>My ISP Profile</label>
			</div>
			<div class="input-field">
				<div style="padding-bottom:20px" class="desc-title">
				<div id="ds_lite_tr1"><label>My Internet Connection is</label></div>
				</div>
			</div>
			<div class="bullet-wrapper">
				<div style="max-width:80%" class="desc-title">
				<p style="height:0px">
				<input class="with-gap" onclick='change_ipv6_dslite();'  type="radio" name="my_internet" id="int_dhcpv6" value="0" checked="true"><label for="int_dhcpv6">DHCPv6</label>
				</p>
				</div>
				</div>
			<div class="bullet-wrapper">
				<div style="max-width:80%" class="desc-title">
				<p style="padding-top:6px; height:0px; padding-bottom:26px">
				<input class="with-gap" onclick='change_ipv6_dslite();' type="radio" name="my_internet" id="int_pppoe" value="1" ><label for="int_pppoe">PPPoE</label>
				</p>
				</div>
			</div>
			<div class="row input-row" id="login_line" style="display:none">
				<div class="input-field col m10 offset-m1">
				<input type="text" placeholder="$basic_pppoe_login" name="pppoe_username" id="pppoe_username" maxLength="64" size="18" onKeyPress="return getkey('ssid', event)" value="">
				<label for="pppoe_username">$basic_pppoe_login</label>
				</div>
			</div>
			<div class="row input-row" id="passwd_line" style="display:none">
				<div class="input-field col m10 offset-m1">
				<input type="text" placeholder="$basic_pppoe_passwd" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey('ssid', event)" value="">
				<label for="pppoe_passwd">$basic_pppoe_passwd</label>
				</div>
			</div>
			<div class="row input-row" id="servname_line" style="display:none">
				<div class="input-field col m10 offset-m1">
				<input type="text" placeholder="" name="pppoe_servername" id="pppoe_servername" maxLength="50" size="18" onKeyPress="return getkey('ssid', event)" value="">
				<label for="pppoe_servername">$basic_pppoe_serv_name</label>
				</div>
			</div>
			<div class="row input-row" id="conn_mode_line" style="display:none">
				<div class="input-field col m10 offset-m1">
				<select name="pppoe_dod" id="pppoe_dod" onchange="show_idleout(document.forms[0],this.value)">
				<script>document.write('<option value="0" selected>$basic_mode_always</option>'+
				'<option value="1">$basic_mode_dial</option>'+
				'<option value="2">$basic_mode_manual</option>');</script>
				</select>
				<label for="pppoe_dod">$basic_int_connection_mode</label>
				</div>
                          </div>

			<div class="row input-row" id="idle_line" style="display:none">
				<div class="input-field col m10 offset-m1">
				<input type="text" name="pppoe_idletime" id="pppoe_idletime" maxLength="5" size="16" value="<% idle_time("wan_pppoe_idletime") %>" onKeyPress="return getkey('num', event)"><label></label>
				<label for="pppoe_idletime">$basic_pppoe_idle</label>
				</div>
			</div>
			<div class="input-field">
				<div style="padding-bottom:20px" class="desc-title">
				<div id="ds_lite_tr4"><label>AFTR IPv6 Address</label></div>
				</div>
			</div>
			<div class="bullet-wrapper" id="ds_lite_tr5">
				<div style="max-width:80%" class="desc-title">
				<p style="height:0px">
				<input class="with-gap" onclick='document.forms[0].hid_aftr_ipv6.value="0"; document.forms[0].aftr_ipv6_addr.disabled = true'  type="radio" name="aftr_ipv6" id="auto_aftr_ipv6" value="0" checked="true"><label for="auto_aftr_ipv6">$ipv6_auto_config</label>
				</p>
				</div>
			</div>
			<div class="bullet-wrapper" id="ds_lite_tr6">
				<div style="max-width:80%" class="desc-title">
				<p style="padding-top:6px; height:0px;">
				<input class="with-gap" onclick='document.forms[0].hid_aftr_ipv6.value="1"; document.forms[0].aftr_ipv6_addr.disabled = false' type="radio" name="aftr_ipv6" id="manual_aftr_ipv6" value="1" ><label for="manual_aftr_ipv6">Manual Config</label>
				</p>
				</div>
			</div>
			<div class="input-field">
				<input type="text" name="aftr_ipv6_addr" size="25" maxlength="40"><label></label>
			</div>
			<div class="input-field" style="padding-top:20px;">
				<div class="desc-title">
				<label>$ipv6_wan_address</label>
				</div>
			</div>
			<div class="input-field" style="padding-top:20px;">
				<label><script>hijack_ipv6_write_ip(ipv6_wan_ip);</script></label>
			</div>

			<div class="input-field" style="padding-top:20px;">
				<div class="desc-title">
					<label>$ipv6_domain_serv</label>
				</div>
			</div>
			<div class="bullet-wrapper" id="ds_lite_tr5">
				<div style="max-width:80%" class="desc-title">
				<p style="height:0px">
				<input class="with-gap" type="radio" name="DNSAssign" id="dns_assign_auto" value="0" checked="true" onClick="setIPv6DNS(document.forms[0])"><label for="dns_assign_auto">$basic_int_autodns</label>
				</p>
				</div>
			</div>
			<div class="bullet-wrapper">
				<div style="max-width:80%" class="desc-title">
				<p style="padding-top:6px; height:0px; padding-bottom:25px">
				<input class="with-gap" type="radio" name="DNSAssign" id="dns_assign_fixed" value="1" onClick="setIPv6DNS(document.forms[0])"><label for="dns_assign_fixed">$basic_int_these</label>
				</p>
				</div>
			</div>
			<div class="input-field" style="text-align:left"><label>$basic_int_primary_dns</label>
			<input style="width:10%" type="text" name="PDAddr1" id="pdaddr1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr2" id="pdaddr2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr3" id="pdaddr3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr4" id="pdaddr4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr5" id="pdaddr5" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr6" id="pdaddr6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr7" id="pdaddr7" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="PDAddr8" id="pdaddr8" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
			</div>
			<div class="input-field" style="text-align:left">
			<label>$basic_int_second_dns</label>
			<input style="width:10%" type="text" name="SDAddr1" id="sdaddr1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr2" id="sdaddr2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr3" id="sdaddr3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr4" id="sdaddr4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr5" id="sdaddr5" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr6" id="sdaddr6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr7" id="sdaddr7" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
			<input style="width:10%" type="text" name="SDAddr8" id="sdaddr8" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
			</div>

			<div class="input-field" style="padding-top:20px;">
				<div class="desc-title">
			<A tabindex=-1 ><B><label>$lan_mark_head</label></B></A>
			</div>
			</div>
			<div class="input-field" style="padding-top:20px;">
				<A tabindex=-1 ><B><label>$ipv6_lan_address</label></B></A>
			</div>
			<div class="input-field" style="padding-top:20px;">
				<label><script>hijack_ipv6_write_ip(ipv6_lan_ip);</script></label>
			</div>
			<div class="input-field" style="padding-top:20px;">
				<div class="desc-title">
				<label>$ipv6_ip_assign</label>
				</div>
			</div>
			<div class="bullet-wrapper" id="ds_lite_tr5">
				<div style="max-width:80%" class="desc-title">
				<p style="height:0px">
				<input class="with-gap" type="radio" name="IpAssign" id="ipassign_dhcp" value="dhcp" checked="true"><label for="ipassign_dhcp">$ipv6_dhcp_server</label>
				</p>
				</div>
			</div>
			<div class="bullet-wrapper">
				<div style="max-width:80%" class="desc-title">
				<p style="padding-top:6px; height:0px; padding-bottom:20px">
				<input class="with-gap" type="radio" name="IpAssign" id="ipassign_auto" value="auto"><label for="ipassign_auto">$ipv6_auto_config</label>
				</p>
				</div>
			</div>
			<div style="margin-left:10%;margin-right:auto;max-width:85%;text-align:left;" >
				<input type="checkbox" name="useInterfaceId" id="useInterfaceId" value="" onClick="set_interface();"><label for="useInterfaceId">
				<A tabindex=-1 href="javascript:loadhelp('_IPv6_dhcp','interface_id')">$ipv6_interface</A></label>
			</div>
			<div class="input-field" style="text-align:left">
				<input style="width:10%" type="text" name="IPv6_interface_id1" id="ipv6_interface_id1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
				<input style="width:10%" type="text" name="IPv6_interface_id2" id="ipv6_interface_id2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
				<input style="width:10%" type="text" name="IPv6_interface_id3" id="ipv6_interface_id3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
				<input style="width:10%" type="text" name="IPv6_interface_id4" id="ipv6_interface_id4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
			</div>
			<div class="input-field">
				<A tabindex=-1 ><B><label>$ipv6_filtering</label></B></A>
			</div>
			<ul>
				<div style="padding-top:7px">
				<input class="with-gap" type="radio" name="IPv6Filtering" value="Secured" id="IPv6Filtering_se"><label for="IPv6Filtering_se">$adva_wansetup_nat_secured</label>&nbsp;
				<input class="with-gap" type="radio" name="IPv6Filtering" value="Open" id="IPv6Filtering_op"><label for="IPv6Filtering_op">$adva_wansetup_nat_open</label>&nbsp;&nbsp;
				</div>
			<ul>
		</div>
		<div class="buttons">
			<button class="waves-effect waves-light btn button-nav" onclick="return goBack();()"><span><script>document.write(bh_back_mark);</script></span></button>
                        <button class="waves-effect waves-light btn button-nav btn-icon icon-right" id="next_mark" onclick="return check_dslite()"><span><script>document.write(bh_next_mark);</script></span></button>
                </div>
		</div>
	</div>
</div>
</form>
</body>
</html>
