<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1>NETGEAR, INC.</h1>
				<p>MASTER TERMS OF SERVICE FOR YOUR ORBI APPLICATION, ORBI SOFTWARE, ORBI SERVICES, AND ORBI PRODUCT</p>
				<p>THESE MASTER TERMS OF SERVICE (THIS "AGREEMENT"), TOGETHER WITH THE PRIVACY POLICY https://www.netgear.com/about/privacy-policy/ REFERRED TO HEREIN, SET FORTH THE TERMS AND CONDITIONS ON WHICH NETGEAR, INC. ("NETGEAR") AGREES TO PROVIDE THE SOFTWARE (AS DEFINED BELOW) AND THE SERVICES AND RESOURCES AVAILABLE OR ENABLED VIA USE OF THE ORBI DEVICE, AND THE ORBI APPLICATION (EACH A .SERVICE. AND COLLECTIVELY THE .SERVICES.),  TO THE INDIVIDUAL OR COMPANY ACCEPTING THIS AGREEMENT ("YOU"). THIS AGREEMENT SHALL APPLY UNLESS (I) YOU HAVE A SEPARATE PURCHASE AGREEMENT WITH NETGEAR COVERING THE ORBI APPLICATION, SOFTWARE, ORBI DEVICE IN WHICH CASE THE SEPARATE AGREEMENT SHALL GOVERN; OR (II) OTHER NETGEAR TERMS AND CONDITIONS APPLY.</p>
				<p>BY DOWNLOADING, INSTALLING AND/OR OTHERWISE USING THE SOFTWARE, YOU ARE ACCEPTING THE TERMS AND CONDITIONS OF THIS AGREEMENT IN A LEGALLY BINDING MANNER. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, DO NOT ATTEMPT TO DOWNLOAD, INSTALL, ACCESS OR OTHERWISE USE THE SOFTWARE. </p>
				<p>IF YOU ARE OBTAINING THE SOFTWARE ON BEHALF OF A THIRD PARTY, YOU REPRESENT TO NETGEAR THAT YOU ARE DULY AUTHORIZED TO REPRESENT SUCH THIRD PARTY AND ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT ON ITS BEHALF. BY EXECUTING THIS AGREEMENT AS SET FORTH BELOW, A BINDING CONTRACT IS FORMED BETWEEN NETGEAR AND THE THIRD PARTY AND THE TERM "YOU" AS USED HEREIN SHALL MEAN THE THIRD PARTY.</p>
				<p>IF YOU ARE RESIDING IN A JURISDICTION WHICH RESTRICTS THE USE OF INTERNET-BASED APPLICATIONS ACCORDING TO AGE, OR WHICH RESTRICTS THE ABILITY TO ENTER INTO AGREEMENTS SUCH AS THIS AGREEMENT ACCORDING TO AGE AND YOU ARE UNDER SUCH A JURISDICTION AND AGE LIMIT, YOU MAY NOT ENTER INTO THIS AGREEMENT AND DOWNLOAD, INSTALL OR USE THE NETGEAR SOFTWARE.  BY ENTERING INTO THIS AGREEMENT YOU EXPLICITLY STATE THAT YOU HAVE VERIFIED IN YOUR OWN JURISDICTION IF YOUR USE OF THE SOFTWARE IS ALLOWED.</p>
				<p><b>THE TERMS OF SERVICE INCLUDE A CLASS ACTION WAIVER AND A WAIVER OF JURY TRIALS, AND REQUIRE BINDING ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES.</b></p>
				<p><b>THE TERMS OF SERVICE LIMIT THE REMEDIES THAT MAY BE AVAILABLE TO YOU IN THE EVENT OF A DISPUTE.</b></p>
				<p>1. <b>SOFTWARE DEFINED.</b> This Agreement governs access and use of (i) the NETGEAR Orbi Application, any software that is embedded in the Orbi device or service , NETGEAR-branded software for use in any product or service that You have purchased from NETGEAR or its distributors for use with the Orbi device or service, or software for use with the Orbit product or service that NETGEAR has made available for download at the NETGEAR website, NETGEAR.s vendors. website, the Google Play store, or the Apple App Store; (ii) any installation manuals, user guides or other documentation for such software provided by NETGEAR (collectively, "Documentation") related to the Orbi App; and (iii) any new upgrades or updates of such software and Documentation obtained from NETGEAR (all of the foregoing, collectively, the "Software"). </p>
				<p>2. <b>LICENSE GRANT.</b> Subject to Your compliance with the terms and conditions of this Agreement:</p>
				<p>2.1 <b>Non-Exclusive License.</b> NETGEAR and its suppliers grant to You a non-exclusive license to use copies of the Software for use with Orbi products and other NETGEAR products. No other rights are granted. </p>
				<p>2.2 <b>Copies.</b> You may make copies of the Software for backup purposes or as needed to use Orbi products and other NETGEAR products, provided that You reproduce all copyright and other proprietary notices that are on the original copy of the Software. </p>
				<p>2.3 <b>Third Party Software.</b> (a) NETGEAR may provide as part of or in connection with the Software (i) third party software subject to separate third party license terms and conditions ("Third Party License Terms"); and/or (B) "open source" software subject to the terms and conditions of publicly available licenses (the "Open Source License Terms").</p>
				<p>(b) You acknowledge and agree that (i) such third party and open source software are governed exclusively by the applicable Third Party License Terms and Open Source License Terms; and (ii) such terms are solely between You and the applicable licensor and NETGEAR has no obligation or liability with respect to such software under the Agreement, unless section 11 below provides otherwise. </p>
				<p>2.4  <b>Updates.</b> NETGEAR may from time to time develop patches, bug fixes, updates, upgrades and other modifications to the performance of the Services, Software, and/or the Orbi device (.Updates.). <b>By using the Services, Software, or the Orbi device, You hereby consent to the automatic downloading and installation of these Updates, which may be automatically downloaded and installed into Your mobile device and Orbi devices, as applicable, without providing any additional notice or receiving any additional consent. </b> If You do not want such Updates, Your sole remedies (i) for application Updates is to turn off the auto-update functionality in Your mobile device settings or delete the NETGEAR or Orbi application from Your mobile device or (ii) for Orbi device and/or Software is to terminate Your Orbi account and/or cease use of Your Orbi devices. If You later undo any of the foregoing (e.g. by turning on the auto-update functionality on Your mobile device or restarting use of Your Orbi devices), You understand that the automatic download and installation of Updates will start again and You consent to such automatic Updates. To the extent that any Updates are not automatically installed, You acknowledge that You may be required to install Updates to continue use of, or access to the full functionality of, the Services, Software, and Orbi devices and You agree to promptly install such Updates.</p>
				<p>3. <b>RESTRICTIONS ON USE.</b></p>
				<p>3.1 <b>General Restrictions.</b> Unless (and solely to the extent) expressly permitted under Section 2, or where such rights cannot be excluded under applicable law, You may not (and may not permit or encourage any third party to): (i) copy, duplicate or otherwise reproduce the Software in any manner other than as needed for for backup purposes or to use Your Services, Software, or Orbi device; (ii) distribute, network, sublicense, lease, rent, loan, assign, convey or otherwise transfer the Software (or any copy or component thereof) or any rights thereto to any third party; (iii) remove, alter or obscure any product identification, trademark, copyright, confidentiality, proprietary or other notices or legends contained on or within the Software; (iv) use the Software for time-sharing or service bureau purposes or in any other manner not expressly permitted hereunder; or (v) incorporate the Software (or any copy or portion thereof) into any of Your products.</p>
				<p>3.2 <b>Modification and Reverse Engineering.</b> Unless (and solely to the extent) expressly permitted under Section 2 or where such rights cannot be excluded under applicable law, You may not (and may not permit or encourage any third party to): (i) reverse engineer, disassemble or decompile the Software, or any part thereof, or otherwise attempt to derive source code; or (ii) create any alteration, adaptation, modification, translation, improvement or derivative work of the Software (a "Derivative").</p>
				<p>3.3 <b>Cooperation.</b> You shall cooperate with NETGEAR, and shall render all reasonable assistance requested by NETGEAR, to assist NETGEAR in preventing and identifying any use of, or access to, the Software in violation of this Agreement.</p>
				<p>3.4. <b>High Risk Applications.</b> The Software, Services, and Orbi devices are not designed or warranted for use in applications or environments requiring fail-safe performance, such as in the operation of nuclear facilities, aircraft navigation or communications systems, air traffic control, life support machines, surgically implanted devices, weapons systems, or other applications, devices, or systems in which the failure of the Software, Services, and Orbi devices, or any part thereof, could lead directly to death, personal injury, or severe physical or environmental damage (.High Risk Activities.). Notwithstanding any other provision of this Agreement, you may not use or permit any third party to use the Software, Services, and Orbi devices, or any part thereof, in connection with any High Risk Activity. You assume all risk of such uses, and if you or any third party you permit to use the Software, Services, and Orbi devices, or any part thereof, in connection with High Risk Activities, you agree to indemnify, defend, and hold NETGEAR harmless from all claims, expenses, and liability arising at NETGEAR as a result of such use and attributable to You.</p>
				<p>4. <b>FEES AND SUPPORT.</b></p>
				<p>4.1 <b>General.</b>  You agree to pay all fees or charges to Your account in accordance with the fees, charges and billing terms in effect at the time a fee or charge is due and payable. Your payment provider agreement governs Your use of the designated credit card, and You must refer to that agreement and not this Agreement to determine Your rights and liabilities in connection with Your use of Your credit card. By providing NETGEAR with Your credit card number and associated payment information, You agree that NETGEAR is authorized to immediately invoice Your account for all fees and charges due and payable to NETGEAR hereunder and that no additional notice or consent is required. You agree to immediately notify NETGEAR of any change in Your billing address or the credit card used for payment hereunder. NETGEAR may at any time change its prices and billing methods for the future, upon posting on website or by e-mail delivery to You.</p>
				<p>a.   <b>Taxes.</b>  If Your purchase of any Orbi devices or Services, or payments for any Orbi devices or Services, under this Agreement are subject to Sales Tax and You have not remitted the applicable Sales Tax to NETGEAR, You will be responsible for the payment of such Sales Tax and any related penalties or interest to the relevant tax authority. For purposes of this section, .Sales Tax. shall mean any sales or use tax, and any other tax measured by sales proceeds, that NETGEAR is permitted to pass to its customers, that is the functional equivalent of a sales tax where the applicable taxing jurisdiction does not otherwise impose a sales or use tax.</p>
				<p>b.   <b>Witholding Taxes.</b>  You agree to make all payments of fees to NETGEAR free and clear of, and without reduction for, any withholding taxes. Any such taxes imposed on payments of fees to NETGEAR will be Your sole responsibility, and You will provide NETGEAR with official receipts issued by the appropriate taxing authority, or such other evidence as we may reasonably request, to establish that such taxes have been paid.</p>
				<p>c.   <b>Disputes.</b>  Please notify NETGEAR in writing within seven (7) days after receiving Your credit card statement, if You dispute any of our charges on that statement. Billing disputes should be notified to the following email address: support@NETGEAR.com</p>
				<p>4.2 <b>Support.</b> NETGEAR may stop Updates, support of, upgrades for, or enhancements to the Services, Software, and/or the Orbi device at any time and without reason or notice.</p>
				<p>5. <b>INTELLECTUAL AND PROPRIETARY RIGHTS.</b></p>
				<p>5.1 <b>Rights in Software.</b> Intellectual property rights in the Services, Software, and the Orbi device are protected under the copyright laws of the United States and other applicable jurisdictions (including international treaties) as well as other United States, foreign and international laws, regulations and treaties for the protection of intellectual, proprietary and industrial property. NETGEAR and its licensors shall have and retain sole and exclusive right, title and interest in and to the Software, including any and all copies and portions thereof and all intellectual property rights therein. NETGEAR and its licensors retain all rights not expressly granted herein. You acknowledge and agree that the Software (including all copies provided to or made by or for You) is licensed and not sold to You.</p>
				<p>5.2 <b>Rights in Supportive Information and Derivatives.</b> Any ideas, bug reports, feedback regarding usability, and any other suggestions and feedback provided by or on behalf of You with respect to the Services, Software, or the Orbi device ("Supportive Information") as well as any Derivatives of the Software made by or for You (whether or not permitted hereunder) including any and all intellectual property therein and thereto, shall be the sole and exclusive property of NETGEAR or its licensors.</p>
				<p>5.3 <b>Assignment of Rights.</b> You irrevocably agree to assign, and hereby assign, all right, title, and interest worldwide in the Supportive Information or Derivatives and all intellectual property rights therein to NETGEAR and, if requested by NETGEAR, agree to assist NETGEAR, at NETGEAR's expense, in perfecting, recording and enforcing such rights. To the extent that such assignment is invalid under applicable law, You irrevocably agree to grant, and hereby grant, to NETGEAR an exclusive, transferable, sub-licensable, unlimited, perpetual, and worldwide license to use, copy, and otherwise utilize or commercialize such Supportive Information and Derivatives in any manner known or conceived in the future, and, if requested by NETGEAR, agree to assist NETGEAR, at NETGEAR's expense, in perfecting, recording and enforcing such rights.</p>
				<p>5.4 <b>Technical and Data Collection.</b> You must provide and maintain, at Your cost, all telecommunications lines, monitor, PC, modem, routers, mobile devices, Your Internet service provider (.ISP.), and Your mobile device carrier (.Carrier.), etc., and any access required to use the Software, Services, and Orbi device.</p>
				<p><b>As part of the normal installation and functioning of the Software, NETGEAR will be collecting data to optimize the Software and/or Orbi network.s performance.  The information collected may include, without limitation, the number of clicks needed and time spent to complete the set up, the path between the start to the end of the setup, the WiFi speed from the Internet Service Provider, the LAN speed between the Orbi network and Your mobile device, and the Operating System and model of the mobile device that is used to set up the Your network.  As part of the Software.s features, You may get notifications sent by NETGEAR when there is change in the Orbi network.s topology, as well as from NETGEAR on technical updates about the Orbi device and services.</b>Orbi may also implement a daily automatic firmware update and automatic network topology optimization feature that this Software will implement.</p>
				<p>By using the Software You agree that NETGEAR may collect the above information.</p>
				<p>Over time, NETGEAR may provide the opportunity for You to interface the Orbi devices, Software, and Services to one or more third party products and services, through and using the Services (.Third Party Products and Services.). You decide whether and with which Third Party Products and Services You want to interface. </p>
				<p>Once Your consent is given for a particular Third Party Product and Service, You agree that NETGEAR may exchange information and control data regarding You and Your Services, Software, and the Orbi devices, including personal information, in order to enable the interface You have authorized, in line with our Privacy Policy. Once this information is shared with the particular Third Party Product and Service, its use will be governed by the third party's privacy policy and not by NETGEAR's privacy policy. You acknowledge and agree that NETGEAR makes no representation or warranty about the safety of any Third Party Products or Services. Accordingly, NETGEAR is not responsible for Your use of any Third Party Product or Service or any personal injury, death, property damage, or other harm or losses arising from or relating to Your use of any Third Party Products or Services, unless provided otherwise in section 11 below. You should contact the third party with any questions about its Third Party Products and ServicesData protection, privacy, and other laws where You live may impose certain responsibilities on You and Your use of the Orbi devices, Software, and Services. You agree that You (and not NETGEAR) are responsible for ensuring that You comply with any and all applicable laws when You use the Orbi devices, Software, and Services.</p>
				<p>Any of Your information gathered by NETGEAR during and after the installation of Software is subject to our Privacy Policy which may be viewed at http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b>REGISTRATION AND ACCOUNT DATA.</b></p>
				<p>6.1. Certain functionality offered on or through the Orbi devices, Software, and Services may require You to register and open an account (including setting up a User ID and password ["Account Data"]). You agree to provide accurate, complete and up to date information when You register ("Registration Data"). You agree that NETGEAR may store and use the registration data You provide for use in maintaining and billing fees to Your account. You are entirely responsible for maintaining the confidentiality of Your Account Data, and for the activity that occurs under Your account. You agree to promptly notify NETGEAR about any unauthorized use of Your account or Account Data.</p>
				<p>6.2. NETGEAR implemented an integrated registration solution through a single sign on process ("SingleSignOn"). SingleSignOn means that once You open an account with NETGEAR You may use Your User account and User ID for other services of NETGEAR which eliminates the need to maintain separate User accounts and User ID's for each individual service. SingleSignOn may also allow You to sign in and sign off from services and through different devices at once</p>
				<p>6.3 The SingleSignOn may offer You the possibility to connect Your services with your account from third party social media sites, such as Facebook, Twitter, and Google + with the SingleSignOn through an application programming interface (API) or other software.</p>
				<p>Without limiting or abrogating the disclosures made in the NETGEAR Privacy Policy, by allowing the SingleSignOn to connect with Your accounts on such third party sites, You consent to our accessing the information in those accounts, which information may include personally identifiable information. Additionally, You understand that by accessing the SingleSignOn via Your social media or other third party account, activity You engage in through the SingleSignOn may be published on the third party site. It is Your choice whether to use any such third party sites. We recommend You review the privacy policies of each third party site before You allow the SingleSignOn to connect with Your accounts on such third party sites or share pages or information with Your friends through those sites.</p>
				<p>You agree that You do not own Your SingleSignOn username. NETGEAR may reclaim or use Your SingleSignOn username</p>
				<p>6.4. You will keep Your Account Data safe and secure and prevent unauthorized access to Your Account Data and Your account by third parties, in particular by avoiding obvious User IDs or passwords, by changing Your password regularly and by ensuring that You do not disclose Your password(s) or grant any other User or third party access to Your Account Data or services.</p>
				<p>6.5. NETGEAR may regard any instructions to be from You if they are received from or issued by a User or third party using or providing Your Account Data.</p>
				<p>6.6. You agree not to use any Account Data or services of any other User or person than Yourself without permission of the User or person holding the respective service.</p>
				<p>6.7. You will notify NETGEAR immediately upon becoming aware of any unauthorized use of any of Your Registration Data or Account Data or any other breach of security.</p>
				<p>6.8. You can access and change Your Registration Data or Account Data at any time by accessing the respective NETGEAR service. </p>
				<p>7. <b>TERMINATION.</b> </p>
				<p>7.1 <b>Term of Agreement.</b> This Agreement is effective as of the date You accept this Agreement and will continue for an indefinite term until terminated as set forth herein.</p>
				<p>7.2 <b>Termination.</b> Without prejudice to any other rights or remedies available to NETGEAR, NETGEAR is entitled to terminate this Agreement upon immediate notice to you upon Your failure to comply with any term or condition of this Agreement. In such case NETGEAR will reimburse the respective prorated fees to You. You may also terminate this Agreement at any time by destroying all copies of the Software in Your possession or control. If NETGEAR makes a request via public announcement, email to You, website posting, or press release that it is terminating this Agreement then this Agreement will be terminated upon the date specified (.Termination Date.) in any such public announcement, website posting, or press release, and You agree to stop using the copies of the Software on or before such Termination Date. Following termination of this Agreement or license with respect to any Software for any reason, the provisions of Sections 1, 3, 5, 6, 7.2, 8, 9, 10, 11, 12, 13 and 14 shall survive in accordance with their terms.</p>
				<p>If you transfer the Orbi device to a new owner, your right to use the Services with respect to that Orbi device automatically terminates, and the new owner will have no right to use the Orbi device or Services under any of your NETGEAR accounts and will need to register for a separate account with NETGEAR.</p>
				<p>8. <b>TRADEMARKS.</b> </p>
				<p>8.1 <b>No Trademark License.</b> Other than as specifically granted herein, You acknowledge that this Agreement does not grant You any rights to use any of the corporate names, trademarks, service marks, certification marks trade names, slogans, logos or other designation of NETGEAR or any of its subsidiaries or affiliates (collectively, any "NETGEAR Marks") even if such marks appear on or in the Software or are otherwise included in any materials provided to You in connection with this Agreement.</p>
				<p>8.2 <b>No Adoption or Use.</b> You agree not to adopt, use or register any corporate name, trademark, service mark, certification mark, trade name, slogan, logo or other designation similar to, or containing in whole or in part, any NETGEAR Marks. Without limiting the foregoing, You agree not to use "NETGEAR" or .ORBI. as part of Your corporate name, trade name, product names or second-level domain names either during the term of this Agreement or afterwards.</p>
				<p>9. <b>CONFIDENTIALITY.</b> You acknowledge that the Software constitute valuable trade secrets and confidential information of NETGEAR ("Confidential Information"). You agree not to make available or disclose this Confidential Information to any third party, except to a third party who are bound by similar non-disclosure obligations.</p>
				<p>10. <b>WARRANTY AND DISCLAIMER.</b></p>
				<p>THE HARDWARE WARRANTY FOR THE ORBI DEVICE IS SET FORTH IN THE LIMITED WARRANTY THAT ACCOMPANIES THE DEVICE AND IS AVAILABLE AT https://www.netgear.com/about/warranty.</p>
				<p>10.1 NETGEAR, ON ITS OWN BEHALF AND ON BEHALF OF ITS LICENSORS, DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, WITH RESPECT TO THE SOFTWARE AND SERVICES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS WITH RESPECT TO THE SOFTWARE AND SERVICES.  NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY NETGEAR, ITS LICENSORS, SUPPLIERS, DEALERS, DISTRIBUTORS, AGENTS OR EMPLOYEES SHALL IN ANY WAY ALTER OR INCREASE THE SCOPE OF THIS WARRANTY;.  NETGEAR DOES NOT WARRANT THAT THE SOFTWARE AND SERVICES SHALL MEET LICENSEE.S, DISTRIBUTORS., END-USERS. OR OTHER THIRD PARTIES. REQUIREMENTS, OR THAT THE OPERATION OF THE SOFTWARE AND SERVICES SHALL BE UNINTERRUPTED OR ERROR FREE.  NETGEAR MAKES NO WARRANTY WITH RESPECT TO DEFECTIVE CONDITIONS OR NON-CONFORMITIES RESULTING FROM LICENSEE'S USE, MISUSE, MISINSTALLATION, MISHANDLING, ACCIDENT OR ABUSE OF SOFTWARE AND SERVICES, OR ERRORS RESULTING FROM INCORPORATION OF SOFTWARE AND SERVICES INTO LICENSEE.S PRODUCT, OR FAILURE OF LICENSEE TO APPLY NETGEAR-SUPPLIED MODIFICATIONS, DIRECTIONS, UPDATES OR CORRECTIONS.</p>
				<p>11. <b>LIMITATION OF LIABILITY.</b></p>
				<p>NETGEAR   NOT HAVE ANY LIABILITY TO YOU OR ANY THIRD PARTY (WHETHER BASED IN CONTRACT OR TORT, NEGLIGENCE, STATUTE OR OTHER LEGAL THEORY) WITH RESPECT TO ANY MATTER ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, THE SOFTWARE AND SERVICES, AND FOR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES OF ANY KIND, OR FOR LOSS OF REVENUE OR PROFITS, LOSS OF BUSINESS, LOSS OF INFORMATION OR DATA, OR OTHER FINANCIAL LOSS, EVEN IF NETGEAR OR ANY OF ITS AGENTS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
				<p>NETGEAR'S MAXIMUM LIABIITY TO YOU FOR DAMAGES ARISING OUT OF OR RELATING TO THIS AGREEMENT WILL NOT EXCEED THE LOWER OF NETGEAR.S LIST PRICE OR THE AMOUNT(S) PAID BY YOU, FOR THE SOFTWARE AND SERVICES GIVING RISE TO THE CAUSE OF THE ACTION (OR THE PRODUCT WITH WHICH THE SOFTWARE AND SERVICES WAS MADE AVAILABLE).</p>
				<p>THIS LIMITATION OF LIABILITY FOR DAMAGES WILL NOT BE AFFECTED IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</p>
				<p><b>QUALIFICATION OF DISCLAIMERS AND LIMITATIONS. </b>The disclaimers and limitations in sections 10 and 11 are made to the full extent permitted by applicable law. You acknowledge and agree that such disclaimers and limitations constitute an essential part of this agreement and accurately reflect the allocation of risk expressly agreed to by the parties. NOTWITHSTANDING THE FOREGOING, SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF IMPLIED WARRANTIES OR THE LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES FOR CERTAIN PRODUCTS. THUS THE LIMITATION OF LIABILITY AND EXCLUSIONS MAY BE LIMITED IN THEIR APPLICATION TO YOU.</p>
				<p><b>12.	GENERAL 	PROVISIONS.</b></p>
				<p>12.1 <b>Taxes.</b> You are solely responsible for any taxes, duties or fees, if any, which may be assessed on the Software and Services or Your use thereof or Your performance under this Agreement. You shall be responsible for paying any such taxes, duties and fees assessed against NETGEAR, except for those applicable to NETGEAR's net income or payroll.</p>
				<p>12.2 <b>Your Consideration. </b> The rights and licenses granted herein are subject to Your compliance with the terms and conditions of this Agreement. You acknowledge and agree that Your sole and exclusive consideration for Your performance under this Agreement are the rights and licenses granted herein and that You shall not become entitled to any remuneration, reimbursement or other consideration from NETGEAR or its suppliers.</p>
				<p>12.3 <b>Injunctive Relief. </b>You acknowledge and agree that the copying, disclosure or use of the Software or any information, materials or services provided hereunder in a manner inconsistent with any provision of this Agreement shall cause irreparable injury to NETGEAR for which NETGEAR will not have an adequate remedy at law. Accordingly, NETGEAR shall be entitled to equitable relief in court, including but not limited to temporary restraining orders, preliminary injunctions and permanent injunctions, if applicable.</p>
				<p>12.4 <b>No Partnership. </b>The parties undertake their respective obligations under this Agreement as independent contractors. This Agreement does not, and is not intended to, create any employment, agency, distributorship, franchise, joint venture, legal partnership or other similar legal relationship between NETGEAR and You. Neither party will have any right or authority to act on behalf of, or to bind, the other party and neither party will represent to any third party that it has such right or authority.</p>
				<p>13.5 <b>No Assignment. </b>You may not assign or otherwise transfer this Agreement or the rights or obligations hereunder (either in whole or in part, whether voluntarily, by way of merger, by operation of law or otherwise), without the prior written consent of NETGEAR, which consent may be withheld in NETGEAR's sole discretion, and any attempted transfer or assignment is null and void and shall be deemed a material breach of this Agreement.</p>
				<p>12.6 <b>Entire Agreement; Amendment. </b>This Agreement represents the complete, final and exclusive agreement concerning the subject matter hereof.  This Agreement may not be amended in whole or in part except upon your prior notice.</p>
				<p>12.7 <b>Waiver. </b>A waiver of any default hereunder or of any of the terms and conditions of this Agreement shall not be deemed to be a continuing waiver or a waiver of any other default or of any other term or condition, but shall apply solely to the instance to which such waiver is directed.</p>
				<p>12.8 <b>Governing Law and Language. </b>This Agreement shall be governed by California law provisions , excluding its conflict-of-law provisions and the laws of the United States. This choice of law shall not limit the protection afforded to You by provisions that cannot be derogated from by agreement (such as consumer protection laws). The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly disclaimed. The parties hereto confirm that they have requested that this Agreement and all related documents be drafted in English. Unless the law applicable to You provides otherwise, tThe official text of this Agreement is in the English language and any interpretation or construction of this Agreement will be based thereon. In the event that this Agreement or any documents or notices related to it are translated into another language, the English version will control unless the law applicable to You provides otherwise.</p>
				<p>13.9 <b>Jurisdiction. </b>You hereby submit to the exclusive jurisdiction of, and waive any venue objections against, the Superior Court of the County of Santa Clara and/or the United States District Court for the Northern District of California with respect to any dispute arising out of this Agreement. Notwithstanding the above, either NETGEAR or You may obtain preliminary or permanent injunctive relief from any court of competent jurisdiction worldwide.</p>
				<p>12.9 <b>Export. </b>You acknowledge that the export or re-export of any Software and Orbi devices is subject to import and export regulations. In particular, without limitation, Software and Orbi devices may not be exported or re-exported (a) into any United States embargoed countries, or (b) to anyone on the U.S. Treasury Department.s list of Specially Designated Nationals or the U.S. Department of Commerce.s Denied Person.s List or Entity List. By using Software and Orbi devices, You represent and warrant that (i) You are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a .terrorist supporting. country and (ii) You are not listed on any U.S. Government list of prohibited or restricted parties.  Generally, You will comply strictly with all such United States export controls and shall not export, re-export, transfer or divert any of the Software and Orbi devices or any direct product thereof, to any destination, end-use or end-user that is prohibited or restricted under such United States export control laws and regulations, except as specifically authorized by the United States Department of Commerce. You agree to indemnify and hold NETGEAR and its suppliers harmless from and against any claim, loss, liability or damage suffered or incurred by NETGEAR and its suppliers resulting from or related to Your violation of this paragraph.</p>
				<p>The Services, Software, and the Orbi devices are not available to all persons or in all countries.  If You choose to access the Services, Software, or the Orbi devices from outside a country in which Services, Software, or the Orbi devices are supported by NETGEAR, You do so on Your own initiative and You are solely responsible for complying with applicable local laws in Your country. You understand and accept that some or all of the features of the Services, Software, or the Orbi devices may not work or be appropriate for use in such a country. To the extent permissible by law, NETGEAR accepts no responsibility or liability for any damage or loss caused by Your accessing or use of the Services, Software, or the Orbi devices outside of countries not supported by NETGEAR. You will be bound by these Terms wherever You access or use the Site or use the Services.</p>
				<p>12.10 <b>Severability. </b>If a competent court holds any provision of this Agreement illegal, invalid or unenforceable in whole or in part under applicable law such provision or such portion thereof shall be ineffective as to the jurisdiction in which such court is located to the extent of its illegality, invalidity or unenforceability and shall be deemed modified to the extent necessary to conform to applicable law so as to give the maximum effect to the intent of the parties. The illegality, invalidity or unenforceability of such provision in that jurisdiction shall not in any way affect the legality, validity or enforceability of such provision or of any other provisions of this Agreement in any other jurisdiction.</p>
				<p>12.11 <b>Force Majeure. </b>Neither party shall be liable for any failure or delay in performance under this Agreement which might be due in whole or in part, directly or indirectly, to any contingency, delay, failure, or cause of, any nature beyond the reasonable control of such party. Such causes include, without in any way limiting the generality of the foregoing, fire, explosion, earthquake, storm, flood or other weather, unavailability of necessary utilities or raw materials, power outage, strike, lockout, unavailability of components, activities of a combination of workmen or other labor difficulties, war, act of terrorism, insurrection, riot, act of God or the public enemy, law, act, order, export control regulation, proclamation decree, regulation, ordinance, or instructions of Government or other public authorities, or judgment or decree of a court of competent jurisdiction (not arising out of breach by such party of this Agreement).</p>
				<p>12.12<b>Notice. </b>Where NETGEAR requires that You provide an e-mail address, You are responsible for providing NETGEAR with Your most current e-mail address. In the event that the last e-mail address You provided to NETGEAR is not valid, or for any reason is not capable of delivering to You any notices required/permitted by the Terms, NETGEAR.s dispatch of the e-mail containing such notice will nonetheless constitute effective notice. NETGEAR is not responsible for any automatic filtering You or Your network provider may apply to email notifications. You must give notice to NETGEAR at the following email address: support@NETGEAR.com</p>
				<p>12.13 <b>Entire agreement. </b>These terms (including the various additional terms incorporated herein by reference) constitute the entire agreement between You and NETGEAR, and supersedes any and all prior agreements, negotiations, or other communications between You and NETGEAR, whether oral or written, with respect to the subject matter hereof.</p>
				<p>12.15 <b>Compliance with laws. </b>You agree to abide by all applicable laws in Your use of Services, Software, and the Orbi devices.</p>
				<p>12.16 <b>Consent to Electronic Communications. </b>By using the Services, Software, and the Orbi devices, You consent to receiving certain electronic communications from us regarding the Orbi devices, Software, and Services, including but not limited to (a) notices about your use of the Products, Software, and Services including any notices concerning violations of use, (b) Updates, and (c) where you agree in accordance with applicable law, promotional information and materials regarding NETGEAR.s products, Software, and Services, via electronic mail. For further information on how we use your personal information and how to change your preferences, and to unsubscribe from promotional materials please see our Privacy Policy.</p>
				<p>You agree that any notices, agreements, disclosures, or other communications that we send to You electronically will satisfy any legal communication requirements.</p>
				<p><b>14.	DISPUTE RESOLUTION</b></p>
				<p><b>Applicability of Arbitration Agreement</b></p>
				<p>All claims and disputes (excluding claims for injunctive or other equitable relief as set forth below) in connection with the Terms or the use of any product or service provided by NETGEAR, including Orbi device, that cannot be resolved informally or in small claims court shall be resolved by binding arbitration on an individual basis under the terms of this Arbitration Agreement. Unless otherwise agreed, all arbitration proceedings will be held in English. This Arbitration Agreement applies to You and NETGEAR, and to any subsidiaries, affiliates, agents, employees, predecessors in interest, successors, and assigns, as well as all authorized or unauthorized Users or beneficiaries of services or goods provided under the Terms.</p>
				<p>14.1.  <b>Notice requirement and informal dispute resolution. </b>Before either party may seek arbitration, the party must first send to the other party a written Notice of Dispute (.Notice.) describing the nature and basis of the claim or dispute, and the requested relief. A Notice to NETGEAR should be sent to: NETGEAR, Inc., 350 East Plumeria Drive, San Jose, California, 95134, email:legal@NETGEAR.com. After the Notice is eceived, You and NETGEAR may attempt to resolve the claim or dispute informally. If You and NETGEAR do not resolve the claim or dispute within thirty (30) days after the Notice is received, either party may begin an arbitration proceeding. The amount of any settlement offer made by any party may not be disclosed to the arbitrator until after the arbitrator has determined the amount of the award, if any, to which either party is entitled.</p>
				<p>14.2.  <b>Arbitration Rules. </b>Arbitration shall be initiated through the American Arbitration Association (.AAA.), an established alternative dispute resolution provider (.ADR Provider.) that offers arbitration as set forth in this section. If AAA is not available to arbitrate, the parties shall agree to select an alternative ADR Provider. The rules of the ADR Provider shall govern all aspects of the arbitration, including but not limited to the method of initiating and/or demanding arbitration, except to the extent such rules are in conflict with the Terms. The AAA Consumer Arbitration Rules governing the arbitration are available online at www.adr.org or by calling the AAA at 1- 800-778-7879. The arbitration shall be conducted by a single, neutral arbitrator. Any claims or disputes where the total amount of the award sought is less than Ten Thousand U.S. Dollars (US $10,000.00) may be resolved through binding non-appearance-based arbitration, at the option of the party seeking relief. For claims or disputes where the total amount of the award sought is Ten Thousand U.S. Dollars (US $10,000.00) or more, the right to a hearing will be determined by the Arbitration Rules. Any hearing will be held in a location within 100 miles of Your residence, unless You reside outside of the United States, and unless the parties agree otherwise. If You reside outside of the U.S., the arbitrator shall give the parties reasonable notice of the date, time and place of any oral hearings. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. If the arbitrator grants You an award that is greater than the last settlement offer that NETGEAR made to You prior to the initiation of arbitration, NETGEAR will pay You the greater of the award or One Thousand U.S. Dollars (US $1,000.00). Each party shall bear its own costs (including attorney.s fees) and disbursements arising out of the arbitration and shall pay an equal share of the fees and costs of the ADR</p>
				<p>14.3.  <b>Additional Rules for non-appearance based arbitration. </b>If non-appearance based arbitration is elected, the arbitration shall be conducted by telephone, online and/or based solely on written submissions; the specific manner shall be chosen by the party initiating the arbitration. The arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise agreed by the parties.</p>
				<p>14.4.  <b>Time limits. </b>If You or NETGEAR pursue arbitration, the arbitration action must be initiated and/or demanded within the statute of limitations (i.e., the legal deadline for filing a claim) and within any deadline imposed under the AAA Rules for the pertinent claim.</p>
				<p>14.5.  <b>Authority of arbitrator.</b>If arbitration is initiated, the arbitrator will decide the rights and liabilities, if any, of You and NETGEAR, and the dispute will not be consolidated with any other matters or joined with any other cases or parties. The arbitrator shall have the authority to grant motions dispositive of all or part of any claim. The arbitrator shall have the authority to award monetary damages, and to grant any non-monetary remedy or relief available to an individual under applicable law, the AAA Rules, and the Terms. The arbitrator shall issue a written award and statement of decision describing the essential findings and conclusions on which the award is based, including the calculation of any damages awarded. The arbitrator has the same authority to award relief on an individual basis that a judge in a court of law would have. The award of the arbitrator is final and binding upon You and NETGEAR.</p>
				<p>14.6.  <b>Waiver of Jury Trial. </b>THE PARTIES HEREBY WAIVE THEIR CONSTITUTIONAL AND STATUTORY RIGHTS TO GO TO COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY, instead electing that all claims and disputes shall be resolved by arbitration under this Arbitration Agreement. Arbitration procedures are typically more limited, more efficient and less costly than rules applicable in a court and are subject to very limited review by a court. In the event any litigation should arise between You and NETGEAR in any state or federal court in a suit to vacate or enforce an arbitration award or otherwise, YOU AND NETGEAR WAIVE ALL RIGHTS TO A JURY TRIAL, instead electing that the dispute be resolved by a judge.</p>
				<p>14.7.  <b>Waiver of Class or Consolidated Actions.</b>ALL CLAIMS AND DISPUTES WITHIN THE SCOPE OF THIS ARBITRATION AGREEMENT MUST BE ARBITRATED OR LITIGATED ON AN INDIVIDUAL BASIS AND NOT ON A CLASS BASIS, AND CLAIMS OF MORE THAN ONE CUSTOMER OR USER CANNOT BE ARBITRATED OR LITIGATED JOINTLY OR CONSOLIDATED WITH THOSE OF ANY OTHER CUSTOMER OR USER.</p>
				<p>14.8.  <b>Confidentiality.</b>All aspects of the arbitration proceeding, including but not limited to the award of the arbitrator and compliance therewith, shall be strictly confidential. The parties agree to maintain confidentiality unless otherwise required by law. This paragraph shall not prevent a party from submitting to a court of law any information necessary to enforce this Agreement, to enforce an arbitration award, or to seek injunctive or equitable relief.</p>
				<p>14.9.  <b>Severability. </b>If any part or parts of this Arbitration Agreement are found under the law to be invalid or unenforceable by a court of competent jurisdiction, then such specific part or parts shall be of no force and effect and shall be severed and the remainder of the Agreement shall continue in full force and effect.</p>
				<p>14.10.  <b>Right to waive. </b>Any or all of the rights and limitations set forth in this Arbitration Agreement may be waived by the party against whom the claim is asserted. Such waiver shall not waive or affect any other portion of this Arbitration Agreement.</p>
				<p>14.11  <b>Survival of Agreement. </b>This Arbitration Agreement will survive the termination of Your relationship with NETGEAR.</p>
				<p>14.12.  <b>Small claims court. </b>Notwithstanding the foregoing, either You or NETGEAR may bring an individual action in small claims court.</p>
				<p>14.13.  <b>Emergency equitable relief. </b>Notwithstanding the foregoing, either party may seek emergency equitable relief before a state or federal court in order to maintain the status quo pending arbitration. A request for interim measures shall not be deemed a waiver of any other rights or obligations under this Arbitration Agreement.</p>
				<p>14.14.  <b>Claims not subject to arbitration. </b>Notwithstanding the foregoing, claims of defamation, violation of the Computer Fraud and Abuse Act, and infringement or misappropriation of the other party.s patent, copyright, trademark or trade secrets shall not be subject to this Arbitration Agreement.</p>
				<p>14.15.  <b>Courts. </b>In any circumstances where the foregoing Arbitration Agreement permits the parties to litigate in court, the parties hereby agree to submit to the personal jurisdiction of the courts located within Santa Clara County, California and federal courts located in the Northern District of California for such purpose.</p>
				<p>14.16.  <b>Time Limitation. </b>YOU MUST CONTACT NETGEAR WITHIN ONE (1) YEAR OF THE DATE OF OCCURRENCE OF THE EVENT OR FACTS GIVING RISE TO A DISPUTE, OR YOU WAIVE THE RIGHT TO PURSUE ANY CLAIM BASED UPON SUCH EVENT, FACES, OR DISPUTE.</p>
				<p><b>September 14, 2016</b></p>
				<p><b>NETGEAR, Inc.</b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, California 95134</b></p>
				<p><b>www.netgear.com</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
