<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
</head>

<body>
<% form_submit("apply", "BRS_security.html", "hijack_orange") %>
<script>
var master="<% cfg_get("http_loginname") %>";
function change_type()
{
	var form=document.forms[0];
	if(form.Orange_type.value == "orange_dhcp")
		document.getElementById("passwd_line").style.display = "none";
	else
		document.getElementById("passwd_line").style.display = "";
}

function goBack()
{
        if(getTop(window).dsl_enable_flag == "0")
                this.location.href = "BRS_02_genieHelp.html";
        else
        {
                if(getTop(window).location.href.indexOf("BRS_index.htm") > -1)
                        this.location.href = "BRS_ISP_country_help.html";
                else
                        this.location.href = "DSL_WIZ_sel.htm";
        }
        return true;
}

function check_orange()
{
        var cf = document.forms[0];

        if(cf.orange_login.value=="")
        {
                alert("$login_name_null");
                return false;
        }
        for(var i=0;i<cf.orange_login.value.length;i++)
        {
                if(isValidChar(cf.orange_login.value.charCodeAt(i))==false)
                {
                        alert("$loginname_not_allowed");
                        return false;
                }
        }

        if(cf.enable_orange.checked == true)
        {
                cf.hidden_enable_orange.value = "1";
        } else {
                cf.hidden_enable_orange.value = "0";
        }
        getTop(window).orange_apply_flag="1";
        cf.submit();
}

</script>
<input type="hidden" name="hidden_enable_orange">
<div id="container">
        <div class="dialog-content">
                <!-- Orbi Admin Account Settings-->
                <div id="card-orbi-admin-account" class="install-card clearfix">
                        <div class="logos">
                                <img class="netgear-logo" src="images/svg/netgear.svg">
                                <% hijack_logo_title() %>
                        </div>
                     <div class="content">
                        <div class="desc-title"></div>
                        <div class="desc-text"></div>
			 <div class="input-field">
                                <select name="Orange_type" size="1" onchange="change_type()">
                                        <script>document.write('<option value="orange_dhcp" selected>Orange France DHCP</option>'+
                                        '<option value="orange_pppoe">Orange France PPPoE</option>');
                                        </script>
                                </select>
                                <label>My ISP Profile</label>
                          </div>

			<div class="input-field">
                                        <input type="text" autocomplete="off" id="orange_login" name="orange_login" maxlength="64" onFocus="this.select();" class="validate" onKeyPress="return getkey('ssid', event)"/>
                                        <label for="orange_login">Login Name</label>
                         </div>
                         <div class="input-field" id="passwd_line">
					<input type="text" autocomplete="off" id="orange_passwd" name="orange_passwd"  maxlength="64" onFocus="this.select();" class="validate" onKeyPress="return getkey('ssid', event)"/>
					<label for="orange_passwd">Password</label>
			</div>
		<div style="margin-left:10%;margin-right:auto;max-width:85%;text-align:left;height:50px;" >
			<input type="checkbox" name="enable_orange" id="enable_orange">
			<label for="enable_orange">Enable Orange TV</label>
		</div>
		<div class="buttons">
			<button class="waves-effect waves-light btn button-nav" onclick="return goBack();()"><span><script>document.write(bh_back_mark);</script></span></button>
                        <button class="waves-effect waves-light btn button-nav btn-icon icon-right" id="next_mark" onclick="return check_orange()"><span><script>document.write(bh_next_mark);</script></span></button>
                </div>
	    </div>
	</div>
   </div>
</div>
</form>
</body>
</html>
