<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>Orbi 應用程式、Orbi 軟體、Orbi 服務及 Orbi 裝置的服務主條款</p>
				<p>這些服務主條款（本「合約」），與本合約中引用的隱私權政策 https://www.netgear.com/about/privacy-policy/明訂一些條款與條件，而 NETGEAR, INC.（下稱「NETGEAR」）同意根據這些條款與條件，向接受本合約之個人或公司（下稱「您」）提供本軟體（如以下所定義），以及透過使用 Orbi 裝置以及 Orbi 應用程式而可取得或啟用的服務和資源（各項均為一項「服務」，且統稱為「服務」）。本合約一體適用，除非 (I) 您與 NETGEAR 另有涵蓋 Orbi 應用程式、軟體、Orbi 裝置之購買合約，在此情況下應以該份獨立的合約為準；或者 (II) 其他 NETGEAR 條款與條件適用。</p>
				<p>下載、安裝及/或以其他方式使用軟體，即表示您接受本合約之條款與條件，且此接受行為具有法律約束力。若您不同意本合約的條款與條件，請勿嘗試下載、安裝、存取或以其他方式使用本軟體。 </p>
				<p>如果您代表第三方獲取本軟體，即表示您向 NETGEAR 聲明您已獲得該第三方的合法授權，並且代表該第三方接受本合約的條款與條件。本合約內容如以下所明訂，透過簽立本合約，NETGEAR 與該第三方之間即形成一份具有約束力之契約，且本文中所用之用語「您」意指該第三方。</p>
				<p>若您所居住之司法管轄區依據年齡限制網際網路型應用程式的使用，或者依據年齡限制簽訂如本合約等合約之能力，且您位於此一司法管轄區內，而且未滿可使用網際網路型應用程式或簽訂合約的年齡，您則不得簽訂本合約及下載、安裝或使用 NETGEAR 軟體。簽訂本合約即代表您明確表示您已確認在您所屬之司法管轄區內，您是允許使用本軟體的。</p> 
				<p>1. <b>軟體定義。</b>本合約規範下列項目的存取及使用：(i) NETGEAR Orbi 應用程式；任何 Orbi 裝置或服務中嵌入之軟體；用於您向 NETGEAR 或其經銷商購買之任何產品或服務，以與 Orbi 裝置或服務搭配使用之 NETGEAR 品牌軟體，或 NETGEAR 於 NETGEAR 網站、NETGEAR 廠商之網站、Google Play 商店或 Apple App Store 提供下載，以與 Orbi 產品或服務搭配使用之軟體；及 (ii) 任何與 Orbi 應用程式相關，用於由 NETGEAR 所提供之此類軟體的安裝手冊、使用者指南或其他文件（統稱「文件」）；以及 (iii) 自 NETGEAR 獲得之此類軟體及文件的任何新升級或更新（所有前述項目統稱「軟體」）。 </p>
				<p>2. <b>授權。</b>在您遵守本合約之條款與條件的前提下：</p>
				<p>2.1. <b> 非專屬授權。</b>NETGEAR 及其供應商授予您針對與 Orbi 裝置及其他 NETGEAR 產品搭配使用之用途，而使用本軟體之複本的非專屬授權。其他權利均未授予。</p>
				<p>2.2. <b>複本。</b>您可為備份用途或在使用 Orbi 裝置或其他 NETGEAR 產品需要時，製作本軟體的複本，前提是您照錄本軟體原始版本上的所有版權及其他所有權告示。 </p>
				<p>2.3. <b>第三方軟體。</b> (a) NETGEAR 可能會將下列項目作為本軟體之一部分或連同本軟體提供：(i) 受獨立第三方授權條款與條件（下稱「第三方授權條款」）規範之第三方軟體；及/或 (ii) 受授權為公眾均可取得之條款與條件（下稱「開放原始碼授權條款」）規範之「開放原始碼」軟體。</p>
				<p> (b) 您確認並同意 (i) 此類第三方及開放原始碼軟體僅受適用之第三方授權條款及開放原始碼條款單獨規範；而且 (ii) 此類條款僅限於您與適用授權方之間，除非以下的第 11 節另有規定，否則 NETGEAR 對於本合約所涵蓋的此類軟體無任何義務或法律責任。 </p>
				<p>2.4.	<b>更新。</b>NETGEAR 可不時開發修補程式、錯誤修正、更新、升級及其他服務、軟體及/或 Orbi 裝置效能方面的修改（下稱「更新」）。<b>使用服務、軟體或 Orbi 裝置，即表示您謹此同意自動下載及安裝這些更新，而且這些更新可在不提供任何額外通知或未收到任何額外同意的情況下，自動下載並安裝至您的行動裝置及 Orbi 裝置中（若適用）。</b>若您不想要此類更新，(i) 對於應用程式更新，您唯一的補救措施是關閉您行動裝置設定中的自動更新功能，或從您的行動裝置中刪除 NETGEAR 或 Orbi 應用程式，或者 (ii) 對於 Orbi 裝置及/或軟體，您唯一的補救措施是終止您的 Orbi 帳戶及/或停止使用您的 Orbi 裝置。若您之後撤銷前述措施（例如，開啟您行動裝置上的自動更新功能或重新開始使用您的 Orbi 裝置），您瞭解更新的自動下載及安裝功能會再度啟動，而您同意此類自動更新。倘若不自動安裝任何更新，您瞭解您可能需要安裝更新方能繼續使用或存取服務、軟體及 Orbi 裝置的完整功能，而且您同意及時安裝此類更新。</p>
				<p>3. <b>使用限制。</b></p>
				<p>3.1. <b> 一般限制。</b>除非第 2 節下明確允許，而且允許範圍僅限於第 2 節所述，或在適用法律下不得排除此類權利，您不得（而且不得允許或鼓勵任何第三方）：(i) 針對備份以外的用途，或在非使用服務軟體或 Orbi 裝置需要的情況下，複製、重製或以任何方式複製本軟體；(ii) 散佈、透過網路傳送、轉授權、出租、租借、出借、轉讓、轉移所有權或以其他方式轉移本軟體（或其任何複本或元件）或其任何權利予任何第三方；(iii) 移除、修改或遮掩本軟體上或內所含有之任何產品識別、商標、版權、機密、所有權或其他告示或標註；(iv) 將本軟體用於分時共用 (time-sharing) 或服務公司 (service bureau) 用途，或以下文中未明確允許之其他方式使用本軟體；或 (v) 將本軟體（或其任何複本或部分）結合至您的任何產品中。</p>
				<p>3.2. <b>修改及反向工程。</b>除非第 2 節下明確允許，而且允許範圍僅限於第 2 節所述，或在適用法律下不得排除此類權利，您不得（而且不得允許或鼓勵任何第三方）：(i) 對本軟體或其任何部分進行反向工程、反向組譯或解編本軟體或其任何部分，或是以其他方式試圖取得原始碼；或 (ii) 產生本軟體之變更、改編、修改、轉譯、改良或衍生作品（下稱「衍生品」）。 </p>
				<p>3.3. <b> 合作。</b>您須配合 NETGEAR，並且對 NETGEAR 之請求給予合理之協助，以協助 NETGEAR 預防並找出任何違反本合約的軟體使用或存取行為。</p>
				<p>3.4. <b>高風險應用。</b>本軟體、服務及 Orbi 裝置並非針對在需要失效安全 (fail-safe) 效能之應用或環境中使用而設計，且不對在此等應用或環境中使用作出保證，例如在核能設施、飛行器導航或通訊系統、空中交通管制、維生機器、手術植入裝置、武器系統之操作中，或若本軟體、服務及 Orbi 裝置或其任何部分故障可能直接導致死亡、人身傷害、或嚴重身體或環境損害之其他應用、裝置或系統（下稱「高風險活動」）中。儘管本合約中有任何其他規定，在與任何高風險活動相關的情況下，您不得使用或允許任何第三方使用本軟體、服務及 Orbi 裝置或其任何部分。您承擔此類使用之所有風險，而且若在與高風險活動相關的情況下，使用或允許任何第三方使用本軟體、服務及 Orbi 裝置或其任何部分，您同意針對 NETGEAR 因此類使用且因您而肇生之所有索賠、費用及法律責任向 NETGEAR 進行補償、為其辯護並使其免受損害。</p>
				<p>4. <b>費用及支援。</b></p>
				<p>4.1. <b>一般。</b>您同意在費用或款項到期且應付時，依據當時有效之費用、款項及帳務條款支付您帳戶的所有費用或款項。指定之信用卡的使用受您的付款服務供應商合約規範使用，您必須參照該合約來判斷您在使用您信用卡方面的權利和責任，而非參照本合約。提供 NETGEAR 您的信用卡號碼及相關付款資訊，即表示您同意 NETGEAR 獲得您的授權，可據此對於所有到期應付給 NETGEAR 之費用及款項立即向您的帳戶請款，而不需要額外通知或同意。若您用於本合約涵蓋之付款的帳單地址或信用卡有所變更，您同意立即通知 NETGEAR。NETGEAR 可透過在網站上公佈或遞送給您電子郵件的方式，隨時變更其往後的價格及付款方法。</p>
				<p>a.	<b>稅金。</b>若您在本合約下對任何 Orbi 裝置或服務的購買，或任何 Orbi 裝置或服務之付款，適用銷售稅，且您尚未將適用之銷售稅匯給 NETGEAR，您有責任向相關稅務機關支付該銷售稅及任何相關罰款或利息。在本節中，「銷售稅」意指任何 NETGEAR 可轉給其客戶的銷售或使用稅，以及以銷售收益量度之任何其他稅金，此類稅金為未另行課加銷售或使用稅之適用納稅區中，與銷售稅之功能性等效者。</p>
				<p>b.	<b>扣繳稅額。</b>您同意在向 NETGEAR 支付費用時，款項沒有且不包含任何扣繳稅額，也不因扣繳稅額而扣減應負金額。任何對於向 NETGEAR 支付之費用所課加的此類稅金均由您自行承擔責任，而且您將會提供 NETGEAR 適當稅務機關所發出之官方收據，或我們可能合理要求之其他此類證據，以證實此類稅金已經支付。</p>
				<p>c.	<b>爭議。</b>若您對於信用卡帳單上我們的任何費用有異議，請於收到帳單之後的七 (7) 天內以書面通知 NETGEAR。帳務爭議應通知下列電子郵件地址：support@NETGEAR.com </p>
				<p>4.2. <b>支援。</b>NETGEAR 可在無原因或未通知的情況下，隨時停止服務、軟體及/或 Orbi 裝置的更新、支援、升級或增強功能。</p>
				<p>5. <b>智慧財產權及所有權。</b></p>
				<p>5.1. <b>軟體中之權利。</b>服務、軟體及 Orbi 裝置之智慧財產權受到美國及其他適用司法管轄區（包括國際條約）之版權法保護，也受到其他保護智慧財產權、所有權及工業產權之美國、外國及國際法律、法規及條約所保護。NETGEAR 及其授權人擁有並保留本軟體（包括其任何和所有複本和部分，以及其中之所有智慧財產權）之唯一、專屬權利、所有權及利益。NETGEAR 及其授權人保留本合約中未明確授予之所有權利。您確認並同意本軟體（包括提供給您或由您或為您所製作之所有複本）係授權給您而非銷售給您。</p>
				<p>5.2. <b>支援性資訊及衍生品中之權利。</b>由您或代表您就服務、軟體或 Orbi 裝置所提供之任何想法、錯誤回報、使用方面意見回饋及任何其他建議和意見回饋（下稱「支援性資訊」），以及由您或為您所製作之任何本軟體衍生品（無論是否為本合約所允許），包括其中與其本身之任何及所有智慧財產權均為 NETGEAR 或其授權人完整擁有的專有財產。 </p>
				<p>5.3. <b>權利之轉讓。</b>您以不會撤回此同意為前提，同意並謹此將支援性資訊或衍生品中之所有權利、所有權及利益，以及其中之所有智慧財產權全球性地轉讓予 NETGEAR。若 NETGEAR 要求，您同意在由 NETGEAR 付費的情況下，協助 NETGEAR 將此類權利修改至完善，以及記錄和執行此類權利。若在適用法律下該轉讓無效，您以不會撤回此同意為前提，同意將使用、複製及另外以任何已知或未來想出的方式利用或商業化此類支援性資訊及衍生品之專屬、可轉移、可轉授權、無限制、永久性及全球性授權授予 NETGEAR。</p>
				<p>5.4. <b>技術及資料收集。</b>您必須自費提供並維護所有電信線路、顯示器、電腦、數據機、路由器、行動裝置、您的網際網路服務供應商（Internet service provider，下稱「ISP」）及您的行動裝置營運商（下稱「營運商」）等，以及任何使用本軟體、服務及 Orbi 裝置所需之存取權限。</p>
				<p><b>NETGEAR 會在本軟體正常安裝及運作時收集資料，以最佳化本軟體及/或 Orbi 網路效能。此收集動作為軟體安裝作業與運作的一部分。所收集之資訊可能包括但不限於完成設定所需的點擊數及時間、從設定開始到結束的路徑、來自網際網路服務供應商的 WiFi 速度、Orbi 與您行動裝置之間的區域網路速度、以及用來設定您網路的作業系統和行動裝置機型。Orbi 網路之拓撲改變時您可能會收到 NETGEAR 傳送的通知，也會收到來自 NETGEAR 的 Orbi 裝置及服務技術更新相關通知。這些項目為本軟體功能的一部分。</b>Orbi 也可能會實作本軟體會實作之每日自動韌體更新及自動網路拓撲最佳化功能。  </p>
				<p>使用本軟體即表示您同意 NETGEAR 可收集以上資訊。</p>
				<p>隨著時間經過，NETGEAR 可能會透過及使用服務向您提供將 Orbi 裝置、軟體及服務介接至一或多種第三方產品及服務的機會（下稱「第三方產品及服務」）。是否要介接第三方產品及服務，以及要介接哪些第三方產品及服務均由您決定。 </p>
				<p>一旦您對於特定第三方產品及服務表示同意，您即同意 NETGEAR 可在符合我們隱私權政策的情況下，交換資訊及並管控關於您和您的服務、軟體及 Orbi 裝置的資料（包括個人資訊），以啟用您已授權的介接。此資訊一旦與該特定第三方產品及服務共用，其使用將受第三方的隱私權政策規範，而非 NETGEAR 的隱私權政策規範。您確認並同意 NETGEAR 對於任何第三方產品或服務之安全性不作任何聲明或擔保。因此，對於您使用任何第三方產品或服務，或因您使用任何第三方產品或服務所肇生或與該使用相關之任何人身傷害、死亡、財產損害或其他傷害或損失，除非以下的第 11 節另有規定，否則 NETGEAR 概不負責。若對第三方產品及服務有任何問題，您應聯絡該第三方。您居住當地之資料保護、隱私權及其他法律可能會對您及您對 Orbi 裝置、軟體及服務的使用賦予某些責任。您同意您（而非 NETGEAR）負責確保您在使用 Orbi 裝置、軟體及服務時遵守任何及所有適用法律。</p>
				<p>NETGEAR 在軟體安裝時及安裝後所收集之任何您的資訊均受我們的隱私權條款所規範，您可到 http://www.netgear.com/about/privacypolicy/ 檢視我們的隱私權條款。</p>
				<p>6. <b>註冊及帳戶資料。</b></p>
				<p>6.1.在 Orbi 裝置、軟體及服務上所提供或透過其提供之某些功能可能會要求您註冊並開立帳戶（包括設定使用者 ID 及密碼，下稱「帳戶資料」）。您同意於註冊時提供正確、完整且最新之資訊（下稱「註冊資料」）。您同意 NETGEAR 可儲存您提供之註冊資料並將該註冊資料用於維護您的帳戶，以及向您的帳戶收費。維護您帳戶資料之機密性，以及發生在您帳戶下之活動的責任完全由您承擔。若您的帳戶或帳戶資料遭未授權使用，您同意立即通知 NETGEAR。 </p>
				<p>6.2.NETGEAR 透過單一登入程序（下稱「SingleSignOn」）實作了整合式註冊解決方案。SingleSignOn 意指一旦您向 NETGEAR 開立帳戶，您即可將您的使用者帳戶和使用者 ID 用於其他 NETGEAR 服務，而無需為各個服務維護個別的使用者帳戶及使用者 ID。SingleSignOn 亦可讓您同時透過不同的裝置登入及登出服務。</p>
				<p>6.3. SingleSignOn 可能可以讓您透過應用程式開發介面（Application Programming Interface，API）或其他軟體，從第三方社交媒體網站（如 Facebook、Twitter 及 Google +）和 SingleSignOn 將您的帳戶與您的服務連線。  </p>
				<p>在不限制或廢止 NETGEAR 隱私權政策中所作出之揭露的情況下，允許 SingleSignOn 在此類第三方網站與您的帳戶連線，即表示您同意我們存取這些帳戶中的資訊，而這些資訊可能包括可識別個人身分的資訊。此外，您瞭解您若藉由您的社交媒體或其他第三方帳戶存取 SingleSignOn，您透過 SingleSignOn 進行的活動就可能會發佈在該第三方網站上。您可選擇是否要使用任何此類第三方網站。我們建議您在允許 SingleSignOn 與您在此類第三方網站上的帳戶連線，或透過這些網站與您的朋友分享頁面或資訊之前，先檢閱各個第三方網站的隱私權政策。</p>
				<p>您同意您沒有自己的 SingleSignOn 使用者名稱。NETGEAR 可收回或使用您的 SingleSignOn 使用者名稱。 </p>
				<p>6.4.您會保持您的帳戶資料安全穩妥，並防止第三方在未授權的情況下存取您的帳戶資料及您的帳戶，特別是避免使用含意明顯或容易猜到的使用者 ID 或密碼、定期變更您的密碼，並確保您未揭露您的密碼，或讓任何其他使用者或第三方存取您的帳戶資料或服務。</p>
				<p>6.5.如果有使用者或第三方透過使用或提供您的帳戶資料來發出或使 NETGEAR 收到任何指示，NETGEAR 得視為該等指示來自於您。</p>
				<p>6.6.您同意不使用您自己以外之任何其他使用者或人士的任何帳戶資料或服務，除非持有該服務之使用者或人士許可。</p>
				<p>6.7.一旦發現您的任何註冊資料或帳戶資料遭任何未經授權使用，或任何其他危害安全性的行為，您會立即通知 NETGEAR。</p>
				<p>6.8.您可隨時透過存取相對應的 NETGEAR 服務來存取及變更您的註冊資料或帳戶資料。 </p>
				<p>7. <b>終止。</b></p> 
				<p>7.1. <b>合約期限。</b>本合約在您接受本合約之日起生效並且會無限期持續有效，直到其按本合約中所述的方式終止。 </p>
				<p>7.2. <b>終止。</b>在不影響 NETGEAR 可獲得之任何其他權利或補救措施的情況下，NETGEAR 有權在您未遵守本合約之任何條款或條件時立即通知您並終止此合約。在此等情況下，NETGEAR 會將按比例應付給您的費用償付給您。您亦可透過銷毀您所擁有或控制之所有軟體複本來終止本合約。若 NETGEAR 透過公開公告、發送電子郵件給您、網站貼文或新聞稿來要求終止本合約，則本合約會在任何此類公開公告、發送給您的電子郵件、網站貼文或新聞稿中所指定之日期（下稱「終止日」）終止，並且您同意在此終止日當天或之前停止使用軟體的複本。在因任何原因終止本合約或與任何軟體相關的授權後，第 1、3、5、6、7.2、8、9、10、11 及 12 節的條款，依據其條文將繼續有效。</p>
				<p>若您將 Orbi 裝置轉移給新擁有者，您透過該 Orbi 裝置使用服務的權利會自動終止，而且新擁有者將無權在您 NETGEAR 帳戶下使用該 Orbi 裝置或服務，而需要向 NETGEAR 註冊另一個帳戶。</p>
				<p>8. <b>商標。</b></p> 
				<p>8.1. <b>無商標授權。</b>除了本合約中所具體授予者外，您瞭解本合約未授予您使用 NETGEAR 或其任何分公司和關係企業之公司名稱、商標、服務商標、認證標章、商號、標語、標誌或其他稱號（統稱任何「NETGEAR 標記」）之權利，即使此類標記出現在本軟體上或之中，或以其他方式包括於任何提供給您，且與本合約相關的素材中。</p>
				<p>8.2. <b>不採用或使用。</b>您同意不採用、使用或註冊任何類似於或含有任何 NETGEAR 標記之全部或部分的任何公司名稱、商標、服務商標、認證標章、商號、標語、標誌或其他稱號。在不限制前述條文的前提下，您同意在本合約之條款期間或之後，不使用「NETGEAR」或「Orbi」作為您公司名稱、商號、產品名稱或第二層網域名稱之一部分。 </p>
				<p>9. <b>機密性。</b>您瞭解本軟體是 NETGEAR 的寶貴商業秘密及機密資訊（下稱「機密資訊」）。您同意不向任何第三方提供或揭露此機密資訊，除非該第三方受到類似的保密義務約束。</p>
				<p>10. <b>擔保及免責聲明。 </b></p>
				<p>Orbi 裝置之硬體的擔保明訂於該裝置隨附的有限擔保中，該有限擔保可在 https://www.netgear.com/about/warranty 取得。</p>
				<p>10.1 本軟體可能適用強制性擔保權。  </p>
				<p>10.2 在受第 10.1 節及/或以下第 11 節所述之法律責任規範的情況下，任何 NETGEAR、其授權人、供應商、分銷商、經銷商、代理人或員工所給予之口頭或書面資訊均無法以任何方式改變或擴大本擔保的範圍；NETGEAR 不保證本軟體及服務符合被授權人、經銷商、終端使用者或其他第三方的要求，或者本軟體或及服務之運作不會中斷或沒有錯誤。NETGEAR 不對因被授權人使用、誤用、錯誤安裝、不當處理、意外或濫用軟體或服務所肇生的缺陷狀況或不合規情形提供擔保，亦不對於因將軟體及服務結合至被授權人之產品中、或被授權人無法應用 NETGEAR 供應之修改、指示、更新或修正所肇生之錯誤提供擔保。 </p>
				<p>11. <b>責任限制。</b></p> 
				<p>11.1 NETGEAR 對下列項目的法律責任無限制：</p>
				<p>(i)	因 NETGEAR、其董事或主管，或其他代理人故意或重大過失所導致的損失或損害；以及</p>
				<p>(ii)	造成死亡、人身傷害或疾病之行為所導致的損失或損害，或是承擔保證或採購風險所導致的損失或損害，或適用法律所定義的損失或損害。</p>
				<p>11.2 針對因違反重大合約義務而造成之損害，NETGEAR 對於 NETGEAR、其董事、主管或其他代理人所造成之過失（重大過失除外）的責任絕不可超過典型可預見損失的法律責任，即引起訴訟因由之軟體及服務（或者隨附軟體及服務的產品）的 NETGEAR 定價或您為上述項目所支付之金額中較低者。</p>
				<p>11.3 在受上述 11.1 及 11.2 條款規範的情況下，NETGEAR 的任何其他法律責任均予以排除。</p>
				<p>11.4 在法律責任依 11.2 條款所述受到限制的情況下，對於收益損失或任何其他間接損害，NETGEAR 概不負責。 </p>
				<p>12. <b>一般條款。</b></p>
				<p>12.1. <b> 稅金。</b>對軟體和服務，或您對其之使用，或是您履行本合約之行為可能被核課的任何稅金、關稅或費用，由您自行完全承擔。您須負責支付 NETGEAR 被核課的任何此類稅金、關稅或費用，除非該稅金、關稅或費用適用於 NETGEAR 的淨收入或薪資。</p>
				<p>12.2. <b> 您的報酬。</b>本合約中所授予之權利及授權均以您遵守本合約之條款與條件為前提。您確認並同意您履行本合約的唯一獨有報酬是本合約授予之權利及授權，而且您無權自 NETGEAR 或其供應商取得任何酬金、補償或其他報酬。 </p>
				<p>12.3. <b> 禁令性救濟。</b>您確認並同意以不符合本合約之任何條款的方式複製、揭露或使用本軟體或本合約中所提供之任何資訊、素材或服務會對 NETGEAR 造成無法恢復之傷害，對此傷害 NETGEAR 在法律上沒有適當之補救措施。因此，NETGEAR 有權在法庭上使用衡平法上的救濟，包括但不限於適用之臨時限制令、初步禁令及永久禁令。</p>
				<p>12.4. <b>無夥伴關係。</b>雙方均以獨立締約方的身分履行各自的義務。本合約不會在 NETGEAR 與您之間建立任何僱用、代理、經銷、加盟、合營、法律夥伴關係或其他類似的法律關係，也無意圖要建立此類關係。雙方均無任何權利或授權代表或使另一方受到約束，而且任何一方均不得向任何第三方表示其具有此類權利或授權。</p>
				<p>12.5. <b>無轉讓。</b>在沒有 NETGEAR 預先書面同意下（並且 NETGEAR 可自行決定撤銷該書面同意），您不得轉讓或以其他方式轉移本合約或其下之權利或義務，無論是全部或部分轉移，且無論是自願、透過合併、因法律實行或其他方式進行轉移。NETGEAR 可自行全權決定不同意，在此情況下，嘗試轉移或轉讓的動作均為無效，且將視為實質違反本合約。</p>
				<p>12.6. <b> 完全合意條款；修訂。</b>本合約為本合約標的完整、最終及唯一合約。除非您事先通知，否則不得對本合約之全部或部分進行修訂。</p>
				<p>12.7. <b> 放棄。</b>放棄行使下文中任何條款，或本合約之任何條款與條約，不得視為持續放棄或放棄行使其他項目或任何其他條款與條件，該放棄行為只適用於該放棄所針對之事項。</p>
				<p>12.8. <b>準據法及語言。</b>本合約以加洲法律為準，但不包含其法律衝突條款和美國法律。此法律選擇不得限制適用法律之條款（例如消費者保護法）所提供給您的保護，且雙方合意不會減損此類條款的效力。明確聲明聯合國國際貨物銷售合同公約 (United Nations Convention on Contracts for the International Sale of Goods) 不適用。本合約的官方文字為英文，而本合約的任何解讀或解釋均須以英文為根據。本合約或任何相關任何文件或告示若翻譯成另一種語言，將以英語版本為準，除非適用於您之法律另有規定。</p>
				<p>12.9. <b> 出口。</b>您瞭解任何軟體及 Orbi 裝置之出口或再出口均受到進出口法規規範。特別是，但不限於，軟體及 Orbi 裝置不得出口或再出口 (a) 至任何美國禁運國家/地區或 (b) 給在美國財政部 (U.S. Treasury Department) 指定制裁 (Specially Designated Nationals) 名單或美國商務部 (U.S. Department of Commerce) 拒絕交易對象清單 (Denied Person’s List) 或實體清單 (Entity List) 上的人員或實體。使用軟體及 Orbi 裝置，即表示您承諾並保證 (i) 您所在位置並非受美國政府禁運管制的國家/地區，亦非遭美國政府指定為「支持恐怖份子」的國家/地區，且 (ii) 您未名列於美國政府的任何禁止或限制人員名單。一般而言，您會嚴格遵守所有此類美國出口管制規定，並且不得將任何本軟體及 Orbi 裝置或其任何直接產品出口、再出口、轉移或轉交至受此類美國出口管制法律及法規禁止或限制之任何目的地、終端用途或終端使用者，除非美國商務部特別授權。因您違反此段規定所肇生或與之相關而使 NETGEAR 及其供應商遭受或產生的所有索賠、損失、法律責任或損害，您同意補償 NETGEAR 及其供應商、為其辯護並使其免於承擔損害。</p>
				<p>並非所有人或在所有國家/地區中均可取得服務、軟體及 Orbi 裝置。若您選擇在服務、軟體及 Orbi 裝置受到 NETGEAR 支援之國家/地區外存取服務、軟體及 Orbi 裝置，此為您自行進行的行為，而遵守您國家/地區之當地適用法律的責任，完全由您自行承擔。您瞭解並接受服務、軟體或 Orbi 裝置的部分或全部功能可能無法在此一國家/地區中運作，或可能不適合在此一國家/地區內使用。在法律所允許之範圍內，對於您在不受 NETGEAR 支援之國家/地區內存取或使用服務、軟體或 Orbi 裝置所造成之任何損害或損失，NETGEAR 概不負責。無論您在何處存取或使用網站或使用服務，您均受到這些條款所約束。</p>
				<p>12.10. <b> 可分性。</b>若管轄法院裁定本合約之任何條款在適用法律下全部或部分不合法、無效或不可執行，該條款或該條款部分中不合法、無效或不可執行的部分，在此類法院所在之司法管轄區中為無效，且此類條款或條款部分將視為已為符合適用法律進行必要程度之修改，以對雙方之意圖給予最大效力。若此類條款在該司法管轄區不合法、無效或不可執行，此狀況不影響此類條款，或本合約中任何其他條款在任何其他司法管轄區的合法性、有效性或可執行性。</p>
				<p>12.11. <b>不可抗力。</b>對於可能全部或部分、直接或間接因任何性質之任何偶發事件、延誤、故障或超出該方之合理控制的任何原因而導致本合約的履行失敗或延誤，雙方均不需承擔任何責任。此類原因包括（但不以任何方式限制上述者之一般性）火災、爆炸、地震、暴風雨、洪水或其他天氣現象、缺乏必要設施或原料、電力中斷、罷工、缺乏組件、工人聯合活動或其他人力困境、戰爭、恐怖行為、叛亂、暴動、天災或公敵行為、法律、法案、命令、出口管制法規、宣告、法令、法規、條例或政府或其他公共機關之指示，或並非因該方違反本合約而引起的合法管轄權法院裁決或判決令。</p>
				<p>12.12.	<b>通知。</b>若 NETGEAR 要求您提供電子郵件地址，您有責任向 NETGEAR 提供您最新的電子郵件地址。若您提供給 NETGEAR 的最新電子郵件地址無效，或該電子郵件地址因任何原因而無法將本條款要求/允許之任何通知送交給您，NETGEAR 發送含有該通知之電子郵件的動作仍構成有效之通知。對於您或您的網路提供者可能對電子郵件通知套用的任何自動篩選，NETGEAR 概不負責。您必須使用下列電子郵件地址通知 NETGEAR：support@NETGEAR.com </p>
				<p>12.13 <b>完全合意條款。</b>這些條款（包括以引用方式納入到本合約中的各個其他條款）構成您與 NETGEAR 之間的完全合意條款，並且取代您與 NETGEAR 之間，就本合約標的所訂立或進行的任何和所有先前合約、協商或其他通訊，無論其為口頭或書面。</p>
				<p>12.15.	<b>法律遵循。</b>您同意在使用服務、軟體及 Orbi 裝置時遵守所有適用法律。</p>
				<p>12.16.	<b>同意電子通訊。</b>使用服務、軟體及 Orbi 裝置，即表示您同意接收我們傳送的某些 Orbi 裝置、軟體及服務相關電子通訊，包括但不限於 (a) 您使用產品、軟體及服務的相關通知，包括關於使用上之違規情形的任何通知，(b) 更新，以及(c) 符合適用法律，經您同意之後，透過電子郵件寄送之 NETGEAR 產品、軟體及服務的相關促銷資訊與素材。如需更多我們如何使用您的個人資訊，以及如何變更您的偏好設定及取消訂閱促銷素材等方面的資訊，請參閱我們的隱私權政策。</p>
				<p>您同意我們以電子方式傳送給您的任何通知、協議、揭露或其他通訊滿足任何法律通訊要求。</p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>企業總部辦公室電話</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>企業總部辦公室傳真號碼</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>或者</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Ireland</b></p>
				<p><b>企業總部辦公室電話</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>企業總部辦公室傳真號碼</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>修訂版本 1，生效日期︰<b>2016 年 9 月 14 日</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
