<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
<% cfg_set("from_nowan_retry", "0") %>
</head>

<body>
<script>
var hijack_process="<% cfg_get("hijack_process") %>";
function clickRetry()
{
	document.getElementById("card-no-ethernet-cable").style.display="none";
	document.getElementById("card-searching-internet").style.display="";

	/* to fix bug22377: change the refresh time from 15 seconds to 30 seconds. wan lan conflict need time to change ip address*/
        if( hijack_process == "1" )
        {
                if( location.href.indexOf("routerlogin.com") == -1 )
                        setTimeout("getTop(window).location.href='http://routerlogin.com/BRS_retry.htm';", 30000);
                else
                        setTimeout("getTop(window).location.href='http://routerlogin.net/BRS_retry.htm';", 30000);
        }
        else
        {
                if( location.href.indexOf("routerlogin.com") == -1 )
                        setTimeout("getTop(window).location.href='http://routerlogin.com/adv_index.htm';", 30000);
                else
                        setTimeout("getTop(window).location.href='http://routerlogin.net/adv_index.htm';", 30000);
        }

	return true;
}

</script>
<div id="container">
	<div class="dialog-content">
	<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>
		<!-- No Ethernet Cable is Plugged Internet -->
		<div id="card-no-ethernet-cable" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
		    <div class="content">
			<div class="desc-title"><script>document.write(bh_orbi_nowan);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_nowan_msg1);</script></div>
			<div class="desc-text text-block-child"><script>document.write(bh_orbi_nowan_msg2);</script></div>
		    </div>
		    <div class="buttons">
			<button class="waves-effect waves-light btn button-nav" onclick="clickRetry();">
				<span><script>document.write(bh_orbi_tryagain_mark);</script></span>
			</button>
		    </div>
		</div>

		<!-- Searching for Internet -->
		<div id="card-searching-internet" class="install-card clearfix" style="display:none">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
			<img class="card-image" src="images/svg/nighthawk-front.svg">
			<div class="content">
				<div class="loader">
					<div class="preloader-wrapper small active">
						<div class="spinner-layer">
							<div class="circle-clipper left">
								<div class="circle"></div>
								</div><div class="gap-patch">
								<div class="circle"></div>
								</div><div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="desc-text"><script>document.write(bh_orbi_check_conn);</script></div>
			</div>
		</div>
	</div>
</div>
</form>
</body>

</html>
