<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>

</head>
<body bgcolor="#ffffff">
<script>
parent.ping_result = "<% hijack_apply_result("/tmp/ping_result") %>";
if(getTop(window).dsl_enable_flag == 1){
	parent.ping_ip_result = "<% hijack_apply_ip_result("/tmp/ping_ip_result") %>";
	parent.ping_gate_result = "<% hijack_apply_ip_result("/tmp/ping_gateway_result") %>";
}
var counter = parseInt("<% cfg_get("hijack_refresh_counter") %>");
parent.count = parent.count+1;
var type = "<% cfg_get("internet_type") %>";
if(getTop(window).dsl_enable_flag == 1){
	if( parent.count < 4 && (parent.ping_result == "none" || parent.ping_result == "failed"))
	{
		setTimeout("this.location.href='BRS_ping_result_ppp.html';", 15000);
	}
}else
{
	if( counter < 10 && (parent.ping_result == "none" || parent.ping_result == "failed"))
	{
		setTimeout("this.location.href='BRS_ping_result_ppp.html';", 8000);
	}
}
</script>
</body>
</html>
