<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>TÉMINOS DEL SERVICIO PARA LA APLICACIÓ Orbi, EL SOFTWARE Orbi, LOS SERVICIOS Orbi Y EL DISPOSITIVO Orbi.</p>
				<p>EN ESTOS TÉMINOS DE SERVICIO (EL "ACUERDO"), JUNTO CON LA DENOMINADA EN LO SUCESIVO POLÍICA DE PRIVACIDAD http://www.netgear.es/about/privacy-policy/, SE ESTABLECEN LOS TÉMINOS Y CONDICIONES EN VIRTUD DE LOS CUALES NETGEAR, INC. ("NETGEAR") SE COMPROMETE A PROPORCIONAR EL SOFTWARE (COMO SE DEFINE A CONTINUACIÓ), LOS SERVICIOS Y LOS RECURSOS (DISPONIBLES O ACTIVADOS MEDIANTE EL USO DEL DISPOSITIVO Orbi), Y LA APLICACIÓ Orbi (CADA UNO DE ELLOS, UN "SERVICIO", Y COLECTIVAMENTE, LOS "SERVICIOS") A LA PERSONA FÍICA O JURÍCA QUE ACEPTA ESTE CONTRATO (EL "USUARIO"). ESTE ACUERDO SE APLICARÁA NO SER QUE (I) EL USUARIO CUENTE CON UN ACUERDO DE COMPRA INDEPENDIENTE CON NETGEAR PARA LA APLICACIÓ, EL SOFTWARE O EL DISPOSITIVO Orbi, EN CUYO CASO PREVALECERÁEL ACUERDO INDEPENDIENTE; O (II) SE APLIQUEN OTROS TÉMNOS Y CONDICIONES DE NETGEAR.</p>
				<p>AL DESCARGAR, INSTALAR O USAR EL SOFTWARE DE CUALQUIER OTRO MODO, EL USUARIO ACEPTA LOS TÉMINOS Y CONDICIONES DE ESTE ACUERDO DE FORMA LEGALMENTE VINCULANTE. SI NO ACEPTA LOS TÉMINOS Y CONDICIONES DE ESTE ACUERDO, NO INTENTE DESCARGAR, INSTALAR, ACCEDER A NI UTILIZAR EL SOFTWARE DE NINGÚ MODO. </p>
				<p>SI OBTIENE EL SOFTWARE A TRAVÉ DE UN TERCERO,GARANTIZA A NETGEAR QUE CUENTA CON LA DEBIDA AUTORIZACIÓ PARA REPRESENTAR A DICHO TERCERO Y QUE ACEPTA LOS TÉMINOS Y CONDICIONES DE ESTE ACUERDO EN SU NOMBRE. AL FORMALIZAR ESTE ACUERDO COMO SE ESTABLECE A CONTINUACIÓ, SE CREA UN CONTRATO VINCULANTE ENTRE NETGEAR Y DICHO TERCERO, Y EL TÉMINO "USUARIO" UTILIZADO EN EL PRESENTE ACUERDO SE LE APLICARÁIGUALMENTE.</p>
				<P>SI EL USUARIO RESIDE EN UNA JURISDICCIÓ QUE RESTRINJA EL USO DE APLICACIONES BASADAS EN INTERNET O RESTRINJA LA CAPACIDAD DE ESTABLECER ACUERDOS COMO ESTE EN FUNCIÓ DE LA EDAD Y NO CUMPLA DICHOS REQUISITOS DE EDAD, NO PODRÁFORMALIZAR ESTE ACUERDO NI DESCARGAR, INSTALAR NI UTILIZAR EL SOFTWARE DE NETGEAR.  AL FORMALIZAR ESTE ACUERDO, EL USUARIO DECLARA EXPLÍITAMENTE QUE HA VERIFICADO EN SU JURISDICCIÓ QUE SU USO DEL SOFTWARE ESTÁPERMITIDO.</P>
				<p>1. <b>DEFINICIÓ DEL SOFTWARE.</b> Este Acuerdo regula el acceso y la utilizacióe (i) la aplicaciórbi de NETGEAR, cualquier software incrustado en el dispositivo o servicio Orbi, cualquier software de la marca NETGEAR que se utilice en cualquier producto o servicio que el Usuario le haya adquirido a NETGEAR o sus distribuidores para su uso con el dispositivo o servicio Orbi, o cualquier software para uso con el producto o servicio Orbi que NETGEAR haya puesto a su disposicióediante descarga en el sitio web de NETGEAR, en el sitio web de alguno de sus proveedores, en Google Play Store o en Apple App Store; (ii) los manuales de instalaciólas guí de usuario y demádocumentacióara dicho software suministrado por NETGEAR (en adelante, "Documentació que estérelacionados con la aplicaciórbi; y (iii) cualquier nueva versió actualizacióe dicho software y Documentacióbtenida de NETGEAR (todo lo anterior, en adelante, el "Software"). </p>
				<p>2. <b>CONCESIÓ DE LICENCIA. </b> Sujeta al cumplimiento por parte del Usuario de los Téinos y Condiciones de este Acuerdo: </p>
				<p>2.1 <b>Licencia no exclusiva. </b> NETGEAR y sus proveedores otorgan al Usuario una licencia no exclusiva para utilizar copias del Software con dispositivos Orbi y otros productos de NETGEAR. No se otorga ningúro derecho. </p>
				<p>2.2 <b>Copias. </b> El Usuario podráealizar copias del Software con fines de copia de seguridad o para utilizar los dispositivos Orbi y otros productos de NETGEAR, siempre que reproduzca todos los avisos de derechos de autor y de propiedad intelectual que aparezcan en la copia original del Software. </p>
				<p>2.3 <b>Software de terceros. </b> (a) NETGEAR podrároporcionar como parte de o en relacióon el Software (i) software de terceros sujeto a los téinos y condiciones de dichos terceros ("Téinos de licencia de terceros"); y/o (ii) software de "cóo abierto" sujeto a los téinos y condiciones de las licencias disponibles de forma púa ("Téinos de licencia de cóo abierto").</p>
				<p> (b) El Usuario acepta que (i) el software de terceros y el software de cóo abierto se rigen exclusivamente por los Téinos de licencia de terceros y los Téinos de licencia de cóo abierto aplicables; y que (ii) dichos téinos se establecen úmente entre el Usuario y el licenciante correspondiente, y se exime a NETGEAR de cualquier obligació responsabilidad relativa a dicho software de conformidad a lo expuesto en este Acuerdo, salvo que se indique lo contrario en la Secció1 de este documento. </p>
				<p>2.4	<b>Actualizaciones.  </b>Es posible que NETGEAR desarrolle de forma perióa parches, correcciones de errores, actualizaciones, nuevas versiones y otras modificaciones relativas a los Servicios, el Software y/o el dispositivo Orbi ("Actualizaciones"). <b>Al utilizar los Servicios, el Software o el dispositivo Orbi, el Usuario da su consentimiento para descargar e instalar automácamente estas Actualizaciones, que podrádescargar e instalarse de forma automáca en su dispositivo mó o dispositivo Orbi, segúrresponda, sin ningúiso adicional ni recepcióe ningúro consentimiento adicional. </b> Si no desea realizar dichas Actualizaciones, su ú recurso (i) para las Actualizaciones de la aplicacióonsiste en desactivar la funcionalidad de actualizacióutomáca en su dispositivo mó o eliminar la aplicaciórbi de NETGEAR de su dispositivo mó; o (ii) para el dispositivo Orbi y/o el Software consiste en cancelar su cuenta de Orbi y/o dejar de utilizar sus dispositivos Orbi. Si el Usuario restableciera máadelante alguna de las opciones mencionadas anteriormente (por ejemplo, activando la funcióe actualizacióutomáca en el dispositivo mó o volviendo a utilizar el dispositivo Orbi), este acepta que se reactivaráa descarga e instalacióutomácas de las Actualizaciones y que da su consentimiento para ello. En la medida en que las Actualizaciones no se instalen automácamente, el Usuario acepta que es posible que tenga que instalarlas para poder continuar utilizando y accediendo a todas las funcionalidades de los Servicios, el Software y los dispositivos Orbi. Ademá se compromete a instalar dichas actualizaciones de inmediato. </p>
				<p>3. <b>RESTRICCIONES DE USO. </b></p>
				<p>3.1 <b>Restricciones generales. </b> A menos (y úmente en la medida) que estéxpresamente permitido en virtud de la Secció, o cuando esos derechos no puedan ser excluidos en virtud de la ley aplicable, el Usuario tiene prohibido (asíomo permitir o alentar cualquier tercero): (i) copiar, duplicar ni reproducir el Software de ninguna otra forma que no sea la necesaria para realizar copias de seguridad o utilizar los Servicios, el Software o el dispositivo Orbi; (ii) distribuir, publicar en la red, sublicenciar, conceder, alquilar, prestar, ceder, transmitir ni transferir de ninguna forma el Software (ni ninguna copia ni componente) ni ningúrecho relativo a ningúrcero; (iii) eliminar, alterar o enmascarar ninguna identificacióel producto, marca comercial, derecho de autor, de confidencialidad o de propiedad intelectual, avisos ni leyendas contenidas en el Software; (iv) utilizar el Software con fines de multipropiedad ni para servicios externos informácos, ni de ninguna otra forma que no estéxpresamente permitida en el presente documento; (v) integrar el Software (ni ninguna copia o parte) en ninguno de los productos del Usuario. </p>
				<p>3.2 <b>Modificaciones e ingenieríinversa. </b> A menos (y úmente en la medida) que estéxpresamente permitido en virtud de la Secció, o cuando esos derechos no puedan ser excluidos en virtud de la ley aplicable, el Usuario tiene prohibido (asíomo permitir o alentar cualquier tercero): (i) realizar ingenieríinversa, desensamblar ni descompilar el Software ni ninguna de sus partes, ni intentar de ninguna otra forma derivar el cóo fuente; (ii) crear ninguna alteracióadaptaciómodificaciótraducciómejora ni trabajo derivado del Software ("Derivado"). </p>
				<p>3.3 <b>Cooperació</b>El Usuario cooperaráon NETGEAR y ofreceráoda la colaboracióazonable solicitada por NETGEAR para asistir a NETGEAR en la prevenció la identificacióe cualquier uso de, o acceso al Software que viole este Acuerdo. </p>
				<p>3.4 <b>Aplicaciones de alto riesgo. </b> El Software, los Servicios y los dispositivos Orbi no han sido diseñs ni incluyen garantípara su uso en aplicaciones o entornos que requieran un rendimiento a prueba de errores, como por ejemplo en instalaciones nucleares, sistemas de navegacióeronáica o de comunicaciones, control del tráco aéo, máinas de soporte vital, dispositivos de cirugíimplantados, sistemas armamentíicos u otras aplicaciones, dispositivos o sistemas en los que un fallo del Software, los Servicios o los dispositivos Orbi, o de cualquier parte de estos, podríprovocar la muerte, lesiones, o dañfícos o medioambientales graves ("Actividades de alto riesgo"). Sin perjuicio de cualquier otra disposicióe este Acuerdo, no puede utilizar o permitir que terceros utilicen el Software, los Servicios ni los dispositivos Orbi, o cualquier parte de ellos, para cualquier Actividad de alto riesgo. El Usuario asume todo el riesgo frente a tales usos y si, tanto el Usuario como cualquier tercero al que conceda permiso, utiliza el Software, los Servicios o los dispositivos Orbi, o cualquier parte de los mismos, para Actividades de alto riesgo, acepta indemnizar, defender y eximir a NETGEAR de cualquier demanda, gasto o responsabilidad que se derive de tal uso atribuible al Usuario. </p>
				<p>4. <b>TARIFAS Y ASISTENCIA TÉNICA. </b> </p>
				<p>4.1 <b>General. </b> El Usuario se compromete a pagar todas las tarifas o cargos realizados en su cuenta de acuerdo con las tarifas, cargos y condiciones de facturacióue estuvieran en vigor en el momento de su vencimiento. El uso de la tarjeta de créto designada estáujeto a su acuerdo con el proveedor de pagos y deberáeferirse a dicho acuerdo para determinar los derechos y obligaciones derivados de dicho uso, no a este Acuerdo. Al proporcionar a NETGEAR su nú de tarjeta de créto y la informacióe pago asociada, acepta que NETGEAR estáutorizado a cobrarle inmediatamente en su cuenta todos los gastos y cargos vencidos y pagaderos, y que no es necesario ningúro aviso ni consentimiento ademádel recogido en el presente documento. El Usuario se compromete a notificar de inmediato a NETGEAR de cualquier cambio en su direccióe facturació de la tarjeta de créto utilizada para este pago. NETGEAR puede, en cualquier momento, cambiar sus tarifas y médos facturación el futuro, publicáolo en su sitio web o comunicáoselo por correo electróo al Usuario. </p>
				<p>a.	<b>Impuestos. </b>  Si la compra o contratacióor parte del Usuario de cualquier Servicio o dispositivos Orbi segú acordado en este Acuerdo estásujetas al pago de Impuestos sobre las ventas en cualquier jurisdicció el Usuario no ha pagado a NETGEAR los impuestos sobre la venta aplicables, el Usuario seráesponsable de pagar dichos Impuestos sobre las ventas, asíomo las sanciones y los intereses relacionados, a la autoridad fiscal correspondiente. Para los fines de esta secciópor "Impuesto sobre las ventas" se entiende cualquier impuesto sobre las ventas o uso, o cualquier otro impuesto medido por los ingresos por ventas que NETGEAR pueda pasar a sus clientes. Este es el equivalente funcional de un impuesto sobre las ventas para el cual la jurisdiccióiscal aplicable no impone un impuesto sobre las ventas o el uso. </p>
				<p>b.	<b>Retencióe impuestos. </b> El Usuario se compromete a realizar todos los pagos de las facturas de NETGEAR sin ningúpo de retenciói reducción los impuestos. Estos impuestos sobre los pagos de tarifas a NETGEAR seráexclusiva responsabilidad del Usuario, que deberároporcionar a NETGEAR los recibos oficiales emitidos por las correspondientes autoridades fiscales o cualquier otra prueba que NETGEAR pueda solicitar razonablemente para justificar el pago de dichos impuestos. </p>
				<p>c.	<b>Discrepancias. </b> El Usuario debe informar a NETGEAR por escrito en un plazo de siete (7) dí despuéde recibir su tarjeta de créto de cualquier discrepancia en cuanto a nuestros cobros. Las discrepancias de facturacióe deberánotificar a la siguiente direccióe correo electróo: support@netgear.com</p>
				<p>4.2 <b>Asistencia téica.  NETGEAR puede detener las Actualizaciones, la asistencia, los cambios de versió las mejoras de los Servicios, el Software y/o los Dispositivos Orbi en cualquier momento y sin motivo o aviso previo. </p>
				<p>5. <b> DERECHOS DE PROPIEDAD INTELECTUAL. </b></p>
				<p>5.1 <b>Derechos sobre el Software. </b> Los derechos de propiedad intelectual de los Servicios, el Software y el dispositivo Orbi estáprotegidos por las leyes de derechos de autor de EE. UU. y otras jurisdicciones aplicables (incluidos los tratados internacionales), asíomo por otras leyes de EE. UU., extranjeras e internacionales, normativas y tratados para la proteccióe la propiedad intelectual e industrial. NETGEAR y sus licenciantes poseerátodos los derechos, tílos e intereses relativos al Software, incluidas todas las copias y partes del mismo, asíomo todos los derechos de propiedad intelectual que incluyan. NETGEAR y sus licenciantes poseen todos los derechos que no se otorguen expresamente en el presente documento. El Usuario acepta que el Software (incluidas todas las copias que se le proporcionen o que É mismo realice) se le otorga mediante licencia y no se le vende. </p>
				<p>5.2 <b>Derechos sobre Informacióe asistencia y Derivados. </b> Cualquier idea, informe de errores o comentario relativo a la sencillez de uso, asíomo cualquier otra sugerencia o comentario proporcionado por o en nombre del Usuario en relacióon los Servicios, el Software o el dispositivo Orbi ("Informacióe asistencia"), ademáde cualquier Derivado del software realizado por el Usuario (con o sin autorizacióel presente documento), en el que se incluyan los derechos de propiedad intelectual, seráropiedad exclusiva de NETGEAR o sus licenciantes. </p>
				<p>5.3 <b>Cesióe derechos. </b> El Usuario acepta de manera irrevocable ceder cualquier derecho, tílo e interéa nivel internacional sobre la Informacióe asistencia o los Derivados y todos los derechos de propiedad intelectual que comporten a NETGEAR y, si NETGEAR asío solicita, acepta proporcionar asistencia (cuyos gastos correráa cuenta de NETGEAR) a NETGEAR, en el perfeccionamiento, el registro y la aplicacióe dichos derechos. En caso de que esta cesióuede invalidada por alguna ley aplicable, el Usuario acepta de manera irrevocable otorgar a NETGEAR una licencia exclusiva, transferible, sublicenciable, ilimitada, perpetua e internacional para el uso, la copia y la utilizació comercializacióe dicha Informacióe asistencia y Derivados de cualquier forma conocida o concebida para el futuro. </p>
				<p>5.4 <b>Aspectos téicos y recopilacióe datos. </b>  El Usuario debe proporcionar y mantener, a su propio coste, todas las lías de telecomunicaciones, monitores, PC, mós, routers, dispositivos móes, proveedores de servicios de Internet ("ISP") y operadores de telefonímó ("Operadores"), etc., asíomo cualquier acceso necesario para utilizar el Software, los Servicios y el dispositivo Orbi. </p>
				<p><b>Como parte de la instalació el funcionamiento normales del Software, NETGEAR recopilaráatos para optimizar el rendimiento del Software y/o la red Orbi.  La informacióecopilada podráncluir, sin limitacióel nú de clics necesarios y el tiempo empleado en completar la configuraciólos pasos entre el inicio y la finalizacióe la configuracióla velocidad de la conexióiFi desde el proveedor de acceso a Internet, la velocidad de la conexióAN entre la red Orbi y el dispositivo mó del Usuario y el sistema operativo y el modelo del dispositivo mó que se emplee para la configuracióe la red del Usuario.  Como parte de las funciones del Software, el Usuario podráecibir notificaciones de NETGEAR cuando se produzca algúmbio en la topologíde la red Orbi, asíomo cuando se produzcan actualizaciones téicas acerca de los dispositivos y servicios de Orbi. </b> Orbi tambiépodrámplementar una funcióe actualizacióutomáca diaria de firmware y de optimizacióutomáca de la topologíde la red que implementaráste Software.  </p>
				<p>Al utilizar el Software, el Usuario acepta que NETGEAR pueda recopilar la informaciónterior. </p>
				<p>Con el paso del tiempo, es posible que NETGEAR proporcione al Usuario la oportunidad de que otros productos y servicios de terceros se comuniquen con los Servicios, el Software y los dispositivos Orbi, a travéde los Servicios ("Productos y servicios de terceros"). El Usuario puede decidir quéroductos y servicios de terceros pueden interactuar. </p>
				<p>Una vez que el Usuario déu consentimiento a un determinado Producto y servicio de terceros, acepta que NETGEAR puede intercambiar informació controlar los datos de dicho Usuario y sus Servicios, el Software y los dispositivos Orbi, incluidos sus datos personales, a fin de habilitar la conexióue se ha autorizado, de acuerdo con nuestra Políca de privacidad. Una vez que se comparta esta informacióon ese Producto y servicio de terceros, su uso se regiráor la políca de privacidad del tercero, no por la de NETGEAR. El Usuario reconoce y acepta que NETGEAR no ofrece ningúpo de garantísobre la seguridad de los Productos y servicios de terceros. En consecuencia, NETGEAR no se hace responsable del uso que haga el Usuario de cualquier Producto y servicio de terceros ni de cualquier lesiómuerte, dañ la propiedad u otros daño péidas derivados o relacionados con el uso de los Productos y servicios de terceros, a no ser que se indique lo contrario en la Secció1 que aparece a continuacióEl Usuario debe ponerse en contacto con dicho tercero en caso de que le surja cualquier duda relacionada con sus Productos y Servicios. La proteccióe datos, la privacidad y otras leyes vigentes en el lugar de residencia del Usuario pueden imponer ciertas responsabilidades sobre este y sobre su uso de los Servicios, el Software y los dispositivos Orbi. El Usuario acepta que é(y no NETGEAR) es el responsable de garantizar el cumplimiento de todas las leyes aplicables al hacer uso de los Servicios, el Software y los dispositivos Orbi. </p>
				<p>Cualquier informacióel Usuario que NETGEAR recopile durante o tras la instalacióel Software estaráujeta a nuestra Políca de privacidad, disponible para consulta en http://www.netgear.es/about/privacy-policy/.</p>
				<p>6. <b>REGISTRO Y DATOS DE LA CUENTA. </b></p>
				<p>6.1 Determinadas funcionalidades disponibles en los Servicios, el Software y los dispositivos Orbi, o a travéde estos, pueden requerir que el Usuario se registre y cree una cuenta (incluida la configuracióe un identificador de usuario y una contraseñen adelante, los "Datos de la cuenta"]). El Usuario se compromete a proporcionar informaciórecisa, completa y actualizada en el momento de registrarse ("Datos de registro"). El Usuario acepta que NETGEAR puede almacenar y utilizar los Datos de registro proporcionados con fines de mantenimiento y facturacióe su cuenta. El Usuario serál ú responsable de mantener la confidencialidad de los Datos de su cuenta y de la actividad que se produzca en ella. El Usuario se compromete a notificar de inmediato a NETGEAR de cualquier uso no autorizado que se produzca en la cuenta o con sus datos. </p>
				<p>6.2 NETGEAR ha implementado una solucióe registro integrado con un inicio de sesiónico ("Inicio de sesiónico"). El Inicio de sesiónico supone que, una vez que el Usuario cree una cuenta de NETGEAR, este podrásar su Cuenta de usuario e ID de usuario en el resto de servicios de NETGEAR, eliminando la necesidad de tener que mantener cuentas e identificadores distintos para cada servicio. El Inicio de sesiónico tambiépermite iniciar sesión servicios y cerrarla en diferentes dispositivos a la vez. </p>
				<p>6.3 El Inicio de sesiónico le ofrece al Usuario la posibilidad de conectar sus servicios con su cuenta en sitios de redes sociales de terceros, como Facebook, Twitter y Google+ con el Inicio de sesiónico a travéde una interfaz de programacióe aplicaciones (API) u otro tipo de software.  </p>
				<p>Sin limitar o suprimir las divulgaciones realizadas en la políca de privacidad de NETGEAR, al permitir que el Inicio de sesiónico se conecte a las cuentas del Usuario en sitios de terceros, este da su consentimiento para que NETGEAR acceda a la informacióe dichas cuentas, incluida la informacióe identificacióersonal. Ademá el Usuario acepta que, si accede al Inicio ú de sesió travéde su cuenta en las redes sociales o de otras cuentas de terceros, la actividad que realice con el Inicio de sesiónico puede publicarse en el sitio de dicho tercero. La utilizacióe dichos sitios de terceros es decisióel Usuario. NETGEAR recomienda al Usuario que revise las polícas de privacidad de los sitios web de terceros antes de permitir que el Inicio de sesiónico se conecte con su cuenta en dichos sitios, o comparta pánas o informacióon sus amigos a travéde los mismos. </p>

				<p>El Usuario acepta que no es el propietario de su nombre de usuario del Inicio de sesiónico. NETGEAR podráeclamar o usar su nombre de usuario del Inicio de sesiónico. </p>
				<p>6.4 El Usuario deberároteger la confidencialidad de los Datos de su cuenta y evitar el acceso no autorizado a estos por parte de terceros, evitando identificadores de usuario o contraseñfáles de averiguar, cambiando la contraseñon frecuencia y aseguráose de no revelar sus contraseñni de permitir el acceso de terceros a los datos de su cuenta o servicios. </p>
				<p>6.5 NETGEAR puede considerar cualquier instruccióecibida de un usuario o tercero que utilice los Datos de la cuenta del Usuario como proveniente de este. </p>
				<p>6.6 El Usuario se compromete a no utilizar los Datos de cuenta o servicios de cualquier otro usuario o persona que no sea ésin el permiso del Usuario o de la persona titular del servicio correspondiente. </p>
				<p>6.7 El usuario deberáotificar a NETGEAR inmediatamente despuéde darse cuenta de cualquier uso no autorizado de los Datos del registro o de los Datos de su cuenta, asíomo de cualquier otra infraccióe seguridad. </p>
				<p>6.8 El usuario puede acceder y cambiar sus Datos de registro o los Datos de su cuenta en cualquier momento accediendo al servicio NETGEAR correspondiente. </p>
				<p>7. <b>FINALIZACIÓ. </b></p>
				<p>7.1 <b>Téino del acuerdo. </b> Este Acuerdo se haráfectivo a partir de la fecha en la que el Usuario lo acepte y continuaráigente hasta que se rescinda segús téinos detallados en el presente documento. </p>
				<p>7.2 <b>Finalizació</b> Sin perjuicio de cualquier otro derecho o recurso disponible para NETGEAR, este tiene derecho a rescindir este Acuerdo con efecto inmediato si el Usuario no cumple alguno de los téinos y condiciones expuestos en é En tal caso, NETGEAR reembolsarál Usuario la parte proporcional de las tasas. El Usuario tambiépuede rescindir este Acuerdo en cualquier momento mediante la destruccióe todas las copias del Software en su posesió control. Si NETGEAR realiza una solicitud mediante un comunicado púo, un correo electróo al Usuario, una publicación un sitio web o una nota de prensa, en los que se indique la rescisióe este Acuerdo, el Acuerdo se rescindirán la fecha especificada ("Fecha de finalizació en dicho comunicado púo, correo electróo al Usuario, publicación el sitio web o nota de prensa, y el Usuario acuerda detener el uso de las copias del Software con anterioridad o en mencionada Fecha de finalizacióTras la rescisióe este Acuerdo o licencia relativa a cualquier Software por cualquier motivo, las estipulaciones de las Secciones 1, 3, 5, 6, 7.2, 8, 9, 10, 11 y 12 permaneceráde acuerdo con sus condiciones. </p>
				<p>Si le transfiere el dispositivo Orbi a un nuevo propietario, su derecho a usar los Servicios de ese dispositivo Orbi se cancelaráutomácamente. El nuevo propietario no tendráerecho a utilizar los Servicios ni el dispositivo Orbi en ninguna de las cuentas de NETGEAR del Usuario, por lo que deberáegistrarse para crear una cuenta de NETGEAR independiente. </p>
				<p>8. <b>MARCAS COMERCIALES. </b> </p>
				<p>8.1 <b>Sin licencia de marca comercial. </b> A menos que se especifique lo contrario, el Usuario acepta que este Acuerdo no le otorga ningúrecho de uso de ninguno de los nombres corporativos, marcas comerciales, marcas de servicio, marcas de certificaciónombres comerciales, eslóes, logotipos ni ningúro elemento de designacióe NETGEAR ni de ninguna de sus filiales ni empresas afiliadas (llamadas de forma colectiva "Marcas de NETGEAR"), incluso si dichas marcas aparecen en el Software o se incluyen de alguna forma en algúterial proporcionado al Usuario en relacióon este Acuerdo. </p>
				<p>8.2 <b>No adopciói uso. </b>El Usuario acepta no adoptar, utilizar ni registrar nombres corporativos, marcas comerciales, marcas de servicio, marcas de certificaciónombres comerciales, eslóes, logotipos ni ningúro elemento de designacióimilar a, o que contenga en su totalidad o en parte, Marcas de NETGEAR. Sin perjuicio de lo anterior, el Usuario acepta no utilizar "NETGEAR" u "Orbi" como parte de su nombre corporativo, nombre comercial, nombre de producto ni nombre de dominio de segundo nivel durante la duracióe este Acuerdo ni con posterioridad. </p>
				<p>9. <b>CONFIDENCIALIDAD. </b>El Usuario acepta que Software contiene secretos comerciales e informacióonfidencial valiosos de NETGEAR ("Informacióonfidencial"). El Usuario acepta no hacer disponible ni revelar esta Informacióonfidencial a ningúrcero, con excepcióe aquellos terceros que estésujetos a obligaciones de no divulgacióimilares. </p>

				<p>10. <b>GARANTÍ Y LIMITACIÓ DE RESPONSABILIDAD. </b></p>

<p>LA GARANTÍ DE HARDWARE DEL DISPOSITIVO Orbi SE ESTABLECE EN LA GARANTÍ LIMITADA QUE ACOMPAÑ AL DISPOSITIVO Y SE ENCUENTRA DISPONIBLE EN: http://www.netgear.es/about/warranty/.</p>

<p>10.1 EN RELACIÓ CON EL SOFTWARE, SE APLICAN LOS DERECHOS DE GARANTÍ OBLIGATORIOS. </p>  

<p>10.2 SIN PERJUICIO DE LO DISPUESTO EN LA SECCIÓ 10.1 Y/O LA RESPONSABILIDAD PREVISTA EN EL ARTÍULO 11, NINGUNA INFORMACIÓ ORAL O ESCRITA O CONSEJO DADO POR NETGEAR, SUS LICENCIANTE, PROVEEDORES, COMERCIALES, DISTRIBUIDORES, AGENTES O EMPLEADOS ALTERARÁDE NINGUNA MANERA EL ALCANCE DE ESTA GARANTÍ. NETGEAR NO GARANTIZA QUE EL SOFTWARE Y LOS SERVICIOS REUNA LOS REQUISITOS DEL LICENCIATARIO, LOS DISTRIBUIDORES, LOS USUARIOS FINALES O TERCEROS, O QUE EL FUNCIONAMIENTO DEL SOFTWARE Y DE LOS SERVICIOS SEA ININTERRUMPIDO O ESTÉLIBRE DE ERRORES.  NETGEAR NO OFRECE NINGUNA GARANTÍ RELATIVA A LOS DEFECTOS NI A LAS DISCONFORMIDADES RESULTANTES DEL USO, MAL USO, LA INSTALACIÓ O LA MANIPULACIÓ INCORRECTA, LOS ACCIDENTES O LOS ABUSOS DEL SOFTWARE O LOS SERVICIOS POR PARTE DEL LICENCIATARIO; TAMPOCO OFRECE NINGUNA GARANTÍ RELATIVA A LOS ERRORES RESULTANTES DE LA INCORPORACIÓ DEL SOFTWARE Y LOS SERVICIOS AL PRODUCTO DEL LICENCIATARIO, NI A LA INCAPACIDAD DE ESTE DE APLICAR LAS MODIFICACIONES, INDICACIONES, ACTUALIZACIONES O CORRECCIONES SUMINISTRADAS POR NETGEAR. </p>

<p>11. <b> LIMITACIÓ DE RESPONSABILIDAD. </b></p>

<p>11.1 LA RESPONSABILIDAD DE NETGEAR NO TENDRÁLÍITE PARA: </p><p>
(i)	LA PÉDIDA O EL DAÑ CAUSADO INTENCIONADAMENTE O POR NEGLIGENCIA GRAVE DE NETGEAR, SUS DIRECTIVOS, SUS EMPLEADOS U OTROS AGENTES INDIRECTOS; O</p><p>
(ii)	LA PÉDIDA O EL DAÑ DERIVADOS DE ACTOS QUE HAYAN CAUSADO LESIONES, ENFERMEDADES O LA MUERTE; ASÍCOMO LOS DERIVADOS DEL SUPUESTO DE UNA GARANTÍ; DE RIESGOS DE ADQUISICIÓ O DE ACTOS CONTEMPLADOS EN LA LEY APLICABLE. </p>

				<p>11.2 LA RESPONSABILIDAD DE NETGEAR POR CUALQUIER NEGLIGENCIA QUE NO SEA GRAVE CAUSADA POR NETGEAR, SUS DIRECTIVOS, SUS EMPLEADOS U OTROS AGENTES EN EL CASO DE DAÑS DERIVADOS DE LA INFRACCIÓ DE UNA OBLIGACIÓ CONTRACTUAL MATERIAL NO DEBE SUPERAR EN NINGÚ CASO A LOS DAÑS PREDECIBLES HABITUALES, LOS CUALES NO SUPERARÁ EL PRECIO MÍIMO QUE SE INDIQUE EN LA LISTA DE TARIFAS DE NETGEAR NI LA CANTIDAD ABONADA POR EL USUARIO PARA EL SOFTWARE Y LOS SERVICIOS QUE HAYAN CAUSADO LA ACCIÓ (O EL PRODUCTO CON EL QUE SE ADQUIRIÓEL SOFTWARE Y LOS SERVICIOS). </p>
				<p>11.3 SUJETO A LAS CLÁSULAS 11.1 y 11.2, SE EXCLUYE CUALQUIER OTRA RESPONSABILIDAD POR PARTE DE NETGEAR. </p>
				<p>11.4 CUANDO LA RESPONSABILIDAD ESTÉLIMITADA A LO EXPUESTO EN LA CLÁSULA 11.2, NETGEAR NO SERÁRESPONSABLE POR LA PÉDIDA DE BENEFICIOS O DE CUALQUIER OTRO DAÑ INDIRECTO. </p>
				<p>12. <b>DISPOSICIONES GENERALES. </b></p>
				<p>12.1 <b>Impuestos. </b>El Usuario es el ú responsable de los impuestos, aranceles o tarifas que se apliquen al Software y los Servicios, o su uso o rendimiento por parte del Usuario, en virtud de este Acuerdo. El Usuario serál responsable del pago de dichos impuestos, aranceles o tarifas que se apliquen a NETGEAR, excepto aquellos aplicables a los ingresos netos o las nóas de NETGEAR. </p>
				<p>12.2 <b>Consideraciones del Usuario. </b>Los derechos y licencias otorgados por el presente documento estásujetos al cumplimiento de los téinos y condiciones de este Acuerdo por parte del Usuario. El Usuario acepta que la ú contraprestacióecibida por su rendimiento en virtud de este Acuerdo son los derechos y licencias otorgados en el presente documento y que no tendráerecho a ninguna remuneracióreembolso ni ninguna otra contraprestacióor parte de NETGEAR ni de sus proveedores. </p>
				<p>12.3 <b>Medidas cautelares. </b>El Usuario acepta que la copia, divulgació uso del Software o de cualquier informaciómaterial o servicio proporcionado en virtud de este documento de forma incoherente con alguna estipulacióe este Acuerdo provocarán desagravio irreparable a NETGEAR para el que NETGEAR no dispondríde los recursos y acciones legales adecuados. Por consiguiente, NETGEAR tendráerecho, si procede, a proteccióudicial, que incluye, entre otros, ónes de alejamiento temporales, interdictos preliminares y mandatos judiciales prohibitorios. </p>
				<p>12.4 <b>No asociació</b>Las partes llevan a cabo sus respectivas obligaciones en virtud de este Acuerdo como contratistas independientes. Este Acuerdo no implica, ni estáormulado con la intencióe crear ninguna relacióaboral, agencia, empresa distribuidora, franquicia, empresa conjunta, sociedad legal ni ninguna otra relacióegal similar entre NETGEAR y el Usuario. Ninguna parte tendráingúrecho o autoridad para actuar en nombre de la otra ni de vincularla de ninguna forma; ademá ninguna parte manifestará ningúrcero que cuenta con dicho derecho o autoridad. </p>
				<p>12.5 <b>No cesió</b>El Usuario no podráeder ni transferir de ninguna otra forma los derechos ni las obligaciones establecidos por el presente documento (ni en su totalidad ni en parte, ya sea de forma voluntaria, mediante fusiópor efecto de la ley o de cualquier otra forma), sin el previo consentimiento por escrito de NETGEAR, que NETGEAR otorgará su entera discreciócualquier intento de transferencia o cesióeráulo de pleno derecho y considerado un incumplimiento de disposiciones esenciales de este Acuerdo. </p>
				<p>12.6 <b>Integridad del Acuerdo; Enmienda. </b>Este Acuerdo representa el contrato completo, final y exclusivo relativo al tema de este documento.  El presente Acuerdo no podráer modificado ni total ni parcialmente, salvo una notificaciórevia. </p>
				<p>12.7 <b>Renuncia. </b> La dispensa de cualquier incumplimiento del presente documento o de cualquier téino de este Acuerdo no se considerarána dispensa aplicable a ningúro incumplimiento ni a ningúro téino y se aplicaráxclusivamente a la instancia a la que se dirige dicha dispensa. </p>
				<p>12.8 <b>Legislacióplicable e idioma. </b>Este Acuerdo se regiráor las disposiciones de la ley del Estado de California, excluyendo sus disposiciones relativas a conflictos de leyes y las leyes de los Estados Unidos. Esta legislacióo podráimitar la protecciófrecida al Usuario por las disposiciones inderogables por acuerdo, en virtud de la ley aplicable (tales como las leyes de proteccióel consumidor). Se excluye expresamente la aplicacióe la Convencióe las Naciones Unidas sobre Contratos de compraventa internacional de bienes. El texto oficial de este Acuerdo están ingléy cualquier interpretacióe este acuerdo se basa en é En caso de que este Acuerdo o algúcumento o aviso relacionado estétraducidos a otro idioma, prevaleceráa versión ingléexcepto en los casos que la ley aplicable al Usuario estipule lo contrario. </p>
				<p>12.9 <b>Exportació</b>El Usuario reconoce que la exportació reexportacióe cualquier Software o dispositivo Orbi estáujeta a la normativa de importació exportacióEn particular, sin limitacióel Software y los dispositivos Orbi no se pueden exportar ni reexportar (a) a ningúísometido a embargo por los Estados Unidos, ni (b) a ninguna persona incluida en la lista de ciudadanos especialmente designados del Departamento de Hacienda de los EE. UU. o en la lista de personas fícas o jurícas bloqueadas del Departamento de Comercio los EE. UU. Mediante el uso del Software y los dispositivos Orbi, el Usuario garantiza que (i) no se encuentra en un paísujeto a ningúbargo gubernamental de EE. UU.; que el gobierno de EE. UU. haya declarado como "paíque apoya al terrorismo"; y que (ii) no estáncluido en la lista de partes restringidas o prohibidas de EE. UU.  Por lo general, el Usuario se someteráe forma estricta a todos los controles de EE. UU. mencionados y no exportaráreexportarátransferirái desviaráe forma directa ningúftware o dispositivo Orbi, ni producto relacionado, a ningústino, uso o usuario final que estérohibido o restringido en virtud de dichas leyes y normativas de control de EE. UU., excepto si se autoriza especícamente por el Departamento de Comercio de EE. UU. El Usuario acepta indemnizar y exonerar de responsabilidad a NETGEAR y sus proveedores en lo relativo a cualquier reclamaciópéida, responsabilidad o dañufrido o incurrido por NETGEAR y sus proveedores, resultante de o relacionado con la violacióe este páafo por parte del Usuario. </p>
				<p>Los Servicios, el Software y los dispositivos Orbi no estádisponibles para todas las personas ni en todos los país.  Si el Usuario selecciona la opcióara acceder a los Servicios, al Software o a los dispositivos Orbi desde un paío regióo admitido por NETGEAR, lo haráor iniciativa propia, por lo que serál ú responsable del cumplimiento de la legislacióocal aplicable en dicho paí El Usuario entiende y acepta que algunas o todas las funciones de los Servicios, el Software, los dispositivos Orbi podrí no funcionar o no ser adecuados para su uso en dicho paí En la medida en que lo permita la legislacióigente, NETGEAR no asume responsabilidad alguna por daño péidas causados por el Usuario al acceder o utilizar los Servicios, el Software o los dispositivos Orbi fuera de los país no admitidos por NETGEAR. El Usuario se regiráor estos Téinos dondequiera que acceda al Sitio o use los Servicios. </p>
				<p>12.10 <b>Divisibilidad. </b> Si un tribunal competente considera ilegal, nula o inaplicable alguna estipulacióe este Acuerdo, en su totalidad o en parte y en virtud de la legislacióplicable, no se aplicaráicha estipulació dicha parte en la jurisdiccióerteneciente a dicho tribunal y solo en el áito en el que sea ilegal, nula o inaplicable, y se consideraráodificada en la medida necesaria para que se ajuste a la legislacióplicable de manera que sirva a la intencióe las partes en la mayor medida posible. La ilegalidad, nulidad o inaplicabilidad de dicha estipulación dicha jurisdicción ningúso afectará su legalidad, validez y aplicabilidad ni a la de otras estipulaciones de este Acuerdo en cualquier otra jurisdicció</p>
				<p>12.11 <b>Fuerza mayor. </b>Ninguna parte seráesponsable por el fallo o el retraso en la aplicacióe este Acuerdo que pueda deberse, en su totalidad o en parte, directa o indirectamente, a alguna contingencia, retraso, fallo o causa de cualquier naturaleza que estéuera del control razonable de dicha parte. Dichas causas incluyen, sin limitar la generalidad de lo mencionado anteriormente, incendios, explosiones, terremotos, tormentas, inundaciones u otros desastres meteorolóos, la falta de las utilidades o las materias primas necesarias, cortes de suministro elérico, huelgas, cierres patronales, falta de componentes, actividades que impliquen la combinacióe trabajadores u otras dificultades operarias, guerras, actos terroristas, insurrecciones, disturbios, desastres naturales, actos de vandalismo, leyes, normas, ónes, normativas de control de exportaciódecretos de orden, ónes o instrucciones del Gobierno u otras autoridades púas, o juicios o decretos de un tribunal con jurisdiccióompetente (que no sean resultantes de la violacióe dicha parte de este Acuerdo). </p>
				<p>12.12	<b>Aviso. </b>  Allíonde NETGEAR requiera que el Usuario proporcione una direccióe correo electróo, este serál responsable de ofrecer a NETGEAR su direccióe correo electróo actualizada. En el caso de que la úa direccióe correo electróo que haya proporcionado a NETGEAR no sea váda o que, por cualquier motivo, esta no le permita recibir las notificaciones necesarias establecidas en los Téinos, el envíde dicha notificacióor correo electróo por parte de NETGEAR se consideraráfectivo. NETGEAR no se hace responsable de ningúltro automáco que el Usuario o su proveedor de red puedan aplicar a las notificaciones por correo electróo. El Usuario deberáotificar a NETGEAR en la siguiente direccióe correo electróo: support@NETGEAR.com</p>
				<p>12.13 <b>Integridad del Acuerdo. </b>  Estos Téinos (incluidas las disposiciones adicionales incorporadas a modo de referencia) constituyen la totalidad del acuerdo entre el Usuario y NETGEAR, y sustituyen a cualquier acuerdo, negociació comunicaciónteriores entre este Usuario y NETGEAR relativas a lo tratado en el presente documento, ya fueran estas orales o escritas. </p>
				<p>12.15	<b>Cumplimiento de la Ley. </b>  El Usuario se compromete a cumplir todas las leyes aplicables en su uso de los Servicios, el Software y los dispositivos Orbi. </p>
				<p>12.16	<b>Consentimiento para comunicaciones electróas. </b> Mediante el uso de los Servicios, el Software y los dispositivos Orbi, el Usuario da su consentimiento para recibir comunicaciones electróas sobre los dispositivos Orbi, el Software y los Servicios, incluidos, entre otros: (a) informaciócerca del uso de los Productos, el Software y los Servicios, incluyendo cualquier aviso sobre infracciones de uso; (b) Actualizaciones; y (c) acuerdos de conformidad con la ley aplicable, informació material promocional sobre productos de NETGEAR, el Software y los Servicios a travédel correo electróo. Para obtener máinformacióobre cóutilizamos su informacióersonal y cócambiar sus preferencias, o para cancelar la suscripcióe materiales promocionales, consulte nuestra Políca de privacidad. </p>
				<p>El Usuario acepta que todas las notificaciones, acuerdos, publicaciones y cualquier otro tipo de comunicaciones que se enví electróamente satisfacen cualquier requisito legal de comunicació</p>
				<p><b>NETGEAR, Inc.</b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San JoséCA 95134</b></p>
				<p><b>Teléno corporativo</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Fax corporativo</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>O BIEN</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork (Irlanda) </b></p>
				<p><b>Teléno corporativo</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Fax corporativo</b></p>
				<p><b>353 21 2333 299</b></p>
				<p>Revisió, efectiva a partir del: <b>14 de septiembre de 2016</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
