<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>ГЕНЕРАЛНИ УСЛОВИЯ ЗА ОБСЛУЖВАНЕ ЗА ВАШЕТО ПРИЛОЖЕНИЕ НА Orbi, СОФТУЕР НА Orbi, УСЛУГИ НА Orbi И УСТРОЙСТВО НА Orbi</p>
				<p>ТЕЗИ ГЕНЕРАЛНИ УСЛОВИЯ ЗА ОБСЛУЖВАНЕ (НАСТОЯЩОТО "СПОРАЗУМЕНИЕ"), ЗАЕДНО С ПРАВИЛАТА ЗА ПОВЕРИТЕЛНОСТ https://www.netgear.com/about/privacy-policy/ ПОСОЧЕНИ В НАСТОЯЩЕТО, ВКЛЮЧВАТ УСЛОВИЯТА И ПРАВИЛАТА, ПО КОИТО NETGEAR, INC. ("NETGEAR") СЕ СЪГЛАСЯВА ДА ПРЕДОСТАВЯ СОФТУЕРА (КАКТО Е ДЕФИНИРАН ПО-ДОЛУ) И УСЛУГИТЕ И РЕСУРСИТЕ, КОИТО СА НАЛИЧНИ ИЛИ СЕ АКТИВИРАТ ПРИ ИЗПОЛЗВАНЕ НА УСТРОЙСТВОТО НА Orbi, КАКТО И НА ПРИЛОЖЕНИЕТО НА Orbi (ВСЯКО ОТ ТЯХ НАРИЧАНО ЗА ПО-КРАТКО "УСЛУГА" И ОБЩО НАРИЧАНИ "УСЛУГИТЕ"), НА ФИЗИЧЕСКОТО ЛИЦЕ ИЛИ НА КОМПАНИЯТА, КОИТО ПРИЕМАТ НАСТОЯЩОТО СПОРАЗУМЕНИЕ ("ВИЕ"). ПРИЛАГА СЕ НАСТОЯЩОТО СПОРАЗУМЕНИЕ, ОСВЕН АКО (I) ВИЕ НЯМАТЕ ОТДЕЛНО СПОРАЗУМЕНИЕ ЗА ЗАКУПУВАНЕ С NETGEAR, ОБХВАЩАЩО ПРИЛОЖЕНИЕТО, СОФТУЕРА И УСТРОЙСТВОТО НА Orbi, И В ТАКЪВ СЛУЧАЙ ОТДЕЛНОТО СПОРАЗУМЕНИЕ ВАЖИ; ИЛИ (II) СЕ ПРИЛАГАТ ДРУГИ УСЛОВИЯ И ПРАВИЛА НА NETGEAR. </p>
				<p>ПРИ ИЗТЕГЛЯНЕ, ИНСТАЛИРАНЕ И/ИЛИ ДРУГО ИЗПОЛЗВАНЕ НА СОФТУЕРА, ВИЕ ПРИЕМАТЕ УСЛОВИЯТА И ПРАВИЛАТА НА НАСТОЯЩОТО СПОРАЗУМЕНИЕ ПО ЗАКОНООБВЪРЗВАЩ НАЧИН. АКО НЕ СТЕ СЪГЛАСНИ С УСЛОВИЯТА И ПРАВИЛАТА НА ТОВА СПОРАЗУМЕНИЕ, НЕ СЕ ОПИТВАЙТЕ ДА ИЗТЕГЛИТЕ, ИНСТАЛИРАТЕ, ПОЛУЧИТЕ ДОСТЪП ИЛИ ПО ДРУГ НАЧИН ДА ИЗПОЛЗВАТЕ СОФТУЕРА. </p>
				<p>АКО ПОЛУЧАВАТЕ СОФТУЕРА ОТ ИМЕТО НА ТРЕТИ ЛИЦА, ТРЯБВА ДА ПРЕДСТАВИТЕ ДОКАЗАТЕЛСТВА ПРЕД NETGEAR, ЧЕ СТЕ ПЪЛНОЦЕННО УПЪЛНОМОЩЕН ДА ПРЕДСТАВЛЯВАТЕ ТЕЗИ ТРЕТИ ЛИЦА И ДА ПРИЕМАТЕ УСЛОВИЯТА И ПРАВИЛАТА НА ТОВА СПОРАЗУМЕНИЕ ОТ ТЯХНО ИМЕ. ПРИ ИЗПЪЛНЯВАНЕ НА ТОВА СПОРАЗУМЕНИЕ, КАКТО Е ЗАДАДЕНО ПО-ДОЛУ, СЕ ОБРАЗУВА ОБВЪРЗВАЩ ДОГОВОР МЕЖДУ NETGEAR И ТРЕТОТО ЛИЦЕ И НАИМЕНОВАНИЕТО "ВИЕ", КОЕТО СЕ ИЗПОЛЗВА В НАСТОЯЩОТО СПОРАЗУМЕНИЕ, ЩЕ ОЗНАЧАВА ТРЕТОТО ЛИЦЕ. </p>
				<p>АКО ЖИВЕЕТЕ НА МЯСТО, ЗА КОЕТО ЮРИСДИКЦИЯТА ОГРАНИЧАВА ИЗПОЛЗВАНЕТО НА ИНТЕРНЕТ-БАЗИРАНИ ПРИЛОЖЕНИЯ, В ЗАВИСИМОСТ ОТ ВЪЗРАСТТА НА ПОТРЕБИТЕЛЯ, ИЛИ КОЯТО ОГРАНИЧАВА ВЪЗМОЖНОСТТА ЗА ВЛИЗАНЕ В СПОРАЗУМЕНИЯ КАТО ТОВА В ЗАВИСИМОСТ ОТ ВЪЗРАСТТА, И ВИЕ СТЕ ПОД ТАКОВА ОГРАНИЧЕНИЕ ЗА ЮРИСДИКЦИЯ И ВЪЗРАСТ, ТОГАВА НЕ МОЖЕТЕ ДА ВЛЕЗЕТЕ В НАСТОЯЩОТО СПОРАЗУМЕНИЕ И ДА ИЗТЕГЛИТЕ, ИНСТАЛИРАТЕ ИЛИ УПОТРЕБЯВАТЕ СОФТУЕРА НА NETGEAR.  ПРИ ВЛИЗАНЕ В НАСТОЯЩОТО СПОРАЗУМЕНИЕ ВИЕ ИЗРИЧНО ДЕКЛАРИРАТЕ, ЧЕ СТЕ ПРОВЕРИЛИ В РАМКИТЕ НА ВАШАТА ЮРИСДИКЦИЯ, ДАЛИ Е РАЗРЕШЕНА УПОТРЕБАТА НА СОФТУЕРА. </p>
				<p>1. <b>ДЕФИНИЦИЯ НА СОФТУЕРА. </b>Настоящото Споразумение урежда достъпа и използването на (i) Приложението Orbi на NETGEAR, всеки софтуер, който е вграден в устройството, или услугата Orbi, софтуер с марка NETGEAR за употреба при всеки продукт или услуга, които сте закупили от NETGEAR или неговите дистрибутори, за използване с продукта или услугата Orbi, или софтуер за използване с устройството или услугата Orbi, които NETGEAR е предоставил за изтегляне на уебсайта на NETGEAR, уебсайта на доставчиците на NETGEAR, на уебсайта на магазина на Google Play, или магазина на Apple App Store; (ii) всички ръководства за инсталиране, ръководства за потребителя или друга документация за такъв софтуер, предоставен от NETGEAR (общо наричани "Документация"), свързана с приложението Orbi App; и (iii) всички нови надстройки или актуализации на такъв софтуер и Документация, получена от NETGEAR (всички изброени по-горе, общо наричани "Софтуерът"). </p>
				<p>2. <b>ОТПУСКАНЕ НА ЛИЦЕНЗ. </b> При спазване от Ваша страна на правилата и условията на настоящото Споразумение: </p>
				<p>2.1 <b>Неизключителен лиценз. </b> NETGEAR и неговите доставчици Ви предоставят неизключителен лиценз за използване на копия на Софтуера за употреба с устройства на Orbi и други продукти на NETGEAR. Не се предоставят никакви други права. </p>
				<p>2.2 <b>Копия. </b>Можете да правите копия на Софтуера с цел архивиране или доколкото това е необходимо за използване на устройства на Orbi и други продукти на NETGEAR, при условие, че възпроизвеждате всички авторски права и други декларации за собственост, които се намират на оригиналното копие на Софтуера. </p>
				<p>2.3 <b>Софтуер на трети лица. </b> (а) NETGEAR може да предостави като част от или във връзка със Софтуера (i) софтуер на трети лица, представляващ обект на отделни условия на лиценз на трети лица ("Лицензионни условия на трети лица"); и/или (ii) софтуер "с отворен код", който е обект на правилата и условията на обществено достъпни лицензи ("Лицензионни условия при отворен код").</p>
				<p> (б) Вие приемате и се съгласявате, че (i) този софтуер на трети лица или софтуер с отворен код се регулира изцяло от приложимите Лицензионни условия на трети лица и Лицензионни условия при отворен код; и (ii) тези условия се прилагат единствено между Вас и съответния лицензодател и NETGEAR няма задължение или отговорност във връзка с подобен софтуер по това Споразумение, освен ако раздел 11 по-долу не предвижда друго. </p>
				<p>2.4 <b>Актуализации. </b>  NETGEAR може от време на време да разработва корекции, поправки на грешки, актуализации, надстройки и други модификации на производителността на Услугите, Софтуера, и/или на Устройствата на Orbi ("Актуализации"). <b>При използване на Услугите, Софтуера или Устройството на Orbi, чрез настоящото споразумение Вие давате съгласие за автоматично изтегляне и инсталиране на тези Актуализации, които могат да бъдат автоматично изтеглени и инсталирани на Вашето мобилно устройство и на устройствата на Orbi, както е приложимо, без да е необходимо предоставяне на допълнително известие или получаване на допълнително съгласие. </b>Ако не желаете подобни Актуализации, единственото Ви средство (I) да предотвратите актуализирането на приложението е да изключите функцията за автоматична актуализация от настройките на мобилното устройство или да премахнете приложението на NETGEAR или Orbi от мобилното устройство или (II) за Устройството и/или Софтуера на Orbi е да прекратите Вашия акаунт в Orbi и/или да спрете използването на устройствата на Orbi. Ако по-късно отмените някое от гореизброените действия (например чрез включване на функцията за автоматична актуализация на мобилното устройство или чрез рестартиране на употребата на устройствата на Orbi), тогава разбирате, че автоматичното изтегляне и инсталиране на Актуализации ще започне отново и Вие приемате тези автоматични Актуализации. В случаите, в които Актуализациите не се инсталират автоматично, Вие приемате, че е възможно от Вас да се изисква инсталирането им, за да можете да продължите да използвате или да имате достъп до пълната функционалност на Услугите, Софтуера и Устройствата на Orbi и приемате да инсталирате незабавно тези Актуализации. </p>
				<p>3. <b>ОГРАНИЧЕНИЯ НА УПОТРЕБАТА. </b></p>
				<p>3.1 <b>Общи ограничения. </b> Освен ако не е (и единствено до степен) изрично разрешено съгласно Раздел 2, или когато тези права не могат да бъдат изключени съгласно приложимото законодателство, Вие не може (и не може да разрешите или да окуражите трета страна) да: (I) копирате или възпроизвеждате под друга форма Софтуера по какъвто и да е начин, различен от този с цел архивиране или използване на Вашите Услуги, Софтуер или устройство Orbi; (II) разпространявате, предлагате, преотстъпвате, отдавате под наем или аренда, заемате, възлагате, предавате или по друг начин прехвърляте Софтуера (или каквото и да е копие или негов компонент) или каквито и да било права върху него на трети лица; (III) премахвате, променяте или прикривате всяка идентификация на продукта, търговска марка, авторско право, конфиденциалност, декларации за собственост, други известия или легенди, съдържащи се в Софтуера; (IV) използвате Софтуера за съвместно ползване или за предлагане на услуги или по начин, който не е изрично разрешен от настоящото споразумение; или (V) включвате Софтуера (или каквото и да е копие или негов част) към каквито и да е Ваши продукти. </p>
				<p>3.2 <b>Модификация и реконструиране. </b> Освен ако не е (и единствено до степен) изрично разрешено съгласно Раздел 2, или когато тези права не могат да бъдат изключени съгласно приложимото законодателство, Вие не може (и не може да разрешите или да окуражите трета страна) да: (I) реконструирате, разглобявате или декомпилирате Софтуера или всяка негова част, или по друг начин се опитвате да получите кода за достъп; или (II) правите всякаква промяна, адаптация, модификация, транслация, подобрение или производна разработка на Софтуера ("Производна разработка"). </p>
				<p>3.3 <b>Коопериране. </b>Вие ще сътрудничите на NETGEAR и ще оказвате всякаква разумна подкрепа, поискана от NETGEAR, за да помогнете на NETGEAR в предотвратяването и откриването на всяко използване на Софтуера или достъп до него, които са в нарушение на настоящото Споразумение. </p>
				<p>3.4. <b>Високорискови приложения. </b> Софтуерът, Услугите и Устройствата на Orbi не са проектирани или предвидени за използване с приложения или в среди, изискващи безотказно работа, както например при експлоатацията на ядрени съоръжения, самолетни навигации или комуникационни системи, контрол на въздушния трафик, животоподдържащи машини, хирургически имплантирани устройства, оръжейни системи или други приложения, устройства или системи, при които неизпълнението на Софтуера, Услугите и устройствата на Orbi, или на техните части, може да доведе пряко до смърт, телесна повреда или тежки физически щети или вреда на околната среда ("Високорискови приложения"). Независимо от всяка друга разпоредба на настоящото Споразумение, Вие не можете да използвате или да позволявате на трети лица да използват Софтуера, Услугите и устройствата на Orbi, или която и да е част от тях, във връзка с което и да е високорисково приложение. Вие поемате всички рискове от подобна употреба, и ако Вие или трето лице, на което сте разрешили, използвате Софтуера, Услугите и Устройствата на Orbi, или която и да е част от тях, във връзка с високорискови приложения, Вие се съгласявате да обезщетите, предпазите и се погрижите NETGEAR да не пострада от всички претенции, разходи и отговорности, произтичащи в резултат на такава употреба, дължаща се на Вас. </p>
				<p>4. <b>ТАКСИ И ПОДДРЪЖКА. </b></p>
				<p>4.1 <b>Общи положения. </b>  Вие се съгласявате да платите всички такси и наложени плащания от Вашия акаунт в съответствие с таксите, комисионите и условията за таксуване в сила към момента, в който таксата или наложеното плащане са дължими и платими. Споразумението с Вашия доставчик на разплащателни услуги урежда Вашето ползване на определената кредитна карта и Вие трябва да се позовете на това споразумение, а не на настоящето Споразумение, за да определите Вашите права и задължения във връзка с ползването на Вашата кредитна карта. При предоставянето на NETGEAR на номера на Вашата кредитна карта и свързаната с нея информация за плащане, Вие се съгласявате, че NETGEAR е оторизиран да задължи незабавно Вашата сметка за всички такси и плащания, дължими и платими на NETGEAR според настоящото Споразумение и че не се изисква допълнително известие или съгласие. Вие се съгласявате да уведомите незабавно NETGEAR за всяка промяна на Вашия адрес на фактуриране или кредитната Ви карта, съгласно настоящото споразумение. NETGEAR може по всяко време да променя своите цени и методи на плащане за бъдещи периоди, чрез публикуване на уебсайт или чрез изпращане на имейл до Вас. </p>
				<p>a.	<b>Данъци. </b> Ако закупуването от Ваша страна на което и да е Устройство или Услуга на Orbi, или заплащането за всяко Устройство или Услуга на Orbi, съгласно настоящето Споразумение са обект на облагане с данък върху продажбите и Вие не сте превели полагащия се данък за продажбите на NETGEAR, тогава ще бъдете отговорни за плащането на този данък върху продажбите и за всички свързани с него глоби или лихви към съответния данъчен орган. За целите на този раздел "Данък върху продажбите" ще означава всеки данък върху продажбата или употребата, както и всеки друг данък, измерван върху прихода от продажбата, който NETGEAR е позволено да прехвърли на клиентите си, и който е функционален еквивалент на данък върху продажбите там, където приложимото данъчно законодателство спрямо юрисдикцията не налага друг подобен данък върху продажбите или употребата. </p>
				<p>б.	<b>Данъци, удържани при източника. </b>  Вие се съгласявате да извършите всички плащания на такси на NETGEAR, свободно и ясно, и без редукция за който и да е данък, удържан при източника. Всички подобни данъци, наложени върху плащания на такси на NETGEAR, ще бъдат Ваша изключителна отговорност и Вие ще предоставите на NETGEAR официалните разписки, издадени от съответните данъчни власти, или други подобни доказателства, които ние с основание можем да поискаме, за да се установи, че тези данъци са били платени. </p>
				<p>в.	<b>Оспорване. </b> Моля, уведомете NETGEAR, в писмена форма, в срок от седем (7) дни след получаване на извлечението по Вашата кредитна карта, ако оспорвате някои от направените от нас удръжки по това извлечение. Оспорвания на плащания ще трябва да се изпращат на следния електронен адрес: support@NETGEAR.com</p>
				<p>4.2 <b>Поддръжка. </b>  NETGEAR може да спре Актуализациите, поддръжката, надстройките или подобренията на Услугите, Софтуера и/или Устройствата на Orbi по всяко време и без причина или предупреждение. </p>
				<p>5. <b>ИНТЕЛЕКТУАЛНИ ПРАВА И ПРАВА НА СОБСТВЕНОСТ. </b></p>
				<p>5.1 <b>Права върху Софтуера. </b> Правата на интелектуална собственост върху Услугите, Софтуера и Устройството на Orbi са защитени от Закона за авторски права на САЩ и от други приложими законови норми (включително международни договори), както и други закони на САЩ, чуждестранни и международни закони, разпоредби и договори за защита на интелектуалната, патентната и индустриална собственост. NETGEAR и неговите лицензодатели притежават и запазват единствени и изключителни права, собственост и интереси върху Софтуера, включително върху всички копия и части от тях, както и всички произлизащи от тях права на интелектуалната собственост. NETGEAR и неговите лицензодатели си запазват всички права, които не са специално упоменати тук. Вие потвърждавате и приемате, че Софтуерът (включително всички копия, предоставени на Вас или направени от или за Вас) е отдаден под лиценз и не Ви е продаден. </p>
				<p>5.2 <b>Права върху помощна информация и производни. </b>Всякакви идеи, доклади за грешки, обратна връзка по отношение на използваемостта, както и всякакви други предложения и обратна връзка, предоставени от Вас или от Ваше име по отношение на Услугите, Софтуера или Устройството на Orbi ("Помощна информация"), както и всички производни на софтуера, направени от или за Вас (независимо дали е разрешено от настоящото споразумение), включително всякаква интелектуална собственост производна и придружаваща софтуера, трябва да бъдат единствена и изключителна собственост на NETGEAR или носителите на неговия лиценз. </p>
				<p>5.3 <b>Предоставяне на права. </b>Вие неотменно приемате да предоставите, и с настоящето предоставяте, всички права, собственост и интереси за целия свят върху помощна информация или производни и всички права върху интелектуалната собственост на NETGEAR, и ако бъде поискано от NETGEAR, приемате да помогнете на NETGEAR, за сметка на NETGEAR, в усъвършенстване, записване и прилагане на такива права. До степента, при която такова предоставяне е невалидно съгласно приложимото законодателство, Вие неотменно приемате да предоставяте, и с настоящото споразумение предоставяте, на NETGEAR изключителен, прехвърляем, с възможност за преотдаване, неограничен, световен лиценз за използване, копиране и използване или търговска експлоатация по всякакъв друг начин на подобна помощна информация и производни по всякакъв начин, познат или измислен в бъдеще. </p>
				<p>5.4 <b>Събиране на данни и техническа информация. </b> Трябва да подсигурите и поддържате, на Ваши разноски, всички телекомуникационни линии, монитор, компютър, модем, рутери, мобилни устройства, Ваш доставчик на интернет услуги ("ISP") и Ваш носител на мобилно устройство ("Носител"), и т.н., и всеки достъп, необходим за използването на Софтуера, Услугите и устройствата на Orbi. </p>
				<p><b>Като част от нормалната инсталация и функциониране на Софтуера, NETGEAR ще събира данни за оптимизиране на Софтуера и/или производителността на мрежата на Orbi.  Събраната информация може да включва, без ограничение, броя на щракванията и прекараното време, необходими за завършване на инсталацията, пътеката от началото до края на инсталацията, скоростта на безжичната свързаност (WiFi), предоставена от доставчика на интернет, скоростта LAN между мрежата на Orbi и Вашето мобилно устройство, и операционната система и модел на мобилното Ви устройство, използвано за създаване на Вашата мрежа.  Като част от функциите на Софтуера може да получите уведомления, изпратени от NETGEAR, когато има промяна в топологията на мрежата на Orbi, както и в случаи на технически актуализации за устройството и услугите на Orbi, изпратени от NETGEAR. </b> Orbi може също така да приложи ежедневна автоматична актуализация на фърмуера и автоматична функция за оптимизация на мрежовата топология, която този Софтуер ще изпълнява.  </p>
				<p>С употребата на Софтуера Вие приемате, че NETGEAR може да събира горепосочената информация. </p>
				<p>С течение на времето, NETGEAR може да Ви предостави възможността да свързвате Устройствата, Софтуера и Услугите на Orbi с продукти или услуги на една или повече трети страни, чрез ползване на Услугите ("Продукти и услуги на трети страни"). Вие решавате дали и с кои продукти и услуги на трети страни искате да се свържете. </p>
				<p>След като сте дали съгласието си за връзка с определен продукт или услуга на трета страна, Вие приемате, че NETGEAR може да обменя информация и да контролира данни по отношение на Вас и Вашите Услуги, Софтуер и Устройства на Orbi, включително лична информация, с цел да се разреши интерфейсът, който сте оторизирали, в съответствие с нашите Правила за поверителност. След като вече информацията е споделена с продуктите и услугите на конкретна трета страна, нейното използване ще се ръководи от правилата за поверителност на третата страна, а не от политика на поверителност на NETGEAR. Вие потвърждавате и се съгласявате, че NETGEAR не представлява и не дава гаранция за безопасността от името на всяка трета страна за нейните продукти или услуги. Съответно, NETGEAR не носи отговорност за използването от Ваша страна на продуктите или услугите на трета страна или за всяка телесна повреда, смърт, материални щети или други вреди или загуби, произтичащи или свързани с ползването от Ваша страна на продуктите или услугите на трета страна, освен ако не е предвидено друго в раздел 11 по-долу. Вие трябва да се свържете с третата страна с въпроси относно нейните продукти и услуги. Законите за защита на личните данни, за поверителност и други закони в страната, в която живеете, могат да наложат определени отговорности върху Вас и върху Вашето ползване на устройствата, софтуера и услугите на Orbi. Вие се съгласявате, че Вие (а не NETGEAR) носите отговорността за това да се съобразявате с всеки и всички приложими закони, когато използвате Устройствата, Софтуера и Услугите на Orbi. </p>
				<p>Всяка част от личната Ви информация, събрана от NETGEAR по време и след инсталирането на Софтуера, е предмет на нашите Правила за поверителност, които можете да видите на адрес http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b>РЕГИСТРАЦИЯ И ДАННИ НА АКАУНТА. </b></p>
				<p>6.1. Някои функции, предлагани от или чрез Устройствата, Софтуера и Услугите на Orbi, могат да изискват от Вас да се регистрирате и да откриете акаунт (включително създаване на потребителско име и парола "Данни на акаунта"). Вие се съгласявате да предоставите точна, пълна и актуална информация, когато се регистрирате ("Данни на регистрация"). Вие се съгласявате, че NETGEAR може да съхранява и използва данните за регистрация, които Вие предоставяте, за използването им при поддържане и таксуване на Вашия акаунт. Вие изцяло носите отговорност за поддържането на конфиденциалността на данните от Вашия акаунт, както и за дейността, която се проявява във Вашия акаунт. Вие се съгласявате да уведомите незабавно NETGEAR за всяко неоторизирано използване на Вашия акаунт или на данните на Вашия акаунт. </p>
				<p>6.2. NETGEAR има внедрено решение за интегрирана регистрация с помощта на процес на еднократна идентификация ("SingleSignOn"). SingleSignOn означава, че след като веднъж сте открили акаунт при NETGEAR, Вие може да ползвате Вашия потребителски акаунт и ИД на потребител за други услуги на NETGEAR, което елиминира необходимостта да поддържате отделен потребителски акаунт и ИД на потребител за всяка отделна услуга. SingleSignOn може също да Ви позволява да влизате и да излизате от различни услуги и посредством различни устройства едновременно. </p>
				<p>6.3 SingleSignOn може да Ви предостави възможността да свържете Вашите услуги с Вашия акаунт от сайтове за социални медии на трети лица, като Facebook, Twitter и Google + със SingleSignOn чрез приложен програмен интерфейс (API) или друг софтуер.  </p>
				<p>Без да се ограничават или анулират декларациите, направени в Правилата за поверителност на NETGEAR, като се позволява на SingleSignOn да се свързва с Вашите акаунти на сайтовете на трети лица, Вие се съгласявате с нашия достъп до информацията в тези акаунти, която информация може да включва лична идентификационна информация. Освен това, разбирате, че чрез достъп до SingleSignOn през Вашите социални медии или други акаунти на трети лица, дейността в която се включвате през SingleSignOn, може да бъде публикувана на сайта на третата страна. Ваш избор е дали да използвате такива сайтове на трети страни. Ние препоръчваме да прегледате правилата за поверителност на всеки интернет сайт на трета страна, преди да позволите на SingleSignOn да се свърже с Вашите акаунти в сайтовете на тези трети страни или да споделя страници или информация с Ваши приятели чрез тези сайтове. </p>
				<p>Вие се съгласявате, че не притежавате потребителското си име на SingleSignOn. NETGEAR може да изиска обратно или да използва Вашето потребителско име на SingleSignOn. </p>
				<p>6.4. Ще запазите данните от Вашия профил в безопасност и сигурни и ще предотвратите неоторизиран достъп до данните от Вашия акаунт от трети страни, по-специално чрез избягване на очевидни потребителски имена и пароли, чрез промяна на паролата Ви редовно и като подсигурите, че не разкривате Вашата парола(и) и не предоставяте достъп на друг потребител или на трети страни до Вашите данни или услуги от профила. </p>
				<p>6.5. NETGEAR може да приеме всякакви инструкции като направени от Вас, ако те са получени или издадени от потребител или трети лица, ползващи или предоставящи данни от Вашия акаунт. </p>
				<p>6.6. Вие се съгласявате да не използвате никакви данни или услуги от профила на друг потребител или човек, различен от Вас, без разрешение на потребителя или лицето, притежаващо съответната услуга. </p>
				<p>6.7. Вие ще уведомите NETGEAR незабавно след узнаването за всяко неоторизирано използване на регистрационни данни от Вашия акаунт или всяко друго нарушаване на сигурността. </p>
				<p>6.8. Можете да получите достъп и да промените Вашите регистрационни данни или данни на Вашия акаунт по всяко време посредством достъп до съответната услуга на NETGEAR. </p>
				<p>7. <b>ПРЕКРАТЯВАНЕ. </b></p>
				<p>7.1 <b>Срок на Споразумението. </b> Настоящото Споразумение влиза в сила от датата, на която Вие приемате настоящото Споразумение и ще е валидно за неопределен срок до прекратяването му, както е посочено в настоящето. </p>
				<p>7.2 <b>Прекратяване. </b>Без да се засягат други права или средствата за правна защита на NETGEAR, NETGEAR има право да прекрати настоящето Споразумение, като Ви уведоми незабавно, в случай на неспазване от Ваша страна на срок или условие от настоящето Споразумение. В такъв случай, NETGEAR ще Ви възстанови съответните пропорционално разпределени такси. Вие също можете да прекратите настоящото Споразумение по всяко време, като унищожите всички копия на Софтуера, които притежавате или контролирате. Ако NETGEAR направи искане чрез публично съобщение, имейл, поместване на уебсайт или съобщение в пресата, че прекратява настоящото Споразумение, тогава Споразумението ще бъде прекратено на определената дата ("Дата на прекратяване") в публичното съобщение, имейла, публикацията на уебсайт или съобщението в пресата и Вие се съгласявате да спрете използването на копията на Софтуера на зададената дата или преди това. След прекратяване на настоящото Споразумение или лиценза по отношение на който и да е софтуер за каквато и да е причина, разпоредбите от Раздел 1, 3, 5, 6, 7.2, 8, 9, 10, 11 и 12 ще продължат да важат съответствие с техните условия. </p>
				<p>Ако прехвърлите устройството на Orbi на нов собственик, правото Ви да използвате услугите, по отношение на това устройство на Orbi автоматично се прекратява, а новият собственик няма да има право да използва устройството или услугите на Orbi под който и да е Ваш акаунт на NETGEAR и ще трябва да се регистрира за самостоятелен акаунт с NETGEAR. </p>
				<p>8. <b>ТЪРГОВСКИ МАРКИ. </b></p>
				<p>8.1 <b>Без лиценз за търговски марки. </b>Освен изрично упоменатото тук, Вие се съгласявате, че настоящото споразумение не Ви дава никакви права да използвате никое от корпоративните имена, търговските марки, марките за услуги, търговските имена на сертификатните марки, слоганите, логата или друго обозначение на NETGEAR или някое от дъщерните му дружества или филиали (общо назовавани "Марки на NETGEAR"), дори ако тези марки се намират в Софтуера или са включени по друг начин в материалите, предоставени Ви във връзка с настоящото Споразумение. </p>
				<p>8.2 <b>Без право на приемане или ползване. </b>Вие се съгласявате да не приемате, ползвате или регистрирате никое фирмено наименование, търговска марка, марка за услуги, сертификатна марка, търговско име, слоган, лого или друго обозначение, подобно или съставно, изцяло или частично, на друга марка на NETGEAR. Без да се ограничава гореизложеното, Вие се съгласявате да не използвате "NETGEAR" или "Orbi" като част от Вашето фирмено наименование, търговско име, имена на продукти или имена на домейн от второ ниво, по време на срока на настоящото Споразумение или след това. </p>
				<p>9. <b>КОНФИДЕНЦИАЛНОСТ. </b> Вие приемате, че Софтуерът носи ценни търговски тайни и поверителна информация на NETGEAR ("Поверителна информация"). Вие се съгласявате да не предоставяте или разкривате тази поверителна информация на трети лица, с изключение на тези, които са обвързани с подобни задължения за неразгласяване. </p>
				<p>10. <b>ГАРАНЦИЯ И ОСВОБОЖДАВАНЕ ОТ ОТГОВОРНОСТ. </b></p>
				<p>ГАРАНЦИЯТА ЗА ХАРДУЕРА НА УСТРОЙСТВОТО НА Orbi Е ВКЛЮЧЕНА В ОГРАНИЧЕНАТА ГАРАНЦИЯ, КОЯТО ПРИДРУЖАВА УСТРОЙСТВОТО И Е НА РАЗПОЛОЖЕНИЕ НА АДРЕС https://www.netgear.com/about/warranty. </p>
				<p>10.1 ПО ОТНОШЕНИЕ НА СОФТУЕРА МОЖЕ ДА СЕ ПРИЛАГАТ ЗАДЪЛЖИТЕЛНИТЕ ПРАВА ПО ГАРАНЦИЯТА.  </p>
				<p>10.2 СЪГЛАСНО РАЗДЕЛ 10.1 И/ИЛИ ОТГОВОРНОСТТА, ПРЕДВИДЕНА В РАЗДЕЛ 11 ПО-ДОЛУ, УСТНА ИЛИ ПИСМЕНА ИНФОРМАЦИЯ ИЛИ СЪВЕТ, ПРЕДОСТАВЕНИ ОТ NETGEAR, НЕГОВИТЕ ЛИЦЕНЗОДАТЕЛИ, ДОСТАВЧИЦИ, ДИЛЪРИ, ДИСТРИБУТОРИ, АГЕНТИ ИЛИ СЛУЖИТЕЛИ, НЯМА ПО НИКАКЪВ НАЧИН ДА ПРОМЕНИ ИЛИ УВЕЛИЧИ ОБХВАТА НА ТАЗИ ГАРАНЦИЯ; NETGEAR НЕ ГАРАНТИРА, ЧЕ СОФТУЕРЪТ И УСЛУГИТЕ ЩЕ ОТГОВАРЯТ НА ИЗИСКВАНИЯТА НА ЛИЦЕНЗОПОЛУЧАТЕЛИТЕ, ДИСТРИБУТОРИТЕ, КРАЙНИТЕ ПОТРЕБИТЕЛИ ИЛИ ДРУГИ ТРЕТИ СТРАНИ, ИЛИ ЧЕ РАБОТАТА НА СОФТУЕРА И УСЛУГИТЕ ЩЕ БЪДЕ НЕПРЕКЪСНАТА ИЛИ БЕЗ ГРЕШКИ.  NETGEAR НЕ ДАВА ГАРАНЦИЯ ПО ОТНОШЕНИЕ НА ДЕФЕКТНОСТ ИЛИ НЕСЪОТВЕТСТВИЕ, ПРОИЗТИЧАЩИ ОТ ПОЛЗВАНЕ ОТ СТРАНА НА ЛИЦЕНЗОПОЛУЧАТЕЛЯ, НЕПРАВИЛНА УПОТРЕБА, ПОГРЕШНА ИНСТАЛАЦИЯ, ИНЦИДЕНТ ИЛИ ЗЛОУПОТРЕБА СЪС СОФТУЕРА ИЛИ УСЛУГИТЕ, ИЛИ ГРЕШКИ В РЕЗУЛТАТ НА ВКЛЮЧВАНЕ НА СОФТУЕРА ИЛИ УСЛУГИТЕ КЪМ ПРОДУКТ НА ЛИЦЕНЗОПОЛУЧАТЕЛЯ, ИЛИ НЕУСПЕШНО ПРИЛАГАНЕ ОТ ЛИЦЕНЗОПОЛУЧАТЕЛЯ НА ДОСТАВЕНИТЕ ОТ NETGEAR МОДИФИКАЦИИ, НАСОКИ, АКТУАЛИЗАЦИИ ИЛИ КОРЕКЦИИ. </p>
				<p>11. <b>ОГРАНИЧАВАНЕ НА ОТГОВОРНОСТТА. </b></p>
				<p>11.1 ОТГОВОРНОСТТА НА NETGEAR Е НЕОГРАНИЧЕНА ПО ОТНОШЕНИЕ НА: </p>
				<p>(i)	ЗАГУБИ ИЛИ ВРЕДИ, ПРИЧИНЕНИ УМИШЛЕНО ИЛИ ПОРАДИ ГРУБА НЕБРЕЖНОСТ НА NETGEAR, НЕГОВИТЕ ДИРЕКТОРИ ИЛИ СЛУЖИТЕЛИ ИЛИ ДРУГИ УПЪЛНОМОЩЕНИ ЛИЦА; И</p>
				<p>(ii)	ЗАГУБИ ИЛИ ВРЕДИ ОТ ДЕЙСТВИЯ, ПРИЧИНЯВАЩИ СМЪРТ, ТЕЛЕСНА ТРАВМА ИЛИ БОЛЕСТ, ИЛИ ОТ ПРИЕМАНЕ НА ГАРАНЦИЯТА, ИЛИ РИСК В ОБЛАСТТА НА СНАБДЯВАНЕТО, ИЛИ СЪГЛАСНО ДЕЙСТВАЩОТО ЗАКОНОДАТЕЛСТВО. </p>
				<p>11.2 ОТГОВОРНОСТТА НА NETGEAR ЗА НЕБРЕЖНОСТ, РАЗЛИЧНА ОТ ГРУБА НЕБРЕЖНОСТ НА NETGEAR, НЕГОВИТЕ ДИРЕКТОРИ, СЛУЖИТЕЛИ ИЛИ ДРУГИ УПЪЛНОМОЩЕНИ ЛИЦА, В СЛУЧАЙ, ЧЕ ВРЕДАТА Е РЕЗУЛТАТ ОТ НАРУШЕНИЕ НА СЪЩЕСТВЕНО ДОГОВОРНО ЗАДЪЛЖЕНИЕ, В НИКАКЪВ СЛУЧАЙ НЯМА ДА НАДВИШАВА ХАРАКТЕРНИТЕ, ПРЕДВИДИМИ ЩЕТИ, КОИТО СА ПО-НИСКАТА ЦЕНОВА ЛИСТА НА NETGEAR, ИЛИ СУМАТА(ИТЕ), ПЛАТЕНА(И) ОТ ВАС ЗА СОФТУЕР И УСЛУГИ, КОИТО СА ДОВЕЛИ ДО ПРИЧИНАТА ЗА ДЕЙСТВИЕТО (ИЛИ ПРОДУКТА, С КОЙТО СОФТУЕРА И УСЛУГИТЕ СА ПРЕДОСТАВЕНИ). </p>
				<p>11.3 ВСЯКА ДРУГА ОТГОВОРНОСТ НА NETGEAR СЕ ИЗКЛЮЧВА, СЪГЛАСНО КЛАУЗИ 11.1 И 11.2 ПО-ГОРЕ. </p>
				<p>11.4 В СЛУЧАИТЕ, В КОИТО ОТГОВОРНОСТТА Е ОГРАНИЧЕНА В СЪОТВЕТСТВИЕ С КЛАУЗА 11.2, NETGEAR НЕ НОСИ ОТГОВОРНОСТ ЗА ПРОПУСНАТА ПЕЧАЛБА ИЛИ ДРУГИ НЕПРЕКИ ВРЕДИ. </p>
				<p>12. <b>ОБЩИ РАЗПОРЕДБИ. </b></p>
				<p>12.1 <b>Данъци. </b> Вие носите отговорност за всички данъци, мита или такси, ако има такива, които могат да бъдат начислени на софтуера и услугите, или на използването им или представянето от Вас, съгласно настоящото Споразумение. Вие носите отговорност за плащането на всички тези данъци, мита и такси, начислени спрямо NETGEAR, с изключение на тези, приложими към нетния доход или заплащане на NETGEAR. </p>
				<p>12.2 <b>На Вашето внимание. </b> Правата и лицензите, издадени тук, са обект на спазване от Ваша страна на условията и правилата на настоящото Споразумение. Вие потвърждавате и се съгласявате, че на Вашето единствено и изключително внимание за Вашето изпълнение на настоящото споразумение са правата и лицензите, дадени тук, и че Вие няма да получите право на никакво възнаграждение, възстановяване или друго плащане от NETGEAR или неговите доставчици. </p>
				<p>12.3 <b>Налагане на възбрана. </b>Вие потвърждавате и се съгласявате, че копирането, разкриването или използването на Софтуера или всяка информация, материали или услуги, предоставяни с настоящото споразумение по начин, несъвместим с някоя от разпоредбите на настоящото споразумение, може да причини непоправими вреди на NETGEAR, срещу които NETGEAR няма да има адекватно средство за защита на правата си. Съответно, NETGEAR, има право на справедливо обезщетение в съда, включително, но не само, на временна заповед за задържане, предварителни обезпечителни мерки и постоянни забрани, ако е приложимо. </p>
				<p>12.4 <b>Без партньорство. </b>Страните поемат съответните си задължения по настоящото Споразумение, като независими изпълнители. Настоящото Споразумение не създава, и не е предназначено да създава, заетост, агенция, дистрибуция, франчайзинг, джойнт венчър, правно партньорство или друга подобна правна връзка между Вас и NETGEAR. Нито една от страните няма правото или компетентността да действа от името на другата страна, или да я обвързва и нито една от страните няма да представя пред трети страни, че притежава такива права или власт. </p>
				<p>12.5 <b>Без възлагане. </b> Вие не може да възлагате или по друг начин да прехвърляте настоящото Споразумение или правата или задълженията по настоящото Споразумение (изцяло или частично, било то доброволно, чрез сливане, по силата на закона или по друг начин), без предварителното писмено съгласие на NETGEAR, което съгласие може да се предостави изцяло по усмотрение на NETGEAR, и всеки опит за прехвърляне или преотстъпване е невалиден и се счита за съществено нарушение на настоящото Споразумение. </p>
				<p>12.6 <b>Цялото споразумение; изменение. </b>Това Споразумение представлява пълното, окончателно и изключително споразумение относно предмета, засегнат в него.  Настоящото споразумение не може да се изменя изцяло или отчасти, освен с предварително предизвестие от Ваша страна. </p>
				<p>12.7 <b>Отказ от право. </b>Освобождаването от всяка вина от настоящото или ограничаване на условията и правилата на настоящото споразумение или на някое от условията на настоящото споразумение, не се счита за опрощаване или отказ от всяко друго неизпълнение или на който и да е друг срок или условие, но се прилага единствено към случая, към който този отказ е насочен. </p>
				<p>12.8 <b>Приложимо законодателство и език. </b>Това Споразумение се регулира от разпоредбите на законодателството на Калифорния, с изключение на конфликтните разпоредби на закона и другите закони на Съединените щати. Този избор на законодателство няма да ограничава предоставената Ви защита от разпоредби, които не могат да бъдат отклонени чрез споразумение по силата на действащите закони (като законите за защита на потребителите). Прилагането на Конвенцията на ООН относно договорите за международна продажба на стоки изрично се изключва. Официалният текст на настоящото Споразумение е на английски език и всяко тълкуване или обяснение на настоящото споразумение ще се базира на него. В случай, че настоящото споразумение или каквито и да било документи или съобщения, свързани с него, са преведени на друг език, английската версия ще надделява, освен ако приложимото законодателство не предвижда друго. </p>
				<p>12.9 <b>Износ. </b> Вие се съгласявате, че износът и реекспортът на всеки Софтуер и всяко устройство на Orbi е обект на разпоредби за вноса и износа на стоки. По-специално, но без ограничения, Софтуерът и устройствата на Orbi не могат да бъдат изнасяни или реекспортирани (а) в страни с наложено от САЩ ембарго, или (б) за всяко лице, физическо или юридическо, от Списъка на специално посочените лица на Министерството на финансите на САЩ или от списъка на Министерството на търговията на САЩ. С помощта на Софтуера и устройствата на Orbi, Вие декларирате и гарантирате, че (i) не се намирате в страна, която е обект на ембарго от страна на правителството на САЩ или която е забранена от правителството на САЩ като "подпомагаща тероризма" страна и (ii) не сте регистриран в някой от списъците на правителството на САЩ за забранени или ограничени страни.  Като цяло ще спазвате стриктно всички правила на САЩ върху контрола на износа и няма да изнасяте, реекспортирате, прехвърляте или пренасочвате каквато и да е част от Софтуера и устройствата на Orbi или всеки пряк продукт, произлизащ от тях, до всяка дестинация, крайна употреба или краен потребител, които са забранени или ограничени по силата на тези закони и разпоредби за контрол на износа на САЩ, освен ако не сте изрично упълномощен от Американското Министерство на търговията. Вие се съгласявате да обезщетите и предпазите NETGEAR и неговите доставчици от всякакви искове, загуби, отговорности или вреди, претърпени или направени от NETGEAR и неговите доставчици, произтичащи или свързани с Вашето нарушение на този параграф. </p>
				<p>Услугите, Софтуера и Устройствата на Orbi не са достъпни за всички лица, или във всички страни.  Ако изберете да имате достъп до Услугите, Софтуера или Устройствата на Orbi извън страната, в която Услугите, Софтуера или Устройствата на Orbi се поддържат от NETGEAR, Вие правите това по Ваша собствена инициатива и единствено Вие сте отговорни за спазването на приложимите местни закони във Вашата страна. Вие разбирате и приемате, че някои или всички функции на Услугите, Софтуера или Устройствата на Orbi могат да не работят или да не са подходящи за използване в тази страна. До степен, допустима от закона, NETGEAR не поема отговорност за щети или загуби, причинени от Вашия достъп или ползване на Услугите, Софтуера или Устройствата на Orbi в страни, които не се поддържат от NETGEAR. Ще бъдете обвързан с тези Условия, където и да имате достъп или да ползвате Сайта или Услугите. </p>
				<p>12.10 <b>Делимост. </b>Ако компетентен съд счете някоя от разпоредбите на настоящото Споразумение за незаконна, невалидна или неприложима изцяло или частично по приложимия закон, тогава тази разпоредба или частта от нея ще бъде неефективна по отношение на юрисдикцията, в която този съд се намира, до степента на нейната незаконосъобразност, инвалидност или неприложимост и ще се счита за модифицирана до степента, необходима, за да съответства на приложимото законодателство, така че да се получи максимален ефект за намеренията на страните. Незаконността, недействителността или неприложимостта на такава разпоредба под тази юрисдикция по никакъв начин не се отразява на законността, валидността или приложимостта на тези разпоредби или на всякакви други разпоредби на настоящото Споразумение под друга юрисдикция. </p>
				<p>12.11 <b>Форсмажорни обстоятелства. </b> Никоя от страните не носи отговорност за неизпълнение или забавяне на изпълнението по настоящото Споразумение, което може да се дължи изцяло или частично, пряко или непряко, на непредвидени обстоятелства, забавяне, повреда, или причина от всякакъв характер извън разумния контрол на тази страна. Тези причини включват, без по никакъв начин да се ограничава, общия характер на горепосоченото, пожар, експлозия, земетресение, буря, наводнение или друго климатично условие, липса на необходимите комунални услуги или суровини, прекъсване на тока, стачка, блокаут, липсата на компоненти, дейности на пътя, комбинация от работници или други трудови трудности, война, терористичен акт, въстание, метеж, природно бедствие или обществено опасни врагове, закона, актове, заповеди, наредби за контрол на износа, постановления, наредби или инструкции на правителството или други публични органи, или съдебно решение или постановление на компетентен съд (не произтичащи от нарушение от тази страна на настоящото споразумение). </p>
				<p>12.12	<b>Уведомление. </b> Където NETGEAR изисква предоставяне на имейл адрес, Вие сте отговорен за снабдяване на NETGEAR с най-актуалния Ви имейл адрес. В случай, че последният имейл адрес, който сте предоставили на NETGEAR не е валиден, или по някаква причина не е в състояние да Ви достави всички уведомления, изисквани/разрешени от Условията, изпращането на електронна поща, съдържаща това уведомление от NETGEAR, ще представлява все пак ефективно предизвестие. NETGEAR не носи отговорност за автоматично филтриране, което Вие или Вашият интернет доставчик може да прилага на известията по имейл. Трябва да уведомите NETGEAR на следния имейл адрес: support@NETGEAR.com</p>
				<p>12.13 <b>Цялото споразумение. </b>  Тези условия (включително различните допълнителни условия, включени тук чрез препратка) представляват цялото споразумение между Вас и NETGEAR и заменят всички предишни споразумения, преговори или друга комуникация между Вас и NETGEAR, било то устна или писмена, по отношение на въпросите, повдигнати тук. </p>
				<p>12.15.	<b>Спазването на законите. </b>  Вие се съгласявате да спазвате всички приложими закони при употреба на Услугите, Софтуера и Устройствата на Orbi. </p>
				<p>12.16.	<b>Съгласие за електронни съобщения.  </b>Като използвате Услугите, Софтуера и устройствата на Orbi, Вие се съгласявате да получавате определени електронни съобщения от нас относно устройствата, Софтуера и Услугите на Orbi, включително, но не само (а) уведомления за ползваните от Вас Продукти, Софтуер и Услуги, включително уведомления за нарушения в ползването, (б) Актуализации и (в) в случаите, в които се съгласявате, в съответствие с действащото законодателство, промоционална информация и материали относно продуктите, Софтуера и Услугите на NETGEAR чрез електронна поща. За допълнителна информация относно това, как използваме Вашите лични данни и как да промените Вашите преференции и да прекратите абонамента си за промоционални материали, моля, вижте нашите Правила за поверителност. </p>
				<p>Вие се съгласявате, че всички уведомления, споразумения, оповестявания или други съобщения, които ние Ви изпращаме по електронен път, ще изпълнят всички законови изисквания за комуникация. </p> 
				<p><b>NETGEAR Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>Корпоративен служебен телефон</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Корпоративен служебен факс</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>ИЛИ</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Корк, Ирландия</b></p>
				<p><b>Корпоративен служебен телефон</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Корпоративен служебен факс</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>Редакция 1, в сила от: <b>14 септември 2016 г. </b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
