<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
</head>

<body>
<% form_submit("apply", "BRS_04_applySettings.html", "hijack_pppoe") %>

<script>
function checkPPPoE()
{
	var forms = document.getElementsByTagName("form");
        var cf = forms[0];
	
	var pppoe_name = document.getElementById("pppoe_name");
	var pppoe_passwd = document.getElementById("pppoe_password");

	if(pppoe_name.value == "")
	{
		alert(bh_login_name_null);
		return false;
	}

	var i;
	for(i=0;i<pppoe_passwd.value.length;i++)
	{
		if(isValidChar(pppoe_passwd.value.charCodeAt(i))==false)
		{
			alert(bh_password_error);
			return false;
		}
	}

	return true;
}

</script>
<input type="hidden" name="WANAssign" value="0" />

<div id="container">
	<div class="dialog-content">
		<!-- Orbi Setup WiFi-->
		<div id="card-orbi-setup-wifi" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
		   <div class="content">
			<div class="desc-title"><script>document.write(bh_orbi_pppoe_conn);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_enter_info_below);</script></div>
			<div class="input-field">			
				<script>document.write('<input type="text" id="pppoe_name" placeholder="'+bh_pppoe_login_name+'" maxlength="64" align="right" name="pppoe_name" autocomplete="off"/><label for="pppoe_name">'+bh_pppoe_login_name+'</label>');</script>
			</div>
			<div class="input-field">			
				<script>document.write('<input type="text" placeholder="'+bh_ddns_passwd+'" id="pppoe_password" maxlength="16" align="right" name="pppoe_passwd" autocomplete="off" /><label for="pppoe_password">'+bh_ddns_passwd+'</label>');</script>
			</div>
		   </div>
		    <div class="buttons">
			<button id="next" name="Next" class="waves-effect waves-light btn button-nav btn-icon icon-right" onclick="return checkPPPoE();">
				<span><script>document.write(bh_orbi_next_mark);</script></span><i class="material-icons">navigate_next</i>
			</button>
		    </div>

          </div>
	</div>
</div>

</form>
</body>

</html>
