<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>Orbiアプリケーション、OrbiソフトウェアおよびOrbiデバイス マスターサービス利用規約</p>
				<p>本マスターサービス利用規約（「本契約」）ならびに本契約内で言及されるプライバシーポリシー（https://www.netgear.com/about/privacy-policy/）は、本契約を承諾する個人または企業（「お客様」）に対してNETGEAR, INC.（「NETGEAR」）が本ソフトウェア（以下で定義します）および本サービス（本Orbiデバイスまたは本Orbiアプリケーションの使用を通じて利用可能となるサービスおよび情報をいいます）を提供する条件としてNETGEARが合意した規約を記載したものです。本契約は次の各号のいずれにも該当しない場合に適用されます。(i) お客様が本Orbiアプリケーション、本ソフトウェアまたはOrbiデバイスを対象とする別途の購入契約をNETGEARと締結している場合（その場合は当該別途の契約が優先します）。(ii) NETGEARの他の規約が適用される場合。</p>
				<p>本ソフトウェアをダウンロード、インストールまたはその他の形で使用することにより、お客様は本契約の条項を承諾し法的に拘束されることになります。お客様が本契約の条項に同意しない場合には、本ソフトウェアのダウンロード、インストールまたはその他の形での使用を行わないようお願いいたします。</p>
				<p>お客様が第三者のために本ソフトウェアを取得する場合、お客様はNETGEARに対して、お客様は当該第三者を代理して当該第三者のために本契約の条項を承諾する法的権限を有していることを表明します。本契約を以下のとおり締結することにより、NETGEARと当該第三者との間に法的拘束力のある契約が成立し、その場合本契約で使用する「お客様」の語は当該第三者を意味するものとします。</p><p>お客様の居住地が、インターネットベースのアプリケーションの使用が年齢により制限されている法域または本契約等の契約を締結する能力が年齢により制限されている法域内にあり、かつお客様が当該法域の管轄下にあるとともにそれらの年齢制限を下回る場合には、お客様は本契約の締結およびNETGEARソフトウェアのダウンロード、インストールまたは使用を行うことができません。お客様は、本契約を締結することにより、お客様がお客様の法域において本ソフトウェアの使用を許可されていることを確認済である旨を明示的に表明するものとします。</p> 
				<p>1.ソフトウェアの定義：本契約は以下の品目の入手および使用に対して適用されます。(i) 本契約が添付されたNETGEARの本Orbiアプリケーションで、お客様が購入したNETGEARの製品もしくはサービスまたはNETGEARがNETGEARのウェブサイト、NETGEARの販売代理店のウェブサイト、Google PlayストアもしくはApple App Storeでダウンロードにより提供する製品もしくはサービスに含まれるもの。(ii) それらのソフトウェアのインストールマニュアル、ユーザーガイドまたはその他の文書で、本Orbiアプリケーションに関連してNETGEARが提供するもの（「本文書」と総称します。）、および (iii) それらのソフトウェアおよび本文書の新規のアップグレードまたはアップデートで、NETGEARから取得したもの（上記のすべてを「本ソフトウェア」と総称します）。</p>
				<p>2.ライセンスの許諾：ライセンスについては以下のとおりとします。ただし、お客様による本契約の条項の遵守を前提とします。</p>
				<p>2.1 非排他的ライセンス：NETGEARおよびそのサプライヤーは、お客様に対して、本OrbiデバイスおよびNETGEAR製品と共に本ソフトウェアのコピーを使用する非排他的ライセンスを付与します。それ以外の権利は付与されません。</p>
				<p>2.2 複製：お客様は、バックアップの目的で、または本Orbiデバイスおよびその他のNETGEAR製品を使用するために必要な範囲で、本ソフトウェアを複製することができます。ただし、お客様は、本ソフトウェアの元のコピーに表示されている著作権表示およびその他の権利の表示をすべて複製するものとします。</p>
				<p>2.3 サードパーティソフトウェア：(a) NETGEARは本ソフトウェアの一部として、または本ソフトウェアに関係して、以下のソフトウェアを提供することができます。(i) 別途のサードパーティのライセンス条項（「サードパーティライセンス条項」）に基づいて提供するサードパーティソフトウェア、または (ii) 公開されたライセンスの条項（「オープンソースライセンス条項」）に基づいて提供する「オープンソース」ソフトウェア。</p>
				<p> (b) お客様は次の点につき確認し合意するものとします。(i) 上記のサードパーティソフトウェアおよびオープンソースソフトウェアは、該当するサードパーティライセンス条項およびオープンソースライセンス条項のみが適用されること、および (ii) 第11条で別途規定する場合を除き、それらの条項は該当するライセンサーとお客様との間でのみ有効であり、NETGEARはそれらのソフトウェアに関して本契約上の義務または責任を負わないこと。</p>
				<p>2.4	アップデート：NETGEARは、本サービス、本ソフトウェアまたは本Orbiデバイスのパフォーマンスを改善するパッチ、不具合の修正、アップデート、アップグレードおよびその他の変更（「本アップデート」）を随時開発しています。<b>本サービス、本ソフトウェアまたは本Orbiデバイスを使用した場合、お客様は本アップデートの自動的なダウンロードおよびインストールに同意したものとみなされます。この場合、本アップデートはお客様のモバイルデバイスおよび本Orbiデバイス（のうち該当するもの）に自動的にダウンロードおよびインストールされ、お客様に別途の通知を行うことや別途の同意を求めることはありません。</b>お客様がそのような本アップデートを希望しない場合、お客様が利用できる回避手段は次の各号のいずれかに限られます。(i) アプリケーションの本アップデートについては、お客様のモバイルデバイスの設定により自動更新機能をオフにするか、またはNETGEARもしくはOrbiアプリケーションをお客様のモバイルデバイスから削除すること。(ii) 本Orbiデバイスまたは本ソフトウェアについては、お客様のOrbiアカウントを廃止するか、またはお客様の本Orbiデバイスの使用を中止すること。お客様が上記のいずれかを行った後にその取消しを行った場合（たとえば、お客様のモバイルデバイスの自動更新機能をオンにする、またはお客様が本Orbiデバイスを再び使い始める等）、本アップデートの自動的なダウンロードおよびインストールが再開されることをお客様は理解しているものとし、また、自動的な本アップデートに同意したものとします。いずれかの本アップデートが自動的にインストールされない場合、お客様が本サービス、本ソフトウェアおよび本Orbiデバイスの全機能について使用とアクセスを継続するためには本アップデートを手動でインストールする必要が生じることがあり、そのときお客様は当該本アップデートを直ちにインストールするものとします。</p>
				<p>3.使用の制限：</p>
				<p>3.1 一般的制限：お客様は、第2条で明示的に許可された場合以外は（かつ、明示的に許可された範囲以外については）、または適用法下で当該権利を排除できない場合を除き、以下の事項を行うこと（および、第三者にそれを許可することまたはそれを扇動すること）はできません。(i) バックアップの目的またはお客様の本サービス、本ソフトウェアまたは本Orbiデバイスを使用する目的で必要となる場合以外に、本ソフトウェアのコピーその他の複製を何らかの形で行うこと、(ii) 本ソフトウェア（またはそのコピーもしくはコンポーネント）またはそれに対する権利の、第三者への配布、配信、サブライセンス、リース、レンタル、貸与、譲渡、またはその他の形での移転を行うこと、(iii) 本ソフトウェア上または本ソフトウェア内にある製品識別、商標、著作権、機密性、専有性その他に関する表示または注意書きを除去、改変または隠蔽すること、(iv) タイムシェアリングもしくはサービス窓口で使用する目的、または本契約上明示的に許可されていないその他の方法で本ソフトウェアを使用すること、または (v) 本ソフトウェア（またはそのコピーもしくはその一部）をお客様の製品に組み込むこと。</p>
				<p>3.2 変更およびリバースエンジニアリング：お客様は、第2条で明示的に許可された場合以外は（かつ、明示的に許可された範囲以外については）、または適用法下で当該権利を排除できない場合を除き、以下の事項を行うこと（および、第三者にそれを許可することまたはそれを扇動すること）はできません。(i) 本ソフトウェアまたはその一部をリバースエンジニアリング、逆アセンブルまたは逆コンパイルすること、もしくはソースコードを解明しようとすること、または (ii) 本ソフトウェアの改変版、適合版、変更版、変換版、改良版または派生版（「二次著作物」）を作成すること。</p>
				<p>3.3 協力：お客様は、本契約に違反する本ソフトウェアの使用またはアクセスを阻止および特定するためにNETGEARに協力し、NETGEARから求められた合理的な援助をすべて行うものとします。</p>
				<p>3.4.高リスク用途：本ソフトウェア、本サービスおよび本Orbiデバイスは、確実な動作が求められる用途または環境（核関連施設の運転、航空ナビゲーションもしくは航空通信、航空管制、生命維持装置、外科用埋め込み機器、兵器システム、または本ソフトウェア、本サービスおよび本Orbiデバイス（もしくはそれらの一部）に不具合が生じた場合に死亡、負傷もしくは重大な物理的もしくは環境的損害を直接発生させる恐れのあるその他のアプリケーション、デバイスもしくはシステム等（「高リスク行為」））の下で使用することを想定または保証していません。お客様は、本契約の他の規定にかかわらず、高リスク行為に関係して本ソフトウェア、本サービスおよび本Orbiデバイス（もしくはそれらの一部）を使用することまたは第三者がそれらを使用することを許可することができません。お客様が高リスク行為に関係して本ソフトウェア、本サービスおよび本Orbiデバイス（またはそれらの一部）を使用した場合（またはお客様が使用を許可した第三者がそれらを使用した場合）、それに伴う危険はすべてお客様が負担するとともに、お客様はそのような使用の結果としてNETGEAR側に生じた、お客様に起因するすべての請求、費用および責任に対してNETGEARを補償、防御および免責するものとします。</p>
				<p>4.料金およびサポート：</p>
				<p>4.1 <b>全般：</b>お客様は、すべての手数料および料金について、その支払期限が到来した時点で有効な手数料、料金および請求に関する規定に従って支払を行うことに同意します。お客様が指定したクレジットカードを利用する場合にはお客様の決済業者との契約が適用され、お客様によるクレジットカードの使用に関連してお客様の権利義務を確認するためには本契約でなく決済業者との当該契約を参照する必要があります。お客様は、NETGEARにクレジットカード番号および関連する支払情報を提供した場合、支払期限が到来したすべての手数料および料金についてNETGEARがお客様のアカウントに対して直ちに請求を行う権限があること、およびNETGEARが別途の通知や同意の確認を行わないことに同意したものとみなされます。お客様は、お客様の請求先住所またはお客様が本契約上利用するクレジットカードに変更があった場合直ちにNETGEARに通知することに同意するものとします。NETGEARは、ウェブサイトへの掲載またはお客様への電子メールの送信により、将来、価格および請求方法を随時変更することができます。</p>
				<p>a.	<b>税金：</b>お客様が本契約に基づいて行った本Orbiデバイスもしくは本サービスの購入または本Orbiデバイスもしくは本サービスに関する支払が売上税の賦課対象となり、かつお客様が当該売上税額をNETGEARに未送金である場合、お客様は当該売上税額および関係する罰金または利子を該当の税務当局に支払う責任を負います。本条にいう「売上税」とは、すべての売上税または使用税および売上金額を基準とするその他すべての税金でNETGEARが顧客に移転することを許可されたものであり、該当の課税法域で売上税または使用税が賦課されない場合は売上税と同等の効果を有するものをいいます。</p>
				<p>b.	<b>源泉徴収：</b>お客様は、NETGEARに手数料を支払う場合には必ず、源泉徴収不要な形で、かつ源泉徴収を行わずに支払を行うことに同意します。NETGEARに対する手数料の支払に対して源泉徴収課税が行われた場合にはお客様はそれを負担する責任を負うとともに、お客様は当該税額の支払を証明するために該当の課税当局が発行した公式の領収証または当社が正当に請求するその他の証拠書類をNETGEARに提出するものとします。</p>
				<p>c.	<b>紛争：</b>当社が請求した料金についてお客様が係争を提起する場合、当該料金を記載したクレジットカード明細書の受領後7日以内にNETGEARに書面で通知してください。請求に関する係争は次の電子メールアドレスまで通知するものとします。support@NETGEAR.com</p>
				<p>4.2<b> サポート：</b>NETGEARは、本サービス、本ソフトウェアまたは本Orbiデバイスのアップデート、サポート、アップグレードまたは改良を、理由によらず通知なしに随時停止することができます。</p>
				<p>5. <b>知的財産権：</b></p>
				<p>5.1 ソフトウェアに対する権利：本サービス、本ソフトウェアおよび本Orbiデバイスの知的財産権は、米国およびその他の関連法域の著作権法（国際条約を含みます）、ならびに米国、諸外国および国際協定における知的財産権または産業財産権の保護に関する法律、法規および条約によって保護されています。NETGEARおよびそのライセンサーは、本ソフトウェア（あらゆるコピーおよびその一部を含む）に対して唯一かつ排他的な権利、資格および所有権、ならびにそこに含まれるすべての知的財産権を有し保持するものとします。NETGEARおよびそのライセンサーは、本契約で明示的に与えられていないすべての権利を有します。お客様は、本ソフトウェア（お客様に提供されたすべてのコピーまたはお客様が作成したすべてのコピーまたはお客様のために作成されたすべてのコピーを含む）がお客様にライセンスされたものであり、販売されたものではないことを確認し合意するものとします。</p>
				<p>5.2 協力情報および二次著作物に対する権利：本サービス、本ソフトウェアまたは本Orbiデバイスに関してお客様またはお客様の代理人から提供された意見、バグ報告、操作性に関するフィードバック、その他の提案およびフィードバック（「協力情報」）、ならびにお客様によってまたはお客様のために作成された本ソフトウェアの二次著作物（本契約で許可されていないものも含む）およびそこに含まれるすべての知的財産権は、NETGEARまたはそのライセンサーの唯一かつ排他的な財産であるものとします。</p>
				<p>5.3 権利の譲渡：お客様は、本契約にて、協力情報または二次著作物およびそこに含まれるすべての知的財産権に対する世界規模のすべての権利、資格、および所有権をNETGEARに譲渡することに取消不能の形で合意するものとします。また、NETGEARからの要求に応じて、上記の権利の完成、記録および施行に関してNETGEARの負担でNETGEARを支援することに合意するものとします。関係法令によって上記の譲渡が無効である場合のみ、お客様は、本契約にて、上記の協力情報および二次著作物を既知または将来考えられるいかなる方法でも使用、複製、その他の形または営利目的で利用できるようにするための排他的、譲渡可能、サブライセンス可能、無制限、および恒久的な世界規模のライセンスをNETGEARに付与することに取消不能の形で合意するものとします。</p>
				<p>5.4 <b>技術およびデータの収集：</b>お客様は、本ソフトウェア、本サービスおよび本Orbiデバイスを使用するために必要なすべての通信回線、モニター、PC、モデム、ルーター、モバイルデバイス、お客様のインターネットサービスプロバイダー（「ISP」）およびお客様のモバイルデバイスキャリア（「キャリア」）等、ならびにアクセスをお客様の負担で用意および保守する必要があります。</p>
				<p><b>本ソフトウェアの通常のインストールおよび機能の一部として、NETGEARは本ソフトウェアまたはOrbiネットワークのパフォーマンスを最適化するためのデータを収集します。収集される情報には、設定完了までに費やされたクリック回数および時間、設定の開始から終了までの経路、インターネットサービスプロバイダーからのWiFi通信速度、Orbiネットワークとお客様のモバイルデバイス間のLAN通信速度、およびお客様のネットワークを設定するために使用されたモバイルデバイスのオペレーティングシステムとモデルが含まれることがあります（ただしそれらに限りません）。本ソフトウェアの機能の一部として、Orbiネットワークのトポロジが変更されたとき、またはOrbiデバイスおよびサービスに関する技術更新があるときに、NETGEARからお客様に通知が送られることがあります。</b>Orbiには、本ソフトウェアが実装する自動ファームウェア更新および自動ネットワークトポロジ最適化の日次実行機能が実装されることがあります。  </p>
				<p>本ソフトウェアを使用することによって、お客様は、NETGEARが上記の情報を収集する場合があることに同意するものとします。</p>
				<p>NETGEARは将来的に、本サービス経由でサードパーティ製品およびサービス（「本サードパーティ製品およびサービス」）の一つ以上と本Orbiデバイス、本ソフトウェアおよび本サービスとを接続する機会をお客様に提供することがあります。お客様は本サードパーティ製品およびサービスを接続するかどうか、および接続したい本サードパーティ製品およびサービスを決定します。</p>
				<p>お客様が特定の本サードパーティ製品およびサービスについて承諾した場合、その接続を有効にするために、それ以後お客様はNETGEARがお客様ならびにお客様の本サービス、本ソフトウェアおよび本Orbiデバイスに関する情報および制御データ（個人情報を含みます）を、当社のプライバシーポリシーに従って交換することに同意します。この情報が特定の本サードパーティ製品およびサービスとの間で共有された場合、その後の当該情報の利用についてはNETGEARのプライバシーポリシーではなく当該サードパーティのプライバシーポリシーが適用されます。お客様は、NETGEARが本サードパーティ製品およびサービスの安全性について一切の表明または保証を行わないことを認め、それに同意します。したがってNETGEARは、第11条で別途規定する場合を除き、お客様による本サードパーティ製品およびサービスの利用、または本サードパーティ製品およびサービスを原因とする（もしくはそれらに関係する）負傷、死亡、資産の損失その他の損害もしくは損失に対して責任を負いません。本サードパーティ製品およびサービスについて不明の点があれば当該サードパーティまでお問い合わせください。お客様およびお客様による本Orbiデバイス、本ソフトウェアおよび本サービスの利用に対して、お客様が居住する地域のデータ保護、プライバシーその他に関する法令が適用される場合があります。お客様は、お客様が本Orbiデバイス、本ソフトウェアおよび本サービスを利用する際に適用法令を遵守していることを確認する責任は（NETGEARではなく）お客様自身が負うことに同意します。</p>
				<p>本ソフトウェアのインストール中およびインストール後にNETGEARが収集するお客様の情報に対しては当社のプライバシーポリシーが適用されます。当社のプライバシーポリシーは次のURLで閲覧できます。</p><p>http://www.netgear.com/about/privacypolicy/</p>
				<p>6. <b>登録およびアカウントデータ：</b></p>
				<p>6.1.本Orbiデバイス、本ソフトウェアおよび本サービス上で（またはそれらを通じて）提供される特定の機能を利用するためには、お客様がアカウントの登録と開設（ユーザーIDとパスワード（「アカウントデータ」）の設定を含みます）を行うことが必要となる場合があります。お客様は、登録時に正確、完全かつ最新の情報（「登録データ」）を提供することに同意します。お客様は、NETGEARが、お客様のアカウントの維持管理および料金の請求を目的としてお客様の提供した登録データを保存および使用する場合があることに同意します。お客様は自身のアカウントデータの機密保持およびお客様のアカウントで生じた行為について全面的に責任を負います。お客様は、お客様のアカウントまたはアカウントデータが不正に使用された場合直ちにNETGEARに通知することに同意します。</p>
				<p>6.2.NETGEARはシングルサインオン処理（「シングルサインオン」）を用いた登録ソリューションの実装および統合を行いました。シングルサインオンとは、お客様がNETGEARにアカウントを開設した場合、お客様はその後NETGEARの他のサービスでお客様のユーザーアカウントおよびユーザーIDを使用でき、サービス毎に別個のユーザーアカウントおよびユーザーIDを維持管理する必要がなくなることをいいます。また、お客様はシングルサインオンにより、異なるデバイスで同時にサービスへのサインインおよびサービスからのサインオフを行うことが可能となります。</p>
				<p>6.3 お客様はシングルサインオンにより、アプリケーションプログラミングインターフェイス（API）その他のソフトウェアを通じて、Facebook、TwitterおよびGoogle+等のソーシャルメディアサイトがお客様に提供するサービスおよびお客様のアカウントをシングルサインオンと接続することが可能となります。  </p>
				<p>お客様がシングルサインオンによりお客様のアカウントを当該サードパーティのサイトと接続した場合、お客様は当社がそれらのアカウントの情報（個人を特定できる情報を含む場合があります）にアクセスすることに同意したものとみなされます（その場合でもNETGEARプライバシーポリシーにより行われる開示は制限または排除されません）。さらに、お客様は、お客様のソーシャルメディアサイトその他のサードパーティのアカウント経由でシングルサインオンにアクセスすることにより、シングルサインオンを通じてお客様が行った行為が当該サードパーティのサイト上で公開される場合があることを理解します。それらのサードパーティサイトを利用するかどうかについてはお客様の選択によります。シングルサインオンによりお客様のアカウントを当該サードパーティのサイトと接続する前に、またはお客様がそれらのサイトを通じてページまたは情報をお客様の友人と共有する前に、各サードパーティのサイトのプライバシーポリシーを確認するようお薦めします。</p>
				<p>お客様はシングルサインオンユーザー名の所有権を持たないことに同意します。NETGEARはお客様のシングルサインオンユーザー名を回収または使用することができます。</p>
				<p>6.4.お客様はお客様のアカウントデータのセキュリティを管理し（具体的には、推測されやすいユーザーIDもしくはパスワードを避けること、お客様のパスワードを定期的に変更すること、およびお客様のパスワードを公開しないことまたは他のユーザーまたは第三者にお客様のアカウントデータもしくはサービスにアクセスさせないことなどの手段によります）、お客様のアカウントデータおよびお客様のアカウントに対する第三者の不正なアクセスを防止します。</p>
				<p>6.5.NETGEARは、お客様のアカウントデータを使用する（またはお客様のアカウントデータを提供する）ユーザーまたは第三者から受領した（またはそれらの者が行った）指示を、お客様による指示とみなすことができます。</p>
				<p>6.6.お客様はお客様以外のユーザーまたは個人のアカウントデータまたはサービスを、当該各サービスの保有者であるユーザーまたは個人の許可なく使用しないことに同意します。</p>
				<p>6.7.お客様は、お客様の登録データもしくはアカウントデータの不正使用またはその他のセキュリティの侵害を発見した場合直ちにNETGEARに通知するものとします。</p>
				<p>6.8.お客様はNETGEARの各サービスにアクセスすることによりお客様の登録データまたはアカウントデータへのアクセスおよびその変更を随時行うことができます。</p>
				<p>7.終了：</p> 
				<p>7.1 契約期間：本契約は、お客様が本契約に同意した日から有効になり、本契約に従って終了するまで無期限に継続されます。</p> 
				<p>7.2 終了：NETGEARが有する他の権利および救済手段に影響を与えることなく、お客様が本契約の条項に違反した場合、お客様への即時通告とともに本契約を終了する資格をNETGEARは有します。そのような場合、NETGEARはそれぞれの案分された料金をお客様に払い戻します。また、お客様は、お客様が所有または管理する本ソフトウェアのすべてのコピーを破壊することによって、いつでも本契約を終了できます。NETGEARが公示、お客様へのメール通知、Webサイトへの投稿またはプレスリリースを通して本契約の終了を要請した場合、その公示、Webサイトへの投稿、またはプレスリリースで指定された日付（「終了日」）をもって本契約は終了します。お客様は、終了日またはそれ以前に本ソフトウェアのコピーの使用を中止することに同意するものとします。本契約または本ソフトウェアに関するライセンスがいかなる理由で終了した場合でも、第1条、第3条、第5条、第6条、第7.2条、第8条、第9条、第10条、第11条、第12条、第13条および第14条は存続するものとします。</p>
				<p>お客様が本Orbiデバイスを新しい所有者に譲渡した場合、お客様が当該本Orbiデバイスに関して本サービスを利用する権利は自動的に消滅します。当該新しい所有者はお客様のNETGEARアカウントで当該本Orbiデバイスまたは本サービスを使用する権利を有しないため、別個のアカウントをNETGEARに登録する必要があります。</p>
				<p>8.商標：</p>
				<p>8.1 商標ライセンスの非認可：お客様は、本契約によって、企業名、商標、サービスマーク、認定マーク、商品名、標語、ロゴ、その他NETGEARまたはその子会社あるいは関連会社の名称（「NETGEARマーク」と総称）を使用する権利がお客様に付与されないことを確認するものとします（ただし、本契約に明示した場合を除きます）。これらのマークが本ソフトウェアに記載されている場合、または本契約に関連してお客様に提供された資料に含まれている場合でも、お客様に上記の権利は付与されません。</p>
				<p>8.2 採用または使用の非認可：お客様は、企業名、商標、サービスマーク、認定マーク、商品名、標語、ロゴ、その他同様の名称を含む一切のNETGEARマークを、その一部であっても、採用、使用または登録しないことに同意するものとします。お客様は、本契約の期間中または終了後を問わず、お客様の企業名、商品名、製品名またはセカンドレベルドメイン名の一部として「NETGEAR」または「ORBI」を使用しないことに同意するものとします（ただし、それにより上記規定は影響を受けません）。</p>
				<p>9.機密保持：お客様は、本ソフトウェアにNETGEARの重要な企業秘密および機密情報（「機密情報」）が含まれることを確認するものとします。お客様は、同様の非開示義務を持つ第三者を除き、この機密情報をいかなる第三者にも提供または開示しないことに同意するものとします。</p>
				<p>10.保証および免責：</p>
				<p>本Orbiデバイスについてのハードウェア保証は当該デバイスに付属する限定保証書に記載しており、また次のサイトで閲覧することができます。https://www.netgear.com/about/warranty</p>
				<p>10.1 本ソフトウェアに関して、ドイツ民法第437条、第536条、および第536a条に定められた強制力のある保証の権利が適用されます。</p>  
				<p>10.2 第10条1項の規定および第11条で規定された責任のいずれかまたは両方に従い、NETGEAR、そのライセンサー、サプライヤー、販売業者、代理業者または従業員による口頭あるいは書面での情報または助言によって本保証の範囲が変更または拡大されることは一切ないものとします。NETGEARは、ライセンシー、ディストリビューター、エンドユーザーまたはその他第三者の要求を本ソフトウェアおよび本サービスが満たすこと、または本ソフトウェアおよび本サービスの動作に中断またはエラーがないことは保証しません。NETGEARは、ライセンシーによる本ソフトウェアおよび本サービスの使用、誤用、インストールミス、取り扱いミス、事故または悪用によって生じた欠陥状態または不適合、ライセンシーの製品に本ソフトウェアおよび本サービスを組み込むことで生じたエラー、あるいはNETGEARが提供した変更、指示、更新または修正の適用にライセンシーが失敗したことに起因するエラーに関して、一切保証しません。</p>
				<p>11.責任の限定：</p>
				<p>11.1 以下の事項に対するNETGEARの責任は無制限とします：</p>
				<p>(i)	NETGEAR、その取締役または役員、またはその他代理人の故意または重大な過失によって発生した損失または損害。および、</p>
				<p>(ii)	死亡、身体障害または疾病を生じさせる行為による、保証または調達リスクの想定に由来する、またはドイツの製造物責任法に基づく損失または損害。</p>
				<p>11.2 重要な契約上の義務の不履行により損害が発生した場合、NETGEAR、その取締役、役員、またはその他代理人の重大な過失以外の過失に対するNETGEARの責任は、いかなる場合にも、典型的かつ予見可能な損害額、すなわち、損害の原因となった本ソフトウェアおよび本サービス（または当該本ソフトウェアおよび本サービスを利用するための製品）に対してNETGEARが提示する定価またはお客様が支払った金額の下限を超えないものとします。</p>
				<p>11.3 上記第11条1項ならびに第11条2項の規定に従い、NETGEARのその他一切の責任は排除されます。</p>
				<p>11.4 第11条2項の規定に従い責任が制限される場合、利益損失またはその他一切の間接的損害に対してNETGEARは責任を負いません。</p>
				<p>12.一般条項：</p>
				<p>12.1 <b>税金：</b>お客様は、本ソフトウェアおよび本サービスまたはその使用あるいは本契約の履行に対して課せられる税金、関税、その他の料金について全責任を負います。お客様は、NETGEARの純利益または給与支払に適用されるものを除き、NETGEARに課せられるこれらの税金、関税、その他の料金を支払う義務を負うものとします。</p>
				<p>12.2 <b>お客様が受け取る対価：</b>本契約で付与される権利およびライセンスは、お客様が本契約の条項を遵守することを前提としています。お客様は、本契約の履行によってお客様が受け取る唯一かつ排他的な対価は本契約で付与される権利およびライセンスであり、NETGEARまたはそのサプライヤーから報酬、返済、その他の対価を受け取る資格は一切ないことを確認し合意するものとします。</p>
				<p>12.3 <b>差し止めによる救済：</b>お客様は、本契約の下で提供される本ソフトウェアまたは一切の情報、資料またはサービスを本契約の条項に反する方法で複製、開示または使用した場合、NETGEARに回復不能な損害が生じ、それに対してNETGEARは適切な法的救済措置を持たないことを確認し合意するものとします。したがって、NETGEARは、妥当な場合、暫定的な保護命令、仮差し止めおよび恒久的差し止め命令を含め、またこれらに限定されず、法廷で衡平法上の救済を得る資格があるものとします。</p>
				<p>12.4 <b>提携の否認：</b>当事者は、本契約の下で独立した契約者としてそれぞれの義務を負います。本契約は、NETGEARとお客様の間に雇用、代理契約、販売契約、フランチャイズ、共同事業、法的提携、その他同様の法的関係を生じさせるものではなく、その意図もありません。いずれの当事者も、相手の当事者を代理または拘束する権利または権限はなく、これらの権利または権限を持つことを第三者に表明することもできません。</p>
				<p>13.5 譲渡の禁止：お客様は、任意、合併の結果、法の運用、その他理由を問わず、NETGEARからの書面による事前の承諾なく、本契約あるいは本契約で規定される権利または義務をその一部であっても譲渡または委譲することはできません。NETGEARは、独自の裁量により、その承諾を保留することがあります。譲渡または委譲の試みは一切無効であり、本契約の重大な違反とみなされます。</p>
				<p>12.6 <b>完全合意および修正：</b>本契約は、本契約の主題に関する完全かつ最終的、排他的な合意となります。お客様の事前の通知がある場合を除き、本契約は全体的にも部分的にも修正されません。</p>
				<p>12.7 <b>権利放棄：</b>本契約の不履行または条項に対する権利放棄は、継続的な権利放棄あるいはその他の不履行または条項の権利放棄とはみなされず、その権利放棄が指示された事例にのみ適用されるものとします。</p>
				<p>12.8 <b>適用法と言語：</b>本契約は、抵触法および米国法を除き、カリフォルニア州法に準拠します。この法の選択は、消費者保護法などの適用法に基づく合意によって無効化できない条項によってお客様に提供される保護を制限するものではありません。国際物品売買契約に関する国際連合条約の適用は明示的に否認されます。本契約書の正式文書の言語は英語であり、本契約の解釈または説明は英語版に基づきます。本契約あるいはその他の関連文書または関連通知が他の言語に翻訳される場合でも、お客様に適用される法令で規定されている場合を除き、英語版が優先されます。</p>
				<p>12.9 <b>輸出：</b>お客様は、本ソフトウェアおよび本Orbiデバイスの輸出または再輸出が輸出入規制の対象となることを確認するものとします。具体的には、本ソフトウェアおよび本Orbiデバイスについて次の各号の行為は禁止されています（ただしそれらに限りません）。(a) 米国が禁輸対象としている国に輸出または再輸出すること。(b) 米国財務省の特定国籍業者リストまたは米国商務省の禁止顧客リストもしくは禁止法人リストに掲載された者に対して輸出または再輸出すること。お客様が本ソフトウェアおよび本Orbiデバイスを使用した場合、お客様は、(i) お客様が米国政府の禁輸措置の適用を受ける国に居住していないこと、または米国政府によって「テロリスト支援」国家として指定された国に居住していないこと、および (ii) お客様が米国政府の禁止または制限を受けた当事者のリストに記載されていないことを表明し保証したものとみなします。通常、お客様は、これらすべての米国輸出規制に厳格に従い、米国商務省によって明示的に許可されない限り、米国輸出管理法および規制で禁止または制限されている場所、最終用途またはエンドユーザーに本ソフトウェアおよび本Orbiデバイスまたはその直接製品の一切を輸出、再輸出、移送または転送しないものとします。お客様は、本条項に違反することによってNETGEARおよびそのサプライヤーに直接的または間接的に申し立て、損失、責任または損害が生じた場合には、その一切を補償し、NETGEARおよびそのサプライヤーを無害に保つことに同意するものとします。</p>
				<p>本サービス、本ソフトウェアおよび本Orbiデバイスはすべての者が（またはすべての国で）利用できるとは限りません。お客様が、本サービス、本ソフトウェアおよび本OrbiデバイスのサポートがNETGEARによって行われている国の外部から本サービス、本ソフトウェアまたは本Orbiデバイスにアクセスすることを選択した場合、お客様は任意によりそれを行うのであり、お客様はお客様の国における適用法令を遵守する責任を全面的に負います。お客様は、本サービス、本ソフトウェアまたは本Orbiデバイスの機能の一部または全部がそれらの国で動作しない場合があること、またはそれらの国で使用することが不適当である場合があることを理解しており、かつそれを承諾します。NETGEARは、NETGEARがサポートを行っている国の外部でお客様が本サービス、本ソフトウェアもしくは本Orbiデバイスにアクセスしたことまたはそれらを利用したことにより生じた損害または損失について、何ら責任を負いません（ただし、法令により認められる範囲に限ります）。お客様が本サイトへのアクセスもしくは本サイトの利用または本サービスの利用を行った場合、お客様は本利用規約に拘束されます。</p>
				<p>12.10 <b>可分性：</b>管轄裁判所が関係法令に基づいて本契約の条項のすべてまたは一部を違法、無効または強制不能と判断した場合は、その裁判所の管轄区域においてその違法性、無効性または強制不能性が適用される範囲でのみ、該当条項または該当部分が無効になるものとします。また、これらは、当事者の目的に最大限の効果を与えるために関係法令の遵守が必要な範囲で修正されるものとします。その管轄区域での該当条項の違法性、無効性または強制不能性は、他の管轄区域での本契約の該当条項またはその他の条項の合法性、有効性または強制性には一切影響しないものとします。</p>
				<p>12.11 <b>不可抗力：</b>いずれの当事者も、偶発的出来事、遅延、障害に直接的または間接的に全面的または一部起因する、あるいは当事者の合理的な支配の及ばない性質に起因する、本契約の不履行または履行遅延について、一切責任を負わないものとします。不可抗力となる要因には、火災、爆発、地震、嵐、洪水、その他の気象災害、必要なインフラや原材料の利用不能、停電、ストライキ、ロックアウト、構成要素の利用不能、労働組合活動またはその他の労働争議、戦争、テロ、暴動、反乱、天災または人災、法律、法令、命令、輸出管理規制、布告、規制、条例、政府または国家機関からの命令、管轄裁判所の判決（本契約の当事者による違反に起因する場合を除く）などが含まれますが、上記の一般的な内容に則する限りこれらに限定されません。</p>
				<p>12.12	<b>通知：</b>NETGEARがお客様に電子メールアドレスの提供を求める場合、お客様はNETGEARに最新の電子メールアドレスを提供する責任を負います。お客様がNETGEARに提供した最新の電子メールアドレスが無効であった場合または本利用規約上義務づけられる（または認められる）お客様への通知が何らかの理由により送達できなかった場合には、NETGEARが当該通知を含む電子メールを送信したことを以て、通知が有効に行われたものとみなします。NETGEARは、お客様またはお客様のネットワークプロバイダーが電子メールによる通知に自動フィルタリングを適用した場合、それについて責任を負いません。NETGEARへの通知は次の電子メールアドレスに宛てて送信する必要があります。support@NETGEAR.com</p>
				<p>12.13 <b>契約の完全性：</b>本利用規約（参照の形式により本利用規約に含まれるその他の各種規約を含みます）は、お客様とNETGEARとの間で合意した事項のすべてであり、本利用規約の主題に関してお客様とNETGEARとの間で本利用規約以前に行った合意、交渉その他の意思疎通のすべてに優先します。</p>
				<p>12.15.	<b>法令遵守：</b>お客様は本サービス、本ソフトウェアおよび本Orbiデバイスの利用に際してすべての適用法令を遵守することに同意します。</p>
				<p>12.16.	<b>電子的通信への同意：</b>お客様が本サービス、本ソフトウェアおよび本Orbiデバイスを利用した場合、お客様は、本Orbiデバイス、本ソフトウェアおよび本サービスに関する電子的通信を当社から受領することに同意したものとみなします。該当する通信には以下のものが含まれますが、これらに限定されません。(a) お客様による本製品、本ソフトウェア、および本サービスの使用に関する通知。使用上の違反に関する通知を含みます。(b) アップデート。(c) 適用法に基づいてお客様が同意する場合に、NETGEARの製品、ソフトウェア、およびサービスに関する販売促進のための情報および資料を提供する電子メール。お客様の個人情報を当社が利用する方法、お客様の設定を変更する方法、および販売促進のための資料の受信を拒否する方法の詳細につきましては、当社のプライバシーポリシーをご覧ください。</p>
				<p>お客様は、当社がお客様に対して電子的に送付する通知、同意、開示その他の通信が通信に関する法的要件をすべて充足していることに同意します。</p> 
				<p><b>NETGEAR, Inc.</b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>コーポレートオフィスの電話番号</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>コーポレートオフィスのファックス番号</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>または</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Ireland</b></p>
				<p><b>コーポレートオフィスの電話番号</b></p>
				<p><b>353-21-2333-200</b></p>
				<p><b>コーポレートオフィスのファックス番号</b></p>
				<p><b>353-21-2333-299</b></p>
				<p>改訂第1版、発効日付：<b>2016年9月14日</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
