<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>NUTZUNGSRAHMENVERTRAG FÜ Orbi ANWENDUNGEN, Orbi SOFTWARE, Orbi SERVICES UND Orbi GERÄE</p>
				<p>DER VORLIEGENDE NUTZUNGSRAHMENVERTRAG (IM FOLGENDEN DER .VERTRAG.) STELLT ZUSAMMEN MIT DER DATENSCHUTZRICHTLINIE https://www.netgear.com/about/privacy-policy/, AUF DIE IM VORLIEGENDEN DOKUMENT BEZUG GENOMMEN WIRD, DIE BEDINGUNGEN DAR, ZU DENEN NETGEAR, INC. DER NATÜLICHEN ODER JURISTISCHEN PERSON, DIE DIESEN VERTRAG SCHLIESST (IM FOLGENDEN .SIE.), DIE BEREITSTELLUNG DER SOFTWARE (GEMÄS NACHSTEHENDER DEFINITION) SOWIE DER SERVICES UND RESSOURCEN, DIE DURCH DIE VERWENDUNG DES Orbi GERÄS VERFÜBAR ODER AKTIVIERT WERDEN, SOWIE DER Orbi ANWENDUNG (IM FOLGENDEN JEWEILS EIN .SERVICE. UND ZUSAMMEN DIE .SERVICES.) ZUSAGT. DIESER VERTRAG GILT UNTER DER VORAUSSETZUNG, DASS (I) SIE KEINEN SEPARATEN KAUFVERTRAG MIT NETGEAR HABEN, DER DIE Orbi ANWENDUNG, DIE Orbi SOFTWARE ODER DAS Orbi GERÄ BETRIFFT . IN DIESEM FALL GILT DER SEPARATE VERTRAG ., UND (II) KEINE ANDEREN NETGEAR BEDINGUNGEN GELTEN. </p>
				<p>DURCH DAS HERUNTERLADEN, INSTALLIEREN UND/ODER SONSTIGES VERWENDEN DER SOFTWARE STIMMEN SIE DEN BEDINGUNGEN DIESES VERTRAGS IN RECHTLICH BINDENDER WEISE ZU. WENN SIE DEN BEDINGUNGEN DIESES VERTRAGS NICHT ZUSTIMMEN, VERSUCHEN SIE NICHT, DIE SOFTWARE HERUNTERZULADEN, ZU INSTALLIEREN, AUF SIE ZUZUGREIFEN ODER SIE ANDERWEITIG ZU VERWENDEN. </p>
				<p>WENN SIE DIE SOFTWARE IM NAMEN EINES DRITTEN ERWERBEN, SICHERN SIE NETGEAR GEGENÜER ZU, DASS SIE ENTSPRECHEND AUTORISIERT SIND, DIESEN DRITTEN ZU REPRÄENTIEREN UND DIE BESTIMMUNGEN UND BEDINGUNGEN DIESES VERTRAGS IN SEINEM NAMEN ZU AKZEPTIEREN. DURCH AUSFÜREN DIESES VERTRAGS WIE IM FOLGENDEN AUFGEFÜRT WIRD EIN BINDENDER VERTRAG ZWISCHEN NETGEAR UND DEM DRITTEN GESCHLOSSEN, UND DER BEGRIFF .SIE., WIE IN DIESEM DOKUMENT VERWENDET, BEZEICHNET DIESEN DRITTEN. </p>
				<p>WENN SIE IN EINER RECHTSPRECHUNG IHREN WOHNSITZ HABEN, DIE DIE VERWENDUNG INTERNET-BASIERTER ANWENDUNGEN NACH ALTER EINSCHRÄKT ODER DIE MÖLICHKEIT, VERTRÄE WIE DIESEN ABZUSCHLIEßN, NACH ALTER BESCHRÄKT, UND SIE SICH NACH DIESER RECHTSPRECHUNG UNTER DER ALTERSGRENZE BEFINDEN, DÜFEN SIE DIESEN VERTRAG NICHT ABSCHLIEßN UND DIE NETGEAR SOFTWARE NICHT HERUNTERLADEN, INSTALLIEREN ODER VERWENDEN.  DURCH ABSCHLIEßN DIESES VERTRAGS BESTÄIGEN SIE AUSDRÜKLICH, DASS SIE INNERHALB IHRER EIGENEN RECHTSPRECHUNG SICHERGESTELLT HABEN, DASS SIE DIE SOFTWARE VERWENDEN DÜFEN. </p>
 				<p>1.  <b>DEFINITION DER SOFTWARE. </b> Der vorliegende Vertrag regelt den Zugriff auf (i) die NETGEAR Orbi Anwendung, jegliche Software, die im Orbi Geräoder Service enthalten ist, Software der Marke NETGEAR, die fü Verwendung in Produkten oder Services vorgesehen ist, die Sie von NETGEAR oder Zwischenhälern von NETGEAR erworben haben, und die fü Verwendung mit dem Orbi Geräoder Service vorgesehen sind, oder Software, die fü Verwendung mit dem Orbi Geräoder Service vorgesehen ist, die NETGEAR auf seiner Website, der Website eines Anbieters von NETGEAR, im Google Play Store oder im Apple App Store zum Herunterladen zur Verfügestellt hat; (ii) säliche Installationshandbü Benutzerhandbüund sonstige Dokumentation zu der von NETGEAR fü Orbi Anwendung bereitgestellten Software (im Folgenden zusammen die .Dokumentation.); und (iii) alle neuen Upgrades oder Aktualisierungen dieser Software und Dokumentation, die von NETGEAR erhalten wurden (Vorstehendes wird insgesamt zusammen als .Software. bezeichnet.) </p>
				<p>2. <b>LIZENZERTEILUNG. </b> Sofern Sie die Bestimmungen und Bedingungen dieses Vertrags einhalten: </p>
				<p>2.1 <b>Nicht ausschließiche Lizenz. </b> NETGEAR und seine Lieferanten gewäen Ihnen eine einfache Lizenz, Kopien der Software zur Verwendung mit Orbi Gerän oder anderen NETGEAR Produkten zu nutzen. Es werden keine anderen Rechte gewät. </p>
				<p>2.2 <b>Kopien. </b> Sie düKopien der Software zu Sicherungszwecken oder nach Bedarf zur Verwendung von Orbi Gerän und sonstigen NETGEAR Produkten erstellen, sofern Sie alle Urheberrechts- und sonstigen Eigentumsvermerke reproduzieren, die die Originalversion der Software enthä. </p>
				<p>2.3 <b>Drittanbieter-Software. </b> (a) NETGEAR kann als Teil der Software oder in Verbindung mit selbiger (i) Drittanbieter-Software gemäseparaten Drittanbieter-Lizenzbedingungen (.Drittanbieter-Lizenzbedingungen.); und/oder (ii) .Open-Source.-Software gemäden Bedingungen öntlich verfür Lizenzen (.Open-Source-Lizenzbedingungen.) bereitstellen. </p>
				<p> (b) Sie nehmen zur Kenntnis, dass (i) solche Drittanbieter- und Open-Source-Software ausschließich den entsprechenden Drittanbieter-Lizenzbedingungen und Open-Source-Lizenzbedingungen unterliegen; und (ii) diese Bedingungen ausschließich zwischen Ihnen und dem entsprechenden Lizenzgeber bestehen, und NETGEAR keinerlei Verpflichtung oder Haftung in Bezug auf solche Software im Rahmen des Vertrags hat, sofern der nachstehende Abschnitt 11 nichts Gegenteiliges vorsieht. </p>
				<p>2.4	<b>Updates. </b>  NETGEAR wird gelegentlich Patches, Bugfixes, Updates, Upgrades und sonstige Veräerungen durchfü um die Leistung von Services, Software und/oder Orbi Gerän zu verbessern (im Folgenden die .Updates.). <b>Durch Nutzung der Services, Software oder des Orbi Gerä bestägen Sie Ihr Einverstänis, dass diese Updates automatisch heruntergeladen und installiert werden kön, wobei dies automatisch durch Herunterladen und Installation auf . je nach Einzelfall . mobilen Gerän bzw. Orbi Gerän erfolgen kann, ohne dass dies eines zusälichen Hinweises oder zusälicher Zustimmung bedü </b> Sollten Sie keine derartigen Updates wün, haben Sie nur folgende Optionen: (i) Bei Anwendungs-Updates kön Sie die automatische Aktualisierungsfunktion in den Einstellungen des mobilen Gerä deaktivieren oder die NETGEAR bzw. Orbi Anwendung von dem mobilen Gerälöen. (ii) Bezü Orbi Gerän oder Software haben Sie die Möchkeit, Ihr Konto bei Orbi zu löen oder die Verwendung der Orbi Gerä einzustellen. Wenn Sie zu einem spären Zeitpunkt die vorgenannten Handlungen rügig machen, z. B. indem Sie die automatische Aktualisierungsfunktion des mobilen Gerä aktivieren oder die Nutzung der Orbi Gerä wieder aufnehmen, erklän Sie sich damit einverstanden, dass Updates wieder automatisch heruntergeladen und installiert werden. Sofern Updates nicht automatisch installiert werden, erklän Sie sich hiermit damit einverstanden, dass Sie unter Umstäen selbst Updates installieren mü wenn Sie weiterhin die volle Funktionsbreite der Services, der Software oder der Orbi Gerä nutzen möen. Des Weiteren erklän Sie sich damit einverstanden, entsprechende Installationen umgehend durchzufü </p>
				<p>3. <b>NUTZUNGSEINSCHRÄKUNGEN. </b></p>
<p>3.1 <b>Allgemeine Einschräungen. </b> Sofern nicht (und ausschließich in diesem Umfang) gemäAbschnitt 2 ausdrüh erlaubt, oder wenn entsprechende Rechte von Gesetzes wegen nicht aufgegeben werden kön, ist Ihnen Folgendes untersagt (und Sie düFolgendes Dritten weder erlauben noch sie dazu ermutigen): (i) die Software in irgendeiner anderen Weise als zu Sicherungszwecken oder zur Verwendung von Services, Software oder Orbi Gerän erforderlich kopieren, duplizieren oder anderweitig reproduzieren, (ii) die Software (oder eine Kopie oder Komponente davon) oder Rechte daran an Dritte verteilen, in einem Netzwerk bereitstellen, in Unterlizenz vergeben, vermieten, verleihen, zuweisen, üssen oder anderweitig üagen; (iii) Hinweise zu Produktidentifikation, Marke, Copyright, Vertraulichkeit, Eigentum oder sonstiger Art oder Legenden, die an der Software angebracht oder in ihr enthalten sind, entfernen, äern oder verdecken, (iv) die Software in Zeitteilung oder per Fernzugriff oder anderweitig zu verwenden, sofern dies in diesem Vertrag nicht ausdrüh erlaubt wird; oder (v) die Software (oder eine Kopie oder einen Teil davon) in Ihre Produkte einschließn. </p>
				<p>3.2 <b>Äderung und Rüwicklung (Reverse-Engineering). </b> Sofern nicht (und ausschließich in diesem Umfang) gemäAbschnitt 2 ausdrüh erlaubt, oder wenn entsprechende Rechte von Gesetzes wegen nicht aufgegeben werden kön, ist Ihnen Folgendes untersagt (und Sie düFolgendes Dritten weder erlauben noch sie dazu ermutigen): (i) die Software oder einen Teil davon rüwickeln, disassemblieren, dekompilieren oder anderweitig versuchen, den Quellcode abzuleiten; oder (ii) eine Äderung, Anpassung, Modifizierung, Üersetzung, Verbesserung oder abgeleitete Arbeiten der Software erstellen (.Ableitung.). </p>
				<p>3.3 <b>Zusammenarbeit. </b> Sie mümit NETGEAR zusammenarbeiten und jegliche zumutbare Unterstü bieten, die von NETGEAR angefordert wird, um NETGEAR bei der Verhinderung und Identifizierung der Verwendung der oder des Zugriffs auf die Software zu helfen, die oder der gegen diesen Vertrag verstö </p>
				<p>3.4. Hochrisikoanwendungen.  Die Software, Services und Orbi Gerä sind nicht fü Nutzung in Umgebungen oder Anwendungen ausgelegt, die fehlerfreies Funktionieren erfordern, z. B. nukleare Einrichtungen, Flugzeugnavigations- oder Flugzeugkommunikationssysteme, Flugleitung, Herz-Lungen-Maschinen, chirurgische Implantatgerä, Waffensysteme oder sonstige Anwendungen, Gerä oder Systeme, bei denen ein Versagen der Software, der Services oder der Orbi Gerä oder von Teilen derselben direkt zu Tod, Personenschän oder schweren Sach- oder Umweltschän füköe (im Folgenden .Hochrisikoaktivitän.). Unbeschadet sonstiger Bestimmungen des vorliegenden Vertrags gilt, dass Sie nicht berechtigt sind, die Software, Services und Orbi Gerä bzw. Teile derselben im Zusammenhang mit Hochrisikoaktivitän zu verwenden oder ihre Verwendung durch Dritte zu gestatten. Im Falle einer entsprechenden Verwendung tragen Sie das alleinige Risiko, und fü Fall, dass Sie die Software, Services und Orbi Gerä bzw. Teile derselben im Zusammenhang mit einer Hochrisikoaktivitäverwenden bzw. Dritten eine entsprechende Verwendung gestatten, verpflichten Sie sich hiermit dazu, NETGEAR gegen säliche AnsprüKosten und Haftungen schad- und klaglos zu halten, die NETGEAR aufgrund einer solchen Verwendung, die Ihnen zuzurechnen ist, entstehen. </p>
				<p>4. <b>GEBÜREN UND SUPPORT. </b></p>
				<p>4.1 <b>Allgemeines. </b>  Sie verpflichten sich, alle Gebüoder Kosten zu tragen, die fü Konto anfallen, sofern diese den Bestimmungen zu Gebü Kosten und Rechnungslegung entsprechen, die zu dem Zeitpunkt in Kraft waren, als die entsprechenden Gebüoder Kosten anfielen und fäig wurden. Da Zahlungen üine Ihrer Kreditkarten erfolgen, unterliegen diese den Vertragsbedingungen des Kreditkartenunternehmens, aus denen sich Ihre entsprechenden Rechte und Pflichten zu Kartenzahlungen ergeben, und nicht dem vorliegenden Vertrag. Indem Sie NETGEAR Ihre Kreditkartennummer und zugehöe Zahlungsinformationen üssen, autorisieren Sie NETGEAR, Ihrem Konto alle auf Basis des vorliegenden Vertrags anfallenden an NETGEAR zu zahlenden Gebüund Kosten in Rechnung zu stellen, ohne dass diesbezü keine weiteren Hinweise oder Einwilligungen erforderlich wän. Sie verpflichten sich, NETGEAR umgehend von allfäigen Äderungen bezü Ihrer Rechnungsadresse oder der füRahmen des vorliegenden Vertrags anfallenden Zahlung verwendeten Kreditkarte in Kenntnis zu setzen. NETGEAR ist jederzeit berechtigt, Preise und Rechnungsstellungsmethoden fü weiteren Verlauf zu äern, sofern dies Ihnen durch Bekanntmachung auf der Website oder per E-Mail mitgeteilt wurde. </p>
				<p>a.	<b>Steuern. </b>  Sofern bei Ihren Zahlungen füi Gerä oder Services bzw. deren Erwerb im Rahmen der Bedingungen des vorliegenden Vertrags Umsatzsteuer anfät und Sie entsprechende Steuern nicht an NETGEAR weitergeleitet haben, sind Sie fü Zahlung der entsprechenden Steuer verantwortlich sowie füfäige Strafen oder Zinszahlungen im Zusammenhang mit der Fäigkeit dieser Steuer. Fü Zwecke des vorliegenden Abschnitts gilt als .Umsatzsteuer. jede Art von Umsatz- und Mehrwertsteuer sowie sonstige Art von Steuer, die sich aus dem Verkaufserlöerechnet, die NETGEAR an seine Kunden weiterverrechnen kann und die im funktionellen Sinne das Äuivalent von Umsatzsteuer ist, sofern das die Steuern erhebende Rechtssystem keine sonstigen Mehrwert- oder Umsatzsteuern erhebt. </p>
				<p>b.	<b>Einbehalt von Steuerzahlungen. </b>  Sie verpflichten sich, alle Gebüahlungen an NETGEAR stets vollstäig vorzunehmen, ohne Abzug von Steuerzahlungen. Solche auf Gebüahlungen an NETGEAR erhobenen Steuern sind von Ihnen zu zahlen, und Sie sind verpflichtet, NETGEAR offizielle Zahlungsbestägungen der zustäigen Steuerbehö vorzulegen sowie weitere diesbezüe Nachweise, sofern wir letztere im angemessenen Rahmen anfordern, um die Erbringung der Steuerschuld zu dokumentieren. </p>
				<p>c.	<b>Streitigkeiten. </b>  Informieren Sie NETGEAR bitte innerhalb von sieben (7) Tagen ab Eingang eines Kreditkartenkonto-Auszugs in Schriftform, sofern Sie Gebü die aus dem Auszug hervorgehen, anfechten möen. Erklängen zu Rechnungslegungsanfechtungen sind an folgende E-Mail-Adresse zu senden: support@NETGEAR.com. </p>
				<p>4.2 <b>Support. </b>  NETGEAR ist berechtigt, Updates, Support, Upgrades oder die Verbesserung der Services, Software und/oder des Orbi Gerä jederzeit ohne Angabe von Grüund ohne Voranküng einzustellen. </p>
				<p>5. <b>RECHTE AUF EIGENTUM UND GEISTIGES EIGENTUM. </b></p>
				<p>5.1 <b>Rechte an der Software. </b> Rechte auf geistiges Eigentum an den Services, der Software und dem Orbi Geräsind durch die Urheberrechtsgesetze der USA und andere anwendbare Rechtsprechungen (einschließich internationalen Verträn) sowie andere Gesetze, Statuten und Verträ der USA, des Auslands oder internationaler Art zum Schutz des Eigentums, geistigen Eigentums und gewerblichen Eigentums geschüNETGEAR und seine Lizenzgeber haben und behalten die alleinigen und ausschließichen Rechte, Titel und Erträ an bzw. aus der Software, einschließich aller ihrer Kopien und Komponenten sowie alle Rechte auf geistiges Eigentum daran. NETGEAR und seine Lizenzgeber behalten alle in diesem Vertrag nicht ausdrüh genannten Rechte. Sie erkennen an und erklän sich damit einverstanden, dass die Software (einschließich aller Kopien, die Ihnen zur Verfügestellt werden oder die von Ihnen erstellt werden) fü lizenziert ist und nicht an Sie verkauft wurde. </p>
				<p>5.2 <b>Rechte an unterstüen Informationen und Ableitungen. </b> Jegliche Ideen, Fehlerberichte, säliches Feedback hinsichtlich der Verwendbarkeit und andere Vorschlä und Feedback, die von Ihnen oder in Ihrem Namen hinsichtlich der Service, der Software und des Orbi Gerä vorgebracht werden (im Folgenden .unterstüe Informationen.) sowie alle Ableitungen der Software, die von Ihnen oder fü erstellt werden (ob mit oder ohne Erlaubnis unter diesem Vertrag), einschließich jeglichen geistigen Eigentums daran, sind alleiniges und ausschließiches Eigentum von NETGEAR oder seinen Lizenzgebern. </p>
				<p>5.3 <b>Abtretung von Rechten. </b> Sie stimmen unwiderruflich zu, alle Rechte, Titel und Erträ weltweit an den unterstüen Informationen oder Ableitungen sowie jegliche Rechte auf geistiges Eigentum daran an NETGEAR abzutreten und auf Anfrage von NETGEAR jegliche Hilfestellung füGEAR auf Kosten von NETGEAR bei der Perfektionierung, Aufzeichnung und Inkraftsetzung dieser Rechte zu leisten. In dem Maß, wie eine solche Abtretung unter anwendbarem Recht ungüist, stimmen Sie unwiderruflich zu, hiermit NETGEAR eine ausschließiche, üagbare, unterlizenzierbare, unbegrenzte, dauerhafte und weltweite Lizenz zur Verwendung, Kopie und anderweitigen Nutzung oder Kommerzialisierung solcher unterstüen Informationen und Ableitungen in jeder bekannten oder in der Zukunft denkbaren Weise zu gewäen. </p>
				<p>5.4 <b>Technische Aspekte und Datenerfassung. </b>  Sie müauf Ihre eigenen Kosten alle zur Verwendung der Software, der Services und des Orbi Gerä erforderlichen Telekommunikationsleitungen, Monitore, PCs, Modems, Router, mobilen Gerä, Ihren Internetdienstanbieter (im Folgenden der .ISP.) und Ihren Anbieter fünste bei mobilen Gerän (im Folgenden der .Mobilgerä-Anbieter.) usw. sowie den erforderlichen Zugriff selbst bereitstellen und warten. </p>
				<p><b>Als Teil der normalen Installation und Funktion der Software sammelt NETGEAR Daten zur Optimierung der Leistung der Software und/oder des Orbi Netzwerks.  Die gesammelten Informationen kön insbesondere die Anzahl der zum Abschließn der Konfigurationen erforderlichen Anzahl von Klicks und die dafüöe Zeit, den Pfad zwischen dem Anfang und dem Ende der Konfiguration, die WLAN-Geschwindigkeit des Internetdienstanbieters, die LAN-Geschwindigkeit zwischen dem Orbi Netzwerk und Ihrem mobilen Geräsowie das Betriebssystem und das Modell des fü Konfiguration Ihres Netzwerks verwendeten mobilen Gerä umfassen.  Als Teil der Softwarefunktionen kön Sie von NETGEAR gesendete Benachrichtigungen erhalten, wenn es eine Äderung in der Topologie des Orbi Netzwerks gibt, sowie zu technischen Updates üie Orbi Gerä und Services. </b>  Orbi kann zudem ein täiches automatisches Firmware-Update und eine Funktion zur automatischen Optimierung der Netzwerktopologie implementieren, die durch diese Software implementiert werden.  </p>
				<p>Durch die Verwendung der Software stimmen Sie zu, dass NETGEAR die oben genannten Informationen erfassen darf. </p>
				<p>Im weiteren Verlauf kann NETGEAR Ihnen die Möchkeit einräen, Orbi Gerä, Software und Services mit Produkten oder Diensten von Drittanbietern (.Drittanbieterprodukte und -dienste.) unter Verwendung der Services zu verbinden. Die Entscheidung, mit welchen Drittanbieterprodukten oder -diensten eine Verbindung hergestellt wird, obliegt Ihnen. </p>
				<p>Mit Ihrer Zustimmung zur Verbindung mit einem bestimmten Drittanbieterprodukt oder -dienst bestägen Sie auch, dass NETGEAR Informationen und Steuerdaten zu Ihnen oder Services, Software und Orbi Gerän, die von Ihnen genutzt werden, an entsprechende Anbieter gemäden Einschräungen unser Datenschutzrichtlinie weitergeben darf, um die von Ihnen autorisierte Schnittstelle zu aktivieren; die weitergeleiteten Daten kön dabei auch persöche Daten umfassen. Sobald diese Daten mit dem entsprechenden Drittanbieterprodukt oder -dienst ausgetauscht worden sind, unterliegt ihre Verwendung nicht mehr den Datenschutzrichtlinien von NETGEAR, sondern denen des betreffenden Drittanbieters. Sie bestägen hiermit, dass NETGEAR keine Zusagen oder Garantien hinsichtlich der Sicherheit von Drittanbieterprodukten oder -diensten abgeben kann. Dementsprechend haftet NETGEAR nicht füe Nutzung von Drittanbieterprodukten oder -diensten, und auch nicht füsonenschän, Todesfäe, Sachschän oder sonstige Schän oder Verluste, die aus Ihrer Nutzung von Drittanbieterprodukten oder -diensten erwachsen oder mit dieser Nutzung in Bezug stehen; wobei hiervor die im nachstehenden Abschnitt 11 aufgefü Aspekte ausgenommen sind. Sollten Sie Fragen zu Drittanbieterprodukten oder -diensten haben, müSie sich mit dem betreffenden Drittanbieter in Verbindung setzen. Gesetzliche Regelungen zu Datensicherheit, Datenschutz und sonstige Gesetze an Ihrem Wohnort legen Ihnen und der Nutzung der Orbi Gerä, Software und Services durch Sie möcherweise gewisse Verpflichtungen auf. Sie verpflichten sich hiermit, selbst alle gesetzlichen Pflichten bei der Nutzung von Orbi Gerän, Software und Services einhalten, ohne dass NETGEAR diesbezü keine Verpflichtung erwü </p>
				<p>Alle von NETGEAR wäend oder nach der Installation der Software von Ihnen erfassten Informationen unterliegen unserer Datenschutzrichtlinie, die Sie unter folgender Adresse lesen kön: http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b>REGISTRIERUNG UND KONTODATEN. </b></p>
				<p>6.1. Bestimmte Funktionen, die ürbi Gerä, Software und Services angeboten werden, erfordern, dass Sie durch eine Registrierung ein Konto . einschließich Benutzer-ID und Passwort (im Folgenden die .Kontendaten.) . einrichten. Sie verpflichten sich hiermit, exakte, vollstäige und aktuelle Informationen bei der Registrierung (im Folgenden die .Registrierungsdaten.) anzugeben. Sie räen NETGEAR hiermit das Recht ein, von Ihnen angegebene Registrierungsdaten bei Verwaltung und Rechnungslegung hinsichtlich Ihres Kontos zu verwenden. Sie tragen die alleinige Verantwortung fü Vertraulichkeit Ihrer Kontendaten sowie füe Aktivitän, die ühr Konto erfolgen. Sie verpflichten sich hiermit, NETGEAR umgehend davon in Kenntnis zu setzen, wenn Sie eine nicht autorisierte Nutzung Ihres Kontos oder Ihrer Kontendaten bemerken. </p>
				<p>6.2. NETGEAR hat eine integrierte Registrierungs-Lög durch einen einfachen Anmeldevorgang (im Folgenden .SingleSignOn.) umgesetzt. SingleSignOn bedeutet, dass Sie, sobald Sie ein Konto bei NETGEAR eingerichtet haben, Ihr Benutzerkonto und Ihre Benutzer-ID füere Services von NETGEAR nutzen kön, so dass Sie keine weiteren Benutzerkonten und Benutzer-IDs füere Services einrichten mü SingleSignOn gestattet es Ihnen auch, sich gleichzeitig üerschiedene Gerä bei Services an- und abzumelden. </p>
				<p>6.3 SingleSignOn kann Ihnen die Möchkeit bieten, Ihre Services mit Ihrem Konto ürittanbieter-Websites im Social-Media-Bereich wie Facebook, Twitter und Google+ via SingleSignOn üine Anwendungsprogrammierungsschnittstelle (Application Programming Interface = API) oder eine andere Software zu verknü  </p>
				<p>Wenn Sie SingleSignOn gestatten, sich mit Ihren Konten bei den betreffenden Drittanbieter-Websites zu verbinden, gestatten Sie uns den Zugriff auf Informationen in diesen Konten, wobei dies auch persöch zuzuordnende Daten umfassen kann. Dies schrät die Offenlegungen gemäder Datenschutzrichtlinie von NETGEAR nicht ein und schließ sie auch nicht aus. Des Weiteren sind Sie sich bewusst, dass durch Ihren Zugriff auf SingleSignOn ühr Social-Media- oder sonstiges Drittanbieter-Konto möcherweise Ihre Aktivitän üingleSignOn auf der Drittanbieter-Website veröntlicht werden. Die Verwendung entsprechender Drittanbieter-Website unterliegt allein Ihrem Ermessen. Wir empfehlen Ihnen, die Datenschutzrichtlinien aller Drittanbieter-Websites zu üübevor Sie SingleSignOn gestatten, Ihre Konten mit diesen Websites zu verknüoder Seiten bzw. Informationen üiese Websites mit Bekannten austauschen. </p>
				<p>Sie bestägen hiermit, dass Ihr Benutzername bei SingleSignOn nicht Ihr Eigentum ist. NETGEAR ist berechtigt, Ihren Benutzernamen zurüordern oder zu verwenden. </p>
				<p>6.4. Sie verpflichten sich, Ihre Kontendaten sicher aufzubewahren und jeden unbefugten Zugriff durch Dritte auf diese Daten oder Ihr Konto nach Möchkeit zu vermeiden. Dies gilt insbesondere dahingehend, dass Sie leicht zu erratende Benutzer-IDs oder Passwör vermeiden, Ihr Passwort regelmäg äern und sicherstellen, dass Sie Ihre Passwör niemandem offenlegen oder anderen Benutzern oder Dritten Zugriff auf Ihre Kontendaten oder Services gestatten. </p>
				<p>6.5. Wenn NETGEAR Anweisungen von Dritten oder anderen Benutzern erhä, wobei letztere Ihre Kontendaten verwenden oder diese angeben, ist NETGEAR berechtigt, diese Anweisungen als von Ihnen gegeben anzusehen. </p>
				<p>6.6. Sie verpflichten sich, keine Kontendaten oder Services anderer Benutzer oder sonstiger Dritter zu verwenden, sofern die betreffenden Personen, denen der betreffende Service zusteht, Ihnen dies nicht ausdrüh gestattet haben. </p>
				<p>6.7. Sie verpflichten sich, NETGEAR umgehend davon in Kenntnis setzen, wenn Sie Kenntnis von einer nicht autorisierten Nutzung Ihrer Registrierungsdaten oder Kontendaten oder einer sonstigen Verletzung der Sicherheit erlangen. </p>
				<p>6.8. Sie kön Ihre Registrierungs- oder Kontodaten jederzeit einsehen und äern, indem Sie auf den zutreffenden NETGEAR Service zugreifen. </p>
				<p>7. <b>BEENDIGUNG. </b></p>
				<p>7.1 <b>Ablauf der Vertragslaufzeit. </b> Dieser Vertrag gilt ab dem Datum, an dem Sie diesen Vertrag akzeptieren, auf unbestimmte Zeit bis zur Beendigung wie im Folgenden dargelegt. </p>
				<p>7.2 <b>Beendigung. </b> Vorausgesetzt, dass keine anderen Rechte verletzt werden oder Rechte füGEAR verloren gehen, ist NETGEAR berechtigt, den vorliegenden Vertrag durch Küngserkläng Ihnen gegenüu kün, wenn Sie eine Bestimmung dieses Vertrags nicht einhalten. In einem solchen Fall wird NETGEAR von Ihnen im Voraus geleistete Gebüerstatten. Sie kön diesen Vertrag auch jederzeit beenden, indem Sie alle Kopien der Software in Ihrem Besitz und unter Ihrer Kontrolle zerstö. Wenn NETGEAR üine öntliche Anküng, per E-Mail an Sie, üine Veröntlichung auf der Website oder durch eine Pressemitteilung eine Aufforderung tägt, diesen Vertrag zu beenden, wird dieser Vertrag an dem in der öntlichen Anküng, der Veröntlichung auf der Website, der E-Mail oder der Pressemitteilung angegebenen Datum (im Folgenden das .Vertragsenddatum.) beendet, und Sie erklän sich damit einverstanden, die Verwendung der Kopien der Software an oder vor diesem Vertragsenddatum zu beenden. Nach der Beendigung dieses Vertrags oder dieser Lizenz bezü einer Software aus jeglichem Grund bleiben die Bestimmungen in den Abschnitten 1, 3, 5, 6, 7.2, 8, 9, 10, 11 und 12 gemäihren Bedingungen weiter bestehen. </p>
				<p>Wenn Sie ein Orbi Geräauf einen neuen Eigentübertragen, endet damit automatisch Ihr Recht, die Services zu nutzen, die mit diesem Geräzusammenhäen, wäend der neue Eigentüicht berechtigt ist, das Orbi Geräoder Services üins Ihrer NETGEAR Konten zu nutzen. Vielmehr muss sich der neue Eigentüit einem eigenen Konto bei NETGEAR registrieren. </p>
				<p>8. <b> MARKEN. </b></p> 
				<p>8.1 <b>Keine Markenlizenz. </b> Vorbehaltlich ausdrüher anderweitiger Bestimmungen des vorliegenden Textes erkennen Sie an, dass dieser Vertrag Ihnen kein Recht verleiht, Unternehmensnamen, Marken, Dienstleistungsmarken, Handelsnamen von Richtungsweisenden, Slogans, Logo oder andere Bezeichnungen von NETGEAR oder einer seiner Tochtergesellschaften oder angeschlossenen Unternehmen (insgesamt .NETGEAR Marken.) zu verwenden, selbst wenn diese Marken auf oder in der Software angezeigt werden oder anderweitig im Material enthalten sind, das Ihnen im Zusammenhang mit diesem Vertrag zur Verfügestellt wird. </p>
				<p>8.2 <b>Keine Annahme oder Verwendung. </b> Sie erklän sich damit einverstanden, keine Unternehmensnamen, Marken, Dienstleistungsmarken, Zertifizierungsmarken, Handelsnamen, Slogans, Logos oder andere Bezeichnungen anzunehmen, zu verwenden oder zu registrieren, die NETGEAR Marken äeln oder diese vollstäig oder teilweise enthalten. Ohne Beschräung des Vorstehenden stimmen Sie zu, wäend der Geltungsdauer dieses Vertrags und danach .NETGEAR. oder .Orbi. nicht als Teil Ihres Unternehmensnamens, Ihrer Marke, Ihrer Produktnamen oder Ihres Subdomainnamens zu verwenden. </p>
				<p>9. <b>VERTRAULICHKEIT. </b> Sie erkennen an, dass die Software wertvolle Geschäsgeheimnisse und vertrauliche Informationen von NETGEAR (.vertrauliche Informationen.) darstellt. Sie erklän sich damit einverstanden, diese vertraulichen Informationen keinen Dritten zur Verfüzu stellen oder offenzulegen, außr einem Dritten, der durch eine äliche Geheimhaltungsverpflichtung gebunden ist. </p>
								<p>10. <b>GEWÄRLEISTUNG UND HAFTUNGSAUSSCHLUSS. </b></p>
<p>DIE HARDWARE-GARANTIE FÜ DAS Orbi GERÄ BEFINDET SICH IM DOKUMENT MIT DER EINGESCHRÄKTEN GARANTIE, DAS DEM GERÄ BEIGELEGT IST UND AUCH UNTER FOLGENDER ADRESSE EINGESEHEN WERDEN KANN: https://www.netgear.com/about/warranty. </p>
				<p>10.1 HINSICHTLICH DER SOFTWARE GILT DAS GESETZLICHE HAFTUNGSRECHT.  </p>
				<p>10.2 IN ABHÄGIGKEIT VON ABSCHNITT 10.1 UND/ODER DER HAFTUNG GEMÄS ABSCHNITT 11 (NACHSTEHEND), GILT, DASS KEINE MÜDLICHEN ODER SCHRIFTLICHEN EINLASSUNGEN SEITENS NETGEAR, SEINER LIZENZGEBER, ZULIEFERER, VERTRIEBSPARTNER, ZWISCHENHÄDLER, VERTRETER ODER MITARBEITER GEEIGNET SIND, DEN UMFANG DER VORLIEGENDEN HAFTUNG ZU ÄDERN ODER ZU ERHÖEN. NETGEAR GEWÄRLEISTET NICHT DAFÜ, DASS SOFTWARE UND SERVICES DEN ANFORDERUNGEN VON LIZENZNEHMERN, VERTRIEBSPARTNERN, ENDBENUTZERN ODER DRITTEN ENTSPRECHEN, ODER DAS DER BETRIEB VON SOFTWARE UND SERVICES JEDERZEIT UND FEHLERFREI MÖLICH IST.  NETGEAR GIBT KEINE GARANTIE AB HINSICHTLICH FEHLERHAFTER BEDINGUNGEN ODER INKOMPATIBILITÄEN INFOLGE DER VERWENDUNG, DEM UNSACHGEMÄSEN GEBRAUCH, DER UNSACHGEMÄSEN INSTALLATION, DER UNSACHGEMÄSEN VERARBEITUNG, VON UNFÄLEN ODER DES MISSGEBRAUCHS DER SOFTWARE ODER SERVICES DURCH DEN LIZENZNEHMER ODER HINSICHTLICH FEHLERN INFOLGE DER EINBINDUNG DER SOFTWARE ODER SERVICES IN EIN PRODUKT DES LIZENZNEHMERS ODER DES VERSÄMNISSES DES LIZENZNEHMERS, VON NETGEAR BEREITGESTELLTE ÄDERUNGEN, ANLEITUNGEN, UPDATES ODER BERICHTIGUNGEN ANZUWENDEN. </p>
				<p>11. <b>HAFTUNGSBESCHRÄKUNG. </b></p>
<p>11.1 IN FOLGENDEN FÄLEN HAFTET NETGEAR UNEINGESCHRÄKT: </p><p>
(i)	UNTERGANG ODER SCHÄEN, DIE DURCH VORSÄZLICHES ODER GROB FAHRLÄSIGES VERHALTEN SEITENS NETGEAR, SEINER VORSTANDSMITGLIEDER, LEITENDEN ANGESTELLTEN ODER SEINER SONSTIGEN DIREKTEN VERTRETER ENTSTANDEN SIND. </p><p>
(ii)	UNTERGANG ODER SCHÄEN VON HANDLUNGEN, DIE ZU TOD, PERSONEN- UND GESUNDHEITSSCHÄEN GEFÜRT HABEN, ODER VON DER ÜERNAHME EINER GARANTIE ODER EINER HAFTUNG FÜ EIN ANSCHAFFUNGSRISIKO, ODER GEMÄS GELTENDEM RECHT. </p>
<p>11.2 DIE HAFTUNG VON NETGEAR FÜ EIGENE FAHRLÄSIGKEIT, ODER FAHRLÄSIGKEIT SEINER VORSTANDSMITGLIEDER, LEITENDEN ANGESTELLTEN ODER SONSTIGEN DIREKTEN VERTRETER, DIE NICHT DIE MERKMALE GROBER FAHRLÄSIGKEIT ERFÜLT, ÜERSTEIGT, FÜ DEN FALL, DASS DIE SCHÄEN AUF EINEN VERSTOSS GEGEN EINE MATERIELLE VERTRAGSPFLICHT ZURÜKZUFÜREN SIND, UNTER KEINEN UMSTÄDEN DEN TYPISCHEN VORHERSEHBAREN SCHADENERSATZUMFANG, DER ÜLICHERWEISE ENTWEDER DEM LISTENPREIS VON NETGEAR FÜ DIE SOFTWARE UND SERVICES ENTSPRICHT, AUF DIE DAS ENTSTEHEN DES SCHADENERSATZANSPRUCHS ZURÜKZUFÜREN IST, ODER DEN VON IHNEN FÜ DIESE SOFTWARE UND SERVICES GEZAHLTEN BETRÄEN . ES GILT DER JEWEILS NIEDRIGERE BETRAG. EBENFALLS VON DIESER REGELUNG BETROFFEN SIND DIESBEZÜLICHE SCHADENERSATZANSPRÜHE, DIE AUS DER NUITZUNG EINES PRODUKTS ERWACHSEN SIND, ÜER DAS SOFTWARE UND SERVICES ZUR VERFÜUNG GESTELLT WURDEN. </p>
<p>11.3 JEGLICHE WEITERE HAFTUNG VON NETGEAR IST AUSGESCHLOSSEN, SOFERN DIE REGELUNGEN DER ABSCHNITTE 11.1 UND 11.2 NICHT EINSCHLÄIG SIND. </p>
				<p>11.4 WENN DIE HAFTUNG GEMÄS ABSCHNITT 11.2 EINGESCHRÄKT IST, HAFTET NETGEAR NICHT FÜ ENTGANGENEN GEWINN ODER SONSTIGE FOLGEKOSTEN. </p>
				<p>12. <b>ALLGEMEINE</b> <b>BESTIMMUNGEN.</b></p>
				<p>12.1 <b>Steuern. </b> Sie allein tragen ggf. anfallende Steuern, Zö oder Gebü die fü Software oder Services bzw. Ihre Nutzung derselben oder Ihre Leistungen im Rahmen dieses Vertrags erhoben werden. Sie sind dafüantwortlich, solche von NETGEAR geforderten Steuern, Zö und Gebüzu zahlen, sofern diese nicht auf das Nettoeinkommen oder die Gehaltsabrechnung von NETGEAR anwendbar sind.</p>
				<p>12.2 <b>Ihre Gegenleistung. </b> Die in diesem Vertrag gewäten Rechte und Lizenzen unterliegen Ihrer Einhaltung der Bestimmungen und Bedingungen dieses Vertrags. Sie erkennen an und erklän sich damit einverstanden, dass Ihre einzige und ausschließiche Gegenleistung füe Erfü im Rahmen dieses Vertrags die Rechte und Lizenzen sind, die Ihnen in diesem Vertrag gewät werden, und dass Sie keinen Anspruch auf irgendwelche Entlohnung, Rütattung oder andere Gegenleistung von NETGEAR oder seinen Lieferanten haben.</p> 
				<p>12.3 <b>Klage auf Unterlassung. </b> Sie erkennen an und erklän sich damit einverstanden, dass das Kopieren, Offenlegen oder Nutzen der Software oder jeglicher Informationen, Materialien oder Services, die im Rahmen dieses Vertrags auf eine Weise bereitgestellt werden, die einer Bestimmung dieses Vertrags nicht entspricht, irreparable Schän füGEAR verursacht, fü NETGEAR keinen angemessenen rechtlichen Anspruch hat. Dementsprechend ist NETGEAR berechtigt, rechtliche Maßahmen vor Gericht in Anspruch zu nehmen, unter anderem einstweilige und dauerhafte Verfün, soweit einschläg. </p>
				<p>12.4 <b>Keine Partnerschaft. </b> Die Parteien kommen ihren jeweiligen Verpflichtungen im Rahmen dieses Vertrags als unabhäige Vertragsnehmer nach. Dieser Vertrag ist nicht dafügelegt, eine Anstellung, Agentur, einen Alleinvertrieb, ein Franchise-Unternehmen, ein Joint Venture, eine legale Partnerschaft oder eine äliche rechtliche Beziehung zwischen NETGEAR und Ihnen zu erzeugen. Keine der Parteien hat das Recht oder die Autoritä im Namen der anderen Partei oder zur Bindung der anderen Partei zu agieren, und keine der Parteien stellt Dritten gegenüar, dass sie ein solches Recht oder eine solche Autoritäbesitzt. </p>
				<p>12.5 <b>Keine Üertragung. </b> Sie sind nicht berechtigt, die Rechte und Verpflichtungen im Rahmen dieses Vertrags (ganz oder in Teilen, freiwillig, im Rahmen einer Fusion, kraft Gesetzes oder anderweitig) ohne die vorherige schriftliche Genehmigung von NETGEAR abzutreten oder anderweitig zu üagen. Dieses Einverstänis kann nach eigenem Ermessen von NETGEAR verweigert werden, und jeglicher Versuch einer Üertragung oder Abtretung ist null und nichtig und wird als wesentliche Verletzung dieses Vertrags betrachtet.</p>
				<p>12.6 <b>Vollstäige Üereinkunft; Ergäung. </b> Dieser Vertrag stellt die vollstäige, endgü und ausschließiche Üereinkunft bezü des Vertragsgegenstands dar.  Der vorliegende Vertrag kann weder vollstäig noch teilweise geäert werden, sofern Ihnen gegenüeine entsprechende vorherige Erkläng erfolgte. </p>
				<p>12.7 <b>Verzichtsklausel. </b> Eine Verzichtsklausel füsänisse im Rahmen dieses Vertrags oder einer seiner Bestimmungen und Bedingungen wird nicht als fortlaufende Verzichtsklausel oder als Verzichtsklausel eines anderen Versänisses einer anderen Bestimmung oder Bedingung angesehen, sondern gilt einzig fü Vorkommen, auf das die Verzichtsklausel abzielt. </p>
				<p>12.8 <b>Zustäige Gesetzgebung und Sprache. </b> Dieser Vertrag wird durch die Bestimmungen des kalifornischen Rechts geregelt, wobei das kalifornische Kollisionsrecht und entsprechendes US-Recht ausgeschlossen sind. Diese Festlegung auf das fü Auslegung des Vertrags einschläge Recht steht keinen nach dem fü geltenden Recht nicht vertraglich abdingbaren Rechten . z. B. Verbraucherschutzrecht . entgegen. Die Anwendung des Üereinkommens der Vereinten Nationen üerträ üen internationalen Warenkauf ist ausdrüh ausgeschlossen. Rechtsverbindliche Version des vorliegenden Vertrags ist ausschließich seine englische, und jede Auslegung oder Entwicklung dieses Vertrags basiert darauf. Fü Fall, dass dieser Vertrag oder damit zusammenhäende Dokumente oder Hinweise in eine andere Sprache ützt werden, ist die englische Version die vorherrschende, sofern das fü anwendbare Recht keine anderweitigen Bestimmungen vorgibt. </p>
				<p>12.9 <b>Export. </b> Sie bestägen hiermit, dass Ausfuhr und Wiederausfuhr von Software und Orbi Gerän bestimmten Import- und Exportbeschräungen unterliege. Insbesondere düSoftware und Orbi Gerä nicht in (a) Läer exportiert oder reexportiert werden, üie die USA ein Handelsembargo verhät haben, oder (b) an Personen geliefert werden, die in der Liste des US-Finanzministeriums mit speziell gekennzeichneten Personen (.Specially Designated Nationals.) bzw. den Listen des US-Handelsministeriums zu fü Export unzuläigen Personen oder Körschaften (.Denied Person's List. und .Entity List.) aufgefüind. Durch Nutzung der Software und Orbi Services bestägen Sie, dass Sie (i) sich nicht in einem Land befinden, das einem durch die USA verhäten Embargo unterliegt oder von den USA als ein den Terrorismus unterstües Land eingeordnet wurde, sowie (ii) dass Sie nicht auf den von den USA gefü Listen gesperrter oder eingeschräter Vertragsparteien stehen.  Im Allgemeinen gilt, dass Sie säliche Ausfuhrbestimmungen der USA strikt einhalten müund die Software bzw. Orbi Gerä oder ein direktes Produkt derselben nicht an irgendein Ziel, zur Endnutzung oder an einen Endbenutzer ausfü wiederausfü üagen oder umleiten dü die im Rahmen dieser Gesetze und Vorschriften zur Ausfuhrbeschräung der USA ausgeschlossen oder beschrät sind, sofern nicht ausdrüh vom US-Wirtschaftsministerium autorisiert. Sie erklän sich damit einverstanden, NETGEAR und seine Lieferanten gegen säliche AnsprüVerluste, Haftbarkeiten oder Schän schadlos zu halten, die von NETGEAR und seinen Lieferanten als Folge oder im Zusammenhang mit Ihrem Verstoßgegen diesen Absatz erlitten werden oder fü entstehen.</p>
				<p>Services, Software und Orbi Gerä sind nicht ül und füermann erhälich.  Wenn Sie auf Services, Software oder Orbi Gerä außrhalb eines Landes zugreifen, in dem Services, Software oder die Orbi Gerä von NETGEAR unterstüerden, geschieht dies in Ihrer Verantwortung, insbesondere auch, was die Einhaltung geltenden Rechts im betreffenden Land angeht. Sie bestägen hiermit, dass Ihnen bewusst ist, dass manche oder alle Funktionen der Services, Software oder der Orbi Gerä im betreffenden Land möcherweise nicht funktionieren oder nicht zuläig sind. Soweit gesetzlich zuläig, haftet NETGEAR nicht füän oder Verluste, die auf den Zugriff auf die Dienste, Software oder Orbi Gerä bzw. deren Nutzung durch Sie von anderen als den von NETGEAR unterstü Läern aus zurüüsind. Die vorliegenden Bestimmungen behalten jederzeit ihre Güeit, unabhäig davon, von welchem Standort aus Sie die Website nutzen oder auf die Services zugreifen. </p>
				<p>12.10 <b>Salvatorische Klausel. </b> Wenn ein zustäiges Gericht eine Bestimmung dieses Vertrags ganz oder in Teilen als illegal, ungüoder nicht durchsetzbar ansieht, ist diese Bestimmung oder der entsprechende Teil davon fü Rechtsprechung, in der sich das Gericht befindet, in dem Ausmaßihrer Illegalitä Ungüeit oder Nichtdurchsetzbarkeit ungüund soll als in dem Ausmaßgeäert angesehen werden, wie es erforderlich ist, damit sie dem anwendbarem Gesetz entspricht, um die Absicht der Parteien so weit wie möch ersichtlich werden zu lassen. Die Illegalitä Ungüeit oder Nichtdurchsetzbarkeit einer solchen Bestimmung in dieser Rechtsprechung hat keine Auswirkungen auf die Rechtmägkeit, Güeit oder Durchsetzbarkeit einer anderen Bestimmung dieses Vertrags oder einer anderen Rechtsprechung. </p>
				<p>12.11 <b>Höe Gewalt. </b> Keine der Parteien haftet füler oder Verzöungen der Erfü im Rahmen dieses Vertrags, die direkt oder indirekt, ganz oder in Teilen, aufgrund von Zufäen, Verzöungen, Ausfäen oder Ursachen jeglicher Art außrhalb der zumutbaren Kontrolle der Parteien entstehen. Ohne irgendeine Einschräung des allgemeinen Vorhergehenden umfassen solche Ursachen Feuer, Explosionen, Erdbeben, StüFluten oder andere Wettergegebenheiten, Nichtverfüeit erforderlicher Hilfsmittel oder Rohmaterialien, Stromausfäe, Streik, Aussperrung, Nichtverfüeit von Komponenten, Aktivitän einer Kombination von Arbeitern oder andere Schwierigkeiten mit Arbeitskräen, Krieg, Terrorismus, Revolte, Aufruhr, höe Gewalt oder feindselige Handlungen, Gesetz, Verordnung, Verfü Ausfuhrkontrollbestimmungen, Urteilsverküng, Vorschrift, Anordnung oder Anweisung von der Regierung oder anderen Behön oder Urteil oder Erlass eines Gerichts zustäiger Rechtsprechung (sofern nicht durch Verstoßder Partei gegen diesen Vertrag entstanden). </p>
				<p>12.12 <b>Mitteilungen. </b>  Sofern Sie gehalten sind, NETGEAR eine E-Mail-Adresse anzugeben, üie Sie zu erreichen sind, tragen Sie die Verantwortung dafüss NETGEAR Ihre aktuelle E-Mail-Adresse angegeben wird. Sofern die letzte von Ihnen gegenüETGEAR angegebene E-Mail-Adresse nicht güsein sollte oder aus einem anderen Grund nicht zum Empfang der gemäder vorliegenden Regelung erforderlichen und zuläigen Mitteilungen in der Lage ist, gilt der Versand einer entsprechenden E-Mail von NETGEAR an die angegebene Adresse dessen ungeachtet als dem Vertrag genü Mitteilung. NETGEAR ist nicht füomatische Filterfunktionen verantwortlich, die von Ihnen oder Ihrem Netzwerkanbieter füail-Benachrichtigungen eingerichtet wurden. Mitteilungen von Ihnen an NETGEAR haben an folgende E-Mail-Adresse zu erfolgen: support@NETGEAR.com</p>
				<p>12.13 <b>Vollstäiger Vertrag. </b>  Der vorliegende Vertrag einschließich verschiedener zusälicher Bedingungen, die durch Verweise Teil des Vertragstextes geworden sind, stellt die Gesamtheit der vertraglichen Üereinkunft zwischen Ihnen und NETGEAR dar. Er geht hinsichtlich des Gegenstands des vorliegenden Vertrags allen frü Verträn, Üereinkü oder sonstigen Mitteilungen zwischen Ihnen und NETGEAR vor, unabhäig davon, ob diese müh oder schriftlich erfolgten. </p>
				<p>12.15. <b>Einhaltung von Gesetzen. </b>  Sie verpflichten sich, bei Ihrer Nutzung der Services, der Software und der Orbi Gerä alle geltenden Gesetze einzuhalten. </p>
				<p>12.16. <b>Zustimmung zu elektronischen Mitteilungen. </b>  Durch Ihre Nutzung der Services, der Software und der Orbi Gerä erklän Sie sich damit einverstanden, bestimmte elektronische Mitteilungen von uns zu erhalten, die sich auf Orbi Gerä, Software und Services beziehen, einschließich unter anderem (a) Benachrichtigungen zu Ihrer Nutzung von Produkten, Sofware und Services, wie Benachrichtigungen bezü möcher Nutzungsverstö (b) Updates und, (c) soweit Sie nach geltendem Recht sich einverstanden erklän kön, Werbeinformationen und -material zu NETGEAR Produkten, Software und Services. Die Mitteilungen erfolgen ü-Mail. Weitere Informationen dazu, wie wir Ihre persöchen Informationen nutzen und wie Sie die entsprechenden Einstellungen äern oder Werbeabonnements kün kön, finden Sie in unserer Datenschutzrichtlinie. </p>
				<p>Sie bestägen hiermit, dass alle Nachrichten, Verträ, Offenlegungen und sonstigen Mitteilungen, die wir Ihnen auf elektronischem Wege zusenden, den rechtlichen Formansprügenü</p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134 USA</b></p>
				<p><b>Telefon</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Fax</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>ODER</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Irland</b></p>
				<p><b>Telefon</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Fax</b></p>
				<p><b>353 21 2333 299</b></p>
				<p>1. Ausgabe, Datum: <b>14. September 2016</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
