<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>Orbi UYGULAMANIZ, Orbi YAZILIMINIZ, Orbi HİZMETLERİ VE Orbi CİHAZINA İLİŞKİN TEMEL HİZMET ŞARTLARI</p>
				<p>BU TEMEL HİZMET ŞARTLARI (İŞBU "SÖZLEŞME"), BURADA ATIFTA BULUNULAN GİZLİLİK POLİTİKASI https://www.netgear.com/about/privacy-policy/ İLE BİRLİKTE, NETGEAR, INC.IN ("NETGEAR") Orbi CİHAZININ VE Orbi UYGULAMASININ KULLANIMI VASITASIYLA KULLANIMA SUNULAN YA DA ETKİNLEŞTİRİLEN YAZILIMI (AŞAĞIDA TANIMLANDIĞI ŞEKLİYLE) VE HİZMETLER İLE KAYNAKLARI (HER BİRİ BİR "HİZMET" VE TOPLUCA "HİZMETLER") İŞBU SÖZLEŞME'Yİ KABUL EDEN KİŞİ YA DA ŞİRKETE ("SİZ") SUNMAYI KABUL ETTİĞİ HÜKÜM VE KOŞULLARI BELİRTMEKTEDİR. İŞBU SÖZLEŞME, (I) NETGEAR İLE Orbi UYGULAMASINI, YAZILIMINI, Orbi CİHAZINI KAPSAYAN AYRI BİR SATIN ALMA SÖZLEŞMENİZ OLMAMASI DURUMUNDA GEÇERLİ OLACAKTIR (BU TÜR BİR SÖZLEŞMENİZ VARSA AYRI SÖZLEŞME GEÇERLİ OLACAKTIR); AKSİ HALDE (II) DİĞER NETGEAR HÜKÜM VE KOŞULLARI GEÇERLİ OLUR. </p>
				<p>YAZILIMI İNDİREREK, YÜKLEYEREK VE/VEYA BAŞKA BİR ŞEKİLDE KULLANARAK, İŞBU SÖZLEŞME'NİN HÜKÜM VE KOŞULLARINI YASAL OLARAK BAĞLAYICI ŞEKİLDE KABUL ETMİŞ OLURSUNUZ. İŞBU SÖZLEŞME'NİN HÜKÜM VE KOŞULLARINI KABUL ETMİYORSANIZ YAZILIMI İNDİRME, YÜKLEME, YAZILIMA ERİŞME VEYA BAŞKA BİR ŞEKİLDE KULLANMA GİRİŞİMİNDE BULUNMAYIN. </p>
				<p>YAZILIMI BİR ÜÇÜNCÜ TARAF ADINA EDİNİYORSANIZ SÖZ KONUSU ÜÇÜNCÜ TARAFI TEMSİL ETME HUSUSUNDA USULÜNCE YETKİLİ OLDUĞUNUZU VE SÖZ KONUSU ÜÇÜNCÜ TARAF ADINA İŞBU SÖZLEŞME'NİN HÜKÜM VE KOŞULLARINI KABUL ETTİĞİNİZİ BEYAN EDERSİNİZ. İŞBU SÖZLEŞME AŞAĞIDA BELİRTİLDİĞİ ŞEKİLDE AKDEDİLDİĞİNDE, NETGEAR İLE ÜÇÜNCÜ TARAF ARASINDA BAĞLAYICI BİR SÖZLEŞME YAPILIR VE BURADA KULLANILAN "SİZ" TERİMİ, ÜÇÜNCÜ TARAF ANLAMINA GELECEKTİR. </p>
				<p>İNTERNET TABANLI UYGULAMALARIN KULLANIMINI VEYA İŞBU SÖZLEŞME GİBİ SÖZLEŞMELER YAPABİLME YETİSİNİ YAŞA GÖRE SINIRLANDIRAN BİR YARGI BÖLGESİNDE İKAMET EDİYORSANIZ VE BU TÜR BİR YARGI BÖLGESİNDE VE YAŞ SINIRI KAPSAMINDAYSANIZ İŞBU SÖZLEŞME'Yİ İMZALAYAMAZ VE NETGEAR YAZILIMINI İNDİREMEZ, YÜKLEYEMEZ YA DA KULLANAMAZSINIZ.  İŞBU SÖZLEŞME'Yİ İMZALADIĞINIZDA, KENDİ YARGI BÖLGENİZDE YAZILIMI KULLANMANIZA İZİN VERİLDİĞİNİ DOĞRULADIĞINIZI AÇIKÇA BEYAN ETMİŞ OLURSUNUZ. </p> 
				<p>1. <b>TANIMLANAN YAZILIM. </b> İşbu Sözleşme (i) NETGEAR Orbi Uygulamasına, Orbi cihaz veya hizmetinde yer alan herhangi bir yazılıma, Orbi cihazı veya hizmetiyle birlikte kullanmak için NETGEAR'dan veya distribütörlerinden satın aldığınız herhangi bir ürün veya hizmette kullanımı amaçlanan NETGEAR markalı yazılıma veya NETGEAR web sitesinde, NETGEAR satıcılarının web sitesinde, Google Play Store'da veya Apple App Store'da NETGEAR'ın indirilebilir olarak sunduğu, Orbi ürünü veya hizmetiyle birlikte kullanımı amaçlanan yazılımlara; (ii) Orbi Uygulamasıyla ilgili olarak NETGEAR tarafından sağlanan bu tür yazılımlar için sunulan her türlü yükleme kılavuzları, kullanım kılavuzları veya diğer belgelere (topluca "Belgeler") ve (iii) NETGEAR'dan edinilmiş olan bu tür yazılım ve Belgelerdeki her türlü yeni yükseltmelere veya güncellemelere (yukarıdakilerin tümü topluca "Yazılım" olarak anılır) erişimi ve bunların kullanımını yönetir. </p>
				<p>2. <b>LİSANSIN VERİLMESİ. </b> İşbu Sözleşme'nin hüküm ve koşullarına uymanıza tabi olarak: </p>
				<p>2.1<b> Münhasır Olmayan Lisans. </b> NETGEAR ve tedarikçileri, Orbi cihazları ve diğer NETGEAR ürünleri ile birlikte kullanım amacıyla Yazılımın kopyalarını kullanmanız için Size münhasır olmayan bir lisans verir. Başka hiçbir hak verilmemektedir. </p>
				<p>2.2 <b>Kopyalar. </b>Yazılımın orijinal kopyasında bulunan tüm telif haklarını ve diğer mülkiyet haklarını da kopyalamanız şartıyla, yedekleme amaçları için ya da Orbi cihazlarını ve diğer NETGEAR ürünlerini kullanmak için gerektiği şekilde Yazılımın kopyalarını oluşturabilirsiniz. </p>
				<p>2.3 <b>Üçüncü Taraf Yazılımı. </b> (a) NETGEAR Yazılımın bir parçası olarak ya da yazılımla bağlantılı şekilde (i) ayrı üçüncü taraf hüküm ve koşullarına ("Üçüncü Taraf Lisans Şartları") tabi üçüncü taraf yazılımı ve/veya (ii) herkese açık lisansların hüküm ve koşullarına ("Açık Kaynaklı Lisans Şartları") "açık kaynaklı" yazılım sağlayabilir. </p>
				<p> (b) (i) Bu tür üçüncü taraf yazılımlarının ve açık kaynaklı yazılımların münhasıran geçerli Üçüncü Taraf Lisans Şartları'na ve Açık Kaynaklı Lisans Şartları'na göre yönetildiğini ve (ii) aşağıdaki 11. maddede aksi belirtilmediği müddetçe bu şartların yalnızca tarafınız ile geçerli lisans sağlayıcısı arasında olduğunu, NETGEAR'ın Sözleşme kapsamında bu tür yazılımlarla ilgili hiçbir yükümlülüğünün veya sorumluluğunun bulunmadığını kabul eder ve onaylarsınız. </p>
				<p>2.4	<b>Güncellemeler. </b> NETGEAR; Hizmetlerin, Yazılım ve/veya Orbi cihazının performansı için muhtelif zamanlarda yamalar, hata düzeltmeleri, güncellemeler, yükseltmeler ve diğer değişiklikler ("Güncellemeler") geliştirebilir. <b>Hizmetleri, Yazılımı veya Orbi cihazını kullanarak, herhangi bir ek bildirimde bulunulmaksızın veya herhangi bir ek onay alınmaksızın, otomatik olarak indirilerek mobil cihazınıza ve Orbi cihazlarınıza yüklenebilecek olan bu Güncellemelerin otomatik olarak indirilmesine ve yüklenmesine onay vermiş olursunuz. </b>Bu tür Güncellemeleri istemiyorsanız (i) uygulama Güncellemeleri için tek yapabileceğiniz, mobil cihaz ayarlarınızda otomatik güncelleme işlevini kapalı konuma getirmek veya NETGEAR ya da Orbi uygulamasını mobil cihazınızdan silmektir ya da (ii) Orbi cihazı ve/veya Yazılım için tek yapabileceğiniz, Orbi hesabınızı sonlandırmak ve/veya Orbi cihazları kullanımınızı durdurmaktır. Yukarıdakilerin herhangi birini daha sonra geri alırsanız (ör. otomatik güncelleme işlevini mobil cihazınızda açık konuma getirerek ya da Orbi cihazlarınızı yeniden kullanmaya başlayarak) Güncellemelerin otomatik olarak indirilmesinin ve yüklenmesinin yeniden başlayacağını anlar ve bu tür otomatik Güncellemelere onay vermiş olursunuz. Herhangi bir Güncellemenin otomatik olarak yüklememesi durumunda Hizmetlerin, Yazılımın ve Orbi cihazlarının tüm işlevlerini kullanmaya veya bunlara erişmeye devam etmek için Güncellemeleri yüklemeniz gerekebileceğini kabul eder ve söz konusu Güncellemeleri derhal yüklemeyi kabul edersiniz. </p>
				<p>3. <b>KULLANIM SINIRLAMALARI. </b></p>
				<p>3.1 <b>Genel Sınırlamalar. </b> 2. Maddede açıkça izin verilmediği sürece veya geçerli yasalar kapsamında bu tür hakların hariç tutulamadığı yerlerde (ve yalnızca bu kapsamda) şunları yapamazsınız (ve herhangi bir üçüncü tarafın bunları yapmasına izin veremez veya bunları yapmasını teşvik edemezsiniz): (i) Yazılımı yedekleme amacıyla veya Hizmetlerinizi, Yazılımı ya da Orbi cihazını kullanmak için ihtiyaç duyulması haricinde herhangi bir şekilde kopyalamak, çoğaltmak veya başka bir şekilde yeniden oluşturmak; (ii) Yazılımı (ya da herhangi bir kopyasını veya bileşenini) veya yazılım üzerindeki herhangi bir hakkı herhangi bir üçüncü kişiye dağıtmak, ağ kapsamında sunmak, alt lisansını vermek, kiraya vermek, kiralamak, ödünç vermek, atamak, iletmek veya başka bir şekilde aktarmak; (iii) Yazılımın üzerinde veya içinde bulunan herhangi bir ürün tanımlaması, ticari marka, telif hakkı, gizlilik, mülkiyet bildirim ya da işaretlerini veya diğer bildirim ya da işaretleri çıkarmak, değiştirmek veya okunmaz hale getirmek; (iv) Yazılımı zaman paylaşımı veya hizmet bürosu amaçları için veya burada açıkça izin verilmeyen başka herhangi bir şekilde kullanmak ya da (v) Yazılımı (veya herhangi bir kopyasını ya da bölümünü) ürünlerinize entegre etmek. </p>
				<p>3.2 <b>Değişiklik ve Ters Mühendislik. </b>2. Maddede açıkça izin verilmediği sürece veya geçerli yasalar kapsamında bu tür hakların hariç tutulamadığı yerlerde (ve yalnızca bu kapsamda) şunları yapamazsınız (ve herhangi bir üçüncü tarafın bunları yapmasına izin veremez veya bunları yapmasını teşvik edemezsiniz): (i) Yazılım veya herhangi bir parçası üzerinde ters mühendislik uygulamak, bunları parçalarına ayırmak veya kaynak koduna dönüştürmek ya da (ii) Yazılımda herhangi bir değişiklik, uyarlama, değiştirme, çeviri, iyileştirme veya türev eser ("Türev") çalışması yapmak. </p>
				<p>3.3<b> İşbirliği. </b> NETGEAR ile işbirliği yapacak ve NETGEAR'ın bu Sözleşme ihlal edilerek Yazılımın kullanılması veya Yazılıma erişilmesi durumlarını önlemesine ve tanımlamasına yardımcı olmak için NETGEAR tarafından talep edilen makul her türlü yardımı sağlayacaksınız. </p>
				<p>3.4. <b>Yüksek Riskli Uygulamalar. </b>  Yazılım, Hizmetler ve Orbi Cihazları nükleer tesislerin, uçak navigasyonu veya iletişim sistemlerinin çalışması, hava trafik kontrolü, yaşam destek üniteleri, ameliyatla nakledilen cihazlar, silah sistemleri veya Yazılım, Hizmetler ve Orbi cihazlarının veya bunların herhangi bir kısmının arızalanmasının doğrudan ölüme, bedensel yaralanmaya ya da ciddi fiziksel veya çevresel hasara yol açabileceği diğer uygulamalar, cihazlar veya sistemler; kusursuz performans gerektiren uygulamalarda veya ortamlarda ("Yüksek Riskli Aktiviteler") kullanım için tasarlanmamıştır ve bu tür uygulamalarda veya ortamlarda kullanımları garanti edilmemektedir. İşbu Sözleşme'nin başka hiçbir hükmü dikkate alınmaksızın, Yazılımı, Hizmetleri ve Orbi cihazlarını veya bunların herhangi bir kısmını herhangi bir Yüksek Riskli Aktiviteyle bağlantılı olarak kullanamaz ya da herhangi bir üçüncü tarafın kullanmasına izin veremezsiniz. Bu tür kullanımlara ilişkin tüm riski üstlenirsiniz ve sizin ya da izin verdiğiniz herhangi bir üçüncü tarafın Yazılımı, Hizmetleri ve Orbi cihazlarını veya herhangi bir kısmını Yüksek Riskli Aktivitelerle bağlantılı olarak kullanması halinde söz konusu kullanım sonucunda NETGEAR nezdinde oluşan ve Size atfedilebilir olan tüm talep, masraf ve sorumluluklara karşı NETGEAR'ı tazmin etmeyi, savunmayı ve beri kılmayı kabul edersiniz. </p>
				<p>4. <b>ÜCRETLER VE DESTEK. </b></p>
				<p>4.1 <b>Genel. </b> Bir ücretin veya ücretlendirmenin vadesi geldiğinde ve ödenebilir olduğunda yürürlükte olan ücretlere, ücretlendirmelere ve faturalandırma şartlarına uygun olarak tüm ücret ve ücretlendirmeleri kendi hesabınızdan ödemeyi kabul edersiniz. Ödeme sağlayıcı sözleşmeniz, atanan kredi kartını kullanımınızı yönetmekte olup kredi kartı kullanımınızla bağlantılı hak ve sorumluluklarınızı belirlemek için işbu Sözleşme'ye değil, o sözleşmeye bakmanız gerekir. NETGEAR'a kredi kartı numaranızı ve ilgili ödeme bilgilerinizi sağlayarak NETGEAR'ın bu sözleşme kapsamında NETGEAR'a ödenebilir olan ve vadesi gelen tüm ücret ve ücretlendirmeler için derhal hesabınıza fatura kesmeye yetkili olduğunu ve ek bildirim ya da onay gerekmediğini kabul edersiniz. Fatura adresinizde ya da bu sözleşme kapsamında ödeme için kullanılan kredi kartınızda herhangi bir değişiklik olması halinde derhal NETGEAR'ı bilgilendirmeyi kabul edersiniz. NETGEAR istediği zaman web sitesinde yayınlama ya da Size e-postayla iletme yoluyla gelecekteki fiyat ve faturalandırma yöntemlerini değiştirebilir. </p>
				<p>a.	<b>Vergiler. </b> İşbu Sözleşme kapsamında herhangi bir Orbi cihazı veya Hizmeti satın alımınız veya Orbi cihazları ya da Hizmetleri için ödemeleriniz Satış Vergisine tabiyse ve geçerli Satış Vergisini NETGEAR'a göndermediyseniz söz konusu Satış Vergisini ve ilgili tüm cezalar ile faizleri ilgili vergi makamına ödemekten Siz sorumlu olursunuz. Bu maddenin amaçları doğrultusunda "Satış Vergisi"; herhangi bir satış veya kullanım vergisi ve satış gelirlerine göre ölçülen, NETGEAR'ın müşterisine aktarma izni olduğu, geçerli vergilendirme kuruluşunun satış veya kullanım vergisi uygulamadığı yerlerde satış vergisinin işlevsel eşdeğeri olan başka herhangi bir vergi anlamına gelecektir. </p>
				<p>b.	<b>Stopaj Vergileri. </b> Tüm ücretlerin ödemesini NETGEAR'a herhangi bir stopaj vergisinden ari olarak ve stopaj vergisini düşmeden yapmayı kabul edersiniz. NETGEAR'a ücret ödeme sırasında uygulanan bu türden tüm vergiler sadece Sizin sorumluluğunuzda olacak ve bu tür vergilerin ödendiğini kanıtlamak için uygun vergilendirme kuruluşu tarafından düzenlenen resmi makbuzları ya da makul şekilde talep edebileceğimiz diğer kanıtları NETGEAR'a sağlayacaksınız. </p>
				<p>c.	<b>Uyuşmazlıklar.  </b>Kredi kartı hesap özetinizde yer alan herhangi bir ücretlendirmemizi kabul etmiyorsanız lütfen kredi kartı hesap özetinizi aldıktan sonra yedi (7) gün içinde yazılı olarak NETGEAR'a bildirimde bulunun. Faturalandırma uyuşmazlıkları şu e-posta adresine bildirilmelidir: support@NETGEAR.com</p>
				<p>4.2 <b>Destek. </b> NETGEAR istediği zaman, neden göstermeden ve bildirimde bulunmaksızın Güncellemeleri; Hizmetler, Yazılımlar ve/veya Orbi cihazına ilişkin desteği, yükseltmeleri veya geliştirmeleri durdurabilir. </p>
				<p>5. <b>FİKRİ HAKLAR VE MÜLKİYET HAKLARI. </b></p>
				<p>5.1 <b>Yazılıma İlişkin Haklar. </b>Hizmetler, Yazılım ve Orbi cihazına ilişkin fikri mülkiyet hakları; Amerika Birleşik Devletleri'nin ve diğer geçerli yargı bölgelerinin telif hakkı kanunları (uluslararası antlaşmalar dahil) ile fikir, mülkiyet ve endüstriyel mülkiyetin korunmasına ilişkin diğer Amerika Birleşik Devletleri kanun, düzenleme ve antlaşmaları ile yabancı ve uluslararası kanun, düzenleme ve antlaşmalar kapsamında korunmaktadır. NETGEAR ve lisans sağlayıcıları; her türlü kopyaları ve kısımları ile içerdikleri her türlü fikri mülkiyet hakları dahil olmak üzere Yazılıma ilişkin tek ve münhasır hak, mülkiyet hakkı ve menfaate sahip olacak ve sahip olmaya devam edecektir. NETGEAR ve lisans sağlayıcıları, burada açıkça belirtilmemiş olan tüm haklara sahip olmaya devam eder. Yazılımın (Size sağlanan veya Sizin tarafınızdan ya da Sizin için üretilen tüm kopyalar dahil) Size satılmadığını, lisansının verildiğini kabul eder ve onaylarsınız. </p>
				<p>5.2 <b>Destekleyici Belgelere ve Türevlerine İlişkin Haklar. </b> Kullanılabilirliğe ilişkin tüm fikirler, hata raporları, geri bildirimler ve Sizin tarafınızdan ya da Sizin adınıza Hizmetler, Yazılım veya Orbi cihazıyla ilgili olarak sağlanan diğer tüm öneriler ve geri bildirimler ("Destekleyici Bilgiler") ile Sizin tarafınızdan ya da Sizin için yapılan tüm Yazılım Türevleri (bu sözleşme kapsamında izin verilmiş olsa da olmasa da) ve bunların içerdiği ve bunlara ilişkin tüm fikri mülkiyet hakları yalnızca ve münhasıran NETGEAR veya lisans sağlayıcılarının mülkiyetinde olacaktır. </p>
				<p>5.3 <b>Hakların Devri. </b> Destekleyici Belgelere veya Türevlere ilişkin tüm hakları, mülkiyet haklarını ve menfaatleri ve bunların içerdiği tüm fikri mülkiyet haklarını NETGEAR'a devretmeyi geri alınamaz biçimde kabul eder ve işbu Sözleşme ile devredersiniz. Ayrıca NETGEAR tarafından talep edilmesi halinde masrafları NETGEAR'a ait olacak şekilde bu hakları geliştirme, kaydetme ve uygulama konusunda NETGEAR'a yardım etmeyi kabul edersiniz. Bu tür bir devir işleminin geçerli kanunlar kapsamında geçersiz olması halinde, bu tür Destekleyici Belgeleri ve Türevleri bilinen veya gelecekte oluşacak her şekilde kullanmak, kopyalamak ve başka bir şekilde bunlardan yararlanmak ya da bunları ticarileştirmek için NETGEAR'a münhasır, devredilebilir, alt lisansı verilebilir, sınırsız, sürekli ve tüm dünyada geçerli bir lisans vermeyi geri alınamaz biçimde kabul eder ve işbu Sözleşme kapsamında lisansı verirsiniz. </p>
				<p>5.4 <b>Teknik ve Veri Toplama. </b> Tüm telekomünikasyon hatları, monitör, kişisel bilgisayar, modem, yönlendiriciler, mobil cihazlar, İnternet hizmet sağlayıcınız ("ISP") ve mobil cihaz operatörünüz ("Operatör") vb. ile Yazılım, Hizmetler ve Orbi cihazını kullanmak için gereken tüm erişimleri masrafları Size ait olacak şekilde sağlamanız ve bulundurmanız gerekir. </p>
				<p><b>Yazılımın normal şekilde yüklenmesi ve çalışması kapsamında NETGEAR, Yazılımı ve/veya Orbi ağının performansını optimize etmek için veri toplayacaktır.  Toplanan bu bilgiler; herhangi bir sınırlama olmaksızın, kurulumu tamamlamak için gereken tıklama sayısı ve harcanan süre, kurulumun başlangıcından sonuna kadar olan yol, İnternet Hizmet Sağlayıcısının WiFi hızı, Orbi ağıyla mobil cihazınız arasındaki LAN hızı ve ağınızın kurulumunu yapmak için kullanılan mobil cihazın İşletim Sistemi ve modelini içerebilir.  Yazılımın özellikleri kapsamında, Orbi ağının topolojisinde değişiklik olduğunda NETGEAR tarafından gönderilen bildirimleri ve ayrıca Orbi cihaz ve hizmetleri hakkında NETGEAR'dan teknik güncellemelere ilişkin bildirimleri alabilirsiniz. </b> Orbi ayrıca bu Yazılımın uygulayabileceği bir günlük otomatik ürün yazılımı güncellemesi ve otomatik ağ topolojisi optimizasyonu özelliği uygulayabilir.  </p>
				<p>Yazılımı kullanarak NETGEAR'ın yukarıdaki bilgileri toplayabileceğini kabul edersiniz. </p>
				<p>Zaman içinde NETGEAR, Size Hizmetler aracılığıyla ve Hizmetleri kullanarak Orbi cihazları, Yazılım ve Hizmetler ile bir veya daha fazla üçüncü taraf ürünü ve hizmeti arasında arayüz oluşturma imkanı ("Üçüncü Taraf Ürünleri ve Hizmetleri") sağlayabilir. Arayüz oluşturmak isteyip istemediğinize ve hangi Üçüncü Taraf Ürünleri ve Hizmetleri ile arayüz oluşturmak istediğinize Siz karar verirsiniz. </p>
				<p>Belirli bir Üçüncü Taraf Ürünü ve Hizmeti için onay verdiğinizde NETGEAR'ın Gizlilik Politikamıza uygun şekilde yetki verdiğiniz arayüzü etkinleştirmek amacıyla kişisel bilgiler dahil olmak üzere Size ve Hizmetlerinize, Yazılımınıza ve Orbi cihazlarınıza ilişkin bilgi alışverişinde bulunabileceğini ve verileri kontrol edebileceğini kabul edersiniz. Bu bilgiler belirli bir Üçüncü Taraf Ürünü ve Hizmeti ile paylaşıldığında, kullanımı NETGEAR'ın gizlilik politikasına göre değil, üçüncü tarafın gizlilik politikasına göre yönetilecektir. NETGEAR'ın hiçbir Üçüncü Taraf Ürünü veya Hizmetinin güvenliğine dair herhangi bir beyanda bulunmadığını veya garanti sağlamadığını kabul eder ve onaylarsınız. Buna bağlı olarak, aşağıdaki 11. maddede aksi belirtilmediği sürece NETGEAR, herhangi bir Üçüncü Taraf Ürün veya Hizmetini kullanmanızdan veya herhangi bir Üçüncü Taraf Ürününü veya Hizmetini kullanmanız nedeniyle ya da bununla bağlantılı olarak oluşan hiçbir bedensel yaralanma, ölüm, maddi hasar veya diğer hasar ya da kayıplardan sorumlu değildir. Üçüncü Taraf Ürün ve Hizmetleri ile ilgili tüm sorular için üçüncü taraf ile iletişime geçmeniz gerekir. Yaşadığınız yerdeki veri koruma, gizlilik kanunları ve diğer kanunlar Sizin üzerinize veya Orbi cihazlarını, Yazılımı ve Hizmetleri kullanımınız üzerine belirli sorumluluklar getirebilir. Orbi cihazlarını, Yazılımı ve Hizmetleri kullandığınızda geçerli tüm kanunlara uymaktan Kendiniz sorumlu olduğunuzu (ve NETGEAR'ın sorumlu olmadığını) kabul edersiniz. </p>
				<p>Yazılımın yüklenmesi sırasında ve sonrasında NETGEAR tarafından toplanan tüm bilgileriniz, http://www.netgear.com/about/privacypolicy/ adresinden görüntüleyebileceğiniz Gizlilik Politikamıza tabidir. </p>
				<p>6. <b>KAYIT VE HESAP BİLGİLERİ. </b></p>
				<p>6.1. Orbi cihazları, Yazılım ve Hizmetler üzerinde veya aracılığıyla sunulan belirli işlevler, kaydolmanızı ve bir hesap açmanızı gerektirebilir (bir Kullanıcı Kimliği ve parola oluşturulması dahil "Hesap Bilgileri"). Kaydolurken doğru, eksiksiz ve güncel bilgiler ("Kayıt Bilgileri") sağlamayı kabul edersiniz. NETGEAR'ın sağladığınız kayıt bilgilerini saklayabileceğini ve Hesabınızı sürdürmek ve hesabınıza ücretleri faturalandırmak için kullanabileceğini kabul edersiniz. Hesap Bilgilerinizin gizliliğini korumaktan ve Hesabınız altında gerçekleşen aktivitelerden tamamen Siz sorumlusunuzdur. Hesabınızın ya da Hesap Verilerinizin her türlü izinsiz kullanımı hakkında NETGEAR'a derhal bildirimde bulunmayı kabul edersiniz. </p>
				<p>6.2. NETGEAR, bir tekli oturum açma ("SingleSignOn") süreciyle entegre kayıt çözümü uygulamıştır. SingleSignOn, NETGEAR ile bir hesap açtığınızda Kullanıcı hesabınızı ve Kullanıcı Kimliğinizi NETGEAR'ın diğer hizmetleri için de kullanabileceğiniz anlamına gelir ve her bir hizmet için ayrı Kullanıcı hesapları ve Kullanıcı Kimlikleri bulundurma ihtiyacını ortadan kaldırır. SingleSignOn, hizmetlerde ve farklı cihazlar aracılığıyla tek seferde oturum açabilmenizi ve bunlardan tek seferde çıkış yapabilmenizi de sağlayabilir. </p>
				<p>6.3 SingleSignOn; Facebook, Twitter ve Google + gibi üçüncü taraf sosyal medya sitelerindeki hesabınızda yer alan hizmetlerinizi bir uygulama programı arayüzü (API) veya başka bir yazılım aracılığıyla SingleSignOn ile bağlama imkanı sunabilir.  </p>
				<p>NETGEAR Gizlilik Politikası'nda yapılan açıklamaları sınırlandırmaksızın veya ortadan kaldırmaksızın, SingleSignOn'un bu tür üçüncü taraf sitelerinde Hesaplarınıza bağlanmasına izin vererek kişisel olarak tanımlanabilir bilgileri içerebilecek bu hesaplardaki bilgilere erişmemize onay vermiş olursunuz. İlaveten, sosyal medya veya diğer üçüncü taraf hesabınız aracılığıyla SingleSignOn'a erişerek SingleSignOn aracılığıyla gerçekleştirebileceğiniz aktivitelerin üçüncü taraf sitesinde yayınlanabileceğini anlarsınız. Bu tür üçüncü taraf sitelerini kullanıp kullanmamak Sizin tercihinizdir. SingleSignOn'un hesaplarınızla bağlantı kurmasına izin vermeden veya bu siteler aracılığıyla arkadaşlarınızla sayfalar ya da bilgiler paylaşmadan önce her bir üçüncü taraf sitesinin gizlilik politikasını incelemenizi öneririz. </p>
				<p>SingleSignOn kullanıcı adınızın mülkiyetinin Size ait olmadığını kabul edersiniz. NETGEAR, SingleSignOn kullanıcı adınızı geri isteyebilir veya kullanabilir. </p>
				<p>6.4. Hesap Bilgilerinizi korumalı ve güvenli tutacak; özellikle bilinebilecek Kullanıcı Kimliklerinden ve parolalardan kaçınarak, parolanızı düzenli bir şekilde değiştirerek ve parolanızı hiç kimseye açıklamadığınızdan veya başka hiçbir Kullanıcıya ya da üçüncü tarafa Hesap verilerinize ya da hizmetlerinize erişim sağlamadığınızdan emin olarak Hesap Verilerinize ve hesabınıza yetkisiz erişimi önleyeceksiniz. </p>
				<p>6.5. NETGEAR, Hesap Verilerinizi kullanan ya da sağlayan bir Kullanıcı ya da üçüncü taraftan alınmış veya sağlanmış herhangi bir talimatı Sizden gelen bir talimat olarak değerlendirebilir. </p>
				<p>6.6. İlgili hizmete sahip Kullanıcının ya da kişinin izni olmaksızın Kendiniz haricinde hiçbir Kullanıcının veya kişinin Hesap Verilerini veya hizmetlerini kullanmamayı kabul edersiniz. </p>
				<p>6.7. Kayıt Verilerinizin veya Hesap Verilerinizin herhangi bir izinsiz kullanımından ya da başka herhangi bir güvenlik ihlalinden haberdar olduğunuzda derhal NETGEAR'a bilgi vereceksiniz. </p>
				<p>6.8. İlgili NETGEAR hizmetine herhangi bir zamanda erişerek Kayıt Verilerinize veya Hesap Verilerinize ulaşabilir ve bunları değiştirebilirsiniz. </p>
				<p>7. <b>FESİH. </b></p>
				<p>7.1 <b>Sözleşmenin Süresi. </b> İşbu Sözleşme, Sözleşme'yi kabul ettiğiniz tarihte yürürlüğe girer ve burada belirtildiği şekilde feshedilene kadar sınırsız süreliğine devam eder. </p>
				<p>7.2 <b>Fesih. </b> NETGEAR tarafından kullanılabilecek başka hiçbir hakka ya da yasal yola zarar vermeksizin NETGEAR, Sözleşme'nin herhangi bir hüküm ya da koşuluna uymadığınızda derhal bildirimde bulunarak işbu Sözleşme'yi feshetme hakkına sahip olacaktır. Bu durumda NETGEAR, ilgili eşit olarak dağıtılmış ücretleri Size iade edecektir. Ayrıca mülkiyetinizdeki ya da kontrolünüzdeki Yazılımın tüm kopyalarını imha ederek istediğiniz zaman işbu Sözleşme'yi feshedebilirsiniz. NETGEAR resmi duyuru, Size e-posta gönderme, web sitesinde yayınlama veya basın bülteni yayınlama aracılığıyla işbu Sözleşme'nin feshine dair bir talepte bulunursa işbu Sözleşme ilgili resmi duyuruda, Size gönderilmiş olan e-postada, web sitesi yayınında ya da basın bülteninde belirtilen tarihte ("Fesih Tarihi") feshedilir ve Fesih Tarihi'nde ya da öncesinde Yazılımın kopyalarını kullanmayı durdurmayı kabul edersiniz. İşbu Sözleşme'nin veya herhangi bir Yazılıma ilişkin lisansın herhangi bir nedenle iptal edilmesi üzerine 1, 3, 5, 6, 7.2, 8, 9, 10, 11, 12. Madde hükümleri bu şartlara uygun şekilde yürürlükte kalmaya devam edecektir. </p>
				<p>Orbi cihazını yeni bir cihaz sahibine devretmeniz halinde, Orbi cihazıyla bağlantılı Hizmetleri kullanma hakkınız otomatik olarak feshedilir; yeni cihaz sahibi Orbi cihazını veya Hizmetleri herhangi bir NETGEAR hesabınızdan kullanma hakkına sahip olmaz ve NETGEAR'a ayrı bir hesap için kaydolması gerekir. </p>
				<p>8. <b>TİCARİ MARKALAR. </b> </p>
				<p>8.1 <b>Ticari Markasız Lisans. </b>Burada açıkça belirtilmiş olan durumlar haricinde, söz konusu işaretler Yazılımın üzerinde veya içinde yer alsa da ya da işbu Sözleşme ile bağlantılı olarak Size sağlanan materyallere başka bir şekilde dahil olsa da, işbu Sözleşme'nin herhangi bir şirket adını, ticari markayı, hizmet markasını, sertifika işaretini, ticari adı, sloganı, logoyu veya NETGEAR'ın ya da herhangi bir alt kuruluşunun ya da bağlı kuruluşunun başka herhangi bir tanımlamasını (topluca "NETGEAR İşaretleri") kullanmak üzere Size hiçbir hak vermediğini kabul edersiniz. </p>
				<p>8.2 <b>Benimsememe veya Kullanmama. </b>Herhangi bir NETGEAR İşaretine benzeyen ya da herhangi bir NETGEAR İşaretinin tamamını ya da bir kısmını içeren hiçbir şirket adı, ticari marka, hizmet markası, sertifika işareti, ticari ad, slogan, logo ya da diğer tanımlamaları benimsememeyi, kullanmamayı veya kaydetmemeyi kabul edersiniz. Yukarıdakileri sınırlandırmaksızın, Sözleşme sırasında veya sonrasında "NETGEAR" veya "Orbi" adlarını şirket adınızın, ticari adınızın, ürün adlarınızın veya ikinci seviye alan adlarınızın parçası olarak kullanmamayı kabul edersiniz. </p>
				<p>9. <b>GİZLİLİK. </b>Yazılımın NETGEAR'ın değerli ticaret sırlarını ve gizli bilgilerini ("Gizli Bilgiler") teşkil ettiğini kabul edersiniz. Bu Gizli Bilgileri, benzer gizlilik yükümlülükleri ile ilzam edilen bir üçüncü taraf haricinde hiçbir üçüncü tarafa sunmamayı veya açıklamamayı kabul edersiniz. </p>
				<p>10. <b>GARANTİ VE FERAGATNAME. </b></p>
				<p>Orbi CİHAZINA İLİŞKİN DONANIM GARANTİSİ, CİHAZLA BİRLİKTE VERİLEN SINIRLI GARANTİDE BELİRTİLMİŞTİR VE https://www.netgear.com/about/warranty ADRESİNDE MEVCUTTUR. </p>
				<p>10.1 YAZILIMA İLİŞKİN OLARAK, ZORUNLU GARANTİ HAKLARI GEÇERLİDİR.  </p>
				<p>10.2 10.1 MADDESİNE VE/VEYA AŞAĞIDAKİ 11. MADDEDE BELİRTİLEN SORUMLULUĞA TABİ OLARAK, NETGEAR, LİSANS SAĞLAYICILARI, TEDARİKÇİLERİ, SATICILARI, DİSTRİBÜTÖRLERİ, ACENTELERİ VEYA ÇALIŞANLARI TARAFINDAN VERİLEN SÖZLÜ VEYA YAZILI HİÇBİR BİLGİ YA DA TAVSİYE; BU GARANTİNİN KAPSAMINI HİÇBİR ŞEKİLDE DEĞİŞTİRMEYECEK VEYA GENİŞLETMEYECEKTİR; AYRICA NETGEAR, YAZILIMIN VE HİZMETLERİN LİSANS SAHİBİNİN, DİSTRİBÜTÖRLERİN, SON KULLANICILARIN VEYA DİĞER ÜÇÜNCÜ TARAFLARIN İHTİYAÇLARINI KARŞILAYACAĞINI YA DA YAZILIMIN VEYA HİZMETLERİN KULLANIMININ KESİNTİSİZ YA DA HATASIZ OLACAĞINI GARANTİ ETMEMEKTEDİR.  NETGEAR; LİSANS SAHİBİNİN YAZILIMI VE HİZMETLERİ KULLANMASI, YANLIŞ KULLANMASI, YANLIŞ YÜKLEMESİ, YANLIŞ YÖNETMESİ, BUNLARLA KAZARA İŞLEM YAPMASI VEYA BUNLARI KÖTÜYE KULLANMASINDAN KAYNAKLANAN KUSURLU KOŞULLARA VEYA UYGUNSUZLUKLARA İLİŞKİN YA DA YAZILIMIN VE HİZMETLERİN LİSANS SAHİBİNİN ÜRÜNÜNE ENTEGRE EDİLMESİNDEN YA DA LİSANS SAHİBİNİN NETGEAR TARAFINDAN SAĞLANAN DEĞİŞİKLİKLERİ, TALİMATLARI, GÜNCELLEMELERİ VEYA DÜZELTMELERİ UYGULAMAMASINDAN KAYNAKLANAN HATALARA İLİŞKİN HİÇBİR GARANTİDE BULUNMAMAKTADIR. </p>
				<p>11. <b>SORUMLULUĞUN SINIRLANDIRILMASI. </b></p>
				<p>11.1 NETGEAR'IN AŞAĞIDAKİLERE İLİŞKİN SORUMLULUĞU SINIRSIZ OLACAKTIR: </p>
				<p>(i)	KASTİ OLARAK VEYA NETGEAR, DİREKTÖRLERİ YA DA SORUMLU YÖNETİCİLERİ VEYA DİĞER VEKALET VERİLMİŞ ACENTELERİNİN AĞIR KUSURU SONUCU OLUŞAN KAYIP VEYA HASAR VE</p>
				<p>(ii)	ÖLÜM, BEDENSEL YARALANMA VEYA HASTALIĞA NEDEN OLAN EYLEMLERDEN VEYA BİR GARANTİ YA DA TEDARİK RİSKİNİN ÜSTLENİLMESİNDEN KAYNAKLANAN VEYA GEÇERLİ YASA KAPSAMINDA OLUŞAN KAYIP VEYA HASAR. </p>
				<p>11.2 NETGEAR'IN, DİREKTÖRLERİNİN, SORUMLU YÖNETİCİLERİNİN VEYA DİĞER VEKALET VERİLMİŞ ACENTELERİNİN AĞIR KUSURU HARİCİNDE İHMAL NEDENİYLE OLUŞAN NETGEAR SORUMLULUĞU, HASARIN ÖNEMLİ BİR SÖZLEŞME YÜKÜMLÜLÜĞÜNÜN İHLAL EDİLMESİ SONUCU OLUŞMASI DURUMUNDA, HİÇBİR DURUMDA TİPİK ÖNGÖRÜLEBİLİR HASARLARI, YANİ NETGEAR'IN LİSTE FİYATINI VEYA EYLEMİN NEDENİNE YOL AÇAN YAZILIM VE HİZMETLER (VEYA YAZILIM VE HİZMETLERİN BİRLİKTE KULLANIMA SUNULDUĞU ÜRÜN) İÇİN TARAFINIZCA ÖDENMİŞ OLAN TUTARLARI (HANGİSİ DAHA DÜŞÜKSE) AŞMAYACAKTIR. </p>
				<p>11.3 YUKARIDAKİ 11.1 VE 11.2 MADDELERİNE TABİ OLARAK, NETGEAR'IN DİĞER TÜM SORUMLULUKLARI HARİÇ TUTULMUŞTUR. </p>
				<p>11.4 SORUMLULUĞUN 11.2 MADDESİNE UYGUN ŞEKİLDE SINIRLANDIRILMIŞ OLMASI HALİNDE NETGEAR, KAR KAYIPLARINDAN VEYA DİĞER HİÇBİR DOLAYLI HASARDAN SORUMLU OLMAYACAKTIR. </p>
				<p>12. <b>GENEL HÜKÜMLER. </b></p>
				<p>12.1 <b>Vergiler. </b> Yazılım ve Hizmetler veya bunları kullanımınız ya da işbu Sözleşme kapsamındaki ediminiz üzerinde değerlendirilebilecek (varsa) her türlü vergi, rüsum ve ücretten tek başınıza Siz sorumlusunuzdur. NETGEAR'ın net gelirine ya da bordrosuna uygulanabilir olanlar haricinde, NETGEAR aleyhinde değerlendirilebilecek her türlü vergi, rüsum ve ücreti ödemekten Siz sorumlu olacaksınız. </p>
				<p>12.2 <b>Sizin Karşılıklarınız. </b>İşbu Sözleşme kapsamında verilen haklar ve lisanslar, işbu Sözleşme'nin hüküm ve koşullarınıza uymanıza tabidir. İşbu Sözleşme kapsamındaki ediminiz için tek ve münhasır karşılığınızın burada verilen haklar ile lisanslar olduğunu ve NETGEAR'dan ya da tedarikçilerinden herhangi bir ödeme, geri ödeme ya da başka karşılık almaya hak kazanmayacağınızı kabul eder ve onaylarsınız. </p>
				<p>12.3 <b>İhtiyati Tedbir. </b> Yazılımın veya işbu Sözleşme kapsamında sağlanan herhangi bir bilginin, materyalin ya da hizmetin Sözleşme'nin herhangi bir hükmüyle tutarsız bir şekilde kopyalanması, açıklanması ya da kullanılmasının NETGEAR açısından telafi edilemez hasara yol açacağını ve NETGEAR'ın bu konuda kanunlar kapsamında yeterli yasal yola sahip olmayabileceğini kabul eder ve onaylarsınız. Bununla bağlantılı olarak NETGEAR; varsa geçici sınırlama emirleri, ihtiyati tedbirler ve kalıcı tedbirler dahil ancak bunlarla sınırlı olmayacak şekilde mahkeme önünde parasal olmayan tedbirlere sahip olacaktır. </p>
				<p>12.4 <b>Ortaklık Olmaması. </b>Taraflar, işbu Sözleşme kapsamındaki ilgili yükümlülüklerini bağımsız yükleniciler olarak üstlenirler. İşbu Sözleşme, NETGEAR ile Sizin aranızda herhangi bir istihdam, acentelik, distribütörlük, franchise, ortak girişim, yasal ortaklık veya benzer yasal ilişki oluşturmaz veya oluşturma amacı taşımaz. Taraflardan hiçbiri, diğer taraf adına hareket etme ya da diğer tarafı ilzam etme hakkına sahip olmayacak ve taraflardan hiçbiri herhangi bir üçüncü tarafa bu tür bir hakka ya da yetkiye sahip olduğunu beyan etmeyecektir. </p>
				<p>12.5 <b>Temlik Olmaması. </b> İşbu Sözleşme'yi ya da işbu Sözleşme kapsamındaki hakları veya yükümlülükleri (tamamen veya kısmen, gönüllü olarak ya da birleşme yoluyla, kanun gereği veya başka bir şekilde) NETGEAR'ın kendi takdir yetkisine bağlı olarak vermeyebileceği önceden yazılı onayı olmaksızın temlik edemez ya da başka bir şekilde devredemezsiniz. Her türlü devir veya temlik girişimi geçersiz ve hükümsüz olup bu tür girişimlerin işbu Sözleşme'nin esaslı ihlalini teşkil ettiği düşünülecektir. </p>
				<p>12.6 <b>Sözleşmenin Bütünlüğü; Tadil. </b> İşbu Sözleşme, konusuna ilişkin olarak eksiksiz, nihai ve münhasır sözleşmeyi teşkil eder.  Bu Sözleşme, önceden yazılı bildiriminiz olmaksızın tamamen veya kısmen tadil edilemez. </p>
				<p>12.7 <b>Feragat. </b> İşbu Sözleşme kapsamındaki herhangi bir kusurdan ya da işbu Sözleşme'nin herhangi bir hüküm ya da koşulundan feragat edilmesi, sürekli bir feragat ya da her türlü kusurdan veya her türlü hüküm ve koşuldan feragat edildiği anlamına gelmeyecek, yalnızca ilgili feragatin yöneltildiği durum için geçerli olacaktır. </p>
				<p>12.8 <b>Geçerli Kanun ve Dil. </b>İşbu Sözleşme, yasalar çatışması hükümleri hariç olmak üzere Kaliforniya yasası hükümleri ve Amerika Birleşik Devletleri yasalarına göre yönetilecektir. Bu yasa seçimi, geçerli yasanın (örneğin tüketiciyi koruma yasası) kabulüne binaen sözleşmeden çıkarılamayacak olan hükümlerle Size verilmiş olan korumayı sınırlandırmayacaktır. Uluslararası Mal Satımına İlişkin Sözleşmeler Hakkında Birleşmiş Milletler Antlaşması'nın uygulanmasından açıkça feragat edilmiştir. İşbu Sözleşme'nin resmi metni İngilizce dilinde olup işbu Sözleşme'nin tüm tercümeleri veya suretleri buna dayalı olacaktır. İşbu Sözleşme'nin ya da bununla bağlantılı herhangi bir belgenin ya da bildiriminin başka bir dile tercüme edilmesi halinde, Sizin için geçerli olan kanunlarda aksi belirtilmediği müddetçe İngilizce versiyonu geçerli olacaktır. </p>
				<p>12.9 <b>İhracat. </b>Herhangi bir Yazılımın ya da Orbi cihazının ihraç edilmesinin veya yeniden ihraç edilmesinin ithalat ve ihracat düzenlemelerine tabi olduğunu kabul edersiniz. Özellikle, sınırlama olmaksızın, Yazılım ve Orbi cihazları (a) Amerika Birleşik Devletleri tarafından ambargo uygulanan herhangi bir ülkeye ya da (b) ABD Hazine Bakanlığı'nın Özel Olarak Düzenlenen Vatandaşlar listesinde ya da ABD Ticaret Bakanlığı'nın Reddedilen Kişiler Listesinde veya Kuruluşlar Listesinde bulunan herhangi bir kişiye ihraç edilemez ya da yeniden ihraç edilemez. Yazılımı ve Orbi cihazlarını kullanarak (i) bir ABD Hükümeti ambargosuna tabi olan veya ABD Hükümeti tarafından "teröristleri destekleyen" ülke olarak tanımlanmış olan bir ülkede bulunmadığınızı ve (ii) ABD Hükümeti'nin herhangi bir yasaklı ya da sınırlanmış taraflar listesinde bulunmadığınızı beyan ve garanti edersiniz.  Genel olarak, bu tür Amerika Birleşik Devletleri ihracat kontrollerinin tamamına uyacaksınız ve Amerika Birleşik Devletleri Ticaret Bakanlığı tarafından özel olarak yetki verilen durumlar haricinde hiçbir Yazılımı ve Orbi cihazını ya da bunların herhangi bir doğrudan ürününü bu tür Amerika Birleşik Devletleri ihracat kontrolü kanunları ve düzenlemeleri kapsamında yasaklanmış ya da sınırlandırılmış olan hiçbir yere, son kullanıma ya da son kullanıcıya ihraç etmeyecek, yeniden ihraç etmeyecek, devretmeyecek veya yöneltmeyeceksiniz. Bu paragrafı ihlal etmeniz nedeniyle ya da bununla bağlantılı olarak oluşan, NETGEAR'ın maruz kaldığı ya da uğradığı tüm iddia, kayıp, sorumluluk veya hasarlardan ve bunlara karşı NETGEAR'ı ve tedarikçilerini tazmin etmeyi ve beri kılmayı kabul edersiniz. </p>
				<p>Hizmetler, Yazılım ve Orbi cihazları tüm kişiler için veya tüm ülkelerde kullanılabilir değildir.  Hizmetlerin, Yazılımın veya Orbi cihazlarının NETGEAR tarafından desteklendiği bir ülke dışından Hizmetlere, Yazılıma veya Orbi cihazlarına erişmeyi seçerseniz bunu kendi inisiyatifinizle yaparsınız ve ülkenizdeki geçerli yerel kanunlara uymaktan tek başınıza sorumlu olursunuz. Hizmetlerin, Yazılımın veya Orbi cihazlarının özelliklerinden bazılarının veya tamamının bu tür bir ülkede çalışmayabileceğini veya kullanılmaya uygun olmayabileceğini anlar ve kabul edersiniz. Kanunların izin verdiği ölçüde NETGEAR; Hizmetlere, Yazılıma veya Orbi cihazlarına NETGEAR tarafından desteklenmeyen ülkelerden erişmenizden veya bunları bu ülkelerde kullanmanızdan kaynaklanan hiçbir hasar veya kayıptan dolayı hiçbir sorumluluk ve yükümlülük kabul etmez. Siteye eriştiğinizde veya Siteyi kullandığınızda ya da Hizmetleri kullandığınızda işbu Hükümler'e tabi olursunuz. </p>
				<p>12.10 <b>Bölünebilirlik. </b>Yetkili bir mahkeme işbu Sözleşme'nin herhangi bir hükmünü geçerli kanun kapsamında tamamen ya da kısmen yasa dışı, geçersiz veya uygulanamaz bulursa söz konusu hüküm veya ilgili kısmı; yasa dışı, geçersiz ya da uygulanamaz olduğu ölçüde söz konusu mahkemenin bulunduğu yargı bölgesinde etkisiz olacak ve tarafların niyetlerine azami etkiyi sağlayacak şekilde geçerli kanunlara uyması amacıyla gereken ölçüde değiştirildiği kabul edilecektir. Söz konusu hükmün ilgili yargı bölgesinde yasa dışı, geçersiz ya da uygulanamaz olması, söz konusu hükmün ya da işbu Sözleşme'nin başka herhangi bir hükmünün başka herhangi bir yargı bölgesinde yasal, geçerli veya uygulanabilir olmasını hiçbir şekilde etkilemeyecektir. </p>
				<p>12.11 <b>Mücbir Sebep. </b>Taraflardan hiçbiri, kısmen veya tamamen, doğrudan veya dolaylı olarak ilgili tarafın makul kontrolü dışında herhangi bir türde herhangi bir beklenmedik durum, gecikme, arıza veya nedenden oluşabilecek, işbu Sözleşme kapsamındaki hiçbir performans eksikliğinden ya da gecikmesinden sorumlu olmayacaktır. Bu nedenler, yukarıdakilerin genel niteliğini hiçbir şekilde sınırlandırmaksızın şunları içerir: yangın, patlama, deprem, fırtına, sel veya diğer hava olayları, gerekli olanakların veya ham maddelerin bulunmaması, elektrik kesintisi, grev, lokavt, bileşenlerin bulunmaması, bir grup işçinin faaliyetleri veya da diğer işgücü zorlukları, savaş, terörizm olayı, isyan, başkaldırı, doğal felaket veya halk düşmanlığı, kanun, yasa, emir, ihracat kontrol düzenlemesi, duyuru kararı, düzenleme, kararname veya Hükümet ya da başka kamu otoritesi talimatları veya yetkili bir mahkemenin hükmü veya kararı (söz konusu tarafın işbu Sözleşme'yi ihlal etmesinden kaynaklanmayan). </p>
				<p>12.12	<b>Bildirim. </b> NETGEAR'ın bir e-posta adresi sağlamanızı talep ettiği durumlarda NETGEAR'a en güncel e-posta adresinizi sağlamaktan sorumlusunuz. NETGEAR'a sağladığınız son e-posta adresinin geçerli olmaması ya da başka herhangi bir nedenle Hükümler uyarınca gerekli olan/izin verilen bildirimlerin Size iletilmesi için uygun olmaması halinde, NETGEAR'ın söz konusu bildirimi içeren e-postası yine de etkili şekilde bildirilmiş kabul edilecektir. NETGEAR, ağ sağlayıcınızın veya Sizin e-posta bildirimlerine uygulayabileceğiniz otomatik filtrelerden sorumlu değildir. NETGEAR'a aşağıdaki e-posta adresinden bildirimde bulunmanız gerekir: support@NETGEAR.com</p>
				<p>12.13 <b>Sözleşmenin bütünlüğü. </b>  Bu hükümler (referans yoluyla buraya dahil edilen çeşitli ek hükümler dahil) Siz ile NETGEAR arasındaki sözleşmenin tamamını teşkil eder ve işbu Sözleşme'nin konusuna ilişkin olarak NETGEAR ile Sizin aranızdaki tüm önceki sözleşmelerin, müzakerelerin veya diğer iletişimlerin yerini alır. </p>
				<p>12.15.	<b>Kanunlara uygunluk. </b>  Hizmetler, Yazılım ve Orbi cihazlarını kullanırken geçerli tüm kanunlara uymayı kabul edersiniz. </p>
				<p>12.16.	<b>Elektronik İletişim Onayı.  </b>Hizmetleri, Yazılımı ve Orbi cihazını kullanarak aşağıdakiler dahil ancak bunlarla sınırlı olmamak üzere elektronik posta aracılığıyla bizden Orbi cihazları, Yazılım ve Hizmetlerle ilgili belirli elektronik iletişimler almaya onay verirsiniz: (a) kullanım ihlallerine ilişkin tüm bildirimler dahil olmak üzere Ürün, Yazılım ve Hizmet kullanımınızla ilgili bildirimler, (b) Güncellemeler ve (c) geçerli yasalara uygun şekilde kabul ettiğiniz durumlarda NETGEAR ürünleri, Yazılım ve Hizmetler hakkında tanıtım amaçlı bilgiler ve materyaller. Kişisel bilgilerinizi nasıl kullandığımız, tercihlerinizi nasıl değiştireceğiniz ve tanıtım amaçlı materyal aboneliğinizden nasıl çıkacağınız hakkında daha fazla bilgi için lütfen Gizlilik Politikamıza bakın. </p>
				<p>Size elektronik olarak gönderdiğimiz tüm bildirimlerin, anlaşmaların, açıklamaların veya diğer iletişimlerin, tüm yasal iletişim gerekliliklerini karşılayacağını kabul edersiniz. </p>
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>Kurumsal Ofis Telefonuv</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Kurumsal Ofis Faks Numarası</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>VEYA</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, İrlanda</b></p>
				<p><b>Kurumsal Ofis Telefonu</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Kurumsal Ofis Faks Numarası</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>Revizyon 1, Yürürlük Tarihi: <b>14 Eylül 2016</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
