<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
<!--script language="javascript" type="text/javascript">
var ap_mode = "<% cfg_get("ap_mode") %>";
</script-->
</head>

<body>
<style>form p{text-align:center;}</style>	
<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>
<% save_timestamp("wizard_detwan", "hijack_to_manual","hijack_toStatus")%>
<script language="javascript" type="text/javascript">
var ts="<% cfg_get("wizard_detwan") %>";
if(getTop(window).support_orange_flag == 1)
{
	var internet_type="<% cfg_get("internet_type") %>";
	var internet_ppp_type="<% cfg_get("internet_ppp_type") %>";
}

function clickNext()
{
	var cf = document.forms[0];
	
	if($$('#nci-config-yes').is(":checked"))
	{
		return true;
	}
	if($$('#nci-config-no').is(":checked"))
	{
		if(confirm(bh_no_genie_help_confirm) == false)
			return false;

		cf.action = "/apply.cgi?/BRS_security.html timestamp=" + ts;
		cf.submit_flag.value = "hijack_to_manual";
		return true;
	}
}
</script>

<div id="container">
	<div class="dialog-content">
		<!-- Networ Connection Issue -->
		<div id="card-network-connection-issue" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
		     <div class="content">
			<div class="desc-title"><script>document.write(bh_netword_issue);</script></div>
			<div class="desc-text"><p><script>document.write(bh_orbi_cannot_connect_internet);</script></p>
			<p><script>document.write(bh_orbi_cannot_connect_internet_msg1);</script></p>
			</div>
			<ul class="bullet">
				<li>
					<script>document.write(bh_orbi_cannot_connect_internet_msg2);</script>
				</li>
				<li>
					<script>document.write(bh_orbi_cannot_connect_internet_msg3);</script>
				</li>
			</ul>

			<p>
				<script>document.write(bh_orbi_tryagain_msg);</script>
			</p>
			<ul>
				<li>
					<input class="with-gap" name="help_choice" type="radio" id="nci-config-yes" checked="" value="0">
					<label for="nci-config-yes"><script>document.write(bh_yes_mark);</script></label>
				</li>
				<li>
					<input class="with-gap" name="help_choice" type="radio" id="nci-config-no"  value="1">
					<label for="nci-config-no"><script>document.write(bh_orbi_manual_config);</script></label>
				</li>
			</ul>
		   </div>
	 	    <div class="buttons">
			<button class="waves-effect waves-light btn button-nav btn-icon icon-right" onclick="return clickNext();">
				<span><script>document.write(bh_orbi_next_mark);</script></span><i class="material-icons">navigate_next</i>
			</button>
		    </div>
		</div>
	</div>
</div>
</form>
</body>

</html>
