<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>PRINCIPAIS TERMOS DE SERVIÇO PARA A APLICAÇÃO Orbi, SOFTWARE Orbi, SERVIÇOS Orbi E DISPOSITIVO Orbi DO UTILIZADOR</p>
				<p>OS PRESENTES TERMOS DE SERVIÇO PRINCIPAIS (O PRESENTE "CONTRATO"), EM CONJUNTO COM A POLÍTICA DE PRIVACIDADE AQUI REFERIDA, https://www.netgear.com/about/privacy-policy/ ESTIPULAM OS TERMOS E CONDIÇÕES EM QUE A NETGEAR, INC. ("NETGEAR") ACEITA FORNECER O SOFTWARE (CONFORME DEFINIDO ABAIXO) E OS SERVIÇOS E RECURSOS DISPONÍVEIS OU ATIVADOS ATRAVÉS DA UTILIZAÇÃO DO DISPOSITIVO Orbi E DA APLICAÇÃO Orbi (CADA UM DELES DESIGNADO POR "SERVIÇO" E COLETIVAMENTE DESIGNADOS POR "SERVIÇOS") AO INDIVÍDUO OU EMPRESA QUE ACEITE O PRESENTE CONTRATO ("UTILIZADOR"). O PRESENTE CONTRATO DEVERÁ SER APLICADO, EXCETO SE (I) TIVER UM CONTRATO DE COMPRA EM SEPARADO COM A NETGEAR QUE CUBRA A APLICAÇÃO Orbi, O SOFTWARE Orbi E O DISPOSITIVO Orbi E, NESSE CASO, O CONTRATO EM SEPARADO IRÁ PREVALECER; OU (II) FOREM APLICADOS OUTROS TERMOS E CONDIÇÕES DA NETGEAR. </p>
				<p>AO TRANSFERIR, INSTALAR E/OU UTILIZAR DE QUALQUER OUTRA FORMA O SOFTWARE, O UTILIZADOR ESTÁ A ACEITAR OS TERMOS E CONDIÇÕES DO PRESENTE CONTRATO DE UMA FORMA LEGALMENTE VINCULATIVA. SE NÃO CONCORDAR COM OS TERMOS E CONDIÇÕES DO PRESENTE CONTRATO, O UTILIZADOR NÃO DEVE TENTAR TRANSFERIR, INSTALAR, ACEDER OU UTILIZAR DE QUALQUER OUTRA FORMA O SOFTWARE. </p>
				<p>SE O UTILIZADOR OBTIVER O SOFTWARE EM NOME DE TERCEIROS, TEM DE INFORMAR A NETGEAR QUE ESTÁ DEVIDAMENTE AUTORIZADO A REPRESENTAR TAIS TERCEIROS E QUE ACEITA OS TERMOS E CONDIÇÕES DO PRESENTE CONTRATO EM NOME DESSES TERCEIROS. AO EXECUTAR O PRESENTE CONTRATO TAL COMO ESTIPULADO EM SEGUIDA, É CELEBRADO UM CONTRATO VINCULATIVO ENTRE A NETGEAR E OS TERCEIROS E O TERMO "UTILIZADOR", TAL COMO UTILIZADO NO PRESENTE DOCUMENTO, SIGNIFICA OS TERCEIROS. </p>
				<p>SE O UTILIZADOR RESIDIR NUMA JURISDIÇÃO QUE LIMITA A UTILIZAÇÃO DE APLICAÇÕES BASEADAS NA INTERNET DE ACORDO COM A IDADE, OU QUE RESTRINJA A POSSIBILIDADE DE CELEBRAR CONTRATOS, TAIS COMO O PRESENTE CONTRATO E DE ACORDO COM A IDADE, E SE O UTILIZADOR SE ENCONTRAR SOB ESSA MESMA JURISDIÇÃO E LIMITE DE IDADE, NÃO PODE FAZER PARTE DO PRESENTE CONTRATO E TRANSFERIR, INSTALAR OU UTILIZAR O SOFTWARE DA NETGEAR.  AO CELEBRAR O PRESENTE CONTRATO, O UTILIZADOR DECLARA EXPRESSAMENTE QUE VERIFICOU NA SUA PRÓPRIA JURISDIÇÃO QUE A UTILIZAÇÃO DO SOFTWARE É PERMITIDA. </p> 
				<p>1. <b>DEFINIDO PELO SOFTWARE. </b> O presente Contrato regula o acesso e a utilização de (i) aplicação Orbi da NETGEAR, qualquer software que esteja incluído no dispositivo ou serviço Orbi e software da marca NETGEAR para utilização em qualquer produto ou serviço que o Utilizador tenha adquirido junto da NETGEAR ou dos seus distribuidores para utilização com o dispositivo ou serviço Orbi, ou o software para utilização com o dispositivo ou serviço Orbi que a NETGEAR tenha disponibilizado para transferência no website da NETGEAR, no website dos fornecedores da NETGEAR, na loja Google Play ou na Apple App Store; (ii) manuais de instalação, manuais do utilizador ou qualquer outra documentação para o software fornecido pela NETGEAR (coletivamente, "Documentação") relacionados com a aplicação Orbi; e (iii) todas as novas atualizações e upgrades do software e da Documentação obtidos na NETGEAR (todas as informações acima referidas, coletivamente, o "Software"). </p>
				<p>2. <b>CONCESSÃO DE LICENÇA. </b> Sujeito à conformidade do Utilizador com os termos e condições do presente Contrato: </p>
				<p>2.1 <b>Licença não exclusiva. </b> A NETGEAR e os respetivos fornecedores concedem ao Utilizador uma licença não exclusiva para utilizar cópias do Software para utilização com os dispositivos Orbi e outros produtos da NETGEAR. Não são concedidos quaisquer outros direitos. </p>
				<p>2.2 <b>Cópias. </b> O Utilizador poderá fazer cópias do Software para fins de cópia de segurança ou, conforme necessário, para utilizar dispositivos Orbi e outros produtos da NETGEAR, desde que o Utilizador reproduzida todos os direitos de autor e outros avisos de propriedade que estão na cópia original do Software. </p>
				<p>2.3 <b>Software de terceiros. </b> (a) A NETGEAR pode fornecer como parte de ou em ligação com o Software (i) software de terceiros sujeito aos termos e condições da licença de terceiros em separado ("Termos da Licença de Terceiros"); e/ou (ii) software "open source" sujeito aos termos e condições das licenças públicas disponíveis (os "Termos de Licença Open Source").</p>
				<p> (b) O Utilizador reconhece e concorda que (i) os terceiros e o software "open source" são regidos exclusivamente pelos Termos de Licença de Terceiros e pelos Termos de Licença Open Source aplicáveis; e (ii) esses termos são apenas válidos entre o Utilizador e o licenciador aplicável e a NETGEAR não tem qualquer obrigação ou responsabilidade relativamente a tal software ao abrigo do Contrato, exceto caso esteja previsto o contrário na secção 11. </p>
				<p>2.4	<b>Atualizações. </b>  A NETGEAR pode ocasionalmente desenvolver patches, reparações de erros, atualizações, upgrades e outras modificações para o desempenho dos Serviços, do Software e/ou do dispositivo Orbi ("Atualizações"). <b>Ao utilizar os Serviços, o Software ou o dispositivo Orbi, o Utilizador concorda com a transferência e instalação automática destas Atualizações que podem ser automaticamente transferidas e instaladas no dispositivo móvel e nos dispositivos Orbi do Utilizador, conforme aplicável, sem qualquer aviso complementar ou sem receber qualquer consentimento adicional. </b>Se o Utilizador não pretender efetuar tais Atualizações, a única solução (i) no caso das Atualizações da aplicação, consiste em desativar a função de atualização automática nas definições do dispositivo móvel ou em eliminar a aplicação Orbi ou da NETGEAR do dispositivo móvel ou (ii) no caso do dispositivo e/ou Software Orbi, encerrar a conta Orbi e/ou deixar de utilizar os dispositivos Orbi. Se o Utilizador pretender anular mais tarde qualquer uma das soluções acima referidas (por ex., ativar a funcionalidade de atualização automática no seu dispositivo móvel ou reiniciar a utilização dos dispositivos Orbi), o Utilizador compreende que a transferência e instalação automáticas das Atualizações será reiniciada e concorda com essas Atualizações automáticas. Na medida em que nenhuma Atualização é automaticamente instalada, o Utilizador reconhece que poderá ser necessário instalar Atualizações para continuar a utilizar ou a aceder a todas as funcionalidades dos Serviços, do Software e dos dispositivos Orbi, e compromete-se a instalar imediatamente essas Atualizações. </p>
				<p>3. <b>RESTRIÇÕES RELATIVAS À UTILIZAÇÃO. </b></p>
				<p>3.1 <b>Restrições gerais. </b> Salvo se (e apenas nessa medida) expressamente permitido na Secção 2, ou nos casos em que não seja possível excluir tais direitos ao abrigo da legislação aplicável, o Utilizador não pode (e não deverá permitir ou incentivar terceiros a): (i) copiar, duplicar ou, de outra forma, reproduzir o Software de qualquer outra forma que não a necessária para fins de cópia de segurança ou para utilizar os respetivos Serviços, Software ou dispositivo Orbi; (ii) distribuir, ligar em rede, sublicenciar, locar, arrendar, emprestar, atribuir, transmitir ou, de outra forma, transferir o Software (ou qualquer cópia ou respetivo componente) ou quaisquer direitos que digam respeito a terceiros; (iii) remover, alterar ou ocultar qualquer identificação dos produtos, das marcas comerciais, dos direitos de autor, da confidencialidade, da propriedade ou de outros avisos ou legendas contidos no Software; (iv) utilizar o Software para fins de partilha de tempo ou prestação de serviços, ou de qualquer outra forma não expressamente permitida pelo presente contrato; ou (v) incorporar o Software (ou qualquer cópia ou parte do mesmo) em qualquer um dos respetivos produtos. </p>
				<p>3.2 <b>Modificação e engenharia inversa. </b> Salvo se (e apenas nessa medida) expressamente permitido na Secção 2, ou nos casos em que não seja possível excluir tais direitos ao abrigo da legislação aplicável, o Utilizador não pode (e não deverá permitir ou incentivar terceiros a): (i) efetuar engenharia inversa, desmontar ou descompilar o Software, ou qualquer parte do mesmo, ou de outra forma tentar retirar o código fonte; ou (ii) criar qualquer alteração, adaptação, modificação, tradução, melhoria ou obras derivadas do Software (um "Derivado"). </p>
				<p>3.3 <b>Cooperação. </b> O Utilizador deverá cooperar com a NETGEAR e deverá prestar toda a assistência razoável solicitada pela NETGEAR no auxílio da prevenção e identificação de qualquer utilização ou acesso ao Software que viole os termos do presente Contrato. </p>
				<p>3.4. <b>Aplicações de alto risco. </b>  O Software, os Serviços e os Dispositivos Orbi não foram concebidos nem possuem garantia para uso em aplicações ou ambientes que requerem um desempenho isento de falhas, tais como a operação de instalações nucleares, a navegação aérea ou os sistemas de comunicação, o controlo de tráfego aéreo, as máquinas de suporte básico de vida, os dispositivos cirurgicamente implantados, os sistemas de armas ou outras aplicações, dispositivos ou sistemas em que a falha do Software, dos Serviços e dos dispositivos Orbi, ou qualquer parte dos mesmos, possa levar diretamente à morte, ferimentos ou danos físicos ou ambientais graves ("Atividades de Alto Risco"). Não obstante quaisquer outras disposições do presente Contrato, o Utilizador não poderá utilizar nem permitir que terceiros utilizem o Software, os Serviços e os dispositivos Orbi, ou qualquer parte dos mesmos, em conjunto com qualquer Atividade Alto Risco. O Utilizador assume todos os riscos implicados em tais utilizações e, se o Utilizador ou quaisquer terceiros por ele autorizados utilizarem o Software, os Serviços e os dispositivos Orbi, ou qualquer parte dos mesmos, em ligação com Atividades de Alto Risco, este concorda em indemnizar, defender e isentar de responsabilidade a NETGEAR de todas as reclamações, despesas e responsabilidades resultantes de tal utilização que lhe seja imputável a si. </p>
				<p>4. <b>TAXAS E SUPORTE. </b></p>
				<p>4.1<b> Geral. </b>  O Utilizador concorda em pagar todas as taxas ou encargos referentes à sua conta de acordo com as taxas, encargos e termos de faturação em vigor no momento em que uma taxa ou um encargo é devido e pagável. O contrato com o fornecedor de pagamentos do Utilizador regula a utilização do cartão de crédito designado e o Utilizador deve consultar esse contrato e não este Contrato para determinar os seus direitos e obrigações relativamente à sua utilização do seu cartão de crédito. Ao fornecer à NETGEAR o número do cartão de crédito e a respetiva informação de pagamento, o Utilizador concorda que a NETGEAR está autorizada a emitir imediatamente a fatura da sua conta referente a todas as taxas e encargos aqui mencionados e que devem ser pagos à NETGEAR, não sendo necessário qualquer aviso ou consentimento adicional. O Utilizador compromete-se a notificar de imediato a NETGEAR relativamente a qualquer alteração no seu endereço de faturação ou no cartão de crédito utilizado para o pagamento mencionado no presente documento. A NETGEAR pode, em qualquer altura, mudar os preços e os métodos de faturação para o futuro, após a sua publicação no website ou após os ter enviado por e-mail ao Utilizador. </p>
				<p>a.	<b>Impostos. </b>  Se a compra ou os pagamentos de quaisquer Serviços ou dispositivos Orbi efetuados pelo Utilizador, ao abrigo deste Contrato, estiverem sujeitos a Impostos Sobre Vendas e se o Utilizador não for dispensado do pagamento desses Impostos Sobre Vendas à NETGEAR, então será responsável pelo pagamento de tais Impostos Sobre Vendas e de quaisquer outras penalizações ou juros relativos à autoridade de impostos relevante. Na presente secção, "Impostos Sobre Vendas" designa quaisquer impostos sobre a venda ou utilização, e qualquer outro imposto relativo aos procedimentos de vendas, que a NETGEAR tem o direito de cobrar aos seus clientes e que é o equivalente funcional de um imposto sobre vendas onde a jurisdição de impostos aplicável não impõe um imposto sobre a venda ou utilização. </p>
				<p>b.	<b>Retenções na fonte. </b>  O Utilizador compromete-se a efetuar todos os pagamentos das taxas à NETGEAR isentos de retenções na fonte e sem reduções relativas às mesmas. Quaisquer impostos aplicados sobre o pagamento de taxas à NETGEAR serão da única e exclusiva responsabilidade do Utilizador e este irá disponibilizar à NETGEAR os recibos oficiais emitidos pela autoridade fiscal adequada ou qualquer outro comprovativo que possa ser pedido para determinar se esses impostos foram pagos. </p>
				<p>c.	<b>Litígios. </b>  Notifique a NETGEAR por escrito num prazo de sete (7) dias após a receção do extrato do cartão de crédito, no caso de reclamar de qualquer um dos nossos encargos presentes nesse extrato. Os litígios relativos à faturação devem ser enviados para o seguinte endereço de e-mail: support@NETGEAR.com</p>
				<p>4.2 <b>Assistência. </b>  A NETGEAR pode interromper as Atualizações, a assistência, os upgrades ou as melhorias dos Serviços, do Software e/ou do dispositivo Orbi em qualquer momento e sem motivo ou aviso prévio. </p>
				<p>5. <b>DIREITOS DE PROPRIEDADE E DIREITOS INTELECTUAIS. </b></p>
				<p>5.1 <b>Direitos sobre o software. </b> Os direitos de propriedade intelectual sobre os Serviços, o Software e o dispositivo Orbi estão protegidos ao abrigo das leis de direitos de autor dos Estados Unidos da América e de outras jurisdições aplicáveis (incluindo os acordos internacionais), bem como ao abrigo de outras leis, regulamentos e acordos dos Estados Unidos e internacionais para a proteção intelectual, de propriedade e industrial. A NETGEAR e os respetivos licenciadores deverão possuir e conservar o direito, título e interesse único e exclusivo sobre o Software, incluindo todas e quaisquer cópias e partes do mesmo, e todos os direitos de propriedade intelectual mencionados no presente documento. A NETGEAR e os seus licenciadores detêm todos os direitos que não lhes são expressamente concedidos pelo presente documento. O Utilizador reconhece e concorda que o Software (incluindo todas as cópias fornecidas ao próprio Utilizador ou criadas por este ou para este) é licenciado e não é vendido ao Utilizador. </p>
				<p>5.2 <b>Direitos sobre informações de suporte e Derivados. </b> Quaisquer ideias, relatórios de erros, comentários relativos à facilidade de utilização e quaisquer outras sugestões e comentários fornecidos por ou em nome do Utilizador relativamente aos Serviços, Software ou dispositivo Orbi ("Informações de Suporte"), bem como quaisquer Derivados do Software criados pelo Utilizador ou para este (quer sejam ou não autorizados no presente documento), incluindo toda e qualquer propriedade intelectual no presente documento, deverá ser da exclusiva propriedade da NETGEAR e dos respetivos licenciadores. </p>
				<p>5.3 <b>Atribuição de direitos. </b> O Utilizador concorda irrevogavelmente em atribuir, por este meio, à NETGEAR todos os direitos, títulos e interesse a nível mundial relativamente às Informações de Suporte ou Derivados, e todos os direitos de propriedade intelectual no presente documento e, se solicitado pela NETGEAR, o Utilizador concorda em auxiliar a NETGEAR, às custas desta, no aperfeiçoamento, na gravação e no cumprimento de tais direitos. Na medida em que tal atribuição não é válida ao abrigo da legislação aplicável, o Utilizador concorda irrevogavelmente em conceder, por este meio, à NETGEAR uma licença exclusiva, transferível, sublicenciável, ilimitada, permanente e internacional que lhe permita utilizar, copiar e utilizar ou comercializar de outro modo essas Informações de Suporte e Derivados sob qualquer forma conhecida ou concebida no futuro. </p>
				<p>5.4<b> Considerações técnicas e recolha de dados. </b>  O Utilizador deve fornecer e manter, às suas custas, todas as linhas de telecomunicações, monitor, PC, modem, routers, dispositivos móveis, o respetivo fornecedor de serviços de Internet ("ISP") e a respetiva transportadora do dispositivo móvel ("Transportadora"), etc., e qualquer acesso necessário para utilizar o Software, os Serviços e o dispositivo Orbi. </p>
				<p><b>Como parte do processo de instalação e funcionamento normal do Software, a NETGEAR irá recolher dados para otimizar o Software e/ou o desempenho da rede Orbi.  As informações recolhidas podem incluir, sem limitações, o número de cliques necessários e o tempo gasto para concluir a configuração, o caminho entre o início e o fim da configuração, a velocidade de WiFi do fornecedor de serviços de Internet, a velocidade de LAN entre a rede Orbi e o dispositivo móvel do Utilizador e o sistema operativo e o modelo do dispositivo móvel que é utilizado para configurar a rede do Utilizador.  Como parte das funções do Software, o Utilizador poderá receber as notificações enviadas pela NETGEAR quando ocorrerem alterações na topologia da rede Orbi e ainda atualizações técnicas sobre o dispositivo e serviços Orbi. </b> A Orbi também pode implementar funções diárias de atualização automática de firmware e de otimização automática da topologia de rede que serão utilizadas neste Software.  </p>
				<p>Ao utilizar este Software, o Utilizador concorda que a NETGEAR pode recolher as informações mencionadas em cima. </p>
				<p>Com o tempo, a NETGEAR pode proporcionar ao Utilizador a oportunidade de ligar os dispositivos Orbi, o Software e os Serviços a um ou mais produtos e serviços de terceiros, através da utilização dos Serviços ("Produtos e Serviços de Terceiros"). Cabe ao Utilizador decidir se pretende essa ligação e quais os Produtos e Serviços de Terceiros que pretende ligar. </p>
				<p>Assim que der o seu consentimento para um determinado Produto e Serviço de Terceiros, o Utilizador concorda que a NETGEAR pode trocar informações e dados de controlo no que diz respeito ao Utilizador e aos seus Serviços, Software e dispositivos Orbi, incluindo informações pessoais, para ativar a ligação que autorizou, de acordo com a nossa Política de Privacidade. Assim que estas informações forem partilhadas com esse determinado Produto e Serviço de Terceiros, a utilização destes será regida pela política de privacidade de terceiros em causa e não pela política de privacidade da NETGEAR. O Utilizador reconhece e concorda que a NETGEAR não representa nem concede garantias acerca da segurança de quaisquer Produtos ou Serviços de Terceiros. Por conseguinte, a NETGEAR não se responsabiliza pela utilização de qualquer Produto ou Serviço de Terceiros, nem por quaisquer ferimentos, morte, danos materiais ou outros danos ou perdas resultantes de ou relacionados com a utilização dos Produtos e Serviços de Terceiros, exceto se estiver previsto o contrário na secção 11. O Utilizador deve entrar em contacto com os terceiros se tiver dúvidas sobre os Produtos e Serviços de Terceiros. As leis de proteção de dados, privacidade e outras no local onde o Utilizador se encontra poderão impor determinadas responsabilidades ao Utilizador e à respetiva utilização dos dispositivos Orbi, do Software e dos Serviços. O Utilizador concorda que ele mesmo é responsável (e não a NETGEAR) por garantir que cumpre todas e quaisquer leis aplicáveis na utilização dos dispositivos Orbi, do Software e dos Serviços. </p>
				<p>Quaisquer informações sobre o Utilizador recolhidas pela NETGEAR durante e após a instalação do Software estão sujeitas à nossa Política de Privacidade que pode ser consultada em http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b>REGISTO E DADOS DA CONTA. </b></p>
				<p>6.1. Algumas funcionalidades oferecidas nos ou através dos dispositivos Orbi, Software e Serviços podem exigir que o Utilizador se registe e abra uma conta (incluindo o processo de configuração de uma ID de utilizador e palavra-passe "Dados da Conta"). O Utilizador concorda em fornecer informações precisas, completas e atualizadas ao se registar ("Dados de Registo"). O Utilizador concorda que a NETGEAR pode guardar e utilizar os dados de registo fornecidos para a manutenção e as taxas de faturação da sua conta. O Utilizador é inteiramente responsável pela manutenção da confidencialidade dos Dados da sua Conta e pela atividade que ocorre na sua conta. O Utilizador concorda em notificar imediatamente a NETGEAR sobre qualquer utilização não autorizada da sua conta ou dos Dados de Conta. </p>
				<p>6.2. A NETGEAR implementou uma solução de registo integrada através de um processo com um único registo de conta ("SingleSignOn"). SingleSignOn significa que, depois de abrir uma conta com a NETGEAR, o Utilizador apenas pode utilizar uma conta de Utilizador e ID de Utilizador para outros serviços da NETGEAR, o que elimina a necessidade de manter contas e ID de utilizador separadas para cada serviço individual. O SingleSignOn também pode permitir que o Utilizador inicie e encerre sessão dos serviços e nos vários dispositivos em simultâneo. </p>
				<p>6.3 O SingleSignOn poderá oferecer ao Utilizador a possibilidade de ligar os seus serviços a contas de redes sociais de terceiros, como o Facebook, Twitter e Google + através de uma interface de programação da aplicação (API) ou de outro software.  </p>
				<p>Sem limitar ou revogar as afirmações da Política de Privacidade da NETGEAR, ao permitir que o SingleSignOn se ligue às contas do Utilizador em tais websites de terceiros, o Utilizador concorda com o nosso acesso às informações dessas contas que podem incluir informações pessoalmente identificáveis. Além disso, o Utilizador compreende que, ao aceder ao SingleSignOn através das redes sociais ou da conta de terceiros, a atividade que realizar através do SingleSignOn pode ser publicada no website de terceiros. É o próprio Utilizador quem decide utilizar tais websites de terceiros. Recomendamos que o Utilizador consulte as políticas de privacidade de cada website de terceiros antes de permitir ao SingleSignOn ligar-se às suas contas nestes Websites de terceiros ou partilhar páginas ou informações com os seus amigos através desses websites. </p>
				<p>O Utilizador concorda que o seu nome de utilizador do SingleSignOn não é exclusivamente seu. A NETGEAR pode reclamar ou utilizar o nome de utilizador do SingleSignOn. </p>
				<p>6.4. O Utilizador irá manter os dados da sua conta seguros e protegidos e impedir o acesso não autorizado por terceiros aos Dados da sua Conta e à sua conta, em particular evitando ID de utilizador ou palavras-passe demasiado óbvias, alterando a sua palavra-passe regularmente, garantindo que não divulga a(s) sua(s) palavra-passe(s) ou concedendo a qualquer outro Utilizador ou terceiro o acesso aos dados da sua conta ou serviços. </p>
				<p>6.5. A NETGEAR pode considerar quaisquer instruções provenientes do Utilizador se estas forem recebidas ou emitidas por um Utilizador ou por terceiros que utilizem ou forneçam os dados da sua conta. </p>
				<p>6.6. O Utilizador concorda em não utilizar quaisquer Dados de Conta ou serviços de qualquer outro Utilizador ou pessoa, sem autorização do Utilizador ou da pessoa que detém o respetivo serviço. </p>
				<p>6.7. O Utilizador irá notificar imediatamente a NETGEAR depois de tomar conhecimento de qualquer utilização não autorizada de qualquer um dos seus Dados de Registo ou Dados da Conta, ou de qualquer outra violação de segurança. </p>
				<p>6.8. O Utilizador pode aceder e alterar os seus Dados de Registo ou Dados de Conta a qualquer momento, acedendo ao respetivo serviço da NETGEAR. </p>
				<p>7. <b> CESSAÇÃO DO CONTRATO. </b></p>
				<p>7.1 <b>Termo do contrato. </b> O presente Contrato entrará em vigor na data em que o Utilizador concordou com o presente Contrato e irá continuar por termo indefinido até à cessação do mesmo, conforme estipulado no presente documento. </p>
				<p>7.2 <b>Cessação. </b> Sem prejuízo de quaisquer outros direitos ou soluções disponíveis da NETGEAR, a NETGEAR tem o direito de rescindir o presente Contrato através de notificação imediata para o Utilizador caso este não aja em conformidade com quaisquer termos ou condições do presente Contrato. Neste caso, a Netgear irá reembolsar-lhe as respetivas taxas proporcionalmente. O Utilizador também poderá cessar o presente Contrato a qualquer momento através da destruição de todas as cópias do Software que tenha em sua posse ou controlo. Se a NETGEAR apresentar ao Utilizador, através de um anúncio público, e-mail, publicação num website ou comunicado de imprensa, um pedido de cessação do presente Contrato, então o presente Contrato será terminado na data especificada ("Data de Cessação") em qualquer anúncio público, e-mail, publicação num website ou comunicado de imprensa, e o Utilizador compromete-se a deixar de utilizar as cópias do Software após ou até à Data de Cessação. Após a cessação do presente Contrato ou licença relativa a qualquer Software, por qualquer motivo, o disposto nas secções 1, 3, 5, 6, 7.2, 8, 9, 10, 11 e 12 prevalece de acordo com os respetivos termos. </p>
				<p>Se o Utilizador transferir o dispositivo Orbi para um novo proprietário, o seu direito à utilização dos Serviços no dispositivo Orbi termina automaticamente e o novo proprietário não terá o direito de utilizar o dispositivo Orbi ou os Serviços em qualquer uma das suas contas da NETGEAR e terá de se registar numa conta separada da NETGEAR. </p>
				<p>8. <b>MARCAS COMERCIAIS. </b></p>
				<p>8.1<b> Nenhuma licença de marca registada. </b> Para além do especificamente concedido pelo presente documento, o Utilizador reconhece que o presente Contrato não lhe concede quaisquer direitos de utilização de qualquer um dos nomes da empresa, marcas comerciais, marcas de serviço, marcas de certificação, nomes de marcas, slogans, logótipos ou outra designação da NETGEAR ou de qualquer uma das suas subsidiárias ou afiliadas (coletivamente, quaisquer "Marcas da NETGEAR"), mesmo que tais marcas sejam apresentadas no Software ou estejam incluídas em qualquer material que lhe é fornecido com ligação ao presente Contrato. </p>
				<p>8.2<b> Nenhuma adoção ou utilização. </b> O Utilizador compromete-se a não adotar, utilizar ou registar qualquer nome da empresa, marca comercial, marca de serviço, marca de certificação, nome da marca, slogan, logótipo ou outra designação semelhante ou que contenha, na totalidade ou em parte, quaisquer Marcas da NETGEAR. Sem limitar as informações acima referidas, o Utilizador concorda em não utilizar "NETGEAR" ou "Orbi" como parte do seu nome de empresa, nome comercial, nomes de produtos ou nomes de domínio de segundo nível durante o termo do presente Contrato ou posteriormente. </p>
				<p>9. <b> CONFIDENCIALIDADE. </b> O Utilizador reconhece que o Software constitui um segredo comercial valioso e inclui informação confidencial da NETGEAR ("Informações Confidenciais"). O Utilizador concorda em não disponibilizar ou divulgar estas Informações Confidenciais a terceiros, exceto a terceiros que estão vinculados por obrigações de não divulgação semelhantes. </p>
				<p>10. <b> GARANTIA E ISENÇÃO DE RESPONSABILIDADE. </b></p>
				<p>A GARANTIA DE HARDWARE DO DISPOSITIVO Orbi É ESTABELECIDA NA GARANTIA LIMITADA QUE ACOMPANHA O DISPOSITIVO E ESTÁ DISPONÍVEL EM https://www.netgear.com/about/warranty. </p>
				<p>10.1 NO QUE SE REFERE AO SOFTWARE, APLICAM-SE OS DIREITOS DA GARANTIA OBRIGATÓRIA.  </p>
				<p>10.2 SUJEITO À SECÇÃO 10.1 E/OU À RESPONSABILIDADE PREVISTA NA SECÇÃO 11 ABAIXO, NENHUMA INFORMAÇÃO OU INDICAÇÃO FORMULADA VERBALMENTE OU POR ESCRITO PELA NETGEAR, RESPETIVOS LICENCIANTES, FORNECEDORES, CONCESSIONÁRIOS, DISTRIBUIDORES, AGENTES OU FUNCIONÁRIOS PODE ALTERAR OU ALARGAR DE QUALQUER FORMA O ÂMBITO DESTA GARANTIA. A NETGEAR NÃO GARANTE QUE O SOFTWARE E OS SERVIÇOS CUMPRAM OS REQUISITOS DO TITULAR DA LICENÇA, DOS DISTRIBUIDORES, DOS UTILIZADORES FINAIS OU DE TERCEIROS, OU QUE O FUNCIONAMENTO DO SOFTWARE E DOS SERVIÇOS SEJA CONTÍNUO OU ISENTO DE ERROS.  A NETGEAR NÃO CONCEDE QUALQUER GARANTIA NO QUE DIZ RESPEITO ÀS CONDIÇÕES COM DEFEITO OU ÀS NÃO CONFORMIDADES RESULTANTES DA UTILIZAÇÃO, UTILIZAÇÃO INCORRETA, INSTALAÇÃO INCORRETA, MANUSEAMENTO INCORRETO, ACIDENTE OU ABUSO POR PARTE DO TITULAR DA LICENÇA RELATIVAMENTE AO SOFTWARE E SERVIÇOS; OU ERROS RESULTANTES DA INCORPORAÇÃO DO SOFTWARE E SERVIÇOS NO PRODUTO DO TITULAR DA LICENÇA OU FALHA DO TITULAR DA LICENÇA NA APLICAÇÃO DAS MODIFICAÇÕES, INSTRUÇÕES, ATUALIZAÇÕES OU CORREÇÕES FORNECIDAS PELA NETGEAR. </p>
				<p>11. <b>LIMITAÇÃO DA RESPONSABILIDADE. </b></p>
				<p>11.1 A RESPONSABILIDADE DA NETGEAR DEVERÁ SER ILIMITADA RELATIVAMENTE A: </p>
				<p>(i)	PERDA OU DANOS CAUSADOS INTENCIONALMENTE OU POR NEGLIGÊNCIA GROSSEIRA DA NETGEAR E RESPETIVOS DIRETORES OU FUNCIONÁRIOS, OU OUTROS AGENTES INDIRETOS; E</p>
				<p>(ii)	PERDA OU DANOS DECORRENTES DE ATOS, CAUSANDO MORTE, FERIMENTOS OU DOENÇA, OU DECORRENTES DO PRESSUPOSTO DE GARANTIA OU DE UM RISCO DE AQUISIÇÃO, OU SOB A LEI APLICÁVEL. </p>
				<p>11.2 A RESPONSABILIDADE DA NETGEAR POR NEGLIGÊNCIA, COM EXCEÇÃO DE NEGLIGÊNCIA GROSSEIRA DA NETGEAR, RESPETIVOS DIRETORES, FUNCIONÁRIOS OU OUTROS AGENTES INDIRETOS, CASO OS DANOS RESULTEM DE UMA VIOLAÇÃO DE UMA OBRIGAÇÃO CONTRATUAL MATERIAL, NÃO PODE, EM CASO ALGUM, EXCEDER OS DANOS TRADICIONAIS PREVISTOS, QUE CONSISTEM NO PREÇO LISTADO DA NETGEAR OU DOS MONTANTES PAGOS PELO UTILIZADOR, CONSOANTE O VALOR INFERIOR, PELO SOFTWARE E SERVIÇOS QUE ORIGINARAM A CAUSA DA AÇÃO (OU O PRODUTO COM O QUAL O SOFTWARE E SERVIÇOS FORAM DISPONIBILIZADOS). </p>
				<p>11.3 SUJEITO ÀS CLÁUSULAS 11.1 E 11.2 ACIMA, QUALQUER OUTRA RESPONSABILIDADE DA NETGEAR É EXCLUÍDA. </p>
				<p>11.4 NOS CASOS EM QUE A RESPONSABILIDADE SEJA LIMITADA NOS TERMOS DA CLÁUSULA 11.2, A NETGEAR NÃO SERÁ RESPONSÁVEL POR PERDA DE LUCROS OU QUAISQUER OUTROS DANOS INDIRETOS. </p>
				<p>12. <b> DISPOSIÇÕES GERAIS. </b></p>
				<p>12.1 <b>Impostos. </b> O Utilizador é o único responsável por quaisquer impostos, direitos ou taxas, se existirem, que possam ser avaliados no Software e nos Serviços, pela utilização dos mesmos ou pelo respetivo cumprimento do presente Contrato. O Utilizador deverá ser responsável pelo pagamento de quaisquer impostos, direitos e taxas avaliados em função da NETGEAR, exceto os que são aplicáveis às receitas líquidas ou remunerações da NETGEAR. </p>
				<p>12.2 <b>A consideração do Utilizador. </b> Os direitos e licenças concedidos no presente documento estão sujeitos ao cumprimento dos termos e condições do presente Contrato pelo Utilizador. O Utilizador reconhece e concorda que o seu único e exclusivo benefício relativamente ao seu desempenho ao abrigo do presente Contrato são os direitos e as licenças concedidos no presente documento e que, por isso, não deverá ter direito a qualquer remuneração, reembolso ou outro benefício por parte da NETGEAR ou dos seus fornecedores. </p>
				<p>12.3 <b>Medidas cautelares. </b> O Utilizador reconhece e concorda que a cópia, divulgação ou utilização do Software ou qualquer outra informação, materiais ou serviços fornecidos no presente documento, de forma incompatível com qualquer disposição do presente Contrato, deverá causar danos irreparáveis à NETGEAR e a NETGEAR não poderá recorrer a qualquer solução prevista na lei. Por conseguinte, a NETGEAR terá direito a uma indemnização justa em tribunal, incluindo, sem caráter exclusivo, ordens de retração temporária, injunções preliminares e injunções permanentes, se aplicável. </p>
				<p>12.4 <b>Nenhuma parceria. </b> As partes assumem as respetivas obrigações ao abrigo do presente Contrato como entidades independentes. O presente Contrato não cria, e não se destina a criar, uma atividade, agência, distribuição, franquia, negócio conjunto, parceria legal ou qualquer outra relação legal semelhante entre a NETGEAR e o Utilizador. Nenhuma das partes poderá ter qualquer direito ou autoridade para agir em nome de, ou para se vincular a, outra parte e nenhuma das partes irá representar terceiros que têm tal direito ou autoridade. </p>
				<p>12.5 <b>Nenhuma atribuição. </b> O Utilizador não pode atribuir ou, de outra forma, transferir o presente Contrato ou os direitos ou obrigações aqui descritos (na totalidade ou em parte, seja voluntariamente, por meio de fusão, nos termos da lei ou outros meios), sem a autorização prévia por escrito da NETGEAR, cujo consentimento pode ser retido ao critério exclusivo da NETGEAR e qualquer tentativa de transferência ou atribuição é nula e será considerada uma violação material do presente Contrato. </p>
				<p>12.6 <b>Integralidade do contrato; alteração. </b> O presente Contrato constitui o contrato completo, final e exclusivo no que diz respeito ao assunto em questão.  O presente Contrato não pode ser alterados na totalidade ou em parte, exceto com aviso prévio para o Utilizador. </p>
				<p>12.7 <b>Renúncia. </b> A renúncia de qualquer defeito mencionado no presente contrato ou de qualquer um dos termos e condições do presente Contrato não deverá ser considerada uma renúncia continuada ou uma renúncia de qualquer outro defeito ou de quaisquer outros termos ou condições, mas apenas é aplicável à ocorrência a que tal renúncia se destina. </p>
				<p>12.8 <b>Legislação aplicável e idioma. </b>O presente Contrato será regido pelas disposições legais da Califórnia, excluindo as respetivas disposições relativas ao conflito de leis e as leis dos Estados Unidos. Esta escolha da lei não pode limitar a proteção proporcionada ao Utilizador por disposições legais que não sejam derrogáveis por acordo em virtude da legislação aplicável (como, por exemplo, a legislação de proteção do consumidor). A aplicação da Convenção das Nações Unidas sobre os Contratos de Venda Internacional de Mercadorias é expressamente excluída. O texto oficial do presente Contrato encontra-se em inglês e qualquer interpretação ou elaboração do presente Contrato será baseada no mesmo. Na eventualidade de o presente Contrato ou quaisquer documentos ou avisos relacionados com o mesmo serem traduzidos para outro idioma, a versão inglesa é predominante, a menos que a lei aplicável ao Utilizador indique o contrário. </p>
				<p>12.9 <b>Exportação. </b> O Utilizador reconhece que a exportação ou reexportação de qualquer Software e dispositivos Orbi está sujeita aos regulamentos sobre importação e exportação. Em particular, sem limitação, o Software e os dispositivos Orbi poderão não ser exportados ou reexportados (a) para quaisquer países sob embargo dos Estados Unidos, ou (b) para qualquer pessoa que conste da lista de Specially Designated Nationals (Cidadãos especialmente designados) do Departamento de Tesouro dos Estados Unidos ou da Denied Person’s List ou Entity List (Lista de pessoas ou entidades rejeitadas) do Departamento de Comércio dos Estados Unidos. Ao utilizar o Software e os dispositivos Orbi, o Utilizador assume e garante que (i) não se encontra num país sujeito a um embargo do Governo dos EUA ou que tenha sido designado pelo Governo dos EUA como um país "apoiante do terrorismo" e (ii) não consta de qualquer lista do Governo dos EUA de pessoas proibidas ou restringidas.  Geralmente, o Utilizador deve cumprir rigorosamente todos os controlos de exportação dos Estados Unidos e não deverá exportar, reexportar, transferir ou desviar qualquer parte do Software e dos dispositivos Orbi ou qualquer produto direto dos mesmos para qualquer destino, utilização final ou utilizador final que esteja proibido ou restringido ao abrigo dessas leis e regulamentos de controlo de exportações dos Estados Unidos, exceto conforme o especificamente autorizado pelo Departamento de Comércio dos Estados Unidos. O Utilizador concorda em indemnizar e defender a NETGEAR e os respetivos fornecedores contra quaisquer reclamações, perdas, responsabilidades ou danos sofridos ou incorridos pela NETGEAR e pelos respetivos fornecedores resultantes de ou relacionados com a violação dos termos deste parágrafo por parte do Utilizador. </p>
				<p>Os Serviços, o Software e os dispositivos Orbi não estão disponíveis para todas as pessoas ou em todos os países.  Se o Utilizador optar por aceder aos Serviços, ao Software ou aos dispositivos Orbi a partir de um país em que os Serviços, o Software ou os dispositivos Orbi são suportados pela NETGEAR, estará a fazê-lo pela sua própria iniciativa e é o único responsável pelo cumprimento das leis locais aplicáveis no seu país. O Utilizador compreende e aceita que algumas ou todas as funcionalidades dos Serviços, Software ou dispositivos Orbi poderão não funcionar ou não ser adequados para esse tipo de utilização nesse país. Até ao limite máximo permitido pela lei, a NETGEAR não assume a responsabilidade por quaisquer danos ou perdas causados pelo acesso ou utilização dos Serviços, Software ou dispositivos Orbi fora de países não suportados pela NETGEAR. O Utilizador estará sujeito aos presentes Termos onde quer que aceda ou utilize o website ou utilize os Serviços. </p>
				<p>12.10 <b>Divisibilidade. </b> Se um tribunal competente considerar qualquer disposição do presente Contrato como ilegal, inválida ou não aplicável, na totalidade ou em parte, ao abrigo da legislação aplicável, tal disposição ou parte do Contrato deverá ser ineficaz no que se refere à jurisdição em que tal tribunal se encontra localizado, à medida da sua ilegalidade, nulidade ou inaplicabilidade e deverá ser modificada, na medida em que seja necessário, para estar em conformidade com a legislação aplicável, de forma a proporcionar o efeito máximo para a intenção das partes. A ilegalidade, nulidade ou inaplicabilidade de tal disposição ao abrigo dessa jurisdição não deverá, de alguma forma, afetar a legalidade, validade ou aplicabilidade de tal disposição ou de quaisquer outras disposições do presente Contrato em qualquer outra jurisdição. </p>
				<p>12.11 <b>Força maior. </b> Nenhuma das partes deverá ser responsabilizada por quaisquer faltas ou atrasos no desempenho ao abrigo do presente Contrato, podendo dever-se, na totalidade ou em parte, direta ou indiretamente, a qualquer contingência, atraso, falha ou causa de qualquer natureza para além do controlo razoável de tal parte. Tais causas incluem, sem limitar a generalidade do que foi anteriormente mencionado, incêndios, explosões, terramotos, tempestades, inundações ou outras condições climatéricas, indisponibilidade dos utilitários necessários ou das matérias-primas, falha de energia, greve, procedimento de bloqueio, indisponibilidade dos componentes, atividades de uma combinação de trabalhadores ou dificuldades laborais, guerra, atos terroristas, insurreição, motins, atos de Deus ou do inimigo público, lei, atos, ordem, regulamento do controlo da exportação, decreto de proclamação, regulamento, mandato ou instruções do Governo ou de outras autoridades públicas, juízo ou decreto de um tribunal da jurisdição competente (não decorrente de violação por essa parte do presente Contrato). </p>
				<p>12.12	<b>Notificações. </b>  Quando a NETGEAR solicitar ao Utilizador um endereço de e-mail, este é responsável por fornecer à NETGEAR o endereço de e-mail mais atual. No caso de o último endereço de e-mail fornecido à NETGEAR não ser válido ou se, por qualquer razão, não permitir que o Utilizador receba quaisquer notificações solicitadas/permitidas de acordo com os Termos, o envio do e-mail pela NETGEAR que contém tal notificação constitui, apesar de tudo, a notificação em vigor. A NETGEAR não é responsável por qualquer filtragem automática que o Utilizador ou o respetivo fornecedor de serviços de rede possa aplicar nas notificações por e-mail. Tem de notificar a NETGEAR através do seguinte endereço de e-mail: support@NETGEAR.com</p>
				<p>12.13 <b>Integralidade do contrato. </b>  Os presentes Termos (incluindo os vários termos adicionais incorporados no presente documento como referência) constituem a totalidade do Contrato entre o Utilizador e a NETGEAR, e prevalecem sobre todos os contratos, negociações ou outras comunicações anteriores entre o Utilizador e a NETGEAR, sob a forma escrita ou oral, relativamente a esta matéria. </p>
				<p>12,15.	<b>Conformidade com a legislação. </b> O Utilizador concorda em agir em conformidade com todas as leis aplicáveis aquando da utilização dos Serviços, do Software e dos dispositivos Orbi. </p>
				<p>12,16.	<b>Autorização de comunicações eletrónicas. </b>  Ao utilizar os Serviços, o Software e os dispositivos Orbi, o Utilizador concorda em receber determinadas comunicações eletrónicas da nossa parte, incluindo, entre outros, (a) notificações sobre a sua utilização dos Produtos, Software e Serviços, incluindo quaisquer notificações relativas a violações de utilização, (b) Atualizações e (c) nos casos em que o Utilizador tenha acordado, nos termos da legislação aplicável, informações promocionais e materiais relativas aos produtos, Software e Serviços da NETGEAR, através de correio eletrónico. Para obter mais informações sobre como podemos utilizar as suas informações pessoais e sobre como alterar as suas preferências, assim como para anular a subscrição dos materiais promocionais, consulte a nossa Política de Privacidade. </p>
				<p>O Utilizador concorda que quaisquer notificações, contratos, divulgações ou outras comunicações que lhe enviarmos por via eletrónica irão satisfazer quaisquer requisitos legais de comunicação. </p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>Telefone da sede</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Fax da sede</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>OU</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Irlanda</b></p>
				<p><b>Telefone da sede</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Fax da sede</b></p>
				<p><b>353 21 2333 299</b></p>
				<p>Revisão 1, Entrada em vigor: <b>14 de setembro de 2016</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
