<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>Orbi 어플리케이션, Orbi 소프트웨어, Orbi 서비스 및 Orbi 장치에 대한 마스터 서비스 약관</p>
				<p>여기https://www.netgear.com/about/privacy-policy/에서 지칭하는 개인 정보 보호 정책과 본 마스터 서비스 약관(본 "계약서")은 Orbi 장치와 Orbi 어플리케이션("개별 서비스" 및 통칭하여 "서비스") 사용 시 이를 통해 제공 가능하거나 사용 가능한 소프트웨어(해당 정의는 아래에 명시), 서비스 및 리소스를 본 계약에 동의하는 개인 또는 기업(이하 "귀하")에게 제공하는 것에 NETGEAR, INC.(이하 "NETGEAR")가 동의한다는 것을 기반으로 명시하는 서비스 약관입니다. 본 계약은 (I) 귀하에게 Orbi 어플리케이션, 소프트웨어 및 Orbi 장치에 대하여 NETGEAR와 체결한 별도의 구매 계약이 있거나(이러한 경우에는 별도의 계약이 적용됨), (II) 다른 NETGEAR 이용 약관이 적용되는 경우에 해당되지 않는 경우에 적용됩니다. </p>
				<p>소프트웨어를 다운로드, 설치 또는 사용하면 귀하는 법률상 유효한 방법으로 본 계약서의 이용 약관 내용에 동의하게 됩니다. 본 계약서의 이용 약관 내용에 동의하지 않을 경우 소프트웨어 다운로드, 설치, 액세스 또는 사용을 시도하지 마십시오. </p>
				<p>귀하가 제3자를 대신해 소프트웨어를 수령하는 경우 귀하는 NETGEAR에 제3자를 대신하는 공식 대리인으로서 귀하가 당사자를 대신하여 본 계약서의 이용 약관에 동의하는 것임을 나타냅니다. 아래에 명시된 본 계약을 집행하면 NETGEAR와 제3자 간에 구속력 있는 계약이 형성되고 본 계약서에서 사용되는 "귀하"라는 명칭은 제3자를 지칭하게 됩니다. </p>
				<p>귀하가 연령에 따라 인터넷 기반 어플리케이션의 사용을 제한하는 관할 지역에 거주하거나, 연령에 따라 본 계약과 같은 계약의 체결 능력이 제한되는 관할 지역에서 거주하는 경우 해당 지역의 제한 연령 미만일 경우, 귀하는 본 계약을 체결할 수 없고 NETGEAR 소프트웨어를 다운로드, 설치 또는 사용할 수 없습니다.  본 계약을 체결하면 귀하는 귀하의 관할 지역에서 소프트웨어의 사용 허용 여부가 확인되었음을 명시적으로 나타냅니다. </p>
				<p>1. <b>소프트웨어 정의. </b> 본 계약은 (i) NETGEAR Orbi 어플리케이션, Orbi 제품 또는 서비스에 포함된 모든 소프트웨어, Orbi 장치 또는 서비스에서 사용하기 위해 NETGEAR 또는 NETGEAR 대리점에서 구매한 제품 또는 서비스용 NETGEAR 브랜드 소프트웨어, NETGEAR에서 Orbi 장치 또는 서비스에서 사용할 수 있도록 NETGEAR 웹 사이트, NETGEAR 판매업체 웹 사이트, Google Play 스토어 또는 Apple App Store에서 다운로드할 수 있는 소프트웨어의 액세스 및 사용 (ii) Orbi 앱과 관련하여 NETGEAR에서 제공하는 소프트웨어용 설치 설명서, 사용 설명서 또는 기타 문서(통칭하여 "문서")의 액세스 및 사용 (iii) NETGEAR에서 제공받는 소프트웨어 및 문서의 모든 새로운 업그레이드 또는 업데이트(상기한 모든 항목을 통칭하여 "소프트웨어")의 액세스 및 사용에 적용됩니다. </p>
				<p>2. <b>라이선스 제공. </b>귀하의 본 계약의 이용 약관 준수 여부에 따라 달라집니다. </p>
				<p>2.1 <b>비독점적 라이선스. </b>NETGEAR와 NETGEAR 공급업체는 귀하에게 Orbi 장치 및 기타 NETGEAR 제품에서 사용할 소프트웨어 복사본을 사용할 수 있는 비독점적 라이선스를 제공합니다. 그 외에 다른 권한은 제공하지 않습니다. </p>
				<p>2.2 <b>복사. </b> 귀하는 백업 목적이나 Orbi 장치 및 다른 NETGEAR 제품을 사용하기 위해 필요한 경우 소프트웨어를 복사할 수 있습니다. 단, 소프트웨어 원본에 기재된 모든 저작권 및 소유권 고지문을 함께 복제해야 합니다. </p>
				<p>2.3<b> 타사 소프트웨어. </b> (a) NETGEAR는 소프트웨어의 일부 또는 소프트웨어와 연결하여 (i) 별도의 타사 라이선스 이용 약관("타사 라이선스 약관")에 따라 타사 소프트웨어를 제공하거나, (ii) 공개 사용 라이선스("오픈 소스 라이선스 약관")에 따라 "오픈 소스" 소프트웨어를 제공할 수 있습니다. </p>
				<p> (b) 귀하는 아래 11 섹션에서 제시하는 경우를 제외하고 (i) 이러한 타사 소프트웨어와 오픈 소스 소프트웨어는 해당되는 타사 라이선스 약관 및 오픈 소스 라이선스 약관의 적용만 받으며 (ii) 약관은 귀하와 해당 라이선스 제공자 간에만 적용되므로 해당 계약이 적용되는 소프트웨어와 관련하여 NETGEAR는 어떠한 책임도 없다는 점을 인정하고 이에 동의합니다. </p> 
				<p>2.4 <b>업데이트. </b> NETGEAR는 필요 시 서비스, 소프트웨어 및/또는 Orbi 장치 성능 개선을 위한 패치, 버그 수정, 업데이트, 업그레이드 및 여타의 수정물을 개발할 수 있습니다(이하 “업데이트”). <b>서비스, 소프트웨어 또는 Orbi 장치를 사용하는 것은 귀하의 모바일 장치와 Orbi 장치에 추가적인 공지나 별도의 동의를 구하지 않고 자동으로 다운로드되어 설치될 수 있는 이러한 업데이트의 자동 다운로드 및 설치에 동의하는 것으로 간주됩니다. </b> 이러한 업데이트를 원하지 않는 경우는 (i) 어플리케이션 업데이트의 경우, 귀하의 모바일 장치 설정에서 업데이트에 대해 자동 업데이트 기능을 해제하거나 모바일 장치에서 NETGEAR 또는 Orbi 어플리케이션을 삭제하고 (ii) Orbi 장치 및/또는 소프트웨어의 경우, 귀하의 Orbi 계정을 중단하거나 Orbi 장치의 사용을 중단하는 것이 유일한 해결책입니다. 나중에 앞에서 취한 조치를 취소할 경우(예: 모바일 장치에서 자동 업데이트 기능을 켜거나 Orbi 장치의 사용을 재개) 업데이트 자동 다운로드와 설치가 재개되고 귀하가 자동 업데이트에 동의하는 것으로 간주됩니다. 업데이트가 자동으로 설치되지 않은 결과로 서비스, 소프트웨어 및 Orbi 장치의 사용을 진행하거나 전체 기능을 액세스하기 위해서는 업데이트를 설치해야 할 수 있으며 귀하는 이를 위해 업데이트를 즉시 설치하는 데 동의합니다. </p>
				<p>3. <b>사용 제한. </b></p>
				<p>3.1 <b>일반 제한. </b> 2 섹션에 명시적으로 허용되어 있지 않거나 관련 법률에 따라 해당 권한이 제외되지 않는 한 다음이 금지됩니다(제3자에게 허용하거나 권장할 수도 없음). (i) 백업 목적 또는 서비스, 소프트웨어 또는 Orbi 장치를 사용하기 위해 필요한 경우를 제외하고 어떤 방식으로도 소프트웨어를 복사, 복제 또는 재생할 수 없습니다. (ii) 소프트웨어(또는 소프트웨어 복사본 또는 구성 요소)나 소프트웨어에 대한 권한을 제3자에게 배포, 네트워크를 통해 전달, 재사용 허가, 임대, 대여, 임차, 위임, 운반 또는 기타 양도할 수 없습니다. (iii) 소프트웨어 외부 또는 내부에 기재된 제품 ID, 상표, 저작권 정보, 기밀 정보, 소유권 정보 또는 기타 고지 사항 또는 범례를 제거, 수정 또는 불분명하게 처리할 수 없습니다. (iv) 많은 사용자의 동시 이용 또는 서비스 접수처 목적 또는 여기서 명시적으로 허용되지 않은 어떤 방식으로도 소프트웨어를 사용할 수 없습니다. (v) 소프트웨어(또는 소프트웨어의 복사본 또는 일부)를 귀하의 제품에 통합할 수 없습니다. </p>
				<p>3.2 <b>수정 및 리버스 엔지니어링. </b>2 섹션에 명시적으로 허용되어 있지 않거나 관련 법률에 따라 해당 권한이 제외되지 않는 한 다음이 금지됩니다(제3자에게 허용하거나 권장할 수도 없음). (i) 소프트웨어 또는 소프트웨어의 일부를 리버스 엔지니어링, 디스어셈블 또는 디컴파일하거나 소스 코드를 파생하려는 어떠한 시도를 할 수 없습니다. (ii) 소프트웨어를 변경, 각색, 수정, 변환, 개선하거나 파생물(이하 "파생물")을 작성할 수 없습니다. </p>
				<p>3.3 <b>협력. </b>귀하는 본 계약에 위반되는 소프트웨어의 사용 또는 액세스를 방지하고 확인하는 데 NETGEAR와 협력해야 하고 NETGEAR에서 요청하는 모든 합당한 지원을 제공해야 합니다. </p>
				<p>3.4. <b>고위험 분야에 대한 적용.  </b>소프트웨어, 서비스 및 Orbi 장치는 소프트웨어, 서비스 및 Orbi 장치 또는 해당 구성 요소의 오류가 사망, 신체적 상해 또는 심각한 물리적 피해 또는 환경적 피해("위험성이 높은 활동")와 직결될 수 있는 핵시설 시스템, 항법 시스템 또는 통신 시스템, 항공 교통 관제소, 생명 유지 장치, 체내 이식 장치, 무기 시스템 또는 기타 어플리케이션, 장치 또는 시스템 운영과 같이 이중 안전(fail-safe) 기능이 요구되는 분야 또는 환경에서 사용하도록 설계되지 않았고 또한 보장되지도 않습니다. 본 계약서의 다른 어떤 조항에도 불구하고 귀하는 위험성이 높은 활동과 관련하여 소프트웨어, 서비스 및 Orbi 장치 또는 이들의 구성 요소를 사용하거나 제3자에게 그렇게 하도록 허가할 수 없습니다. 그러한 사용에 따른 모든 위험은 귀하에게 있으며, 귀하는 귀하 또는 귀하가 허가한 제3자가 소프트웨어, 서비스 및 Orbi 장치 또는 해당 구성 요소를 위험성이 높은 활동과 관련하여 사용할 경우 그로 인해 NETGEAR에 발생하는 모든 손배 청구, 비용 및 법적 책임에 대해 배상, 변호하고 NETGEAR에게 책임을 전가하지 않는 데 동의합니다. </p>
				<p>4. <b>요금 및 지원. </b></p>
				<p>4.1 <b>일반 사항. </b>  귀하는 요금 또는 대금 지급 기일이 도래하여 지불해야 하는 시점에 효력이 있는 요금, 대금 및 청구 약관에 따라 귀하의 계정에 부과되는 모든 요금 또는 대금을 지급하는 데 동의합니다. 지정된 신용 카드의 사용에는 결제 기관의 약관이 적용되므로 귀하의 권리와 법적 책임을 확인하기 위해서는 본 계약이 아닌 해당 결제 기관의 계약을 참조해야 합니다. 귀하의 책임과 권한은 신용 카드 사용과 관련되어 있습니다. NETGEAR에 귀하의 신용 카드 번호와 관련 결제 정보를 제공하면 본 계약에 따라 모든 요금 및 대금 지급 기한이 도래하여 NETGEAR에 지불해야 하는 모든 요금과 대금에 대해 추가적인 공지나 별도의 동의를 구할 필요 없이 귀하의 계정으로 즉시 대금을 청구할 수 있는 권한을 NETGEAR에 제공하는 것입니다. 귀하는 본 계약에 따라 대금 결제에 사용되는 대금 청구지 주소나 신용 카드 변경 시 NETGEAR에 즉시 알리는 데 동의합니다. NETGEAR는 이후 웹 사이트에 게시하거나 이메일을 통해 귀하에게 통지한 후 가격 및 청구 방법을 언제든지 변경할 수 있습니다. </p>
				<p>a.	<b>세금. </b> Orbi 장치나 서비스의 구입 또는 Orbi 장치나 서비스에 대한 지불 약관에 판매세가 적용되는 경우에 해당 판매세를 NETGEAR에 지불하지 않은 경우 귀하는 조세 기관에 해당 판매세 및 관련 벌금 또는 이자를 지불해야 할 책임이 있습니다. 이 섹션에서 “판매세”는 판매세 또는 이용세 및 판매 과정에서 부과되는 다른 여타의 세금을 의미하며, NETGEAR가 고객에게 전가할 수 있고 관련 조세 관할 기관에서 판매세나 이용세를 달리 부과하지 않는 경우 판매세의 기능적 대체물을 의미합니다. </p>
				<p>b.	<b>원천징수. </b> 귀하는 원천징수에 대해 어떠한 감면 없이 모든 요금을 NETGEAR에 지불하는 데 동의합니다. NETGEAR에 요금을 지불할 때 부과되는 이러한 세금은 전적으로 귀하의 의무 사항이며 귀하는 NETGEAR에서 요청 시 해당 원천징수의 납부를 증빙하기 위해 해당 조세 기관에서 발급한 세금 계산서 또는 기타 증빙 자료를 NETGEAR에 제공합니다. </p>
				<p>c.	<b>이의 제기. </b> 귀하의 신용 카드 사용 내역에서 NETGEAR의 부과 내역에 대해 이의가 있을 경우 신용 카드 사용 내역서를 수령한 후 7일 이내에 NETGEAR에 서면으로 통지해야 합니다. 청구 이의 제기는 다음 이메일 주소를 이용해야 합니다(support@NETGEAR.com). </p>
				<p>4.2 <b>지원. </b> NETGEAR는 사유 또는 통보 없이 서비스, 소프트웨어 및/또는 Orbi 장치에 대한 업데이트, 지원, 업그레이드 및 개선 작업을 언제든지 중단할 수 있습니다. </p>
				<p>5. <b>지적재산권. </b></p>
				<p>5.1 <b>소프트웨어에 대한 권리. </b>서비스, 소프트웨어 및 Orbi 장치에 대한 지적재산권은 미국 및 해당 관할 지역의 저작권법(국제조약 포함)을 비롯해 지적, 사유 및 산업 재산권 보호에 대한 미국 및 국제 법률, 규정 및 조약에 의해 보호됩니다. 소프트웨어의 일부 및 전체 복사본 및 소프트웨어에 포함된 모든 지적재산권을 비롯하여 소프트웨어의 판권과 권리 구사에서 오는 이권 일체는 전적으로 NETGEAR와 이의 라이선스 제공자가 독점 보유합니다. NETGEAR와 이의 라이선스 제공자는 본 계약서에 명시적으로 제공되지 않은 권리도 모두 갖습니다. 소프트웨어(귀하에게 제공되거나 귀하가 또는 귀하를 위해 직접 만든 모든 복사본을 포함)는 귀하에게 사용이 허가된 것이며 소프트웨어 자체가 판매된 것은 아닙니다. </p>
				<p>5.2 <b>지원 정보 및 파생물에 대한 권리. </b>위에서 언급한 모든 지적재산권을 포함하여 서비스, 소프트웨어 또는 Orbi 장치에 대해 귀하 또는 귀하를 대신해 제공된 의견, 버그 리포트 및 제안 사항과 피드백뿐만 아니라 귀하가 또는 귀하를 위해 생성한 모든 파생물(본 계약서 상의 허용 여부에 관계 없음)은 전적으로 NETGEAR 또는 이의 라이선스 제공자의 독점 자산입니다. </p>
				<p>5.3 <b>권리의 양도. </b>귀하는 이로써 지원 정보 또는 파생물 및 여기에 포함된 모든 지적재산권을 비롯한 모든 권리, 판권, 권리 구사에서 오는 전세계의 이권을 NETGEAR에 양도하고, NETGEAR에서 요청할 경우 그러한 권리를 NETGEAR의 비용으로 온전하게 하고, 기록하고, 강화하기 위한 NETGEAR의 작업을 지원합니다. 관련 법률에 의거해 이러한 양도가 무효해질 때까지 귀하는 지원 정보 및 파생물을 향후에 알려진 또는 고안된 방법으로 사용, 복사하고 다르게 활용하거나 상용화할 수 있는 독점적이고, 양도 가능하고, 재사용 허가가 가능하고, 제한이 없고, 영속적인 전세계적인 라이선스를 NETGEAR에 제공하는 것에 동의합니다. </p>
				<p>5.4 <b>기술 및 데이터 수집. </b> 귀하는 귀하의 비용으로 소프트웨어, 서비스 및 Orbi 장치를 사용하는 데 필요한 모든 통신 회선, 모니터, PC, 모뎀, 라우터, 모바일 장치, 인터넷 서비스 공급자("ISP"), 모바일 장치 이동 통신 사업자("이동 통신 사업자") 등과 모든 액세스를 제공하고 유지해야 합니다. </p>
				<p><b>NETGEAR는 소프트웨어 및/또는 Orbi 네트워크의 성능을 최적화하기 위해 일반 소프트웨어 설치 및 운영 과정에서 데이터를 수집합니다.  수집되는 정보는 설치를 완료하는 데 필요한 클릭 수와 소요된 시간, 설치 시작에서 종료까지의 경로, 인터넷 서비스 공급자가 제공하는 WiFi 속도, Orbi 네트워크와 귀하의 모바일 장치 사이의 LAN 속도, 네트워크 설정에 사용되는 모바일 장치의 모델 및 운영 체제가 해당되며 이에 국한되지 않습니다.  NETGEAR는 Orbi 네트워크의 토폴로지가 변경되거나 Orbi 장치 및 서비스에 대한 기술 업데이트가 있을 경우 소프트웨어의 기능을 통해 귀하에게 이에 관한 알림 메시지를 전송합니다.  </b>Orbi는 또한 일일 자동 펌웨어 업데이트 및 네트워크 토폴로지 자동 최적화 기능을 구현할 수 있으며, 이 또한 소프트웨어를 통해 이행됩니다.  </p>
				<p>소프트웨어를 사용하면 NETGEAR에서 위의 정보를 수집하는 내용에 동의하는 것입니다. </p>
				<p>시간이 지나면서 NETGEAR는 서비스(“타사 제품 및 서비스”)를 경유하거나 이용해 Orbi 장치, 소프트웨어 및 서비스를 여러 타사 제품 및 서비스와 인터페이스할 수 있는 기회를 제공할 수 있습니다. 인터페이스할 타사 제품 및 서비스 선정 여부는 귀하의 선택 사항입니다. </p>
				<p>특정 타사 제품 및 서비스에 대해 귀하가 동의를 하면 귀하가 개인 정보 보호 정책과 함께 허가한 인터페이스를 사용하기 위해 NETGEAR는 개인 정보를 비롯하여 귀하와 귀하의 서비스, 소프트웨어 및 Orbi 장치에 대한 정보와 제어 데이터를 교환할 수 있습니다. 타사 제품 및 서비스와 공유된 이 정보의 사용에는 NETGEAR의 개인 정보 보호 정책이 아닌 타사의 개인 정보 보호 정책이 적용됩니다. 귀하는 타사 제품 또는 서비스의 안전성에 대해 NETGEAR에서 항의를 제기하거나 보증을 제공하지 않는다는 점을 인정하고 이에 동의합니다. 이에 따라 아래 11섹션에서 제시하지 않는 한 NETGEAR는 귀하의 타사 제품 또는 서비스의 사용 또는 타사 제품 또는 서비스의 사용으로 인해 발생하는 신체적 상해, 사망, 재산 피해 또는 여타의 피해나 손실에 대해 책임을 지지 않습니다. 귀하는 타사 제품에 대한 문의 사항은 해당 타사에 해야 하며, Orbi 장치, 소프트웨어 및 서비스를 사용할 경우 거주하는 지역의 데이터 보호, 개인 정보 및 기타 법률에 따라 책임이 부과될 수 있습니다. Orbi 장치, 소프트웨어 및 서비스 사용 시 관련된 모든 법규를 준수해야 할 책임은 NETGEAR가 아닌 귀하에게 있습니다. </p>
				<p>소프트웨어 설치 도중과 설치 후 NETGEAR에서 수집하는 정보는 NETGEAR 개인 정보 보호 정책을 따르며 해당 내용은 http://www.netgear.com/about/privacypolicy/를 참조하십시오. </p>
				<p>6. <b>등록 및 계정 데이터</b></p>
				<p>6.1. Orbi 장치, 소프트웨어 및 서비스에서 제공되는 특정 기능을 사용하려면 귀하를 등록하고 계정을 열어야 합니다(사용자 ID와 암호"계정 데이터" 설정 포함). 등록 시 귀하는 정확하고 완전한 최신 정보("등록 데이터")를 제공하는 데 동의하며, 귀하의 계정에 부과되는 요금을 관리하고 청구하는 데 사용하기 위해 귀하가 제공하는 등록 데이터를 NETGEAR에서 저장 및 이용하는 데 동의합니다. 귀하의 계정 데이터를 기밀로 유지할 책임과 귀하의 계정에서 이루어지는 모든 활동에 대한 책임은 전적으로 귀하에게 있습니다. 귀하는 귀하의 계정 또는 계정 데이터가 무단으로 사용된 경우 NETGEAR에 즉시 알리는 데 동의합니다. </p>
				<p>6.2. NETGEAR는 Single Sign-On 프로세스에 의한 통합 등록 솔루션("SingleSignOn")을 구현했습니다. SingleSignOn은 NETGEAR에서 하나의 계정을 열면 NETGEAR의 서비스에 대해 사용자 계정과 사용자 ID를 별도로 유지할 필요 없이 귀하의 사용자 계정과 사용자 ID를 사용하는 프로세스를 말합니다. 또한 SingleSignOn을 이용하면 한번에 여러 서비스에 로그인하고 로그오프할 수도 있습니다. </p>
				<p>6.3 SingleSignOn 방식은 API(응용 프로그래밍 인터페이스) 또는 다른 소프트웨어를 통해 SingleSignOn으로 Facebook, Twitter, Google +와 같은 타사 소셜 미디어 사이트의 계정에서 서비스에 연결할 수 있습니다.  </p>
				<p>NETGEAR 개인 정보 보호 정책의 공개를 제한하거나 폐지하지 않고 SingleSignOn을 통해 타사 사이트에서 사용자 계정에 연결하도록 허용할 경우 귀하는 개인 식별 정보가 들어 있을 수 있는 귀하의 계정 정보에 NETGEAR에서 액세스하는 것에 동의하는 것입니다. 또한 소셜 미디어 또는 타사 계정을 통해 SingleSignOn에 액세스하면 SingleSignOn을 통해 수행하는 모든 작업이 타사 사이트에 게시될 수 있다는 점도 이해합니다. 타사 사이트의 이용 여부는 귀하의 선택 사항입니다. NETGEAR는 SingleSignOn에서 타사 사이트의 계정 연결을 허용하거나 해당 사이트를 통해 페이지 또는 정보를 타인과 공유하기 전에 각 타사 사이트의 개인 정보 보호 정책을 검토할 것을 권장합니다. </p>
				<p>귀하는 본인의 SingleSignOn 사용자 이름을 소유하지 않는 것에 동의합니다. NETGEAR는 귀하의 SingleSignOn 사용자 이름을 회수하거나 사용할 수 있습니다. </p>
				<p>6.4. 귀하는 특히 알아보기 쉬운 사용자 ID나 암호의 사용을 피하고, 주기적으로 암호를 변경하는 것은 물론, 암호가 노출되지 않게 하고 다른 사용자 또는 제3자로 하여금 귀하의 계정 데이터나 서비스에 액세스하지 못하게 함으로써 본인의 계정 데이터를 안전하게 보호하고 제3자가 계정 데이터와 계정에 무단으로 액세스하지 못하게 차단해야 합니다. </p>
				<p>6.5. NETGEAR는 귀하의 계정 데이터를 사용하여 다른 사용자 또는 제3자가 전송하거나 보낸 모든 지침을 귀하가 보낸 것으로 간주할 수 있습니다. </p>
				<p>6.6. 귀하는 해당 서비스를 보유하고 있는 사용자 또는 보유자의 허가 없이는 본인이 아닌 다른 사용자나 보유자의 계정 데이터 또는 서비스를 사용하지 않는 데 동의합니다. </p>
				<p>6.7. 귀하는 귀하의 등록 데이터가 무단으로 사용된 경우나 다른 보안 위반 사례가 발견될 경우 NETGEAR에 즉시 알립니다. </p>
				<p>6.8. 귀하는 해당 NETGEAR 서비스에 액세스하여 언제든지 본인의 등록 데이터나 계정 데이터에 액세스하고 변경할 수 있습니다. </p>
				<p>7. <b>종결. </b></p>
				<p>7.1 <b>계약 기간. </b> 본 계약은 귀하가 본 계약서를 수령한 날로부터 효력이 발생하고 본 계약서에 명시된 약관에 따라 계약이 종결될 때까지 무기한 지속됩니다. </p>
				<p>7.2 <b>종결. </b>NETGEAR에서 이용할 수 있는 다른 권한 또는 구제 조치를 침해하지 않고, NETGEAR는 귀하가 본 계약의 약관 또는 조건을 준수하지 못하면 즉시 통보하여 해지할 수 있습니다. 이러한 경우, NETGEAR는 귀하에게 각각의 수수료를 비례 배분하여 부과합니다. 또한 귀하가 보유하거나 관리하고 있는 소프트웨어의 모든 복사본을 폐기함으로써 언제든지 귀하가 직접 본 계약을 종결할 수도 있습니다. NETGEAR에서 공적인 발표, 이메일, 웹 사이트 게시 또는 보도 자료를 통해 본 계약의 종료를 요청한 경우에는 공적인 발표나 이메일, 웹 사이트 게시 또는 보도 자료에 지정된 날짜(“종결 날짜”)를 기해 본 계약이 종결되고, 귀하는 지정된 종결 날짜 또는 그 이전에 소프트웨어 복사본의 사용을 중단하는 데 동의합니다. 소프트웨어와 관련하여 본 계약 또는 라이선스가 종결된 후 1, 3, 5, 6, 7.2, 8, 9, 10, 11, 12 섹션의 조항은 해당 약관에 따라 존속해야 합니다. </p>
				<p>귀하가 Orbi 장치를 새 소유자에게 양도할 경우 해당 Orbi 장치에 대한 귀하의 서비스 사용 권한이 자동으로 종결되며, 새 소유자는 귀하의 NETGEAR 계정으로 Orbi 장치 또는 서비스를 사용할 권한이 없으므로 NETGEAR에 별도의 계정을 등록해야 합니다. </p>
				<p>8. <b>상표. </b></p>
				<p>8.1 <b>상표 사용 권리 불허. </b>귀하는 본 계약서에 명시적으로 허가된 경우가 아니면 본 계약이 귀하에게 NETGEAR 및 그 자회사, 계열사의 회사명, 상표, 서비스 표시, 인증 표시, 상표명, 슬로건, 로고 또는 기타 표시(통칭하여 "NETGEAR 표시")를 사용할 권리를 제공하지 않으며, 이러한 표시가 소프트웨어 외부 또는 내부에 표시되거나 본 계약에 따라 제공된 다른 재료에 포함된 경우라도 사용할 수 없음을 인정합니다. </p>
				<p>8.2 <b>채택 또는 사용 불가. </b> 귀하는 회사명, 상표, 서비스 표시, 인증 표시, 상표명, 슬로건, 로고 또는 NETGEARY 표시와 유사하거나 NETGEAR 표시의 일부 또는 전체를 포함하고 있는 다른 표시를 채택, 사용 또는 등록하지 않는 데에 동의합니다. 위에 기술한 내용을 제한하지 않으면서, 귀하는 본 계약 기간 동안 또는 그 이후에도 귀하의 회사명, 상표명, 제품명 또는 2차 도메인 이름의 일부에 "NETGEAR"나 "Orbi"를 사용하지 않는 데에 동의합니다. </p>
				<p>9. <b>비밀 유지. </b>귀하는 소프트웨어에 NETGEAR의 중요한 영업 비밀과 기밀 정보("기밀 정보")가 들어 있다는 점을 인정합니다. 이에 따라 귀하는 기밀 유지 의무 조건에 구속되지 않은 제3자를 제외하고 이러한 기밀 정보를 제3자에게 제공하거나 공개하지 않는다는 데에 동의합니다. </p>
				<p>10. <b>보증 및 보증의 부인. </b></p>
				<p>Orbi 장치에 대한 하드웨어 보증은 장치와 함께 동봉된 제한 보증서에 명시되어 있으며 웹 사이트(https://www.netgear.com/about/warranty)를 통해 확인하실 수 있습니다. </p>
				<p>10.1 소프트웨어와 관련하여 필수 보증 권리가 적용됩니다.  </p>
				<p>10.2 10.1 또는 아래의 11 섹션에 제시되는 책임에 따라 NETGEAR는 라이선스 제공자, 공급 업체, 딜러, 유통 업체, 대리점 또는 직원에게 보증 범위 변경 또는 확장에 대해 구두 및 서면 정보를 제공하거나 제안하지 않습니다. NETGEAR는 소프트웨어 및 서비스가 라이선스 사용자, 유통 업체, 최종 사용자 또는 타사의 요구 사항을 충족시키거나 작동 중단 또는 오류가 없다고 보증하지 않습니다.  NETGEAR는 정식 사용자의 소프트웨어 및 서비스의 사용, 잘못된 사용, 잘못된 설치, 잘못된 취급, 실수 또는 남용에 의해 야기된 결함 상태나 부적합성, 소프트웨어 및 서비스를 정식 사용자의 제품에 통합한 결과에 따른 오류, NETGEAR에서 제공한 개조 사항, 지침, 업데이트 또는 수정 사항을 정식 사용자가 준수하지 않은 경우에 발생한 결함에 대해서는 보증을 제공하지 않습니다. </p>
				<p>11. <b>책임의 한계. </b></p>
				<p>11.1 다음과 같은 경우 NETGEAR의 책임은 제한되지 않습니다. </p>
				<p>(i)	NETGEAR, 책임자, 담당자, 기타 대리인의 고의 또는 중과실로 인한 손실 또는 손해</p>
				<p>(ii)	사망, 신체 부상, 질병의 원인이 되는 행위 또는 보증이나 조달 가정으로 인한 손실 또는 해당 법률에 따른 손실이나 손해</p>
				<p>11.2 중대한 계약상의 의무 위반으로 인해 손실이 발생했을 때 예측 가능한 일반적인 손상을 초과하지 않은 경우 책임자, 담당자 또는 기타 대리인의 중과실이 아니면 해당 행동을 초래한 소프트웨어 및 서비스에 대한 NETGEAR의 책임은 정가 또는 귀하가 지급한 금액 이하입니다. </p>
				<p>11.3 위의 11.1 및 11.2 조항에 따라 NETGEAR의 다른 책임은 제외됩니다. </p>
				<p>11.4 11.2 조항에 따라 책임이 제한되는 경우, NETGEAR는 이익 손실이나 기타 간접적 손해에 대해 책임을 지지 않습니다. </p>
				<p>12. <b>일반 규정. </b></p>
				<p>12.1 <b>세금. </b>본 계약에 따라 소프트웨어 및 서비스 또는 이의 사용 또는 귀하의 의무 수행에 부과되는 세금이나 공과금 또는 요금이 있을 경우에는 전적으로 귀하의 책임입니다. NETGEAR의 순수입 또는 급여 지불 명세에 해당되는 경우를 제외하고 NETGEAR에 부과되는 이러한 모든 세금, 공과금 및 요금은 전적으로 귀하의 책임입니다. </p>
				<p>12.2 <b>귀하에 대한 고려 사항. </b>본 계약에서 제공되는 권한과 라이선스는 본 계약의 이용 약관에 대한 귀하의 준수 여부에 따라 달라집니다. 귀하는 본 계약에서 귀하의 준수 여부에 따라 본 계약에서 제공되는 권한과 라이선스만 고려되고 NETGEAR와 이의 공급자로부터 어떠한 보수나 비용 정산 또는 다른 고려 사항에 해당될 수 있는 권리가 없음을 인정하고 이에 동의합니다. </p>
				<p>12.3 <b>금지명령 구제방법. </b>귀하는 본 계약에 따라 제공된 소프트웨어 또는 정보, 자료 또는 서비스를 본 계약 규정과 상반되는 방법으로 복사, 공개 또는 사용할 경우 NETGEAR에 법률적으로 적절히 배상할 수 없는 회복 불가능한 피해를 입하게 될 것임을 인정하고 이에 따라 NETGEAR는 임시가처분 명령과 잠정적 금지명령, 영구적 금지명령을 포함하되, 이에 제한하지 않고 형평적 구제방법을 취할 수 있는 권리를 갖고 있음에 동의합니다(해당하는 경우). </p>
				<p>12.4 <b>동업 행위의 불허. </b> 당사자는 독립적인 계약자로서 본 계약에 따라 각자의 의무 사항을 수행합니다. 본 계약은 NETGEAR와 귀하 간에 고용, 대리, 유통, 프렌차이즈, 합작 사업, 법적 동업 또는 이와 유사한 법률적 관계를 만들거나 그런 의도조차 허용하지 않습니다. 어느 쪽 당사자도 상대를 대리하거나 속박할 권한이 없으며 그러한 권한이나 권리가 있는 제3자를 대변하지도 않습니다. </p>
				<p>12.5 <b>양도 불가. </b>귀하는 본 계약에 명시된 권한 또는 의무 사항을(전체 또는 일부, 자의적, 합병, 법의 효력 또는 어떠한 다른 방법으로든지) NETGEAR의 사전 서면 동의 없이 양도 또는 위임할 수 없습니다. NETGEAR는 단독 재량으로 동의를 보류할 수 있으며 사전 서면 동의 없이 시도된 모든 양도나 위임은 무효화되고 본 계약상의 중대한 의무 위반에 해당됩니다. </p>
				<p>12.6 <b>완전한 합의, 계약서의 수정. </b> 본 계약은 본 문서에서 언급한 주제에 대한 당사자들 간의 완전하고 최종적인 독점적 합의 내용을 담고 있습니다.  본 계약은 사전 통보 없이 전체 또는 일부 개정될 수 있습니다. </p>
				<p>12.7 <b>권리 포기. </b>본 문서에 기록된 의무 불이행 또는 본 계약의 이용 약관의 불이행에 대한 권리 포기는 여타의 다른 의무 불이행이나 이용 약관 불이행에 대한 권리 포기로 연결되어서는 안 되고 권리 포기의 대상이 되는 특정 사례에만 적용되어야 합니다. </p>
				<p>12.8 <b>준거법과 언어. </b>본 계약에는 미국 법률 및 법적 조항에 저촉되는 경우를 제외하고 캘리포니아주 법이 준거법으로 적용됩니다. 관련 법률에 따른 계약으로 인해 명예가 훼손될 수 없다는 규정에 따라 법의 선택이 귀하에게 제공되는 보호를 제한하지 않습니다(예: 소비자 보호법 등). 국제물품매매계약에 관한 유엔 협약의 적용은 명백히 배제됩니다. 본 계약의 공식 텍스트는 영어로 작성되며 본 계약에 대한 해석 또는 이해는 영문본이 기반이 됩니다. 본 계약서나 본 계약서와 관련된 문서 또는 고지 사항을 다른 언어로 번역할 경우 귀하에게 적용되는 법률에서 달리 제시하는 경우를 제외하고 영문 버전을 통해 관리됩니다. </p>
				<p>12.9 <b>수출. </b> 귀하는 소프트웨어 및 Orbi 장치의 수출 또는 재수출에 수출입 규정을 따라야 함을 인정합니다. 특히, 소프트웨어 및 Orbi 장치를 (a) 미국의 수출 금지 국가 또는 (b) 미국 재무부의 특정 국가 목록, 미국 상무부의 DPL(Denied Person’s List) 또는 EL(Entity List) 상에 기재된 모든 사람에게, 이에 국한하지 않고, 수출하거나 재수출할 수 없습니다. 소프트웨어 및 Orbi 장치를 사용하면 (i) 귀하가 미국 정부의 수출 금지 국가에 해당하거나 미국 정부에서 "테러리스트 지원" 국가로 지정된 국가에 거주하고 있지 않고 (ii) 미국 정부에서 지정한 수출 금지 또는 제한 당사자 목록에 포함되어 있지 않음을 나타내고 보증하는 것입니다.  일반적으로 귀하는 이러한 미국의 수출입 규제를 엄격히 준수하며 미국 상무부에서 명시적으로 지정된 경우를 제외하고 미국 수출입 관리법 및 규정에 따라 수출입이 금지되거나 제한된 대상 또는 최종 사용자에게 소프트웨어 및 Orbi 장치 또는 해당 파생물을 수출, 재수출, 양도 또는 전용하지 않습니다. 귀하는 귀하가 이 단락의 내용을 위반함으로써 NETGEAR와 이의 공급자에게 초래되는 모든 손배 청구, 손실, 책임 또는 손해에 대해 배상하고 NETGEAR와 이의 공급자에게 책임을 전가하지 않는다는 데 동의합니다. </p>
				<p>서비스, 소프트웨어 및 Orbi 장치는 일부 국가 또는 일부 사용자에게 제공되지 않습니다.  NETGEAR에서 서비스, 소프트웨어 또는 Orbi 장치를 지원하지 않는 국가에서 서비스, 소프트웨어 또는 Orbi 장치에 액세스하려면 귀하는 귀하의 자력으로 액세스해야 하며 해당 국가의 관련 법률을 준수하는 것은 전적으로 귀하의 책임입니다. 또한 이러한 국가에서는 서비스, 소프트웨어 또는 Orbi 장치의 일부 또는 전체 기능이 작동되지 않거나 사용하기에 적합하지 않다는 점을 이해하고 이에 동의합니다. NETGEAR는 NETGEAR에서 지원하지 않는 국가에서 귀하의 서비스, 소프트웨어 또는 Orbi 장치의 사용이나 액세스로 인해 야기되는 피해 또는 손실에 대해 법에 허용된 한도 내에서 책임 또는 법적 책임을 지지 않습니다. 사이트를 사용 또는 액세스하거나 서비스를 사용하는 경우에도 귀하는 이 약관의 구속을 받습니다. </p>
				<p>12.10 <b>분리 가능성. </b>관할 법원이 관련 법률의 전체 또는 일부에 근거해 본 계약의 어떤 조항을 위법하거나 효력이 없거나 시행 불가한 것으로 판단할 경우, 해당 조항 또는 해당 조항의 부분은 법원이 소재한 관할 지역에서 해당 조항의 위법성, 무효력 또는 시행 불가의 범위만큼 그 효력을 상실하며 당사자들의 의도에 최대의 효과를 미칠 수 있도록 관련 법률을 준수하기 위해 필요한 한도 내에서 조항을 수정해야 합니다. 해당 관할 지역에서 이러한 조항의 위법성, 무효력 또는 시행 불가함은 다른 관할 지역에서 본 계약의 해당 조항 또는 다른 조항의 적법성, 효력 또는 시행 가능성에 대해서는 어떤 영향도 미치지 않습니다. </p>
				<p>12.11 <b>불가항력. </b>어느 쪽 당사자도 본 계약에서 전체 또는 일부, 직접 또는 간접적으로 기한이 있을 수 있는 의무를 만일의 사태, 지연, 불능 또는 해당 당사자의 합리적 통제 범위를 벗어난 원인에 의해 이행하지 못하거나 지연한 경우 이에 대한 책임을 지지 않습니다. 이러한 원인으로는 앞에서 기술한 일반적인 사항에 국한되지 않고, 화재, 폭발, 지진, 폭풍, 홍수 또는 기타 기상 상황, 필수 공급 처리 시설 또는 원자재의 중단, 정전, 파업, 폐쇄, 부품 공급 중단, 노동자 조합 또는 다른 노동 쟁의 활동, 전쟁, 테러, 반란, 폭동, 불가항력 또는 공공의 적, 법률, 조치, 명령, 수출 규제, 칙령, 규정, 조례, 또는 정부 또는 공공 기관의 명령 또는 관할 지역 법원의 판결 또는 칙령이 포함됩니다(해당 당사자가 본 계약을 위반하여 초래되지 않은 경우에 적용). </p>
				<p>12.12	<b>통지.  </b>NETGEAR에서 귀하의 이메일 주소를 요청할 경우 귀하는 귀하의 최신 이메일 주소를 NETGEAR에 제공해야 할 책임이 있습니다. NETGEAR에 마지막으로 제공한 이메일 주소가 유효하지 않거나 약관에서 요청/허가한 통지를 배달할 수 없는 경우 NETGEAR에서 해당 통지가 들어 있는 이메일을 발송하면 효과적으로 통지를 받을 수 있습니다. NETGEAR는 귀하나 귀하가 이용하는 네트워크 공급업체에서 이메일 통지에 적용할 수 있는 자동 필터링 기능에 대해서는 책임을 지지 않습니다. NETGEAR에 통지를 보낼 경우에는 다음 이메일 주소를 이용해야 합니다. support@NETGEAR.com</p>
				<p>12.13 <b>완전한 합의. </b> 참조를 위해 본 계약에 포함된 다양한 추가 약관을 포함하여 지금까지 제시한 약관들은 귀하와 NETGEAR 간의 완전한 합의 내용을 담고 있으며, 이 합의 내용은 구두이든 서면이든 본 계약의 주제와 관련하여 귀하와 NETGEAR 간에 진행한 이전의 모든 계약, 협상 또는 기타 커뮤니케이션에 우선적으로 적용됩니다. </p>
				<p>12.15.	<b>법 준수. </b> 귀하는 서비스, 소프트웨어 및 Orbi 장치를 사용하는 데 있어 모든 관련 법률을 준수하는 데 동의합니다. </p>
				<p>12.16.	<b>전자 서신에 대한 동의. </b>  서비스, 소프트웨어 및 Orbi 장치를 사용하면 Orbi 장치, 소프트웨어 및 서비스와 관련하여 당사에서 제공하는 특정 전자 서신에 동의하는 것이며 다음을 포함하되 이에 국한되지는 않습니다. (a) 제품, 소프트웨어, 서비스 사용에 대한 고지(사용 위반에 대한 고지 포함), (b) 업데이트, (c) 관련 법규에 따라 이메일 전송에 동의한 NETGEAR 제품, 소프트웨어, 서비스에 대한 홍보성 정보 당사의 개인 정보 활용 방법, 알림 수신 여부 변경 방법, 홍보성 자료 수신 거부에 대한 자세한 내용은 개인 정보 보호 정책을 참조하십시오. </p>
				<p>귀하는 NETGEAR에서 전자적 방식으로 귀하에게 보내는 모든 통지, 계약, 공개 정보 또는 기타 서신이 법적 통신 요구 사항을 충족한다는 데 동의합니다. </p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>전화</b></p>
				<p><b>408-907-8000</b></p>
				<p><b>팩스</b></p>
				<p><b>408-907-8097</b></p>
				<p><b>또는</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Ireland</b></p>
				<p><b>전화</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>팩스</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>개정 1, 유효일: <b>2016년 9월 14일</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
