<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<meta http-equiv="refresh" content="15; url=BRS_01_checkNet.html" />
<% hijack_language() %>
<script language="javascript" type="text/javascript">
var hijack_process = "<% cfg_get("hijack_process") %>";
var ping_result = "none";
var ap_mode = "<% cfg_get("ap_mode") %>";
var have_set_passwd = "<% cfg_get("have_set_passwd") %>";
var wan_preference = "<% cfg_get("wan_preference") %>";

function loadValue()
{
	var forms = document.getElementsByTagName("form");
	var cf = forms[0];
	var finish=0;

	if(ping_result == "failed")	//failed
	{
		if( getTop(window).apmode_flag == "1" && ap_mode == "1" && getTop(window).ap_mode_detection_flag == "1" )
			this.location.href="BRS_05_networkIssue.html";
		else
			this.location.href = "BRS_02_genieHelp.html";
		finish=1;
	}
	else if(ping_result == "success") //success
	{
		if(hijack_process == 2 && have_set_passwd == "1")
			cf.submit();
		else
			this.location.href = "BRS_success.html";		
		finish=1;
	}
	if(finish != 1)
		setTimeout("loadValue();", 1000);
}
</script>
</head>

<body onload="loadValue();">
<% form_submit("apply", "BRS_netgear_success.html", "hijack_success")  %>
</form>
<div id="container">
	<div class="dialog-content">
		<!-- Searching for Internet -->
		<div id="card-searching-internet" class="install-card clearfix">
			<div class="logos">
				<img class="netgear-logo" src="images/svg/netgear.svg">
				<% hijack_logo_title() %>
			</div>
			<img class="card-image" src="images/svg/nighthawk-front.svg">
		     <div class="content">
			<div class="loader">
				<div class="preloader-wrapper small active">
					<div class="spinner-layer">
						<div class="circle-clipper left">
							<div class="circle"></div>
							</div><div class="gap-patch">
							<div class="circle"></div>
							</div><div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="desc-text"><script>document.write(bh_orbi_check_conn);</script></div>
		     </div>
		</div>
	</div>
</div>
<iframe style="display: none" name="ping_frame" src="BRS_ping.html" allowtransparency="true" scrolling="no" frameborder="0" style="display:none"></iframe>
</body>

</html>
