<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>RÁMCOVÉ PODMÍNKY POSKYTOVÁNÍ SLUŽEB PRO VAŠI APLIKACI Orbi, SOFTWARE Orbi, SLUŽBY Orbi A ZAŘÍZENÍ Orbi</p>
<p>TYTO RÁMCOVÉ PODMÍNKY POSKYTOVÁNÍ SLUŽEB (TATO „SMLOUVA“) SPOLEČNĚ SE ZÁSADAMI OCHRANY OSOBNÍCH ÚDAJŮ UVEDENÝMI ZDE https://www.netgear.com/about/privacy-policy/ STANOVÍ PODMÍNKY, ZA KTERÝCH SPOLEČNOST NETGEAR, INC. („NETGEAR“) SOUHLASÍ, ŽE BUDE POSKYTOVAT SOFTWARE (JAK JE VYMEZEN NÍŽE), SLUŽBY A ZDROJE, KTERÉ JSOU DOSTUPNÉ ČI AKTIVOVANÉ PŘI POUŽÍVÁNÍ ZAŘÍZENÍ Orbi, A APLIKACE Orbi (DÁLE JEDNOTLIVĚ „SLUŽBA“ A SOUHRNNĚ „SLUŽBY“), JEDNOTLIVCI NEBO SPOLEČNOSTI, KTERÁ TUTO SMLOUVU PŘIJME („VY“). TATO SMLOUVA BUDE V PLATNOSTI S VÝJIMKOU TĚCHTO PŘÍPADŮ (I) MÁTE SE SPOLEČNOSTÍ NETGEAR UZAVŘENU SAMOSTATNOU KUPNÍ SMLOUVU VZTAHUJÍCÍ SE NA APLIKACI NEBO SOFTWARE Orbi NEBO ZAŘÍZENÍ Orbi, PŘIČEMŽ V TOMTO PŘÍPADĚ BUDE PLATIT PŘÍSLUŠNÁ SAMOSTATNÁ SMLOUVA; (II) PLATÍ JINÉ PODMÍNKY NETGEAR. </p>
				<p>STAŽENÍM, INSTALACÍ ČI JINÝM POUŽITÍM SOFTWARU PŘIJÍMÁTE PODMÍNKY TÉTO SMLOUVY A TATO SMLOUVA SE PRO VÁS STÁVÁ PRÁVNĚ ZÁVAZNOU. NESOUHLASÍTE-LI S PODMÍNKAMI TÉTO SMLOUVY, NEPOKOUŠEJTE SE STAHOVAT, INSTALOVAT, SPOUŠTĚT NEBO JINAK POUŽÍVAT TENTO SOFTWARE, ANI K NĚMU ZÍSKÁVAT PŘÍSTUP. </p>
				<p>POKUD JSTE SOFTWARE ZÍSKALI JMÉNEM TŘETÍ STRANY, PROHLAŠUJETE PŘED SPOLEČNOSTÍ NETGEAR, ŽE MÁTE POTŘEBNÁ OPRÁVNĚNÍ K JEDNÁNÍ JMÉNEM TÉTO TŘETÍ STRANY A JEJÍM JMÉNEM PŘIJÍMÁTE PODMÍNKY TÉTO SMLOUVY. POTVRZENÍM TÉTO SMLOUVY DLE USTANOVENÍ NÍŽE VZNIKÁ ZÁVAZNÁ SMLOUVA MEZI SPOLEČNOSTÍ NETGEAR A TŘETÍ STRANOU A OSLOVENÍ DRUHOU MLUVNICKOU OSOBOU („VY“) V TOMTO DOKUMENTU ODKAZUJE K TÉTO TŘETÍ STRANĚ. </p>
				<p>POKUD BYDLÍTE V JURISDIKCI, KTERÁ OMEZUJE POUŽITÍ INTERNETOVÝCH APLIKACÍ V ZÁVISLOSTI NA VĚKU NEBO OMEZUJE SCHOPNOST UZAVÍRAT SMLOUVY, JAKO JE TATO, PODLE VĚKU A VY SE NACHÁZÍTE V TÉTO JURISDIKCI A NESPLŇUJETE TAKOVÝ VĚKOVÝ LIMIT, NESMÍTE TUTO SMLOUVU UZAVŘÍT, ANI NESMÍTE STAHOVAT, INSTALOVAT ČI POUŽÍVAT SOFTWARE NETGEAR.  UZAVŘENÍM TÉTO SMLOUVY VÝSLOVNĚ PROHLAŠUJETE, ŽE JSTE SI OVĚŘILI VE SVÉ JURISDIKCI, ŽE TENTO SOFTWARE SMÍTE POUŽÍVAT. </p>
				<p>1. <b>DEFINICE SOFTWARU. </b> Tato smlouva upravuje používání a přístup (i) k aplikaci NETGEAR Orbi, jakémukoli softwaru, který je součástí zařízení či služby Orbi, softwaru značky NETGEAR pro použití v jakémkoli produktu nebo službě, kterou jste si od společnosti NETGEAR nebo jejích distributorů zakoupili pro použití se zařízením nebo službou Orbi, který společnost NETGEAR dala k dispozici ke stažení na webové stránce NETGEAR, webových stránkách prodejců NETGEAR, v obchodě Google Play nebo Apple App Store; (ii) k jakýmkoli instalačním příručkám, uživatelským příručkám nebo k jiné dokumentaci pro takový software poskytnuté společností NETGEAR (souhrnně „dokumentace“) v souvislosti s aplikací Orbi, a (iii) k jakýmkoli novým aktualizacím nebo modernizacím takového softwaru a dokumentaci obdržené od společnosti NETGEAR (to vše souhrnně označené „software“). </p>
				<p>2. <b>UDĚLENÍ LICENCE. </b> Na základě vašeho plnění podmínek této smlouvy: </p>
				<p>2.1 <b>Nevýhradní licence. </b> Společnost NETGEAR a její dodavatelé vám udělují nevýhradní licenci k používání kopií softwaru pro použití se zařízeními Orbi a jinými produkty NETGEAR. Žádná jiná práva nejsou udělena. </p>
				<p>2.2 <b>Kopie. </b> Jste oprávněni si pořizovat kopie softwaru pro účely zálohování nebo podle potřeby pro použití zařízení Orbi a jiných produktů NETGEAR, a to pod podmínkou, že uvedete veškerá autorská práva a jiná upozornění o vlastnických právech, která jsou uvedena na originální kopii softwaru. </p>
				<p>2.3 <b>Software třetích stran. </b> (a) Společnost NETGEAR může jako součást softwaru nebo v souvislosti s ním poskytnout (i) software třetích stran, pro který platí samostatné licenční podmínky („licenční podmínky třetích stran“); nebo (ii) „open-sourcový“ software, který podléhá podmínkám veřejně dostupných licencí („licenční podmínky open-source“). </p>
				<p> (b) Souhlasíte, že (i) pro takovou třetí stranu a open-sourcový software platí výhradně příslušné licenční podmínky třetích stran a licenční podmínky open-source; a (ii) takové podmínky platí pouze mezi vámi a příslušným poskytovatelem licence a společnost NETGEAR nenese v souvislosti s takovým softwarem v rámci této smlouvy žádné závazky ani odpovědnost, pokud není v oddílu 11 níže uvedeno jinak. </p>
				<p>2.4	<b>Aktualizace. </b>  Společnost NETGEAR je oprávněna čas od času upravovat výkon služeb, softwaru a zařízení Orbi prostřednictvím záplat, oprav chyb, aktualizací, modernizací a jiných modifikací („aktualizace“). <b>Používáním služeb, softwaru či zařízení Orbi vyslovujete svůj souhlas s automatickým stahováním a instalací těchto aktualizací, které mohou být automaticky stahovány a instalovány do vašeho mobilního zařízení a zařízení Orbi, v rozsahu, v jakém lze uplatnit, bez toho, aby bylo nutné vás na to upozornit nebo získat váš další souhlas. </b>Pokud o takové aktualizace nemáte zájem, jsou vašimi jedinými prostředky nápravy: (i) v případě aktualizací aplikace vypnout funkci automatických aktualizací v nastavení svého mobilního telefonu nebo odstranit aplikaci NETGEAR nebo Orbi ze svého mobilního zařízení, (ii) v případě zařízení nebo softwaru Orbi zrušit svůj účet Orbi nebo přestat používat zařízení Orbi. Pokud později zrušíte kteroukoli z předchozích změn (např. zapnutím funkce automatických aktualizací na svém mobilním zařízení, nebo začnete znova používat svá zařízení Orbi), jste si vědomi toho, že se automatické stahování a instalace aktualizací obnoví, a vy s takovými automatickými aktualizacemi souhlasíte. Berete na vědomí, že v rozsahu, v jakém nejsou aktualizace automaticky instalovány, můžete být nuceni aktualizace nainstalovat, abyste mohli dále používat v plném rozsahu služby, software a zařízení Orbi a mít k nim přístup, a zavazujete se, že takové aktualizace nainstalujete. </p>
				<p>3. <b>OMEZENÍ POUŽITÍ. </b></p>
				<p>3.1 <b>Všeobecná omezení. </b>Pokud to není výslovně dovoleno v oddíle 2 (a výhradně v rozsahu tam uvedeném) nebo příslušné oprávnění nelze vyloučit na základě platného zákona, nejste oprávněni (a nesmíte k tomu opravňovat ani nabádat jakoukoli třetí stranu): (i) kopírovat, duplikovat či jinak reprodukovat software jinak než pro účely zálohování nebo používání služeb, softwaru či zařízení Orbi; (ii) šířit, sdílet v síti, udělovat sublicence, prodávat na splátky, pronajímat, postupovat ani jinak převádět software (nebo jeho kopii či část) ani jakákoli práva k němu žádné třetí straně; (iii) odstranit, pozměnit či skrýt jakoukoli část sloužící k identifikaci produktu, obchodní známku, označení autorských práv, prohlášení o zachování mlčenlivosti, vlastnických právech a jiná upozornění nebo popisky obsažené v softwaru nebo na něm uvedené; (iv) používat software pro účely time-sharingu nebo kancelářské účely nebo jakýmkoli způsobem, který zde není výslovně uveden; (v) začlenit tento software (nebo jeho kopii či část) do jakýchkoli vašich produktů. </p>
				<p>3.2 <b>Modifikace a zpětné inženýrství. </b>Pokud to není výslovně dovoleno v oddíle 2 (a výhradně v rozsahu tam uvedeném) nebo příslušné oprávnění nelze vyloučit na základě platného zákona, nejste oprávněni (a nesmíte k tomu opravňovat ani nabádat jakoukoli třetí stranu): (i) provádět zpětné inženýrství, demontovat či rozebírat software ani jakoukoli jeho část, ani se jakkoli snažit získat zdrojový kód; (ii) vytvářet jakékoli změny, software uzpůsobovat, modifikovat, překládat, zlepšovat nebo od něj vytvářet odvozeniny („odvozený software“). </p>
				<p>3.3 <b>Spolupráce. </b> Jste povinni spolupracovat se společností NETGEAR a poskytnout jí veškerou přiměřenou součinnost, pokud jde o prevenci a identifikaci jakéhokoli použití softwaru a přístupu k němu, který by byl v rozporu s touto smlouvou. </p>
				<p>3.4. <b>Vysoce riziková použití. </b> Software, služby ani zařízení Orbi nejsou určeny k použití v aplikacích či prostředí, ani se na ně v takovém případě nevztahuje záruka, které vyžadují bezvadný výkon, jako jsou jaderná zařízení, navigace letadel či vzdušné komunikační systémy, řízení letového provozu, přístroje zajišťující životní funkce, chirurgicky implantovaná zařízení, zbraňové systémy a jiné aplikace, zařízení nebo systémy, u nichž by selhání softwaru, služeb nebo zařízení Orbi nebo jejich části mohlo přímo vést ke smrti, zranění osob či vážnému tělesnému zranění či poškození životního prostředí („vysoce rizikové činnosti“). Bez ohledu na jakékoli jiné ustanovení této smlouvy platí, že nejste oprávněni používat software, služby a zařízení Orbi, či jejich část, ve spojení s jakoukoli vysoce rizikovou činností, ani k tomu opravňovat třetí stranu. Nesete veškerá rizika spojená s takovým použitím. Pokud vy nebo třetí strana, které dáte své svolení, použijete software, služby nebo zařízení Orbi, či jakoukoli jejich část, ve spojitosti s vysoce rizikovými činnostmi, souhlasíte, že společnost NETGEAR odškodníte, budete bránit a zbavíte odpovědnosti v souvislosti s veškerými nároky, náklady a odpovědností vzniklými společnosti NETGEAR v důsledku takového použití vaším zaviněním. </p>
				<p>4. <b>POPLATKY A PODPORA. </b></p>
				<p>4.1 <b>Všeobecná ustanovení. </b>  Souhlasíte, že budete platit veškeré poplatky jdoucí na váš účet v souladu s podmínkami o poplatcích a fakturaci, které jsou účinné v době splatnosti poplatku. Vaše používání určené kreditní karty se řídí smlouvou uzavřenou s vaším poskytovatelem platebních služeb a ve věci vašich práv a povinností ve spojení s používáním vaší kreditní karty je třeba vycházet z dané smlouvy, nikoli z podmínek této smlouvy. Poskytnutím čísla vaší kreditní karty a souvisejících platebních údajů společnosti NETGEAR souhlasíte s tím, že je společnost NETGEAR oprávněna ihned fakturovat veškeré poplatky splatné vůči ní dle této smlouvy vůči vašemu účtu a že není třeba žádných dalších oznámení ani souhlasu. Souhlasíte, že společnost NETGEAR neprodleně uvědomíte o jakékoli změně vaší fakturační adresy či kreditní karty používané k platbám dle této smlouvy. Společnost NETGEAR je oprávněna kdykoli změnit ceny a fakturační metody pro nadcházející období, a to na základě zveřejnění této informace na webové stránce nebo doručení e-mailové zprávy. </p>
				<p>a.	<b>Daně.  </b>Pokud se na váš nákup zařízení Orbi nebo služeb či platby za zařízení Orbi nebo služby dle této smlouvy vztahuje prodejní daň a vy jste příslušnou prodejní daň neodeslali společnosti NETGEAR, pak nesete odpovědnost za odvedení takové daně z prodeje a veškerých souvisejících pokut či úroků příslušnému daňovému úřadu. Pro účely tohoto oddílu se „daní z prodeje“ rozumí jakákoli daň z prodeje či spotřeby a jakákoli daň vyměřená na základě výnosu z prodeje, kterou má společnost NETGEAR právo převést na své zákazníky a která je funkčním ekvivalentem daně z prodeje tam, kde příslušná jurisdikce vybírající daň jinak neukládá daň z prodeje nebo daň ze spotřeby. </p>
				<p>b.	<b>Srážkové daně. </b> Souhlasíte, že společnosti NETGEAR zaplatíte veškeré poplatky tak, aby se na ně již nevztahovala žádná srážková daň. Za veškeré takové daně vztahující se na platby poplatků společnosti NETGEAR ponesete výhradní odpovědnost a společnosti NETGEAR poskytnete oficiální stvrzenky vydané příslušným úřadem, nebo jakýkoli důkaz, který můžeme přiměřeně požadovat, potvrzující, že tyto daně byly odvedeny. </p>
				<p>c.	<b>Spory. </b>  Pokud zpochybňujete jakýkoli poplatek účtovaný námi na vašem výpise, písemně uvědomte společnost NETGEAR do sedmi (7) dní po obdržení svého výpisu z účtu kreditní karty. Fakturační spory je třeba zaslat na následující e-mailovou adresu: support@NETGEAR.com</p>
				<p>4.2 <b>Podpora. </b>  Společnost NETGEAR je oprávněna kdykoli a bez udání důvodu ukončit aktualizace, podporu, modernizaci či vylepšování služeb, softwaru a zařízení Orbi. </p>
				<p>5. <b>MAJETKOVÁ PRÁVA A PRÁVA DUŠEVNÍHO VLASTNICTVÍ. </b></p>
				<p>5.1 <b>Práva k softwaru. </b>Práva duševního vlastnictví na služby, software a zařízení Orbi jsou chráněna zákony o autorských právech Spojených států amerických a dalšími příslušnými jurisdikcemi (včetně mezinárodních smluv), jakož i dalšími americkými, zahraničními a mezinárodními zákony, předpisy a smlouvami o ochraně duševního vlastnictví, vlastnických práv a průmyslového majetku. Společnost NETGEAR a její poskytovatelé licence si ponechávají výhradní právo a nárok na software a podíl na něm, což se vztahuje i na veškeré kopie a jejich části a veškerá související práva duševního vlastnictví k softwaru. Společnost NETGEAR a její poskytovatelé licence si ponechávají veškerá práva, která nejsou v tomto dokumentu výslovně udělena. Berete na vědomí a souhlasíte, že software (včetně všech kopií vám poskytnutých nebo pro vás či vámi vytvořených) je vám poskytován na základě licence, nikoli prodán. </p>
				<p>5.2 <b>Práva týkající se podpůrných údajů a odvozeného softwaru. </b>Veškeré nápady, zprávy o chybách, zpětná vazba týkající se použitelnosti a jakékoli jiné návrhy a zpětná vazba poskytnutá vámi nebo vaším jménem v souvislosti se službami, softwarem nebo zařízením Orbi („podpůrné informace“), stejně jako jakýkoli odvozený software vytvořený vámi nebo vaším jménem (ať už touto smlouvou dovolený, nebo ne) včetně veškerých souvisejících práv duševního vlastnictví bude výhradním majetkem společnosti NETGEAR nebo jejích poskytovatelů licence. </p>
				<p>5.3 <b>Postoupení práv. </b> Vyslovujete tímto neodvolatelný souhlas s tím, že s celosvětovou platností postupujete veškerá práva, nároky a zájmy týkající se podpůrných informací či odvozeného softwaru, spolu s veškerými právy duševního vlastnictví k nim náležejícími, společnosti NETGEAR, a dále, pokud vás o to společnost NETGEAR požádá, poskytnete jí na její náklady pomoc při zlepšování, zaznamenávání a vymáhání takových práv. V rozsahu, v němž je takové postoupení neplatné dle platného práva, vyslovujete svůj neodvolatelný souhlas s tím, že tímto udělujete společnosti NETGEAR výhradní, převoditelnou, dále udělovatelnou, neomezenou, stálou a celosvětově platnou licenci používat, kopírovat a jinak používat či komercializovat takové podpůrné informace a odvozený software jakýmkoli známým způsobem či způsobem, který bude v budoucnosti vymyšlen. </p>
				<p>5.4 <b>Technické údaje a shromažďování dat. </b>  Jste povinni na vlastní náklady poskytovat a udržovat veškeré telekomunikační linky, monitor, počítač, modem, směrovače, mobilní zařízení, zajišťovat svého poskytovatele internetových služeb („ISP“) a svého poskytovatele služeb pro mobilní zařízení („poskytovatel mobilních služeb“) atd., a dále přístup potřebný k používání softwaru, služeb a zařízení Orbi. </p>
				<p><b>Jako součást běžné instalace a fungování softwaru bude společnost NETGEAR shromažďovat data, aby optimalizovala výkon softwaru a sítě Orbi.  Shromažďované informace mohou zahrnovat, bez omezení, počet kliknutí a čas nutný k dokončení instalace, cestu od začátku k dokončení instalace, rychlost Wi-Fi od poskytovatele internetových služeb, rychlost LAN mezi sítí Orbi a vaším mobilním zařízením a informace o operačním systému a modelu mobilního zařízení, které je použito k nastavení vaší sítě.  Jako součást funkcí softwaru vám může společnost NETGEAR zasílat upozornění o změnách topologie sítě Orbi a také technické novinky o zařízení a službách Orbi. </b>  Společnost Orbi je také oprávněna realizovat každodenní automatické aktualizace firmwaru a funkci automatické optimalizace topologie sítě, kterou bude tento software zajišťovat.  </p>
				<p>Používáním softwaru vyslovujete svůj souhlas s tím, že společnost NETGEAR má možnost shromažďovat výše uvedené informace. </p>
				<p>V průběhu času vám společnost NETGEAR může poskytnout příležitost vytvořit rozhraní zařízení Orbi, softwaru a služeb s produkty a službami jedné nebo více třetích stran prostřednictvím využívání služeb („produkty a služby třetích stran“). Vy se rozhodujete, zda chcete vytvořit rozhraní, a se kterými produkty a službami třetích stran. </p>
				<p>Jakmile udělíte souhlas s konkrétním produktem nebo službou třetí strany, souhlasíte, že společnost NETGEAR má možnost vyměňovat si informace a kontrolovat data týkající se vás a vašich služeb, softwaru a zařízení Orbi, včetně osobních údajů, aby tak v souladu s našimi Zásadami ochrany osobních údajů umožnila realizaci rozhraní, které jste autorizovali. Jakmile budou tyto informace sdíleny s konkrétním produktem a službou třetí strany, bude jejich používání podléhat zásadám ochrany osobních údajů třetí strany, nikoli společnosti NETGEAR. Berete na vědomí a souhlasíte s tím, že společnost NETGEAR nevydává žádná prohlášení ani neposkytuje záruky týkající se bezpečnosti jakýchkoli produktů či služeb třetích stran. Společnost NETGEAR tedy nenese odpovědnost za vaše používání produktu či služby třetí strany ani za zranění osob, smrt, majetkové škody ani jiné škody či ztráty způsobené vaším používáním produktů či služeb třetích stran nebo v souvislosti s nimi, pokud není v části 11 níže uvedeno jinak. Ohledně produktů a služeb třetích stran se obracejte na příslušnou třetí stranu. Ze zákonů týkajících se ochrany dat, soukromí a dalších zákonů platných ve vaší zemi pro vás a vaše používání zařízení, softwaru a služeb Orbi plynou určité odpovědnosti. Souhlasíte s tím, že jste to vy (nikoli společnost NETGEAR), kdo má povinnost zajistit, že při používání zařízení Orbi, softwaru a služeb dodržujete veškeré platné zákony. </p>
				<p>Pro veškeré vaše údaje shromážděné společností NETGEAR během instalace softwaru a po ní platí naše Zásady ochrany osobních údajů, které si můžete přečíst na adrese http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b>REGISTRACE A ÚDAJE O ÚČTU. </b></p>
				<p>6.1. Některé funkce nabízené zařízeními Orbi, softwarem a službami nebo jejich prostřednictvím mohou vyžadovat, abyste si zaregistrovali a otevřeli účet (včetně nastavení uživatelského jména a hesla [údaje o účtu]). Souhlasíte, že při své registraci poskytnete přesné, kompletní a aktuální informace („registrační údaje“). Souhlasíte s tím, že společnost NETGEAR může ukládat a využívat registrační údaje, které poskytnete, za účelem údržby a fakturace poplatků na váš účet. Nesete plnou odpovědnost za udržení svých údajů o účtu v tajnosti a za aktivitu, která se na vašem účtu objeví. Souhlasíte, že společnost NETGEAR neprodleně uvědomíte o jakémkoli neoprávněném použití vašeho účtu nebo údajů o účtu. </p>
				<p>6.2. Společnost NETGEAR zavedla integrované registrační řešení prostřednictvím jediného přihlašovacího procesu („SingleSignOn“). SingleSignOn znamená, že jakmile si otevřete účet u společnosti NETGEAR, můžete využívat svůj účet a uživatelské jméno pro jiné služby NETGEAR, čímž se eliminuje potřeba udržovat pro každou jednotlivou službu samostatný uživatelský účet a uživatelské jméno. SingleSignOn vám také umožňuje okamžité přihlášení a odhlášení od služeb prostřednictvím různých zařízení. </p>
				<p>6.3 SingleSignOn vám poskytuje možnost propojit vaše služby s vaším účtem stránek sociálních médií třetích stran, jako je Facebook, Twitter a Google +, prostřednictvím jediného přihlašovacího procesu (SingleSignOn) za použití aplikačního programovacího rozhraní (API) nebo jiného softwaru.  </p>
				<p>Bez toho, aby byla omezena nebo porušena práva na ochranu osobních údajů garantovaná Zásadami ochrany osobních údajů, platí, že pokud umožníte procesu přihlášení SingleSignOn spojit se s vašimi účty na takových stránkách třetích stran, souhlasíte, že získáme přístup k informacím na těchto účtech, které mohou obsahovat také osobně identifikovatelné údaje. Mimo to berete na vědomí, že pokud se k procesu SingleSignOn přihlásíte prostřednictvím svého účtu na sociálních médiích nebo účtu u jiné třetí strany, může být aktivita, které se budete účastnit prostřednictvím SingleSignOn, zveřejněna na webové stránce třetí strany. Záleží na vás, zda použijete takové stránky třetích stran. Doporučujeme si přečíst zásady ochrany osobních údajů třetích stran předtím, než povolíte funkci SingleSignOn propojení s vaším účtem na stránkách třetích stran nebo budete sdílet stránky nebo informace s vašimi přáteli prostřednictvím těchto stránek. </p>
				<p>Souhlasíte s tím, že nevlastníte své uživatelské jméno SingleSignOn. Společnost NETGEAR je oprávněna si vaše uživatelské jméno SingleSignOn vzít zpět nebo je používat. </p>
				<p>6.4. Budete své údaje o účtu udržovat v bezpečí a zamezíte třetím osobám v neoprávněném přístupu k vašim údajům o účtu a k vašemu účtu, a to zejména tak, že nebudete používat zřejmá uživatelská jména ani hesla, budete pravidelně měnit své heslo a zajistíte, že vaše heslo či hesla nebudou vyzrazena žádnému jinému uživateli ani třetí osobě, ani jim nebude umožněn přístup k vašim údajům o účtu či službám. </p>
				<p>6.5. Společnost NETGEAR je oprávněna pohlížet na jakékoli pokyny, jako by byly od vás, pokud je obdrží od uživatele či třetí strany, která používá či poskytne vaše údaje o účtu, nebo pokud je takový uživatel či třetí strana vydá. </p>
				<p>6.6. Souhlasíte s tím, že nebudete používat údaje o účtu nebo služby jakéhokoli jiného uživatele či osoby než své vlastní, ledaže by vám k tomu daný uživatel nebo osoba, která vlastní příslušnou službu, dala souhlas. </p>
				<p>6.7. Jste povinni okamžitě uvědomit společnost NETGEAR, pokud zjistíte, že došlo k jakémukoli neoprávněnému používaní vašich registračních údajů nebo údajů o účtu či jinému porušení bezpečnosti. </p>
				<p>6.8. Máte možnost kdykoli získat přístup ke svým registračním údajům a údajům o účtu a měnit je prostřednictvím přístupu k příslušné službě NETGEAR. </p>
				<p>7. <b>UKONČENÍ SMLOUVY. </b> </p>
				<p>7.1 <b>Doba trvání smlouvy. </b>Tato smlouva nabývá účinnosti dnem, kdy přijmete podmínky této smlouvy, a zůstává v účinnosti po neomezenou dobu, dokud nebude ukončena způsobem uvedeným v této smlouvě. </p>
				<p>7.2 <b>Ukončení. </b>Společnost NETGEAR je oprávněna okamžitě ukončit tuto smlouvu v případě nesplnění jakékoli podmínky této smlouvy z vaší strany, a to bez toho, aby byla dotčena jakákoli jiná práva či opravné prostředky, které má společnost NETGEAR k dispozici. V takovém případě vám společnost NETGEAR vrátí poměrnou část uhrazených poplatků. Ukončit platnost této smlouvy máte možnost také zničením veškerých kopií softwaru, které vlastníte nebo které jsou pod vaší kontrolou. Pokud společnost NETGEAR veřejně oznámí ukončení této smlouvy, nebo vás o něm vyrozumí e-mailem, webovou nebo tiskovou zprávou, pak bude platnost této smlouvy ukončena k datu („datum ukončení smlouvy“) uvedenému v takovém oznámení, e-mailu, webové nebo tiskové zprávě, a vy se zavazujete, že přestanete využívat kopie softwaru k datu ukončení smlouvy, nebo před tímto datem. Po ukončení této smlouvy nebo licence týkající se softwaru, ať už z jakéhokoli důvodu, zůstanou ustanovení oddílu 1, 3, 5, 6, 7.2, 8, 9, 10, 11 a 12 této smlouvy i nadále v platnosti dle podmínek v nich obsažených. </p>
				<p>Pokud zařízení Orbi převedete na nového vlastníka, vaše právo vztahující se na zařízení Orbi automaticky zanikne a nový vlastník nebude mít žádné právo používat zařízení Orbi nebo služby plynoucí z jakéhokoli vašeho účtu NETGEAR a bude třeba, aby si u společnosti NETGEAR zaregistroval samostatný účet. </p>
				<p>8. <b>OCHRANNÉ ZNÁMKY. </b></p>
				<p>8.1 <b>Bez oprávnění k používání obchodních známek. </b> Berete na vědomí, že mimo rozsah povolený touto smlouvou vám tato smlouva neuděluje žádná práva používat kterékoli z obchodních názvů, obchodních známek, značek služeb, certifikačních značek, obchodních názvů, sloganů, log či jiných označení společnosti NETGEAR ani jakékoli z jejích poboček nebo přidružených společností (souhrnně jakékoli „značky NETGEAR“), i kdyby se takové značky objevily na softwaru nebo v něm nebo byly jinak obsaženy v jakýchkoli materiálech poskytnutých vám v souvislosti s touto smlouvou. </p>
				<p>8.2 <b>Přejímání a používání zakázáno. </b>Zavazujete se, že nepřejmete, nebudete používat ani si nezaregistrujete žádnou obchodní firmu, ochrannou známku, značku služby, certifikační značku, obchodní jméno, slogan, logo ani jiná označení, která se podobají značkám společnosti NETGEAR, nebo tyto značky obsahují, ať už celé nebo jejich části. Bez toho, aby to jakkoli omezovalo výše uvedené, souhlasíte s tím, že nebudete používat značku „NETGEAR“ nebo „Orbi“ jako součást své obchodní firmy, obchodního jména, názvů produktů nebo názvů sekundárních domén v průběhu platnosti této smlouvy nebo po jejím skončení. </p>
				<p>9. <b>ZACHOVÁNÍ MLČENLIVOSTI. </b>Berete na vědomí, že software představuje cenné obchodní tajemství a jedná se o důvěrné informace společnosti NETGEAR („důvěrné informace“). Souhlasíte, že tyto důvěrné informace neposkytnete ani nevyzradíte žádné třetí straně, kromě třetí strany, která je vázána podobnými závazky zachování mlčenlivosti. </p>
				<p>10. <b> ZÁRUKA A ODMÍTNUTÍ ODPOVĚDNOSTI. </b></p>
				<p>ZÁRUKA NA HARDWARE ZAŘÍZENÍ Orbi JE STANOVENA V DOKUMENTU O OMEZENÉ ZÁRUCE, KTERÝ PATŘÍ K ZAŘÍZENÍ A JE K DISPOZICI NA STRÁNCE https://www.netgear.com/about/warranty. </p>
				<p>10.1 NA SOFTWARE SE VZTAHUJE POVINNÁ ZÁRUKA.  </p>
				<p>10.2 V SOULADU S ODDÍLEM 10.1 A/NEBO ODPOVĚDNOSTÍ ZA ŠKODU DEFINOVANOU V ODDÍLU 11 NÍŽE, ŽÁDNÉ ÚSTNĚ SDĚLENÉ NEBO PÍSEMNÉ INFORMACE NEBO RADY POSKYTNUTÉ SPOLEČNOSTÍ NETGEAR, JEJÍMI POSKYTOVATELI LICENCE, DODAVATELI, PRODEJCI, DISTRIBUTORY, ZÁSTUPCI NEBO ZAMĚSTNANCI ŽÁDNÝM ZPŮSOBEM NEMODIFIKUJÍ ANI NEROZŠIŘUJÍ ROZSAH TÉTO ZÁRUKY;  SPOLEČNOST NETGEAR NEGARANTUJE, ŽE JEJÍ SOFTWARE A SLUŽBY BUDOU SPLŇOVAT POŽADAVKY DRŽITELŮ LICENCE, DISTRIBUTORŮ, KONCOVÝCH UŽIVATELŮ NEBO JINÝCH TŘETÍCH STRAN, NEBO ŽE PROVOZ SOFTWARU A SLUŽEB BUDE NEPŘERUŠENÝ NEBO BEZCHYBNÝ.  SPOLEČNOST NETGEAR NEPOSKYTUJE ŽÁDNÉ ZÁRUKY TÝKAJÍCÍ SE ZÁVADNÉHO STAVU ČI PORUŠENÍ SHODY NÁSLEDKEM POUŽÍVÁNÍ, NESPRÁVNÉHO POUŽÍVÁNÍ, NESPRÁVNÉ INSTALACE, MANIPULACE ZE STRANY DRŽITELE LICENCE, NEHODY ČI ZNEUŽITÍ SOFTWARU A SLUŽEB NEBO CHYB NÁSLEDKEM ZAČLENĚNÍ SOFTWARU A SLUŽEB DO PRODUKTU DRŽITELE LICENCE, NEBO POKUD DRŽITEL LICENCE NEAPLIKUJE MODIFIKACE, POKYNY, AKTUALIZACE ČI OPRAVY DODANÉ SPOLEČNOSTÍ NETGEAR. </p>
				<p>11. <b>OMEZENÍ ODPOVĚDNOSTI. </b></p>
				<p>11.1 ODPOVĚDNOST ZA ŠKODY ZE STRANY SPOLEČNOSTI NETGEAR NENÍ OMEZENA V TĚCHTO PŘÍPADECH: </p>
				<p>(i)	ZTRÁTA NEBO ŠKODA ZPŮSOBENÉ ÚMYSLNĚ NEBO HRUBOU NEDBALOSTÍ SPOLEČNOSTI NETGEAR, JEJÍCH ŘEDITELŮ, VEDOUCÍCH ZAMĚSTNANCŮ NEBO DELEGOVANÝCH ZÁSTUPCŮ; A TAKÉ</p>
				<p>(ii)	ZTRÁTA NEBO ŠKODA VZNIKLÉ ČINY ZPŮSOBUJÍCÍMI SMRT, TĚLESNÉ ZRANĚNÍ NEBO NEMOC NEBO NA ZÁKLADĚ PŘEDPOKLÁDANÝCH ZÁRUK NEBO RIZKU PŘI NÁKUPU NEBO NA ZÁKLADĚ PLATNÝCH PRÁVNÍCH PŘEDPISŮ. </p>
				<p>11.2 ODPOVĚDNOST SPOLEČNOSTI NETGEAR ZA NEDBALOST JINÉHO DRUHU, NEŽ JE HRUBÁ NEDBALOST SPOLEČNOSTI NETGEAR, JEJÍCH ŘEDITELŮ, VEDOUCÍCH PRACOVNÍKŮ NEBO JINÝCH DELEGOVANÝCH ZÁSTUPCŮ V PŘÍPADĚ ŠKODY VZNIKLÉ NÁSLEDKEM PODSTATNÉHO PORUŠENÍ ZÁVAZKU VYPLÝVAJÍCÍHO ZE SMLOUVY, NESMÍ V ŽÁDNÉM PŘÍPADĚ PŘEKROČIT TYPICKÉ PŘEDVÍDATELNÉ ODŠKODNĚNÍ, KTERÉ BUDE NIŽŠÍ NEŽ CENÍKOVÁ CENA SPOLEČNOSTI NETGEAR NEBO VÁMI UHRAZENÁ ČÁSTKA ZA SOFTWARE A SLUŽBY V PŘÍČINNÉ SOUVISLOSTI S AKCÍ (NEBO PRODUKT, SE KTERÝM JE DODÁVÁN SOFTWARE A SLUŽBY). </p>
				<p>11.3 V SOULADU S UJEDNÁNÍMI 11.1 A 11.2 VÝŠE JE JAKÁKOLI JINÁ ODPOVĚDNOST SPOLEČNOSTI NETGEAR VYLOUČENA. </p>
				<p>11.4 POKUD JE ODPOVĚDNOST OMEZENA V SOULADU S UJEDNÁNÍM 11.2, SPOLEČNOST NETGEAR NENESE ODPOVĚDNOST ZA UŠLÝ ZISK NEBO JAKÉKOLI JINÉ NEPŘÍMÉ ŠKODY. </p>
				<p>12. <b>OBECNÁ USTANOVENÍ. </b></p>
				<p>12.1 <b>Daně. </b> Nesete výhradní odpovědnost za jakékoli případné daně, cla či poplatky, které mohou být vyměřeny na software a služby nebo jejich používání vámi nebo v souvislosti s vaším plněním této smlouvy. Nesete odpovědnost za placení jakýchkoli takových daní, cel a poplatků vyměřených vůči společnosti NETGEAR, s výjimkou těch, které se vztahují na čistý příjem nebo mzdy společnosti NETGEAR. </p>
				<p>12.2 <b>Vaše úplata. </b> Práva a licence udělené v rámci této smlouvy závisí na vašem plnění podmínek této smlouvy. Berete na vědomí a souhlasíte, že vaše jediná a výhradní úplata za plnění této smlouvy jsou práva a licence zde udělené a že nebudete mít nárok na žádnou odměnu, náhradu nebo jinou úplatu od společnosti NETGEAR ani jejích dodavatelů. </p>
				<p>12.3 <b>Nařízení předběžného opatření. </b>Berete na vědomí a souhlasíte, že kopírování, odtajnění nebo používání softwaru nebo jakýchkoli informací, materiálů nebo služeb poskytovaných na základě této smlouvy způsobem, který je v rozporu s jakýmkoli ustanovením této smlouvy, způsobí společnosti NETGEAR nenapravitelnou škodu, pro niž zákony neposkytují adekvátní opatření k nápravě. Společnost NETGEAR bude mít nárok na nápravu dle práva ekvity u soudu, což mimo jiné zahrnuje dočasné omezující příkazy, předběžná opatření a trvalá opatření, pokud jsou v platnosti. </p>
				<p>12.4 <b>Žádné partnerství. </b>Smluvní strany se zavazují, že budou příslušné povinnosti plynoucí z této smlouvy plnit jako nezávislé subjekty. Tato smlouva nezakládá, ani není jejím účelem zakládat, zaměstnanecký poměr, zprostředkovatelský, distribuční vztah, franšízu, společný podnik, právní partnerství ani jiný obdobný druh právního partnerství mezi vámi a společností NETGEAR. Žádná ze stran nebude oprávněna jednat jménem druhé smluvní strany, ani ji jejím jménem zavazovat, a žádná ze stran neučiní prohlášení vůči jakékoli třetí straně, že takové oprávnění má. </p>
				<p>12.5<b> Zákaz postoupení. </b>Nejste oprávněni postoupit ani jinak převést tuto smlouvu nebo z ní plynoucí práva či závazky (ať už zcela nebo částečně, ze své vůle, fúzí, ze zákona nebo jinak) bez předchozího písemného souhlasu společnosti NETGEAR, který společnost NETGEAR má možnost dle svého uvážení odmítnout, a jakýkoli pokus o převod nebo postoupení je absolutně neplatný a bude považován za podstatné porušení této smlouvy. </p>
				<p>12.6 <b>Plné znění smlouvy; dodatky. </b> Tato smlouva představuje kompletní, konečnou a výhradní smlouvu týkající se jejího předmětu.  Tato smlouva nemůže být rozšířena jako celek nebo části bez předchozího oznámení. </p>
				<p>12.7 <b>Zřeknutí se práv. </b> Zřeknutí se práva v případě porušení některého z ustanovení či podmínek této smlouvy se nebude považovat za trvalé zřeknutí se tohoto práva, ani zřeknutí se jakéhokoli jiného práva v případě jakéhokoli jiného porušení některého z ustanovení či podmínek této smlouvy, a bude se vztahovat výhradně na konkrétní případ, na nějž je zřeknutí se práva zaměřeno. </p>
				<p>12.8 <b>Rozhodné právo a jazyk. </b>Tato smlouva se bude řídit ustanoveními kalifornských zákonů s výjimkou ustanovení o kolizních normách a zákonů Spojených států amerických. Tato volba právního řádu neomezuje ochranu, kterou vám poskytují ujednání, jejichž platnost nelze snížit určením rozhodného práva (například zákony na ochranu spotřebitelů). Výslovně se vylučuje použití Úmluvy Organizace spojených národů o smlouvách o mezinárodní koupi zboží. Anglická verze této smlouvy je verzí oficiální a jakýkoli výklad či interpretace této smlouvy se bude zakládat na anglickém znění. V případě, že budou tato smlouva, nebo jakékoli dokumenty nebo související oznámení, přeloženy do jiného jazyka, zůstává anglická verze překladu nadřazena, ledaže právo, kterému podléháte, stanoví jinak. </p>
				<p>12.9 <b>Vývoz. </b>Berete na vědomí, že vývoz a opětovný vývoz jakéhokoli softwaru a zařízení Orbi podléhá dovozním a vývozním předpisům. Zejména platí, že software ani zařízení Orbi není dovoleno vyvážet nebo opětovně vyvážet (a) do kterékoli země podléhající embargu Spojených států amerických, ani (b) žádné osobě, která je uvedena na seznamu zvlášť určených státních příslušníků (Specially Designated Nationals) ministerstva financí USA či na seznamu nežádoucích osob (Denied Person List) či na seznamu nežádoucích subjektů (Denied Entity List) vedeném Ministerstvem obchodu USA. Používáním softwaru a zařízení Orbi prohlašujete a zaručujete, že (i) se nenacházíte na území, které podléhá embargu vlády USA nebo bylo vládou USA označeno jako země „podporující terorismus“ a (ii) nejste uvedeni na žádném ze seznamů stran zakázaných či podléhajících omezení.  Obecně se podvolíte všem takovým kontrolám exportu USA a nebudete vyvážet, opětovně vyvážet, převážet ani přesměrovávat vývoz jakéhokoli softwaru a zařízení Orbi, ani jakéhokoli jejich přímého produktu, na jakékoli místo, ke koncovému použití či koncovému zákazníkovi, na kterého se vztahuje zákaz či omezení v rámci takových zákonů a předpisů USA pro kontrolu vývozu, s výjimkou případů specificky autorizovaných ministerstvem obchodu USA. Zavazujete se, že odškodníte a ochráníte společnost NETGEAR a její dodavatele v případě jakéhokoli nároku, ztráty, odpovědnosti za škodu či škody, která bude vůči společnosti NETGEAR nebo jejím dodavatelům uplatňována v souvislosti s porušením tohoto paragrafu z vaší strany. </p>
				<p>Služby, software a zařízení Orbi nejsou dostupné všem osobám ani ve všech zemích.  Pokud se rozhodnete získávat přístup ke službám, softwaru nebo zařízením Orbi z místa mimo zemi, v níž společnost NETGEAR služby, software či zařízení Orbi podporuje, činíte tak z vlastní iniciativy a nesete výhradní odpovědnost za dodržování platných místních zákonů své země. Berete na vědomí a přijímáte, že některé, případně všechny funkce služeb, softwaru či zařízení Orbi nemusejí fungovat nebo být vhodné pro použití v takové zemi. V rozsahu, který umožňuje zákon, nepřijímá společnost NETGEAR žádnou odpovědnost za jakoukoli škodu či ztrátu, která vznikla vaším přístupem ke službám, softwaru a zařízení Orbi nebo jejich použitím v zemích, které nejsou podporovány společností NETGEAR. Těmito podmínkami jste vázáni, kdykoli získáváte přístup k webové stránce, službám nebo je používáte. </p>
				<p>12.10 <b>Oddělitelnost. </b>Pokud příslušný soud rozhodne, že jakékoli ustanovení této smlouvy je v rámci platných zákonů nezákonné, neplatné nebo nevymahatelné, ať už zcela nebo zčásti, bude takové ustanovení nebo jeho část neúčinné, pokud jde o jurisdikci, v níž je takový soud umístěn, v rozsahu jeho nezákonnosti, neplatnosti či nevymahatelnosti, a bude se o něm uvažovat tak, jako by bylo pozměněno v nezbytném rozsahu tak, aby bylo v souladu s platnými zákony tak, aby do maximální míry reprezentovalo úmysl obou smluvních stran. Nezákonnost, neplatnost či nevymahatelnost takového ustanovení v dané jurisdikci nebude mít žádný vliv na zákonnost, platnost či vymahatelnost takového ustanovení nebo jakéhokoli jiného ustanovení této smlouvy v jakékoli jiné jurisdikci. </p>
				<p>12.11<b> Vyšší moc. </b>Žádná ze stran neponese odpovědnost za jakékoli neplnění nebo prodlení s plněním dle této smlouvy, které vzniklo, ať už zcela nebo zčásti, přímo nebo nepřímo, v důsledku nepředvídané události, zpoždění, selhání nebo příčiny jakékoli povahy, která byla mimo přiměřenou kontrolu takové strany. Mezi takové příčiny patří, bez jakéhokoli omezení obecnosti výše uvedeného, požár, výbuch, zemětřesení, bouřka, potopa nebo jiné počasí, nedostupnost nezbytných služeb nebo surovin, výpadek proudu, stávka, výluka, nedostupnost komponentů, aktivity skupin pracovníků nebo jiné obtíže s pracovní silou, válka, teroristický čin, povstání, nepokoje, vyšší moc nebo veřejný nepřítel, právo, zákon, výnos, předpis pro kontrolu vývozu, vyhláška, předpis, nařízení nebo pokyny vlády nebo jiných veřejných autorit nebo rozsudek nebo výnos soudu příslušné jurisdikce (které nejsou následkem porušení této smlouvy takovou stranou). </p>
				<p>12.12	<b>Oznámení.  </b>Tam, kde společnost NETGEAR vyžaduje, abyste jí poskytli e-mailovou adresu, odpovídáte za to, že společnosti NETGEAR poskytnete svoji aktuální e-mailovou adresu. Pokud poslední e-mailová adresa, kterou jste společnosti NETGEAR poskytli, neplatí nebo vám prostřednictví ní z jakéhokoli důvodu není možné doručit jakékoli oznámení vyžadované/povolené těmito podmínkami, bude odeslání e-mailu obsahujícího takové oznámení i tak považováno za účinné oznámení. Společnost NETGEAR neodpovídá za žádné automatické filtry, které vy nebo váš poskytovatel internetového připojení uplatňujete na e-mailová upozornění. Vy musíte zasílat společnosti NETGEAR oznámení na následující e-mailovou adresu: support@NETGEAR.com</p>
				<p>12.13 <b>Plné znění smlouvy. </b> Tyto podmínky (včetně různých doplňujících podmínek začleněných do tohoto textu odkazem) představují celé znění smlouvy mezi vámi a společností NETGEAR a nahrazují veškeré předchozí smlouvy, jednání nebo jinou komunikaci mezi vámi a společností NETGEAR, ať už ústní nebo písemnou, pokud jde o předmět této smlouvy. </p>
				<p>12.15.	<b>Dodržování zákonů. </b> Souhlasíte, že budete při používání služeb, softwaru a zařízení Orbi dodržovat všechny platné zákony. </p>
				<p>12.16.	<b>Souhlas s elektronickou formou komunikace. </b>  Používáním služeb, softwaru a zařízení Orbi souhlasíte se zasíláním určitých elektronických komunikací ohledně zařízení Orbi, softwaru a služeb, od naší společnosti, a to zejména (a) oznámení o vašem používání produktů, softwaru a služeb včetně oznámení týkajících se neoprávněného použití, (b) aktuality a (c) pokud budete souhlasit, tak v souladu s platným zákonem vám budou zasílány propagační informace a materiály ohledně produktů softwaru a služeb NETGEAR prostřednictvím elektronické pošty. Další informace o tom, jakým způsobem používáme vaše osobní údaje a jak můžete změnit svoje předvolby a odhlásit odběr propagačních materiálů, se dozvíte v našich Zásadách ochrany osobních údajů. </p>
				<p>Souhlasíte s tím, že jakákoli oznámení, smlouvy, zveřejnění nebo jiná sdělení, která vám elektronicky zašleme, budou splňovat veškeré požadavky právní komunikace. </p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>Telefon do kanceláře</b></p>
				<p><b>408 907 8000</b></p>
				<p><b>Fax do kanceláře</b></p>
				<p><b>408 907 8097</b></p>
				<p><b>NEBO</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3, University Technology Centre, Curraheen Road</b></p>
				<p><b>Cork, Irsko</b></p>
				<p><b>Telefon do kanceláře</b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Fax do kanceláře</b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>Revize 1, účinnost od: <b> 14. září 2016</b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
