<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% new_hijack_flow_head() %>
<% hijack_language() %>
</head>

<body>
<script>
function is_read()
{
	if($$('#have_read').is(':checked'))
		$$('#next_btn').attr("disabled",false);
	else
		$$('#next_btn').attr("disabled","");
}

</script>
<% tos_form_submit() %>
<input type="hidden" name="hid_save_time" value="1">
<div id="container">

	<div class="dialog-content">

	<!-- Welcome -->
		<div id="card-tos" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title">$tos_title</div>
			<div class="tos-area">
				<h1 >NETGEAR, INC</h1>
				<p>AZ Orbi ALKALMAZÁS, Orbi SZOFTVER, Orbi SZOLGÁLTATÁSOK ÉS Orbi ESZKÖZ FELHASZNÁLÁSI KERETFELTÉTELEI </p>
				<p>EZEK A FELHASZNÁLÁSI KERETFELTÉTELEK (EZ A „MEGÁLLAPODÁS”), VALAMINT AZ ITT EMLÍTETT ADATVÉDELMI SZABÁLYZAT https://www.netgear.com/about/privacy-policy/ HATÁROZZA MEG AZOKAT A FELTÉTELEKET, AMELYEK SZERINT A NETGEAR, INC. („NETGEAR”) VÁLLALJA A (LENTEBB MEGHATÁROZOTT) SZOFTVER ÉS A SZOLGÁLTATÁSOK, VALAMINT AZ Orbi ESZKÖZÖN KERESZTÜL ELÉRHETŐ VAGY AKTIVÁLT ERŐFORRÁSOK, ÉS AZ Orbi ALKALMAZÁS (KÜLÖN-KÜLÖN: A „SZOLGÁLTATÁS” ÉS EGYÜTTESEN: A “SZOLGÁLTATÁSOK”) MEGÁLLAPODÁST ELFOGADÓ MAGÁNSZEMÉLY VAGY VÁLLALAT RÉSZÉRE TÖRTÉNŐ NYÚJTÁSÁT („ÖN”). A MEGÁLLAPODÁS IRÁNYADÓ, KIVÉVE HA (I) VAN A NETGEARREL KÖTÖTT, AZ Orbi ALKALMAZÁSRA, SZOFTVERRE, Orbi ESZKÖZRE KITERJEDŐ KÜLÖN ADÁSVÉTELI SZERZŐDÉS, MELY ESETBEN EZ A KÜLÖN SZERZŐDÉS IRÁNYADÓ; VAGY (II) NEM KELL MÁS NETGEAR FELTÉTELEKET ALKALMAZNI. </p>
				<p>A SZOFTVER LETÖLTÉSÉVEL, TELEPÍTÉSÉVEL, ILLETVE EGYÉB HASZNÁLATÁVAL ÖN JOGI KÖTELEZŐ ERŐVEL ELFOGADJA E MEGÁLLAPODÁS FELTÉTELEIT. AMENNYIBEN A MEGÁLLAPODÁS FELTÉTELEIVEL NEM ÉRT EGYET, NE KÍSÉRELJE MEG A SZOFTVER LETÖLTÉSÉT, TELEPÍTÉSÉT, ELÉRÉSÉT VAGY MÁS MÓDON TÖRTÉNŐ HASZNÁLATÁT. </p>
				<p>HA A SZOFTVERT HARMADIK SZEMÉLY KÉPVISELETÉBEN SZERZI MEG, KIJELENTI A NETGEARNEK, HOGY A HARMADIK SZEMÉLY KÉPVISELETÉRE ÉS A MEGÁLLAPODÁS FELTÉTELEINEK NEVÉBEN TÖRTÉNŐ ELFOGADÁSÁRA FELHATALMAZÁSSAL RENDELKEZIK. AZ ALÁBBI MEGÁLLAPODÁS ELFOGADÁSÁVAL KÖTELEZŐ EREJŰ SZERZŐDÉS JÖN LÉTRE A NETGEAR ÉS A HARMADIK SZEMÉLY KÖZÖTT, ÉS A MEGÁLLAPODÁSBAN AZ „ÖN” HASZNÁLATA ERRE A HARMADIK SZEMÉLYRE UTAL. </p>
				<p>AMENNYIBEN ÖN OLYAN ORSZÁGBAN LAKIK, AMELYBEN ÉLETKOR ALAPJÁN KORLÁTOZÁS VONATKOZIK AZ INTERNETES ALKALMAZÁSOK HASZNÁLATÁRA, VAGY PEDIG AZ ILYEN MEGÁLLAPODÁSOK MEGKÖTÉSÉRE, ÉS ÖN AZ EMLÍTETT ORSZÁGBAN VAN ÉS AZ ADOTT ÉLETKORT NEM ÉRTE EL, ELŐFORDULHAT, HOGY EZT A MEGÁLLAPODÁST NEM KÖTHETI MEG, ÉS A NETGEAR SZOFTVERT NEM TÖLTHETI LE, TELEPÍTHETI VAGY HASZNÁLHATJA.  A MEGÁLLAPODÁS MEGKÖTÉSÉVEL ÖN KIFEJEZETTEN KIJELENTI, HOGY ELLENŐRIZTE AZT, HOGY ORSZÁGÁBAN AZ ÖN SZÁMÁRA MEGENGEDETT A SZOFTVER HASZNÁLATA. </p>
				<p>1. <b>A SZOFTVER FOGALOMMEGHATÁROZÁSA </b>Ez a Megállapodás irányadó a következők elérésére és használatára: i. a NETGEAR Orbi Alkalmazás, az Orbi eszközbe vagy szolgáltatásba beágyazott minden szoftver, a NETGEAR-től vagy forgalmazójától az Orbi eszközzel vagy szolgáltatással együttes használatra vásárolt bármely termékben vagy szolgáltatásban történő használatra szolgáló NETGEAR márkájú szoftver, vagy a NETGEAR által a NETGEAR weboldalán, a NETGEAR viszonteladói weboldalán, a Google Play Store-ban vagy az Apple App Store-ban letöltésre elérhetővé tett Orbi termékkel vagy szolgáltatással történő használatra szolgáló szoftver; ii. az ilyen szoftverekhez a NETGEAR által biztosított, az Orbi alkalmazáshoz kapcsolódó minden telepítési kézikönyv, használati útmutató vagy egyéb dokumentáció (együttesen: „Dokumentáció”); valamint iii. a szoftver és a Dokumentáció NETGEAR-től beszerzett minden továbbfejlesztett vagy frissített változata (a fentiek együttesen: a „Szoftver”). </p>
				<p>2. <b>LICENC BIZTOSÍTÁSA</b> A Megállapodás feltételeinek betartása mellett: </p>
				<p>2.1<b> Nem kizárólagos Licenc </b>A NETGEAR és beszállítói nem kizárólagos licencet adnak a Szoftver Orbi eszközökkel és más NETGEAR termékekkel történő használatára. Más jogok nem kerülnek átadásra. </p>
				<p>2.2 <b>Másolás </b>A Szoftverről biztonsági mentés céljából vagy az Orbi eszközök és más NETGEAR termékek használatához szükséges mértékben lehet másolatot készíteni, feltéve, hogy Ön a másolaton a Szoftver eredeti példányán szereplő valamennyi szerzői jogi és egyéb jelzetet feltünteti. </p>
				<p>2.3<b> Harmadik Személy Szoftvere </b>a) A NETGEAR a Szoftver részeként vagy azzal kapcsolatban biztosíthat(ja) i. harmadik személy szoftverét, a harmadik személy külön licencfeltételei szerint („Harmadik Személy Licencfeltételei”); és/vagy ii. „nyílt forráskódú” szoftvert, nyilvánosan hozzáférhető licencfeltételek szerint (a „Nyílt Forráskódú Licencfeltételek”). </p>
				<p>b) Tudomásul veszi és vállalja, hogy amennyiben az alább található 11. szakasz nem rendelkezik másként, i. harmadik személy szoftverére és a nyílt forráskódú szoftverre kizárólag a megfelelő Harmadik Személy Licencfeltételei és Nyílt Forráskódú Licencfeltételek vonatkoznak; és ii. ezek a feltételek kizárólag Ön és az adott licencadó között érvényesülnek, és a NETGEAR-t a Megállapodás alapján nem terheli kötelezettség vagy felelősség az említett szoftverek vonatkozásában. </p>
				<p>2.4	<b>Frissítések  </b>A NETGEAR időről-időre javításokat, hibajavításokat, frissítéseket, korszerűsítéseket és más módosításokat fejleszthet a Szolgáltatások, a Szoftver, és/vagy az Orbi eszközök teljesítménye tekintetében („Frissítések”). <b>A Szolgáltatások, a Szoftver, vagy az Orbi eszközök használatával Ön hozzájárul a Frissítések automatikus letöltéséhez és telepítéséhez, amelyek automatikus letöltése és telepítése adott esetben történhet az Ön mobileszközére és Orbi eszközére, külön értesítés vagy külön hozzájárulás nélkül. </b>Amennyiben ezekre a Frissítésekre nem tart igény, kizárólag a következőt teheti i. az alkalmazásra vonatkozó Frissítések esetében a mobileszköz beállításainál ki kell kapcsolni az automatikus frissítési funkciót vagy törölni kell a NETGEAR vagy Orbi alkalmazást a mobileszközről, vagy ii. az Orbi eszközök és/vagy Szoftver tekintetében meg kell szüntetni az Orbi felhasználói fiókot és/vagy be kell szüntetni az Orbi eszköz használatát. Amennyiben a későbbiekben a fentieket vissza kívánja állítani (pl.: a mobileszközön az automatikus frissítési funkció bekapcsolásával az Orbi eszköz újbóli használatával), tudomásul veszi, hogy a Frissítések automatikus letöltése és telepítése újból kezdődik és Ön ezekhez a Frissítésekhez hozzájárul. Amennyiben valamely Frissítés telepítése nem automatikus, Ön tudomásul veszi, hogy a Szolgáltatások, a Szoftver, és az Orbi eszközök további használatához vagy összes funkciójának eléréséhez a Frissítéseket telepítenie kell, és vállalja e Frissítések haladéktalan telepítését. </p>
				<p>3. <b>A HASZNÁLATRA VONATKOZÓ KORLÁTOZÁSOK</b></p>
				<p>3.1 <b>Általános korlátozások</b> Amennyiben az a 2. szakasz alapján kifejezetten megengedett (és kizárólag addig a mértékig), illetve abban az esetben, ha ezeket a jogokat nem lehet megvonni az irányadó jog szerint, Ön nem teheti meg az alábbiakat (és azt harmadik személy számára sem engedheti meg, illetve harmadik személyeket sem biztathat ilyen tevékenységre): i. a Szoftverről nem biztonsági mentés céljából vagy a Szolgáltatások, Szoftver, vagy Orbi eszközök használatához nem szükséges mértékben másolat készítése, annak sokszorosítása vagy másként történő újraelőállítása; ii. a Szoftver (másolata vagy bármely része) vagy az ahhoz fűződő bármely jog harmadik személy részére történő forgalmazása, hálózati futtatása, allicencbe, lízingbe, bérbe, kölcsönbe adása, engedményezése, továbbítása vagy más módon történő átruházása; iii. a termék bármely azonosító, védjegy-, szerzői jogi, titoktartási, tulajdonjogi vagy egyéb jelzetének, illetve a Szoftveren vagy a Szoftverben található jelmagyarázatok törlése, megváltoztatása vagy kitakarása; iv. a Szoftver megosztott idejű vagy szolgáltató irodai célokra, vagy itt kifejezetten megengedett egyéb célokra történő felhasználása; vagy v. a Szoftver (másolata vagy bármely része) beépítése az Ön saját termékeibe. </p>
				<p>3.2 <b>Módosítás és Visszafejtés. </b>Amennyiben az a 2. szakasz alapján kifejezetten megengedett (és kizárólag addig a mértékig), illetve abban az esetben, ha ezeket a jogokat nem lehet megvonni az irányadó jog szerint, Ön nem teheti meg az alábbiakat (és azt harmadik személy számára sem engedheti meg, illetve harmadik személyeket sem biztathat ilyen tevékenységre): i. a Szoftver vagy bármely része visszafejtése, visszafordítása vagy részeire bontása, vagy a forráskód kinyerésének egyéb megkísérlése; vagy ii. a Szoftverből megváltoztatott, adaptált, módosított, lefordított, fejlesztett vagy származékos mű (a „Derivátum”) előállítása. </p>
				<p>3.3<b> Együttműködés </b>Ön a NETGEAR-rel együttműködik és megad a NETGEAR által ahhoz kért minden ésszerű segítséget, hogy megelőzhesse és azonosíthassa a Szoftver e Megállapodásba ütköző használatát vagy elérését. </p>
				<p>3.4. <b>Nagy Kockázatú Alkalmazások </b> A Szoftver, a Szolgáltatások, és az Orbi Eszközök nem arra készültek, illetve szolgálnak, hogy azokat olyan alkalmazásokban vagy környezetben használják, ahol a hibamentes működés követelmény, ilyen a nukleáris létesítmények üzemeltetése, légi járművek navigációs vagy távközlési rendszerei, légi forgalom irányítása, lélegeztető gépek, sebészeti úton beültetett implantátumok, fegyverrendszerek vagy olyan más alkalmazások, eszközök, vagy rendszerek, amelyek esetében a Szoftver, a Szolgáltatások, és az Orbi eszközök, vagy azok bármely részének meghibásodása halált, személyi sérülést, vagy súlyos fizikai vagy környezeti károkat okozhat („Nagy Kockázatú Tevékenységek”). A Megállapodás bármely más rendelkezése ellenére a Szoftvert, a Szolgáltatásokat és az Orbi eszközöket, vagy azok egy részét sem használhatja Nagy Kockázatú Tevékenységgel összefüggésben, és ezt harmadik személy számára sem engedheti meg. Az ilyen jellegű használat valamennyi veszélyét Ön viseli, és ha Ön vagy bármely olyan harmadik személy, akinek Ön engedélyezte a Szoftver, a Szolgáltatások, és az Orbi eszközök, vagy azok bármely része Nagy Kockázatú Tevékenységgel összefüggésben történő használatát, vállalja a NETGEAR ilyen használatból származó bármely igény, költség és felelősség alóli mentesítését és kártalanítását. </p>
				<p>4. <b>DÍJAK ÉS TÁMOGATÁS. </b></p>
				<p>4.1. <b>Általános rendelkezések </b> Ön vállalja, hogy megfizeti a felhasználói fiókjára a díj vagy költség felszámításakor hatályos díj-, költség- és számlázási szabályzat szerint felszámított valamennyi díjat és költséget. A megadott hitelkártya használatára a pénzforgalmi szolgáltatóval kötött megállapodás irányadó, és a hitelkártya használatára vonatkozó jogait és kötelezettségeit nem ez a megállapodás, hanem a pénzforgalmi szolgáltatóval kötött megállapodás szabályozza. Azzal, hogy megadja a NETGEAR számára a hitelkártyája számát és a kapcsolódó fizetési adatokat, kijelenti, hogy a NETGEAR haladéktalanul kiszámlázza felhasználó fiókjába a NETGEAR részére e megállapodás alapján esedékes valamennyi díjat és költséget, és ehhez további értesítésre vagy hozzájárulásra nincsen szükség. Ön vállalja, hogy haladéktalanul értesíti a NETGEAR-t a számlázási címében vagy a megállapodás szerinti fizetésekhez használt hitelkártyában bekövetkezett minden változásról. A NETGEAR a jövőben bármikor megváltoztathatja árait és számlázási módszerét, a weboldalon való közzététellel vagy e-mailen történő közléssel. </p>
				<p>a.	<b>Adók </b> Ha az Orbi Eszközök vagy Szolgáltatások vásárlása vagy az Orbi Eszközökért vagy Szolgáltatásokért történő fizetés a Megállapodás szerint Forgalmi Adó köteles, és Ön nem fizeti meg az irányadó Forgalmi Adót a NETGEAR-nek, Ön lesz felelős a Forgalmi Adó és a kapcsolódó bírság és kamat illetékes adóhatóságnak történő megfizetéséért. E szakasz alkalmazásában „Forgalmi Adó” minden, az értékesítéssel vagy használattal kapcsolatos, illetve az értékesítési bevétel arányában kirótt más adó, amelyet a NETGEAR átháríthat ügyfeleire, és amelynek a funkciója megegyezik a forgalmi adóéval, amennyiben az adott ország egyébként az értékesítésre vagy használatra adót nem vet ki. </p>
				<p>b.	<b>Forrásadók. </b> Ön vállalja, hogy forrásadó levonása nélkül teljes összegben megfizet a NETGEAR-nek minden díjat. A NETGEAR-nek történő díjfizetésre kirótt ilyen adók megfizetéséért kizárólag Ön felel, és átadja a NETGEAR-nek az adóhatóság által kibocsátott hivatalos nyugtát, vagy az ilyen adók megfizetésének igazolására ésszerűen kérhető más igazolást. </p>
				<p>c.	<b>Jogviták </b> A hitelkártya-kivonat kézhezvételétől számított hét (7) napon belül írásban értesítenie kell a NETGEAR-t, ha vitatja az adott kivonaton feltüntetett bármely díjat. A számlázási jogvitákat a következő e-mail-címen kell bejelenteni: support@NETGEAR.com</p>
				<p>4.2 <b>Támogatás</b>  A NETGEAR bármikor, indokolás és értesítés nélkül beszüntetheti a Szolgáltatások, Szoftver, és/vagy az Orbi eszközök Frissítéseit, támogatását, továbbfejlesztését vagy új funkciókkal bővítését. </p>
				<p>5. <b>SZELLEMI ÉS MÁS TULAJDONJOGOK</b></p>
				<p>5.1. <b>A Szoftverhez fűződő jogok </b>A Szolgáltatások, Szoftver, és az Orbi eszközök részét képező szellemi tulajdonjogok az Egyesült Állatok és más érintett országok joga szerint (ideértve a nemzetközi egyezményeket), illetőleg a szellemi tulajdon, a szabadalmak és az ipari tulajdon védelmét szolgáló más egyesült államokbeli, külföldi és nemzetközi jogszabályok, szabályzatok és egyezmények alapján is oltalmat élveznek. A Szoftver (másolatai és bármely része, illetve az azok részét képező szellemi tulajdonjogok) tulajdonjoga és az azokhoz fűződő valamennyi érdekeltség kizárólagosan a NETGEAR-t és licencadóit illeti és náluk is marad. A NETGEAR és licencadói megtartják az itt kifejezetten át nem adott minden jogot. Ön tudomásul veszi és elfogadja, hogy a Szoftverre (ideértve az Önnek átadott vagy készített, illetve az Ön által készített másolatokat) licencet kapott, és azt nem vásárolta meg. </p>
				<p>5.2. <b>A Támogató Információkhoz és a Derivátumokhoz fűződő jogok</b> A Szolgáltatások, Szoftver, vagy az Orbi eszközök vonatkozásában Ön vagy megbízottja által átadott minden ötlet, hibajelentés, használhatóságra vonatkozó visszajelzés, illetve más javaslat és visszajelzés (a „Támogató Információk”), illetve a Szoftver Ön által vagy Ön számára készült Derivátumai (tekintet nélkül arra, hogy azt a megállapodás megengedi-e), a NETGEAR vagy licencadóinak kizárólagos tulajdona, beleértve az azokhoz fűződő minden szellemi tulajdonjogot. </p>
				<p>5.3 <b>Jogok engedményezése</b> Ön visszavonhatatlanul vállalja, hogy a NETGEAR-re engedményezi a Támogató Információkhoz vagy Derivátumokhoz, és az azok részét képező összes szellemi tulajdonjoghoz a világon bárhol fűződő jogokat és érdekeltségeket, és a NETGEAR kérésére és költségére segítséget nyújt azok biztosításában, bejegyeztetésében és érvényesítésében. Amennyiben ez az engedményezés az irányadó jog szerint érvénytelen, Ön visszavonhatatlanul vállalja, hogy a NETGEAR számára ezennel kizárólagos, átruházható, allicencbe adható, korlátlan, örökös, és egész világra kiterjedő licencet ad a Támogató Információk és a Derivátumok minden ismert vagy a jövőben ismertté váló módszerrel történő hasznosítására vagy forgalomba hozatalára. </p>
				<p>5.4. <b>Műszaki vonatkozások és adatgyűjtés</b>  Önnek kell saját költségére biztosítania és fenntartania az összes távközlési vonalat, képernyőt, személyi számítógépet, modemet, útválasztókat, mobileszközöket, internetszolgáltatóját és mobileszköz-szolgáltatóját („Szolgáltató”), stb. a Szoftver, Szolgáltatások, és Orbi eszköz használatához szükséges minden hozzáférést. </p>
				<p><b>A Szoftver szokásos telepítése és működése részeként a NETGEAR adatokat fog gyűjteni a Szoftver és/vagy az Orbi hálózat teljesítményének optimalizálására.  A gyűjtött információk körébe tartozik például a telepítéshez szükséges kattintások száma és az erre fordított idő, a telepítés kezdete és vége közötti útvonal, a WiFi-sebesség az Internetszolgáltatótól, az Orbi hálózat és a mobileszközök közötti LAN-sebesség, és az Ön hálózatának telepítéséhez használt mobileszközök operációs rendszere és típusa.  A Szoftver funkcióinak részeként értesítéseket kaphat a NETGEAR-től, amikor változik az Orbi hálózat topológiája, illetve az Orbi eszköz és szolgáltatások műszaki továbbfejlesztéséről is. </b> Az Orbi egyben napi automatikus firmware-frissítést és automatikus hálózat topológia optimalizálási funkciót is bevezethet, amelyet a Szoftver végrehajt.  </p>
				<p>A Szoftver használatával elfogadja, hogy a NETGEAR a fenti információkat gyűjtheti. </p>
				<p>Idővel a NETGEAR lehetőséget biztosíthat Önnek, hogy az Orbi eszközöket, Szoftvert és Szolgáltatásokat egy vagy több harmadik személy termékeihez és szolgáltatásaihoz csatlakoztassa a Szolgáltatások révén és azok használatával („Harmadik Személyek Termékei és Szolgáltatásai”). Ön dönti el, hogy kíván-e és mely Harmadik Személyek Termékeihez és Szolgáltatásaihoz csatlakozni. </p>
				<p>Amint hozzájárulást adott valamely Harmadik Személy Termékéhez és Szolgáltatásához, az Adatvédelmi Szabályzatnak megfelelően Ön hozzájárul ahhoz, hogy a NETGEAR továbbítsa az Önre és az Ön Szolgáltatásaira, Szoftvereire, valamint az Orbi eszközökre vonatkozó információkat és ellenőrző adatokat – személyes adatokra kiterjedően – az Ön által engedélyezett csatlakozás lehetővé tételére. Az információk adott Harmadik Személy Termékével és Szolgáltatásával való megosztása után azok felhasználására nem a NETGEAR, hanem az adott harmadik személy adatvédelmi szabályzata vonatkozik. Ön tudomásul veszi és elfogadja, hogy a NETGEAR nem tesz kijelentést, illetve vállal szavatosságot Harmadik Személyek Termékei vagy Szolgáltatások biztonságossága tekintetében. Ennek megfelelően, hacsak az alább található 11. szakasz nem rendelkezik másként, a NETGEAR nem tartozik felelősséggel Harmadik Személyek Termékei vagy Szolgáltatásai Ön általi használatáért, vagy a Harmadik Személyek Termékei vagy Szolgáltatásai használatából eredő vagy azzal kapcsolatos személyi sérülésért, halálesetért, vagyoni kárért, vagy egyéb kárért vagy veszteségért. Harmadik Személyek Termékeivel és Szolgáltatásaival kapcsolatos kérdésekkel az adott harmadik személyt kell megkeresni. Az Ön lakóhelye szerinti adatvédelmi, magánélet-védelmi és más jogszabályok előírhatnak bizonyos felelősséget Önre és az Orbi eszközök, Szoftver és Szolgáltatások használatával kapcsolatban. Ön vállalja, hogy Ön (és nem a NETGEAR) felelős annak biztosításáért, hogy Ön az Orbi eszközök, Szoftver és Szolgáltatások használatakor betartsa az összes irányadó jogszabályt. </p>
				<p>A NETGEAR által Önről gyűjtött minden információra Adatvédelmi Szabályzatunk irányadó, amely itt érhető el: http://www.netgear.com/about/privacypolicy/.</p>
				<p>6. <b> REGISZTRÁCIÓ ÉS A FELHASZNÁLÓI FIÓK ADATAI</b></p>
				<p>6.1. Az Orbi eszközök, Szoftver, és Szolgáltatások révén vagy azok keretében kínált egyes funkciók regisztrációhoz és felhasználói fiók nyitásához kötöttek (ideértve felhasználói azonosító és jelszó beállítását; „Felhasználói Fiók Adatai”). Ön vállalja, hogy pontos, teljes és naprakész ad meg a regisztráció során („Regisztrációs Adatok”). Elfogadja, hogy a NETGEAR az Ön által megadott Regisztrációs Adatokat a felhasználói fiók vezetéséhez és arra díjak számlázásához használja A Felhasználói Fiók Adatai titkosságának megőrzéséért és a Fiókban folyó tevékenységért kizárólag Ön felel. Vállalja, hogy haladéktalanul értesíti a NETGEAR-t, ha felhasználói fiókját vagy a Felhasználói Fiók Adatait illetéktelenül használják. </p>
				<p>6.2. A NETGEAR integrált regisztrációs megoldást vezetett be, egységes bejelentkezési („SingleSignOn”) folyamattal. A SingleSignOn azt jelenti, hogy a NETGEAR felhasználói fiók megnyitásával Ön más NETGEAR szolgáltatások esetében is használhatja fiókját és felhasználói azonosítóját, ezzel szükségtelenné válik minden egyes szolgáltatás vonatkozásában külön felhasználói fiók és felhasználói azonosító fenntartása. A SingleSignOn lehetővé teheti azt is, hogy különböző szolgáltatások és eszközök tekintetében Ön egyszerre végezze el a be- és kijelentkezést. </p>
				<p>6.3. A SingleSignOn lehetőséget biztosíthat arra is, hogy fiókjával szolgáltatásaihoz külső közösségi oldalakról – Facebook, Twitter, és Google+ – csatlakozzon a SingleSignOn megoldással valamely alkalmazásprogramozási felülettel (application programming interface – API) vagy más szoftverrel.  </p>
				<p>A NETGEAR Adatvédelmi Szabályzatban tett kijelentések korlátozása, illetve azoktól való eltérés nélkül annak engedélyezésével, hogy a SingleSignOn ilyen külső oldalakon levő felhasználói fiókjához is csatlakozzon, Ön hozzájárul ahhoz, hogy hozzáférjünk az e felhasználói fiókokban lévő információkhoz, amelyek között lehetnek személyes azonosítást lehetővé tevő információk is. Emellett tudomásul veszi, hogy a SingleSignOn közösségi média vagy más külső felhasználói fiókból történő elérése esetében a külső webhelyen közzétehető a SingleSignOn folyamatban folytatott tevékenység. Ön dönti el, hogy használ-e ilyen külső weboldalakat. Ajánljuk, hogy olvassa el az egyes külső weboldalak adatvédelmi tájékoztatóját, mielőtt engedélyezné a SingleSignOn külső oldalakon levő felhasználói fiókjához történő csatlakozást, illetve mielőtt barátaival oldalakat vagy információkat osztana meg ezeken az oldalakon keresztül. </p>
				<p>Tudomásul veszi, hogy SingleSignOn felhasználói nevének nem tulajdonosa. A NETGEAR visszakérheti vagy használhatja az Ön SingleSignOn felhasználónevét. </p>
				<p>6.4. A Felhasználói Fiók Adatait biztonságban kell tartania és meg kell előznie, hogy harmadik személyek illetéktelenül hozzáférjenek a Felhasználói Fiókja Adataihoz és felhasználói fiókjához, különösen annak révén, hogy kerüli a nyilvánvaló felhasználói azonosítók vagy jelszavak használatát, a jelszavát rendszeresen megváltoztatja és nem adja ki másnak, és nem biztosít hozzáférést a Felhasználói Fiók Adataihoz vagy a szolgáltatásokhoz más Felhasználónak vagy harmadik személynek. </p>
				<p>6.5. A NETGEAR az Ön Felhasználói Fiókja Adatait használó vagy megadó Felhasználótól vagy harmadik személytől kapott utasításokat úgy tekintheti, hogy azok Öntől származnak. </p>
				<p>6.6. Ön vállalja, hogy a szolgáltatással rendelkező Felhasználó vagy személy engedélye nélkül nem használja más Felhasználó vagy személy Felhasználói Fiók Adatait vagy szolgáltatásait. </p>
				<p>6.7. Ön haladéktalanul értesíti a NETGEAR-t, ha tudomást szerez a Regisztrációs Adatok vagy a Felhasználói Fiók Adatai illetéktelen felhasználásáról vagy a biztonság más megsértéséről. </p>
				<p>6.8. A Regisztrációs Adatok vagy Felhasználói Fiók Adatai elérésére és megváltoztatására bármikor lehetősége van a megfelelő NETGEAR szolgáltatás elérésével. </p>
				<p>7. <b>FELMONDÁS </b></p>
				<p>7.1. <b>A Megállapodás időtartama </b>A Megállapodás akkor lép hatályba, amikor Ön ezt a Megállapodást elfogadja, és az alábbiakban meghatározott megszűnésig, határozatlan ideig hatályban marad. </p>
				<p>7.2. <b>Felmondás </b>A NETGEAR bármely más joga vagy a számára elérhető jogorvoslatok sérelme nélkül a Megállapodás azonnali hatállyal megszűnik, amennyiben Ön nem tartja be e Megállapodás valamely feltételét. Ebben az esetben a NETGEAR arányosan megtéríti a megfelelő összeget. A Megállapodást Ön is bármikor felmondhatja a Szoftver Ön birtokában vagy ellenőrzése álló összes példányának megsemmisítésével. Ha a NETGEAR nyilvános felhívásban, Önnek szóló e-mailben, weboldalán vagy sajtóközleményben jelzi, hogy a Megállapodást felmondja, a Megállapodás a nyilvános felhívásban, Önnek szóló e-mailben, weboldalán vagy sajtóközleményben meghatározott napon („Megszűnés Napja”) szűnik meg, Ön pedig vállalja, hogy a Szoftver példányainak használatát a Megszűnés Napjáig beszünteti. A Megállapodás vagy bármely Szoftver licencének megszűnése után az 1., 3., 5., 6., 7.2., 8., 9., 10., 11. és 12. szakasz feltételei a továbbiakban is hatályban maradnak. </p>
				<p>Ha az Orbi eszközt új tulajdonosra ruházza át, automatikusan megszűnik a Szolgáltatások adott Orbi eszközzel való használatára vonatkozó joga, és az új tulajdonos nem jogosult az Orbi eszköz vagy Szolgáltatások használatára az Ön egyik NETGEAR felhasználói fiókja alapján sem, és külön felhasználói fiókot kell a NETGEAR-nél regisztrálnia. </p>
				<p>8. <b>VÉDJEGYEK </b></p>
				<p>8.1. <b> A védjegyekre vonatkozó licencadás hiánya</b> E megállapodás konkrét eltérő rendelkezése hiányában Ön tudomásul veszi, hogy ez a Megállapodás nem ruház Önre jogot a NETGEAR, leányvállalatai vagy kapcsolt vállalkozásai cégnevének, védjegyeinek, szolgáltatási védjegyeinek, tanúsítási védjegyeinek, kereskedelmi neveinek, szlogenjeinek, logóinak vagy más megjelöléseinek (együttesen: bármely „NETGEAR Jelzés”) használatára, még ha ez a Jelzés szerepel is a Szoftveren vagy a Szoftverben vagy a Megállapodással kapcsolatban Önnek adott valamely anyagban egyébként megtalálható. </p>
				<p>8.2. <b> Bitorlás vagy használat tilalma</b> Ön vállalja, hogy nem bitorol, használ vagy lajstromoztat olyan cégnevet, védjegyet, szolgáltatási védjegyet, tanúsítási védjegyet, kereskedelmi nevet, szlogent, logót vagy más megjelölést, amely hasonló a NETGEAR Jelzéshez, illetve részben vagy egészben azt tartalmazza. Az előzőek korlátozása nélkül Ön vállalja, hogy nem használja a „NETGEAR” vagy „Orbi” szót cégneve, kereskedelmi neve, termékneve vagy második szintű domain neve részeként, sem a Megállapodás fennállása alatt, sem azt követően. </p>
				<p>9. <b>TITOKTARTÁS </b>Ön elismeri, hogy a Szoftver a NETGEAR értékes kereskedelmi titkait és bizalmas információit („bizalmas információk”) alkotja. Vállalja, hogy ezeket a bizalmas információkat harmadik személy számára nem teszi elérhetővé és vele nem közli, a titoktartási kötelezettség hatálya alatt álló harmadik személyek kivételével. </p>
				<p>10. <b>SZAVATOSSÁG ÉS FELELŐSSÉG KIZÁRÁSA </b></p>
				<p>AZ Orbi ESZKÖZ HARDVERSZAVATOSSÁGA AZ ESZKÖZHÖZ MELLÉKELT KORLÁTOZOTT SZAVATOSSÁGI NYILATKOZAT SZERINT ALAKUL, AMELY ELÉRHETŐ ITT: https://www.netgear.com/about/warranty. </p>
				<p>10.1. A SZOFTVERRE A KÖTELEZŐ SZAVATOSSÁGI JOGOK VONATKOZNAK,   </p>
				<p>10.2. A 10.1. SZAKASZ ÉS/VAGY AZ ALÁBBI 11. SZAKASZBAN MEGFOGALMAZOTT FELELŐSSÉG ÉRTELMÉBEN A SZAVATOSSÁG TERJEDELMÉT A NETGEAR, LICENCADÓI, BESZÁLLÍTÓI, MÁRKAKERESKEDŐI, FORGALMAZÓI, MEGBÍZOTTAI VAGY ALKALMAZOTTAI SEMMIFÉLE SZÓBELI VAGY ÍRÁSBELI TÁJÉKOZTATÁSA NEM VÁLTOZTATHATJA MEG VAGY TERJESZTHETI KI; A NETGEAR NEM SZAVATOLJA, HOGY A SZOFTVER ÉS A SZOLGÁLTATÁSOK MEGFELELNEK A LICENCVEVŐK, FORGALMAZÓK, VÉGFELHASZNÁLÓK VAGY MÁS HARMADIK SZEMÉLYEK KÖVETELMÉNYEINEK, VAGY HOGY A SZOFTVER ÉS A SZOLGÁLTATÁSOK ZAVARTALANOK VAGY HIBAMENTESEK LESZNEK.  A NETGEAR NEM VÁLLAL SZAVATOSSÁGOT AZ ABBÓL EREDŐ HIBÁS FELTÉTELEK VAGY INKOMPATIBILITÁS MIATT, AHOGYAN A LICENCVEVŐ A SZOFTVERT ÉS A SZOLGÁLTATÁSOKAT HASZNÁLJA, NEM RENDELTETÉSSZERŰEN HASZNÁLJA, NEM MEGFELELŐEN TELEPÍTI, MÁS CÉLRA HASZNÁLJA, VÉLETLENÜL TÖNKRETESZI VAGY VISSZAÉLÉSSZERŰEN HASZNÁLJA, VAGY AZ ABBÓL EREDŐ HIBÁKÉRT, HOGY A LICENCVEVŐ A SZOFTVERT ÉS A SZOLGÁLTATÁSOKAT SAJÁT TERMÉKÉBE ÉPÍTETTE BE, VAGY NEM ALKALMAZTA A NETGEAR ÁLTAL BIZTOSÍTOTT MÓDOSÍTÁSOKAT, UTASÍTÁSOKAT, FRISSÍTÉSEKET VAGY JAVÍTÁSOKAT. </p>
				<p>11. <b>FELELŐSSÉG KORLÁTOZÁSA </b></p>
				<p>11.1. A NETGEAR FELELŐSSÉGE KORLÁTLAN AZ ALÁBBI ESETEKBEN: </p>
				<p>(i)	SZÁNDÉKOSAN OKOZOTT VESZTESÉG VAGY KÁR, ILLETVE SÚLYOS GONDATLANSÁG A NETGEAR, VALAMINT A NETGEAR IGAZGATÓINAK, MUNKATÁRSAINAK, ILLETVE EGYÉB MEGBÍZOTT ÜGYNÖKEINEK RÉSZÉRŐL; VALAMINT</p>
				<p>(ii)	HALÁLT, TESTI SÉRÜLÉST VAGY BETEGSÉGET OKOZÓ CSELEKEDETBŐL SZÁRMAZÓ VESZTESÉG VAGY KÁR, GARANCIÁLIS VAGY BESZERZÉSI KOCKÁZAT FENNÁLLÁSÁNAK GYANÚJA, ILLETVE AZ IRÁNYADÓ JOGGAL TÖRTÉNŐ ÜTKÖZÉS. </p>
				<p>11.2. A NETGEAR SZERZŐDÉSES ANYAGI KÖTELEZETTSÉGÉNEK MEGSZEGÉSEKOR FELLÉPŐ GONDATLANSÁGBÓL – NEM A NETGEAR, ANNAK IGAZGATÓINAK, MUNKATÁRSAINAK, ILLETVE EGYÉB MEGBÍZOTT ÜGYNÖKEINEK SÚLYOS GONDATLANSÁGÁBÓL – SZÁRMAZÓ FELELŐSSÉGE SEMMI ESETBEN SEM LÉPHETI ÁT A JELLEMZŐEN ELŐRELÁTHATÓ KÁROKAT, MELYEK ÉRTÉKE A PER TÁRGYÁT KÉPEZŐ SZOFTVERRE ÉS SZOLGÁLTATÁSRA (VAGY A SZOFTVERT ÉS SZOLGÁLTATÁSOKAT TARTALMAZÓ TERMÉKRE) VONATKOZÓ NETGEAR LISTAÁR VAGY AZ ÖN ÁLTAL FIZETETT ÖSSZEG, HA EZ UTÓBBI ALACSONYABB. </p>
				<p>11.3. A FENTI 11.1. ÉS 11.2. RÉSZEK ÉRTELMÉBEN A NETGEAR EGYÉB FELELŐSSÉGE KIZÁRT. </p>
				<p>11.4. HA A 11.2. RÉSZNEK MEGFELELŐEN A FELELŐSSÉG KORLÁTOZVA VAN, A NETGEAR NEM VONHATÓ FELELŐSSÉGRE ELMARADT NYERESÉGGEL VAGY BÁRMILYEN MÁS KÖZVETETT KÁRRAL KAPCSOLATBAN. </p>
				<p>12. <b>ÁLTALÁNOS RENDELKEZÉSEK</b></p>
				<p>12.1. <b>Adók. </b> A Szoftverre és a Szolgáltatásokra, vagy azok Ön általi használatára vagy e Megállapodás Ön általi teljesítéséért esetlegesen kirótt minden adó, illeték vagy díj kizárólag az Ön felelőssége. A NETGEAR-re kirótt említett adók, illetékek és díjak megfizetéséért is Ön felel, a NETGEAR nettó jövedelmére vagy a munkabérekre kirótt adók kivételével. </p>
				<p>12.2. <b>Ellenszolgáltatás az Ön részéről. </b>A megállapodásban biztosított jogok és licencek a Megállapodás feltételeinek Ön általi teljesítéséhez kötöttek. Tudomásul veszi és elismeri, hogy e Megállapodás Ön részéről történő teljesítésének kizárólagos ellenértékét az itt biztosított jogok és licencek képezik, és a NETGEAR-től vagy beszállítóitól Ön díjazásra, költségtérítésre vagy más ellenértékre nem jogosult. </p>
				<p>12.3 <b>Ideiglenes intézkedés. </b> Ön tudomásul veszi és vállalja, hogy a Szoftver, a megállapodás alapján átadott bármely információ, anyag vagy szolgáltatás lemásolása, felfedése vagy a megállapodás bármely rendelkezésével össze nem egyeztethető használata jóvátehetetlen kárt okoz a NETGEAR-nek, amelyre a NETGEAR-nek megfelelő jogorvoslata nem lesz. Ezért a NETGEAR jogosult bíróságon ideiglenes intézkedést kérni, ideértve többek között az ideiglenes korlátozó végzést, az előzetes és végleges intézkedést. </p>
				<p>12.4 <b>Partnerség kizárása. </b> A felek e Megállapodás szerinti kötelezettségeiket független szerződő félként vállalták fel. Ez a Megállapodás nem hoz létre a NETGEAR és Ön között munkaviszonyt, megbízási jogviszonyt, forgalmazói, franchise, közös vállalati, partnerségi vagy hasonló jogviszonyt és ez nem is célja a megállapodásnak. Egyik fél sem jogosult, illetve nem rendelkezik felhatalmazással a másik fél képviseletében történő eljárásra vagy kötelezettségvállalásra, és egyik fél sem állíthatja harmadik személyeknek, hogy ilyen joggal vagy felhatalmazással rendelkezik. </p>
				<p>12.5. <b>Engedményezés tilalma </b>Ön nem engedményezheti, illetve más módon sem ruházhatja át ezt a Megállapodást vagy az abból eredő jogokat vagy kötelezettségeket (részben vagy egészben, önkéntesen, összeolvadással, jogszabály alapján vagy másként sem) a NETGEAR előzetes írásbeli hozzájárulása nélkül, amely hozzájárulást a NETGEAR belátása szerint megtagadhat, és az átruházásra vagy engedményezésre tett kísérlet érvénytelen, és e Megállapodás tekintetében súlyos szerződésszegésnek minősül. </p>
				<p>12.6. <b>Teljes Megállapodás; Módosítás. </b> Ez a Megállapodás a tárgyára vonatkozó teljes, végleges és kizárólagos megállapodást képezi.  A Megállapodás teljes vagy részleges módosítása kizárólag előzetes bejelentéssel történhet. </p>
				<p>12.7 <b>Joglemondás. </b>A Megállapodás megszegése jogkövetkezményeinek alkalmazásáról vagy a megállapodás valamely feltételéről egy alkalommal történő lemondás nem jelenti az összes vagy más szerződésszegés jogkövetkezményeinek alkalmazásáról vagy bármely más feltételről való folyamatos lemondást, és kizárólag a joglemondással érintett adott esetre vonatkozik. </p>
				<p>12.8. <b>Irányadó jog és nyelvi rezsim. </b> Erre a Megállapodásra a kollíziós jogi rendelkezések kivételével Kalifornia és az Egyesült Államok jogának rendelkezései irányadóak. Ezen jogi rendelkezések nem korlátozhatják azon jogszabályi rendelkezések alkalmazását, amelyektől megállapodás és az alkalmazandó törvények (például fogyasztóvédelmi törvények) útján nem lehet eltérni. Kifejezetten kizárt az Egyesült Nemzetek áruk nemzetközi adásvételi szerződéseiről szóló egyezményének alkalmazása. A Megállapodás angol nyelvű változata a hivatalos szöveg, és a Megállapodás értelmezésének azon kell alapulnia. Amennyiben ez a Megállapodás vagy a kapcsolódó bármely dokumentum vagy értesítés más nyelvre lefordításra kerül, az Önre irányadó jog eltérő rendelkezésének hiányában a Megállapodás angol nyelvű változata az irányadó. </p>
				<p>12.9. <b>Export. </b>Ön tudomásul veszi, hogy a Szoftver és Orbi eszközök kivitelére és reexportjára behozatali és kiviteli korlátozások vonatkoznak. Különösen és korlátozás nélkül a Szoftver és az Orbi eszközök nem vihetőek ki, és nem reexportálhatóak a) az Egyesült Államok embargója alatt álló országokba, vagy b) az Egyesült Államok Külföldi Vagyonellenőrzési Kincstári Hivatala különös megjelölésű állampolgárok listáján vagy az Egyesült Államok Kereskedelmi Minisztériumának tiltott személyek vagy szervezetek listáján szereplő személyeknek. Ön a Szoftver és Orbi eszközök használatával kijelenti és szavatolja, hogy i. nem tartózkodik USA-embargó hatálya alatt álló, illetve olyan országban, amelyet az USA kormánya terrorizmust támogató országként jelölt meg, és ii. nem szerepel a tiltott vagy korlátozás alatt álló személyek USA kormányzati listáján.  Általánosságban, Önnek be kell tartania az Egyesült Államok valamennyi ilyen exportkorlátozását, és a Szoftvert és az Orbi eszközöket és azok közvetlen termékeit nem viheti ki, reexportálhatja, szállíthatja vagy térítheti el olyan országba, végfelhasználásra vagy végfelhasználónak, amely/aki az Egyesült Államok exportkorlátozási törvényei és rendelkezései értelmében tilalom vagy korlátozás alá esik, kivéve, ha erre az Egyesült Államok Kereskedelmi Minisztériuma kifejezett engedélyt ad. Ön vállalja, hogy kártalanítja a NETGEAR-t és beszállítóit minden olyan igény, veszteség, felelősség vagy a NETGEAR és beszállítói által elszenvedett vagy náluk felmerült károk vonatkozásában, amelyek abból erednek, illetve azzal kapcsolatosak, hogy Ön ezt a pontot megszegte. </p>
				<p>A Szolgáltatások, a Szoftver és az Orbi eszközök nem mindenkinek, illetve nem minden országban elérhetőek.  Ha a Szolgáltatásokat, a Szoftvert, vagy az Orbi eszközöket nem olyan országból éri el, amelyben a NETGEAR a Szolgáltatásokat, a Szoftvert vagy az Orbi eszközöket támogatja, ezt saját kezdeményezésére teszi, és kizárólag Ön felel az országban irányadó helyi jogszabályok betartásáért. Ön tudomásul veszi, hogy ilyen országokban a Szolgáltatások, a Szoftver vagy az Orbi eszközök egyes funkciói nem működnek, vagy egyetlen funkciójuk sem működik, vagy az adott országban történő használatra nem alkalmasak. A jogszabályban megengedett mértékig a NETGEAR nem vállal felelősséget vagy helytállást az abból eredő károk vagy veszteségek miatt, hogy Ön a Szolgáltatásokat, a Szoftvert vagy az Orbi eszközöket a NETGEAR által nem támogatott országból éri el vagy használja. A Feltételek attól függetlenül kötelezőek Önre, hogy honnan éri el a Webhelyet vagy használja a Szolgáltatásokat. </p>
				<p>12.10. <b>Részleges érvénytelenség. </b> Ha illetékes bíróság megállapítja, hogy a Megállapodás bármely rendelkezése részben vagy egészben jogszerűtlen, semmis, érvénytelen vagy érvényesíthetetlen az irányadó jog szerint, ezt a rendelkezést vagy részrendelkezést hatálytalannak kell tekinteni abban az országban, ahol ez a bíróság található, jogszerűtlensége, érvénytelensége vagy érvényesíthetetlensége mértékéig, és úgy kell tekinteni, hogy az az irányadó jognak való megfeleléshez szükséges mértékben módosul olyan módon, hogy a felek szándékát a legmesszebbmenőkig érvényre juttassa. Az ilyen rendelkezés jogszerűtlensége, érvénytelensége vagy érvényesíthetetlensége semmilyen módon nem érinti a Megállapodás ezen vagy többi rendelkezésének jogszerűségét, érvényességét vagy érvényesíthetőségét bármely más joghatóságban. </p>
				<p>12.11. <b>Vis major. </b>Egyik fél sem tartozik helytállási kötelezettséggel a Megállapodás teljesítésének olyan elmaradásáért vagy késedelméért, amelynek oka részben vagy egészben, közvetlenül vagy közvetetten olyan vészhelyzet, késedelem, mulasztás vagy a fél ésszerű ellenőrzésén kívül álló bármely ok. Az előzőek általános jellegének korlátozása nélkül ezen okok körébe tartoznak a következők: tűzvész, robbanás, földrengés, vihar, árvíz vagy más időjárási jelenség, a közművek vagy a nyersanyagok elérhetetlensége, áramszünet, sztrájk, kizárás, alkotóelemek elérhetetlensége, a dolgozói kollektíva tevékenysége vagy más munkaügyi probléma, terrorcselekmény, zendülés, zavargás, természeti csapás vagy bűncselekmények, jogszabály, intézkedés, rendelet, exportkorlátozó szabályozás, a kormány vagy más hatóságok kihirdetett jogszabálya, rendelete, rendelkezése, utasítása, vagy érintett ország bíróságának ítélete vagy végzése (amely nem a Szerződés érintett fél általi megszegéséből ered). </p>
				<p>12.12.	<b>Értesítés.  </b>Amennyiben a NETGEAR Öntől e-mail-címet kér, felelős azért, hogy a legfrissebb e-mail-címét adja meg. Amennyiben a NETGEAR-nek legutoljára megadott e-mail-cím nem érvényes vagy bármely okból nem képes a Megállapodás szerint szükséges/megengedett értesítés Önnek történő kézbesítésére, a NETGEAR ezen értesítést közlő e-mailjének elküldése hatályos kézbesítésnek minősül. A NETGEAR nem felelő az e-mail-értesítésekre Ön vagy hálózati szolgáltatója által alkalmazott automatikus szűrés miatt. A NETGEAR-nek szóló értesítéseket a következő e-mail címre kell küldeni: support@NETGEAR.com</p>
				<p>12.13. <b>Teljes megállapodás. </b> Ezek a feltételek (ideértve az azokba hivatkozással beépített különböző többletfeltételeket) képezik a teljes megállapodást Ön és a NETGEAR között, és hatálytalanít minden korábbi, az Ön és a NETGEAR közötti szóbeli vagy írásbeli, a tárgykörre vonatkozó megállapodást, tárgyalást vagy más közleményt. </p>
				<p>12.15.	<b>Jogszabályoknak való megfelelés </b> Ön vállalja a Szolgáltatások, a Szoftver és az Orbi eszközök használata során az összes irányadó jogszabály betartását. </p>
				<p>12.16.	<b>Az elektronikus kommunikációhoz való hozzájárulás </b> A Szolgáltatások, a Szoftver és az Orbi eszközök használatával Ön hozzájárul ahhoz, hogy bizonyos elektronikus kommunikációt fogad tőlünk az Orbi eszközökről, Szoftverekről és Szolgáltatásokról, ideértve többek között a) az Ön Termék-, Szoftver-, és Szolgáltatáshasználatára, illetve a helytelen használatra vonatkozó értesítéseket, b) frissítéseket, valamint c) a alkalmazandó jognak megfelelően NETGEAR termékekkel, Szoftverekkel és Szolgáltatásokkal kapcsolatos promóciós információt és anyagokat. Bővebb információkért azzal kapcsolatban, hogy mire használjuk az Ön által megadott személyes adatokat, hogyan változtathatja meg a beállításokat, illetve hogyan iratkozhat le a promóciós anyagokról, olvassa el az az Adatvédelmi Szabályzatot. </p>
				<p>Ön vállalja, hogy az általunk az Ön részére elektronikusan küldött minden értesítés, megállapodás, közlés vagy más kommunikáció megfelel a jogi kommunikációs követelményeknek. </p> 
				<p><b>NETGEAR, Inc. </b></p>
				<p><b>350 East Plumeria Drive</b></p>
				<p><b>San Jose, CA 95134</b></p>
				<p><b>Telefonszám: </b></p>
				<p><b>408-907-8000</b></p>
				<p><b>Fax: </b></p>
				<p><b>408-907-8097</b></p>
				<p><b>VAGY</b></p>
				<p><b>NETGEAR International Limited</b></p>
				<p><b>First Floor Building 3 University Technology Centre Curraheen Road</b></p>
				<p><b>Cork, Írország</b></p>
				<p><b>Telefonszám: </b></p>
				<p><b>353 21 2333 200</b></p>
				<p><b>Fax: </b></p>
				<p><b>353 21 2333 299</b></p>	
				<p>1. revízió, hatályos: <b>2016. szeptember 14. </b></p>
			</div>
			<% tos_agree() %>
		</div>
	</div>
</div>
</form>
</body>

</html>
