<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% cfg_set("from_setting","1") %>		
<% hijack_title() %>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
<script language="javascript" type="text/javascript" src="script/brs_hijack.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_04_B_ppptp_pppoe_or_other_checkNet.js"></script>
<% hijack_language() %>
<script language="javascript" type="text/javascript">
ping_result = "<% hijack_apply_result("/tmp/ping_result") %>";
if(getTop(window).dsl_enable_flag == 1)
{
	ping_ip_result = "<% hijack_apply_ip_result("/tmp/ping_ip_result") %>";
	ping_gate_result = "<% hijack_apply_ip_result("/tmp/ping_gateway_result") %>";
}
count = 1;
</script>

</head>

<body>
<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>

<div class="wizard_content_div">

	<div class="wizard_words_div">
		<h1><!--apply_connection--></h1>
			
		<p><!--plz_waite_apply_connection--></p>
		
		<div id="applySettings_wait" class="waiting_img_div" align="center">
			<img src="image/wait30.gif" />
		</div>

	</div>

</div>

</form>
<iframe name="ping_result_frame" src="BRS_ping_result_ppp.html" allowtransparency="true" scrolling="no" frameborder="0" style="display:none"></iframe>
</body>

</html>


