<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script language="javascript" type="text/javascript">
parent.language_is_changing="<% cat_file("/tmp/lang_is_changeing") %>";
setTimeout('location.href="changing_language.htm";', 1000);
</script>
</head>
<body bgcolor="#ffffff" >
</body>
</html>
