<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD>
<meta http-equiv=content-type content='text/html; charset=UTF-8'>
<link rel="stylesheet" href="style/advanced.css">
</HEAD>

<BODY onLoad="setFooterClass();" bgcolor=#ffffff>
<div id="top" class='standalone-top'>
<div id="logo"> </div>
<% top_hardware_version() %>
<div id="firm_version" name="firm_version">$router_firmware_version <br /><% cat_file("/firmware_version") %></div>
</div>
<div id="container" class="container_center">
<div class="single_middle">
	<p>The Guest password has been changed.</p>
</div>




</div>
</body>
</html>

