<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=<% lang_charset() %>" />
<script language="javascript" type="text/javascript" src="/funcs.js"></script>

<% hijack_language() %>
<script language="javascript" type="text/javascript">
var jp_multiPPPoE = "<% cfg_get("jp_multiPPPoE") %>";
var change_to_German = "<% cfg_get("change_to_German") %>";
var language_change_status="<% lang_change_status() %>";
var netgear_region="<% get_firmware_region() %>";
var gr_flag = (netgear_region.toUpperCase() == "GR" || ( (netgear_region.toUpperCase() == "" || netgear_region.toUpperCase()=="WW")&& change_to_German == "1"))? 1:0;
function isCDLESS()
{
        var flag = getTop(window).location.href.indexOf("BRS_index.htm") > -1 ;
        return flag;
}

function isWIZARD()
{
        var flag = getTop(window).location.href.indexOf("adv_index.htm") != -1&& getTop(window).setup_wizard_flag == 1;
        return flag;
}

function toInternet()
{
        getTop(window).location.href = "to_internet_no_auth.htm";
}

function getText(str1, str2)
{
        if ( typeof(str1) != "undefined" && (isCDLESS() || isWIZARD()))
                return str1;
        else
                return str2;
}
function goto_home_page()
{
        if( getTop(window).location.href.indexOf("adv_index.htm") != -1 ){
                getTop(window).location.href="adv_index.htm";
        }
        else if ( getTop(window).location.href.indexOf("BRS_index.htm") > -1 ){
                toInternet();
        }
        else{
                getTop(window).location.href="index.htm";
        }
}

function loadvalue()
{
	if(language_change_status == "1") // 1:No Internet Connection
	{
		if(gr_flag)
			alert(getText(bh_ml_noInternet, "$ml_noInternet"));
		else if(jp_multiPPPoE!="1")
			alert(getText(bh_auto_upg_nowan_head, "$auto_upg_nowan_head"));
	}
	else if(language_change_status == "2") // 2:download failed
	{
		alert(getText(bh_ml_failDownload, "$ml_failDownload"));
	}

	goto_home_page();
}
</script>
</head>
<body bgcolor="#ffffff" onload="loadvalue()">
</body>
</html>
