<% http_header("style/advanced.css") %>
<% change_bg() %>
<body>
<div id="top" class='standalone-top'>
<div id="logo"> </div>
<% top_hardware_version() %>
<div id="firm_version" name="firm_version">$router_firmware_version <br /><% cat_file("/firmware_version") %></div>
</div>

<div id="container" class="container_center debug_container_center">
	<iframe name="formframe" id="formframe" allowtransparency="true" height="100%" width="100%" frameborder="0" src="debug_run.htm">
	</iframe>
</div>

</body>
</html>
