<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><link rel='stylesheet' href='style/form.css'>
<title>NETGEAR Router <% cat_file("/module_name") %> </title><meta http-equiv=content-type content='text/html; charset=UTF-8'>
<meta content="MSHTML 6.00.2800.1141" name="GENERATOR"></head>
<% change_bg() %>
<BODY>
<BR>WAN connection type: <% conn_name() %>
<BR>Product model name: <% cat_file("/module_name") %>
</BODY>
</html>
