<% http_header("style/form.css", "/funcs.js") %>
<META http-equiv="refresh" content="5; url=<% cat_file("/tmp/p_ft") %>">
<body>
<div class="failure">
<% table_header("$failure_head") %>
<tr class='el-show'><td colSpan="2"><h1>$failure_head</h1></td></tr>
$bluebar

<TR>
<script>
/* to fix bug 26235 */
var filename = "<% cat_file("/tmp/p_ft") %>";
if( filename.indexOf("WLG_adv") != -1 )
	document.write("<TD nowrap align=center><B>$port_edit</B></TD>");
else
	document.write("<TD nowrap align=center><B>$select_serv_edit</B></TD>");
</script>
</TR>
$bluebar
<TR>
	<TD nowrap align=center>$few_second</TD>
</TR> 
</TABLE>
</div>
</BODY>
</HTML>
