<% http_header("style/form.css", "/funcs.js", "/AccessControl.js") %>
<% body_header("_access_add", "access_control.htm", "edit_acc") %>
<div class="page_title">$acc_edit_allow</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<script>
		var master="<% cfg_get("http_loginname") %>";
		if( master == "admin" )
			document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="reset" name="Cancel" value="$cancel_mark" onClick=\'location.href="access_control.htm";\'>&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_acc_add(document.forms[0],\'edit_connect_device\');"></TD>');
		else
			document.write('<TD nowrap colspan=2 align=center><input class="cancel1_bt" type="reset" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled></TD>');
	</script>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">
<% table_header() %>
<% refresh_timestamp("editnum_connect_device") %>
<script>
<%list_access_control_device()%>

var select_editnum=<%cfg_get("acc_connect_device_editnum")%>;
select_editnum=select_editnum-1;
var access_mac = "<% cfg_get("wan_remote_mac") %>";
var apply_flag = 0;

function loadvalue()
{
        var cf=document.forms[0];
        var str = eval ( 'access_control_device' + select_editnum);
	var str_name=eval('access_control_device_name'+select_editnum);
        var each_info=str.split('*');
        cf.dev_name.value=str_name.replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
        cf.mac_addr.value=each_info[2];
	cf.allow_or_block.value=each_info[0];
	cf.hidden_edit_mac.value=cf.mac_addr.value;
}

window.onunload = function leavepage(){if(apply_flag == 0) getTop(window).back_flag=1;};
</script>
<input type="hidden" name="hidden_acc_edit_type" value="connect_device"/>
<input type="hidden" name="hidden_edit_mac" value=""/>

<TR>
	<TD nowrap>$acc_control</TD>
	<TD>
		<select name="allow_or_block" id="allow_or_block_connect_device">
			<option name="Allow_device" value="Allowed">$allow_mark</option>
			<option name="Block_device" value="Blocked">$block_mark</option>
		</select>
	</TD>
</TR>
<TR>
        <TD nowrap>$info_mark_mac</TD>
        <TD nowrap>
                <input type="text" value="" name="mac_addr" maxlength="17" size="20" onKeyPress="return getkey('mac',event)" disabled>
        </TD>
</TR>
<TR>
        <TD nowrap>$lan_mark_name</TD>
        <TD nowrap><input type="text" name="dev_name" maxLength="15" size="16">
        </TD>
</TR>

$bluebar
</TABLE>
</div>
<!--% help_box("0","_STR_routes") %-->
</FORM>
</BODY>
</HTML>

