<% http_header("style/form.css", "/funcs.js", "/AccessControl.js") %>
<% body_header("_access_add", "access_control.htm", "edit_acc") %>
<div class="page_title">$acc_edit_block</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<script>
		var master="<% cfg_get("http_loginname") %>";
		if( master == "admin" )
   			document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick=\'location.href="access_control.htm";\'>&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="return check_acc_add(document.forms[0],\'edit_block\');"></TD>');		
		else
   			document.write('<TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD>');		
	</script>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">
<% table_header() %>
<% refresh_timestamp("editnum_acc_block") %>
<script>
<% list_access_no_connect_devices() %>
<% list_access_control_device() %>

var select_editnum=<%cfg_get("acc_block_editnum")%>;
select_editnum=select_editnum-1;
var apply_flag = 0;
function loadvalue()
{
        var cf=document.forms[0];
        var str = eval ( 'blocked_no_connect' + select_editnum );
        var each_info=str.split(' ');
        cf.dev_name.value=each_info[0].replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
        cf.mac_addr.value=each_info[1];
	cf.hidden_edit_mac.value = cf.mac_addr.value;
	cf.allow_or_block.value="Blocked";
}

window.onunload = function leavepage(){if(apply_flag == 0) getTop(window).back_flag=1;};
</script>
<input type="hidden" name="hidden_acc_edit_type" value="block"/>
<input type="hidden" name="hidden_edit_mac" value=""/>

<TR>
	<TD nowrap>$acc_control</TD>
	<TD>
		<select name="allow_or_block" id="allow_or_block_device">
			<option name="Allow_device" value="Allowed">Allow</option>
			<option name="Block_device" value="Blocked">Block</option>
		</select>
	</TD>
</TR>
<TR>
	<TD nowrap>$info_mark_mac</TD>
	<TD nowrap>
		<input type="text" value="" name="mac_addr" id="mac_addr" maxlength="17" size="20" onKeyPress="return getkey('mac',event)">
	</TD>
</TR>
<TR>
	<TD nowrap>$lan_mark_name</TD>
	<TD nowrap><input type="text" name="dev_name" id="dev_name" maxLength="15" size="16">
	</TD>
</TR>

$bluebar
</TABLE>
</div>
<!--% help_box("0","_STR_routes") %-->
</FORM>
</BODY>
</HTML>
