<% http_header("style/form.css", "/funcs.js", "/forwarding.js") %>
<% body_header("_FW_forward_range", "forwarding.htm", "forwarding_edit_range") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$forward_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
    document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'forwarding.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="check_forwarding_add_range(document.forms[0],\'edit\')"></TD></TR>');
else
	document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD></TR>');
</script>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% refresh_timestamp("forwarding_editnum") %>
<script>
function portrange_value()
{
        var cf=document.forms[0];
        if(cf.same_range.checked == true){
                cf.internal_port.disabled= true;
                cf.internal_port.value=cf.exter_port.value;
                getObj('forward_inter_port').color = 'gray';
                getObj('hint_message1').color = 'gray';
        }
        else{
                cf.internal_port.disabled= false;
                getObj('forward_inter_port').color = 'black';
                getObj('hint_message1').color = 'black';
        }
}

<% forward_items_xss() %>
<% trigger_items_xss() %>
<% upnp_items() %>
var vpn_type="<% cfg_get("vpn_serv_type") %>";
var vpn_port="<% cfg_get("vpn_serv_port") %>";
var vpn_tun_type="<% cfg_get("tun_vpn_serv_type") %>";
var vpn_tun_port="<% cfg_get("tun_vpn_serv_port") %>";
var endis_ntp="<% cfg_get("endis_ntp") %>";
var endis_upnp="<% cfg_get("upnp_enable") %>";
var select_editnum="<% cfg_get("portforward_editnum") %>";
var edit_num="<% cfg_get("forward_edit_num") %>";
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";
var remote_port="<% cfg_get("remote_port") %>";
var info_get_wanproto="<% cfg_get("wan_proto") %>";
var endis_remote="<% cfg_get("remote_endis") %>";

<% check_ftp() %>
var show_enableHTTP="<% cfg_get("usb_enableHTTP") %>";
var show_enableHvia="<% cfg_get("usb_enableHvia") %>";
var show_HTTP_via_port="<% cfg_get("usb_HTTP_via_port") %>";
var show_enableFTP="<% cfg_get("usb_enableFTP") %>";
var show_enableFvia="<% cfg_get("usb_enableFvia") %>";
var show_FTP_via_port="<% cfg_get("usb_FTP_via_port") %>";
var usb_router_flag=parent.usb_router_flag;

function loadvalue()
{
	var cf=document.forms[0];
	var ext_port="";
	var int_port="";
	for(i=0;i<edit_num;i++)
	{
		var str = eval ( 'forwardingArray' + (parseInt(select_editnum)+ i) );
		var each_info=str.split(' ');
		if(i==0)
		{	
			cf.portname.value=each_info[0].replace(/&harr;/g," ").replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
			cf.srvtype.value=each_info[1];
			cf.service_ip.value=each_info[6];
			var ip_array=each_info[6].split('.');
			cf.server_ip1.value=ip_array[0];
			cf.server_ip2.value=ip_array[1];
			cf.server_ip3.value=ip_array[2];
			cf.server_ip4.value=ip_array[3];
			if(each_info[8] == "1")
				cf.same_range.checked = true;
			else
				cf.same_range.checked = false;
			if(each_info[2]==each_info[3])
				ext_port=each_info[2];
			else
				ext_port=each_info[2]+'-'+each_info[3];
			if(each_info[4]==each_info[5])
				int_port=each_info[4];
			else
				int_port=each_info[4]+'-'+each_info[5];
		}
		else
		{
			if(each_info[7] == "0")
			{
				if(each_info[2]==each_info[3])
					ext_port=ext_port+','+' '+each_info[2];
				else
					ext_port=ext_port+','+' '+each_info[2]+'-'+each_info[3];
				if(each_info[4]==each_info[5])
					int_port=int_port+','+' '+each_info[4];
				else
					int_port=int_port+','+' '+each_info[4]+'-'+each_info[5];
			}
		}		
	}
	cf.exter_port.value=ext_port;
	cf.internal_port.value=int_port;
	portrange_value();
}
var attach_device_list="<% echo_file("/tmp/netscan/attach_device") %>";

var attach_array=attach_device_list.split(' @#$$&*! ');
var attach_ip_array = new Array();
var attach_mac_array = new Array();
var attach_name_array = new Array();
var p=0;

<% list_attach_device()  %>
<% list_attach_name() %>

if(attach_device_list != "")
{
        for(i=0;i<attach_array.length;i++)
        {
                var each_info=attach_array[i].split(' ');
                if(each_info.length>2)
                {
                        attach_ip_array[p]=each_info[0];
                        attach_mac_array[p]=each_info[1];
                        if (each_info[2].length>0)
                        {
                                attach_name_array[p]=each_info[2];
                        }
                        else
                        {
                                attach_name_array[p]="----";
                        }
                }
                else
                {
                        attach_ip_array[p]=each_info[0];
                        attach_mac_array[p]=each_info[1];
                        attach_name_array[p]="----";
                }
                if(attach_ip_array[p] == "<unknown>")
                {
                        attach_ip_array[p]="&lt;$unknown_mark&gt;"
                }
                if(attach_mac_array[p] == "<unknown>")
                {
                        attach_mac_array[p]="&lt;$unknown_mark&gt;"
                }

		if(attach_name_array[p] == "<unknown>" || attach_name_array[p] == "&lt;unknown&gt;" || attach_name_array[p] == "----" )
                {
                        for( t=0; t<deviceIP_name_num; t++)
                        {
                                var dev_name = eval ( 'deviceIP_name' + t );
                                var dev_name_array = dev_name.split(' ');
                                if( attach_ip_array[p] == dev_name_array[0] )
                                {
                                        attach_name_array[p] = dev_name_array[1];
                                }
                        }
                }

                if( attach_mac_array[p].toUpperCase() == "<% cfg_get("macAddr") %>".toUpperCase().replace(/-/g,":")&& (attach_name_array[p] == "<unknown>" || attach_name_array[p] == "&lt;unknown&gt;" || attach_name_array[p] == "----" ) )
                {
                        attach_name_array[p] = "<% cfg_get("client_name") %>";
                }

                if(attach_name_array[p] == "<unknown>") 
                {
                        attach_name_array[p]="&lt;$unknown_mark&gt;"
                }
                p++;
        }
}
</script>
<input type="hidden" name="serflag">
<input type="hidden" name="service_ip">
<input type="hidden" name="hidden_portname">
<input type="hidden" name="hidden_port_range">
<input type="hidden" name="hidden_port_int_start">
<input type="hidden" name="hidden_port_int_end">
<input type="hidden" name="port_start">
<input type="hidden" name="port_end">
<% table_header() %>
<TR>
	<TD nowrap>$forward_service_name:</TD>
	<TD nowrap>
	<input type="text" name="portname" id="port_name" size="20" maxlength="30">
	</TD>
</TR>
<TR>
	<TD nowrap>$block_ser_setup_pro:</TD>	
	<TD nowrap>
	<select name="srvtype" id="srvtype" size="1" >
		<option value="TCP/UDP">$block_ser_setup_tcp_udp</option>
		<option value="TCP">$block_ser_setup_tcp</option>
		<option value="UDP">$block_ser_setup_udp</option>
	</select>
	</TD>
</TR>
<TR>
	<TD nowrap>$ports_external_range:</TD>
	<TD nowrap>
	<input type="text" name="exter_port" id="exter_port" size="20" maxlength="256" onMouseOut="int_port_value()" onKeyUp="int_port_value()">
	</TD>
</TR>
<TR><TD nowrap colspan=2>$ports_range_description</TD></TR>
<TR>
	<TD nowrap>
	<input type="checkbox" name="same_range" id="same_range" value="same_range" onClick="portrange_value()"><label for="same_range">$forward_same_port_range</label>
	</TD>
</TR>
<TR id="forward_inter_port" >
        <TD nowrap>$ports_internal_range:</TD>
        <TD  nowrap>
        <input id="internal_port" type="text" name="internal_port" size="20" maxlength="256" disabled="disabled">
        </TD>
</TR>
<TR id="hint_message1"><TD nowrap colspan=2>$ports_range_description</TD></TR>
<TR>
	<TD nowrap class="ip-label-td">$forward_internal_ip_addr:</TD>
	<TD nowrap class="tdright ip-input-row">
	<input type="text" name="server_ip1" id="lan_ip1" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="server_ip2" id="lan_ip2" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="server_ip3" id="lan_ip3" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="server_ip4" id="lan_ip4" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
<TD></TD>
<TD nowrap><B>$forward_or</B> $forward_select_attach_device</TD>
</TR>
<TR>
<TD></TD>
<TD nowrap colspan=2>
	<TABLE id="attach_device" class="table1" border=1 cellpadding=2 cellspacing=0 width=100%>
	<TR>
		<TD nowrap align=center><span class="subhead"> &nbsp;</span></TD>
		<TD nowrap align=center><span class="subhead">$lan_mark_ip</span></TD>
		<TD nowrap align=center><span class="subhead">$lan_mark_name</span></TD>
	</TR>
<script>
var num = 0;
var same_flag = 0;
	for(i=0;i<attach_array.length;i++)
	{
		document.write('<TR><TD nowrap align=center><input type="radio" name="MacSelect" id="mac_select'+(i+1)+'" value="'+num+'" onclick="ipaddr_value()"><label for="mac_select'+(i+1)+'" ></label></TD><TD nowrap align=center>'+attach_ip_array[i]+'</TD><TD nowrap align=center>'+attach_name_array[i]+'</TD></TR>');
		num = num +1;
	}

function ipaddr_value()
{
	var cf=document.forms[0];
	var select_num;
	if(attach_array.length == 1)
	{
		if(cf.MacSelect.checked == true )
		{
			select_num=parseInt(cf.MacSelect.value);
			var ipaddr_array=attach_ip_array[select_num].split('.');
			cf.server_ip1.value=ipaddr_array[0];
			cf.server_ip2.value=ipaddr_array[1];
			cf.server_ip3.value=ipaddr_array[2];
			cf.server_ip4.value=ipaddr_array[3];
		}
	}else
	{
		for(i=0;i<attach_array.length;i++)
		{
			if(cf.MacSelect[i].checked == true )
			{
				select_num=parseInt(cf.MacSelect[i].value);
				var ipaddr_array=attach_ip_array[select_num].split('.');
				cf.server_ip1.value=ipaddr_array[0];
				cf.server_ip2.value=ipaddr_array[1];
				cf.server_ip3.value=ipaddr_array[2];
				cf.server_ip4.value=ipaddr_array[3];
			}
		}
	}
}
</script>
</TABLE>
</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("1","_FW_forward_range") %>
</FORM>
</BODY>
</HTML>
