<% http_header("style/form.css", "/funcs.js", "/logs.js") %>
<% body_header("_CF_log", "FW_log.htm", "logs") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$logs_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
        <input class="common_bt" type="button" name="action_Refresh" id="action_refresh" value='$refresh_mark' onClick="return refresh_log(document.forms[0]);">&nbsp;&nbsp;
	<script>
		var have_email_flag=parent.have_email_flag;
		var gui_region="<% cfg_get("GUI_Region") %>";
		var master="<% cfg_get("http_loginname") %>";
		if(gui_region == "Greek")
		{
			if( master == "admin" )
			{
				document.write('<input class="common_big_bt" type="button" id="action_clear" name="action_Clear" value="$clear_log" onclick="return check_logs_clear(document.forms[0])">&nbsp;&nbsp;');
				document.write('<input class="common_big_bt" type="button" id="action_send" name="action_Send" value="$send_log" onclick="return check_logs_send(document.forms[0])">&nbsp;&nbsp;');
			}
			else
			{
				document.write('<input class="common_big_gray_bt" type="button" id="action_clear" name="action_Clear" value="$clear_log" disabled>&nbsp;&nbsp;');
				document.write('<input class="common_big_gray_bt" type="button" id="action_send" name="action_Send" value="$send_log" disabled>&nbsp;&nbsp;');
			}
		}
		else
		{
			if( master == "admin" )
			{
				document.write('<input class="common_bt" type="button" id="action_clear" name="action_Clear" value="$clear_log" onclick="return check_logs_clear(document.forms[0])">&nbsp;&nbsp;');
				document.write('<input class="common_bt" type="button" id="action_send" name="action_Send" value="$send_log" onclick="return check_logs_send(document.forms[0])">&nbsp;&nbsp;');
			}
			else
			{
				document.write('<input class="common1_bt" type="button" id="action_clear" name="action_Clear" value="$clear_log" disabled>&nbsp;&nbsp;');
				document.write('<input class="common1_bt" type="button" id="action_send" name="action_Send" value="$send_log" disabled>&nbsp;&nbsp;');
			}
		}
		if( master == "admin" )
			document.write('<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="return check_log_apply(document.forms[0])">');
		else
			document.write('<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled>');
		if(have_email_flag == 1)
			document.getElementById("action_send").style.display = "";
		else
			document.getElementById("action_send").style.display = "none";
	</script>
        </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %> 

<script language="javascript">
var email_get_notify="<% cfg_get("email_notify") %>";
var log_get_site="<% cfg_get("log_allow_sites") %>";
var log_get_block="<% cfg_get("log_block_sites_services") %>";
var log_get_conn="<% cfg_get("log_conn_web_interface") %>";
var log_get_router="<% cfg_get("log_router_operation") %>";
var log_get_dosport="<% cfg_get("log_dos_attacks_port_scans") %>";
var log_get_port="<% cfg_get("log_port_firwarding_trigering") %>";
var log_get_wire="<% cfg_get("log_wire_access") %>";
//bug 24992:add two checkbox
var log_get_conn_reset="<% cfg_get("log_internet_conn_reset") %>";
var log_get_wire_sched="<% cfg_get("log_wire_signal_sched") %>";
var cur_time="<% cur_time() %>";
cur_time=change_cur_time(cur_time,gui_region);
<% save_timestamp("logs", "logs_refresh", "logs_clear","logs_send") %>
var ts='<% cfg_get("logs") %>'
var logs_checkbox_flag = parent.logs_checkbox_flag;
var netgear_region=parent.netgear_region;
var auto_conn_flag=parent.auto_conn_flag;
var autoconn_flag=(auto_conn_flag == 1 && ((gui_region == "German" &&  (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "GR"))? 1 : 0;
var readyshare_flag=parent.usb_router_flag;
var mobile_conn_flag=parent.mobile_conn_flag;
var log_get_readyshare="<% cfg_get("log_readyshare") %>";
var log_get_mobile_conn="<% cfg_get("log_mobile_conn") %>";
var log_get_vpn_head="<% cfg_get("log_vpn_head") %>";
var log_get_plex="<% cfg_get("log_plex") %>";
var log_get_amazon="<% cfg_get("log_amazon") %>";
var log_get_sfp="<% cfg_get("log_sfp") %>";
var log_get_lacp="<% cfg_get("log_lag") %>";
var log_get_dumaos="<% cfg_get("log_dumaos_enabled") %>";
var have_wifi_flag=parent.have_wifi_flag;
var vpn_show_flag=parent.vpn_show_flag;
var port_forwarding_flag=parent.port_forwarding_flag;
var port_triggering_flag=parent.port_triggering_flag;
var block_sites_flag=parent.block_sites_flag;
var have_plex_flag=parent.have_plex_flag;
var amazon_cloud_flag=parent.amazon_cloud_flag;
var have_lacp_flag=parent.have_lacp_flag;
var have_sfp_flag=parent.have_sfp_flag;

function checkbox_show()
{
	if(logs_checkbox_flag == 1)
	{
		document.getElementById("logs_3").style.display="";
		document.getElementById("logs_4").style.display="";
		document.getElementById("logs_5").style.display="";
		document.getElementById("logs_6").style.display="";
		document.getElementById("logs_10").style.display="";
		
		if(block_sites_flag == 1)
		{
			document.getElementById("logs_1").style.display="";
			document.getElementById("logs_2").style.display="";
		}
		else
		{
			document.getElementById("logs_1").style.display="none";
			document.getElementById("logs_2").style.display="none";
		}
		if( autoconn_flag == 1 )
			document.getElementById("logs_8").style.display="";
		else
			document.getElementById("logs_8").style.display="none";
		if( readyshare_flag == 1 )
			document.getElementById("logs_11").style.display="";
		else
			document.getElementById("logs_11").style.display="none";
		if( mobile_conn_flag == 1 )
			document.getElementById("logs_12").style.display="";
		else
			document.getElementById("logs_12").style.display="none";
		if( have_wifi_flag == 1)
		{
			document.getElementById("logs_7").style.display="";
			document.getElementById("logs_9").style.display="";
		}
		else
		{
			document.getElementById("logs_7").style.display="none";
			document.getElementById("logs_9").style.display="none";
		}
		if( vpn_show_flag == 1)
			document.getElementById("logs_13").style.display="";
		else
			document.getElementById("logs_13").style.display="none"
		if(have_plex_flag != "1")
			document.getElementById("logs_14").style.display="none";
		if(amazon_cloud_flag != "1")
			document.getElementById("logs_15").style.display="none";
		if(have_sfp_flag != "1")
			document.getElementById("logs_16").style.display="none";
		if(have_lacp_flag != "1")
			document.getElementById("logs_17").style.display="none";
		if(parent.game_router_flag ==1)
			document.getElementById("logs_18").style.display="";
		else
			document.getElementById("logs_18").style.display="none";
	}
	else
	{
		document.getElementById("logs_1").style.display="none";
		document.getElementById("logs_2").style.display="none";
		document.getElementById("logs_3").style.display="none";
		document.getElementById("logs_4").style.display="none";
		document.getElementById("logs_5").style.display="none";
		document.getElementById("logs_6").style.display="none";
		document.getElementById("logs_7").style.display="none";
		document.getElementById("logs_8").style.display="none";
		document.getElementById("logs_9").style.display="none";
		document.getElementById("logs_10").style.display="none";
		document.getElementById("logs_11").style.display="none";
		document.getElementById("logs_12").style.display="none";
		document.getElementById("logs_13").style.display="none";
		document.getElementById("logs_14").style.display="none";
		document.getElementById("logs_15").style.display="none";
		document.getElementById("logs_16").style.display="none";
		document.getElementById("logs_17").style.display="none";
		document.getElementById("logs_18").style.display="none";
	}
}

function loadvalue()
{
	var form=document.forms[0];
	
	if(log_get_site=='1')
		form.log_site.checked = true;
	else
		form.log_site.checked = false;
	if(log_get_block=='1')
		form.log_block.checked = true;
	else
		form.log_block.checked = false;
	if(log_get_conn=='1')
		form.log_conn.checked = true;
	else
		form.log_conn.checked = false;
	if(log_get_router=='1')
		form.log_router.checked = true;
	else
		form.log_router.checked = false;
	if(log_get_dosport=='1')
		form.log_dosport.checked = true;
	else
		form.log_dosport.checked = false;
	if(log_get_port=='1')
		form.log_port.checked = true;
	else
		form.log_port.checked = false;
	if(log_get_wire=='1')
		form.log_wire.checked = true;
	else
		form.log_wire.checked = false;
	if(log_get_conn_reset=='1')
		form.log_conn_reset.checked = true;
	else
		form.log_conn_reset.checked = false;
	if(log_get_wire_sched=='1')
		form.log_wire_sched.checked = true;
	else
		form.log_wire_sched.checked = false;
	if(log_get_readyshare=='1')
		form.log_readyshare.checked = true;
	else
		form.log_readyshare.checked = false;
	if(log_get_mobile_conn=='1')
		form.log_mobile_conn.checked = true;
	else
		form.log_mobile_conn.checked = false;
	if(log_get_vpn_head=='1')
		form.log_vpn_head.checked = true;
	else
		form.log_vpn_head.checked = false;
	if(log_get_plex == "1")
		form.log_plex.checked = true;
	if(log_get_amazon == "1")
		form.log_amazon.checked = true;
	if(log_get_sfp == "1")
		form.log_sfp.checked = true;
	if(log_get_lacp == "1")
		form.log_lacp.checked = true;
	if(log_get_dumaos=='1')
		form.log_dumaos.checked = true;
	else
		form.log_dumaos.checked = false;
}
</script>
<input type="hidden" name="hidden_log_site">
<input type="hidden" name="hidden_log_block">
<input type="hidden" name="hidden_log_conn">
<input type="hidden" name="hidden_log_router">
<input type="hidden" name="hidden_log_dosport">
<input type="hidden" name="hidden_log_port">
<input type="hidden" name="hidden_log_wire">
<input type="hidden" name="hidden_log_conn_reset">
<input type="hidden" name="hidden_log_wire_sched">
<input type="hidden" name="hidden_log_readyshare">
<input type="hidden" name="hidden_log_mobile_conn">
<input type="hidden" name="hidden_log_vpn_head">
<input type="hidden" name="hidden_log_plex">
<input type="hidden" name="hidden_log_amazon">
<input type="hidden" name="hidden_log_sfp">
<input type="hidden" name="hidden_log_lacp">
<input type="hidden" name="hidden_log_dumaos">
<TR>
	<TD nowrap colspan=2 align=center class="btm0"><B id="current_time">$ntp_curtime: <script>document.write(cur_time)</script></B></TD>
</TR>
<TR>
	<TD nowrap colspan=2 align=center class="top0">
	<pre><textarea class="h200" style="font-size:14px;overflow-y:auto;" NAME="log_detail" ROWS="20" id="log_detail" cols="120" WRAP="vitural" readonly><% log_message() %></textarea>
	</pre>
	</TD>
</TR>
$bluebar
<TR id=logs_1>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_site" id="log_asites" value="1"><label for="log_asites">$logs_access_sites</label>
	</TD>
</TR>
<TR id=logs_2>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_block" id="log_block" value="1"><label for="log_block">$logs_access_block_sites_services</label>
	</TD>
</TR>
<TR id=logs_3>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_conn" id="log_conn" value="1"><label for="log_conn">$logs_conn_web_interface   </label>
	</TD>
</TR>
<TR id=logs_4>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_router" id="log_router" value="1"><label for="log_router">$logs_router_operation</label>
	</TD>
</TR>
<TR id=logs_5>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_dosport" id="log_dosport" value="1"><label for="log_dosport">$logs_dos_attacks_port_scans</label>
	</TD>
</TR>
<TR id=logs_6>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_port" id="log_fwd" value="1">	<label for="log_fwd">
	<script>
	if(port_forwarding_flag ==1 && port_triggering_flag ==1)
		document.write("$logs_port_forward_trigger");
	else if(port_forwarding_flag ==1 && port_triggering_flag !=1)
		document.write("$port_forward");
	else if(port_forwarding_flag !=1 && port_triggering_flag ==1)
		document.write("$port_trigger");
	</script>
	</label>
	</TD>
</TR>
<TR id=logs_7>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_wire" id="log_wlan" value="1"><label for="log_wlan">$logs_wireless_access</label>
	</TD>
</TR>
<TR id=logs_8>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_conn_reset" value="1" id="log_conn_reset_ch"><label for="log_conn_reset_ch">$logs_internet_conn_reset</label>
	</TD>
</TR>
<TR id=logs_9>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_wire_sched" value="1" id="log_wire_sched_ch"><label for= "log_wire_sched_ch">$adva_signal_schedule</label>
	</TD>
</TR>
<TR id=logs_11>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_readyshare" value="1" id="log_readyshare_ch"><label for="log_readyshare_ch">$readyshare</label>
	</TD>
</TR>
<TR id=logs_12>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_mobile_conn" value="1" id="log_mobile_conn_ch"><label for="log_mobile_conn_ch">$readyshare_mobile_conn</label>
	</TD>
</TR>
<TR id=logs_13>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_vpn_head" value="1" id="log_vpn_head_ch"><label for="log_vpn_head_ch">$vpn_head</label>
	</TD>
</TR>
<TR id=logs_14>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_plex" value="1" id="log_plex_ch"><label for="log_plex_ch">$plex_log_option</label>
	</TD>
</TR>
<TR id=logs_15>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_amazon" value="1" id="log_amazon_ch"><label for="log_amazon_ch">$amz_log_option</label>
	</TD>
</TR>
<TR id=logs_16>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_sfp" id="log_sfp" value="1"><label for="log_sfp">$sfp_log</label>
	</TD>
</TR>
<TR id=logs_17>
	<TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_lacp" id="log_lacp" value="1"><label for="log_lacp">$link_aggregation_log</label>
	</TD>
</TR>
<TR id=logs_18>
        <TD nowrap colspan=2 class="btm0">
	<input type="checkbox" name="log_dumaos" value="1" id="log_dumaos_ch"><label for="log_dumaos_ch">DumaOS</label>
	</TD>
</TR>

<TR id=logs_10>
	<TD colspan=2><img src=/liteblue.gif width=100% height=12></TD>
</TR>
</TABLE>
</div>
<% help_box("0","_CF_log") %>
</form>
<script>
	checkbox_show();
</script>
</body>
</html>
