<% http_header("style/form.css", "/funcs.js", "/schedule.js") %>
<% body_header("_FW_schedule", "FW_schedule.htm", "schedule") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title" name="Schedule" id="security_schedule">$schedule_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" id="cancel" name="Cancel" type="button" value="$cancel_mark" onClick="location.href=\'/FW_schedule.htm\';return false;">&nbsp;&nbsp;<input class="apply_bt" id="apply" name="Apply" type="button" value="$apply_mark" onClick="return check_schedule_apply(document.forms[0])"></TD>');
else
	document.write(' <TD nowrap colspan=2 align=center><input class="cancel1_bt" name="Cancel" id="cancel" type="button" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" id="apply" name="Apply" type="button" value="$apply_mark" disabled></TD>');
       
</script>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
var gui_region="<% cfg_get("GUI_Region") %>";
var netgear_region=getTop(window).netgear_region;

var enable_ap_flag="<% cfg_get("ap_mode") %>"; //for bug 30286 add this
var enable_extender_flag="<% cfg_get("extender_mode") %>";
var is_jp_version=((gui_region == "Japanese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW")) || netgear_region.toUpperCase() == "JP")? 1 : 0;
function loadvalue()
{
	var cf=document.forms[0];
	if(is_jp_version == 1)
	{
		document.getElementById("multipppoe").style.display = "";
		var enable_multipppoe_sche="<% cfg_get("enable_multipppoe_sche") %>";
		if(enable_multipppoe_sche == "0")
			cf.session[0].checked = true;
		else
			cf.session[1].checked = true;
	}
	else
		document.getElementById("multipppoe").style.display = "none";

	var day_to_block='<% cfg_get("schedule_days_to_block") %>';
	if (day_to_block != '')
	{
		if( day_to_block == 'everyday' )
			cf.checkboxNameAll.checked = true;
		else
		{
			var day_array=day_to_block.split(',');
			for(i=0;i<day_array.length;i++)
			{
				if(day_array[i] == "0")
					cf.checkboxNameSun.checked = true;
				else if(day_array[i] == "1")
					cf.checkboxNameMon.checked = true;
				else if(day_array[i] == "2")					
					cf.checkboxNameTue.checked = true;
				else if(day_array[i] == "3")			
					cf.checkboxNameWed.checked = true;
				else if(day_array[i] == "4")			
					cf.checkboxNameThu.checked = true;
				else if(day_array[i] == "5")			
					cf.checkboxNameFri.checked = true;
				else if(day_array[i] == "6")			
					cf.checkboxNameSat.checked = true;
			}
		}
	}
	var schedule_get_all_day='<% cfg_get("schedule_all_day") %>';
	if(schedule_get_all_day == '1')
	{
		cf.checkboxNamehours.checked =true;
		ClearData1();
	}
	var schedule_get_start_block_time='<% cfg_get("schedule_start_block_time") %>';
	var schedule_get_end_block_time='<% cfg_get("hidden_schedule_end_block_time") %>';
	if(schedule_get_start_block_time!='')
	{	
		var start=schedule_get_start_block_time;
		start_array=start.split(':');
		cf.start_hour.value=start_array[0];
		cf.start_minute.value=start_array[1];
	}
	if(schedule_get_end_block_time!='')
	{
		var end=schedule_get_end_block_time;
		end_array=end.split(':');
		cf.end_hour.value=end_array[0];
		cf.end_minute.value=end_array[1];
	}
	BlockAllClickCheck(cf);	
}
</script>
<input type="hidden" name="days_to_block">
<input type="hidden" name="start_block_time">
<input type="hidden" name="end_block_time">
<input type="hidden" name="hidden_all_day">
<TR id="multipppoe" style="display:none;">
	<TD nowrap colspan=2>
	<input type="radio" name="session" value="session1" id="session1"><label for="session1">$mul_session1</label>
	<input type="radio" name="session" value="session2" id="session2"><label for="session2">$mul_session2</label>
	</TD>
</TR>
<script>
	if(is_jp_version == 1)
		document.write("$bluebar");
</script>
<TR>
	<TD nowrap class="btm0">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_FW_schedule','blocksch')"><B>$schedule_days:</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name="checkboxNameAll" id="everyday" onclick="BlockAllClickCheck(document.forms[0])"; type="checkbox" value=1><label for="everyday">$schedule_everyday</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameSun type=checkbox id="sun" value=1><label for="sun">$schedule_sun</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0"> 
	<input name=checkboxNameMon type=checkbox id="mon" value=1><label for="mon">$schedule_mon</label>
	</TD>
</TR> 
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameTue type=checkbox id="tue" value=1><label for="tue">$schedule_tue</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameWed type=checkbox id="wed" value=1><label for="wed">$schedule_wed</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameThu type=checkbox id="thu" value=1><label for="thu">$schedule_thu</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameFri type=checkbox id="fri" value=1><label for="fri">$schedule_fri</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<input name=checkboxNameSat type=checkbox id="sat" value=1><label for="sat">$schedule_sat</label>
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap colspan=2 class="btm0">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_FW_schedule','blocksch')"><B>$schedule_time</B><B> $schedule_24hour:</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input name="checkboxNamehours" id="all_day" onclick="BlockPeriodClick(document.forms[0])"; type="checkbox" value=1><label for="all_day">$schedule_allday</label>
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">$schedule_start:</TD>
	<TD nowrap class="ip-input-row">
	<input maxLength=2 type="text" id="start_hour" name=start_hour size=3 onKeyPress="return getkey('num', event)">$schedule_hour
	<input class="ml20" maxLength=2 type="text" id="start_minute" name=start_minute size=3 onKeyPress="return getkey('num', event)">$schedule_min
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">$schedule_end:</TD>
	<TD nowrap class="ip-input-row">
	<input maxLength=2 type="text" id="end_hour" name=end_hour size=3 onKeyPress="return getkey('num', event)">$schedule_hour
	<input class="ml20" maxLength=2 type="text" id="end_minute" name=end_minute size=3 onKeyPress="return getkey('num', event)">$schedule_min
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_FW_schedule") %>
</FORM>
</BODY>
</HTML>
