<% http_header("style/form.css", "/funcs.js", "/ipv6.js", "/ipv6_pppoe.js") %>
<% body_header("_IPv6_pppoe", "IPv6_index.htm", "ipv6_pppoe") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">

<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if(master=="admin")
	document.write('<TD nowrap colspan=2 align=center><input class="common_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" onClick="location.href=\'IPv6_index.htm\';">&nbsp;&nbsp;<input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'IPv6_pppoe.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" id="apply" value="$apply_mark" onClick="return check_ipv6_pppoe(document.forms[0]);"></TD>');
else
	document.write('<TD nowrap colspan=2 align=center><input class="common1_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" disabled>&nbsp;&nbsp;<input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>

</TR>
</TABLE>

</div>
<div id="main" class="main_top_button">
<% pop_help_button() %>

<script>
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable") %>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";

var ipv6_pppoe_username = "<% cfg_get("ipv6_pppoe_username") %>";
var ipv6_pppoe_pwd = "<% cfg_get("ipv6_pppoe_passwd") %>";
var ipv6_pppoe_servername = "<% cfg_get("ipv6_pppoe_servername") %>";

var ipv6_wan_ip = "<% ipv6_wan_ip("ppp2") %>";
var ipv6_wan_ip_2 = "<% ipv6_wan_ip("ppp0") %>";
var ipv6_lan_ip = "<% ipv6_lan_ip() %>";

var same_info = "<% cfg_get("ipv6_sameinfo") %>";
var wan_proto = "<% cfg_get("wan_proto") %>";
var pppoe_username = "<% cfg_sed_xss("wan_pppoe_username") %>";
var pppoe_password = "<% cfg_sed_xss("wan_pppoe_passwd") %>";
var pppoe_servername = "<% cfg_sed_xss("wan_pppoe_service") %>";
var pppoe_dod = "<% cfg_get("wan_pppoe_demand") %>";
<% ipv6_auto_dns() %>

//ipv6_wan_ip = ipv6_wan_ip.split("/")[0]; // to fix bug 28770

/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "pppoe" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
	ipv6_wan_ip_2 = "";
}

var get_dns_assign='<% cfg_get("ipv6_pppoe_dns_assign") %>';
if (get_dns_assign == '0' && ipv6_type == "pppoe" )
{
	var ipv6_get_dns1=ipv6_auto_dns1;
	var ipv6_get_dns2=ipv6_auto_dns2;
}
else
{
	var ipv6_get_dns1="<% cfg_get("ipv6_pppoe_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_pppoe_dns2") %>";
}

var pppoe_get_dns1="<% bas_pppoe_dns("0") %>";
var pppoe_get_dns2="<% bas_pppoe_dns("1") %>";

function loadvalue()
{
	var cf = document.forms[0];
	
	cf.pppoe_username.value = ipv6_pppoe_username;
	cf.pppoe_servername.value = ipv6_pppoe_servername;

	 /* load the LAN Setup items' value */
        ipv6_load_common(cf);

	if(getTop(window).ipv6_dns_manual == 1)
	{
		document.getElementById("same_info_line").style.display = "";
		if(same_info == "1")
			cf.ipv6_same_info.checked = true;
		else
			cf.ipv6_same_info.checked = false;

		setSameinfo();
		load_ipv6_dns(cf);
	}
	else
	{
		document.getElementById("login_line").style.display="";
		document.getElementById("passwd_line").style.display="";
		document.getElementById("servname_line").style.display="";
		document.getElementById("conn_mode_line").style.display="";
		document.getElementById("wan_line_1").style.display="";
		document.getElementById("wan_line_2").style.display="none";
		if(ipv6_pppoe_pwd == "")
		{
			cf.pppoe_passwd.outerHTML='<input type="text" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="this.select();" onKeyPress="return getkey(\'ssid\', event)" value="">';
		}
		else
		{
			cf.pppoe_passwd.outerHTML='<input type="password" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" style="width: 143px" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey(\'ssid\', event)" value="">';
			cf.pppoe_passwd.value = ipv6_pppoe_pwd;
		}
	}
	login_type_show(cf);
	cf.login_type.value = "pppoe"; 
}

</script>

<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="<% cfg_get("ipv6_dhcps_interface_id") %>">
<input type="hidden" name="ipv6_hidden_filtering" value="">
<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_pppoe_dns1") %>" />
<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_pppoe_dns2") %>" />
<input type="hidden" name="ipv6_hidden_sameinfo" value="0" />
<input type="hidden" name="ipv6_hidden_ip_assign" value="">

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','internet')"><B>$ipv6_internet_con_type:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" id="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
        </select>
        </TD>
</TR>
$bluebar
<tr id="same_info_line" style="display:none">
	<td nowrap colspan=2>
	<input type="checkbox" name="ipv6_same_info" onclick="setSameinfo();" id="ipv6_same_infopp"/><label for="ipv6_same_infopp"> &nbsp;$ipv6_use_same_with_ipv4</label>
</tr>
<TR id="login_line" style="display:none"> 
        <TD nowrap class="btm0">
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','login')"><B>$basic_pppoe_login:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <input type="text" class="input1" name="pppoe_username" id="pppoe_username" maxLength="64" size="18" onKeyPress="return getkey('ssid', event)" value="">        
	</TD>
</TR>
<TR id="passwd_line" style="display:none">
        <TD nowrap class="btm0">
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','passwd')"><B>$basic_pppoe_passwd:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <input type="text" class="input1" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey('ssid', event)" value="">
        </TD>
</TR>
<TR id="servname_line" style="display:none">
        <TD class="btm0"><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','serv_name')"><B>$basic_pppoe_serv_name:</B></A></TD>
        <TD nowrap class="tdright">
        <input type="text" name="pppoe_servername" id="pppoe_servername" maxLength="50" size="18" onKeyPress="return getkey('ssid', event)" value="">
        </TD>
</TR>
<TR id="conn_mode_line" style="display:none">
        <TD><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','connection_mode')"><B>$basic_int_connection_mode:</B></A></TD>
        <TD class="tdright">
        <select name="pppoe_dod" id="pppoe_dod" onchange="show_idleout(document.forms[0],this.value)" disabled="true">
                <option value="0" selected>$basic_mode_always</option>
                <option value="1">$basic_mode_dial</option>
                <option value="2">$basic_mode_manual</option>
        </select>
        </TD>
</TR>
<TR>
	<TD nowrap colspan=2><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','wan_ipaddr')"><B>$ipv6_wan_address</B></A></TD>
</TR>
<TR id="wan_line_1" style="display:none">
	<TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0 class='el-hide'>
	<script>ipv6_write_pppoe_ip(ipv6_wan_ip);</script>
	</TD>
</TR>
<tr id="wan_line_2" style="display:none">
	<TD nowrap colspan=2>$spacebar
	<script>ipv6_write_pppoe_ip(ipv6_wan_ip_2);</script>
	</TD>
</TR>
$bluebar

<% ipv6_display_dns("1") %>

<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','lan_ipaddr')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','lan_ipaddr')"><B>$ipv6_lan_address</B></A></TD>
	<TD class="tdright"><script>ipv6_write_ip(ipv6_lan_ip);</script></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="btm0"><input type="radio" name="IpAssign" id="ipassign_dhcp" value="dhcp"><label for="ipassign_dhcp">$ipv6_dhcp_server</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="IpAssign" id="ipassign_auto" value="auto"><label for="ipassign_auto">$ipv6_auto_config</label></TD>
</TR>
<TR>
        <TD nowrap colspan=2>
        <BR>
	<input type="checkbox" name="useInterfaceId" id="useInterfaceId" value="" onClick="set_interface();"><label for="useInterfaceId">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','interface_id')">$ipv6_interface</A></label>
        </TD>
</TR>
<TR>
        <TD nowrap colspan=2 class="ipv6-input-row top0"><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_interface_id1" id="ipv6_interface_id1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id2" id="ipv6_interface_id2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id3" id="ipv6_interface_id3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id4" id="ipv6_interface_id4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
        </TD>
</TR>
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','nat')"><B>$ipv6_filtering:</B></A>
        </TD>
        <TD nowrap class="tdright">
	<input type="radio" name="IPv6Filtering" value="Secured" id="IPv6Filtering_se"><label for="IPv6Filtering_se">$adva_wansetup_nat_secured</label>&nbsp;
	<input type="radio" name="IPv6Filtering" value="Open" id="IPv6Filtering_op"><label for="IPv6Filtering_op">$adva_wansetup_nat_open</label>&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_IPv6_pppoe") %>
</FORM>
</BODY>
</HTML>

