<% http_header("style/form.css", "/funcs.js", "/ipv6.js") %>
<% body_header("_IPv6", "IPv6_index.htm", "ipv6_con_type") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master =="admin" )
    document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'IPv6_disabled.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onclick="document.forms[0].submit();"></TD></TR>');
else
	document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply"  value="$apply_mark" disabled></TD></TR>');
</script>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>
<!--$bluebar-->

<script>

function loadvalue()
{
	var cf = document.forms[0];
	login_type_show(cf);
	cf.login_type.value = "disabled";
}

</script>

<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6','internet')"><B>$ipv6_internet_con_type:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" id="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
	</select>
        </TD>
</TR>
$bluebar
<!--TR>
	<TD nowrap colspan=2 align=center>
	<input type='submit' name='Apply' value='$apply_mark'>&nbsp;&nbsp;
	<input type='button' name='Cancel' value='$cancel_mark' onClick='location.href="IPv6_disabled.htm";'>
		<input class="cancel_bt" type='button' name='Cancel' value='$cancel_mark' onClick='location.href="IPv6_disabled.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type='submit' name='Apply' value='$apply_mark' >
	</TD>
</TR-->
</TABLE>
</div>
<% help_box("0","_IPv6") %>
</FORM>
</BODY>
</HTML>
