<% http_header("style/form.css", "/funcs.js", "/ipv6.js") %>
<% body_header("_IPv6_auto", "IPv6_auto.htm", "ipv6_auto") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if(master=="admin")
	document.write('<TD nowrap colspan=2 align=center><input class="common_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" onClick="location.href=\'IPv6_index.htm\';">&nbsp;&nbsp;<input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'IPv6_auto.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" id="apply" value="$apply_mark" onClick="return check_ipv6_auto(document.forms[0])";></TD>');
else
	document.write(' <TD nowrap colspan=2 align=center><input class="common1_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" disabled>&nbsp;&nbsp;<input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable") %>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";
var dsl_wan_preference="<% cfg_get("dsl_wan_preference") %>";
var ipv6_lan_ip = "<% ipv6_lan_ip() %>";

var wan_port_status = "<% cat_file("/tmp/WAN_status") %>";
var connection_type = "<% cat_file("/tmp/ipv6_auto_output") %>";
var wan_dsl_port_status = "<% cat_file("/tmp/dsl_port_status") %>";
<% ipv6_auto_dns() %>
var ipv6_wan_ip;
if(connection_type == "Detecting...")
	ipv6_wan_ip = "";
else if(connection_type == "6to4 Tunnel")
	ipv6_wan_ip = "<% ipv6_wan_ip("sit1") %>";
/* to fix bug 26901
else if(connection_type == "Pass Through")
	ipv6_wan_ip = "$ipv6_not_available";*/
else if(connection_type == "Auto Config")
	ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
else if(connection_type == "DHCP" || connection_type == "")
	ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
else
	ipv6_wan_ip = "";

//ipv6_wan_ip = ipv6_wan_ip.split("/")[0]; // to fix bug 28770

var ipv6_lan_ip;
if(connection_type == "Pass Through")
	ipv6_lan_ip = "";
else
 	ipv6_lan_ip = "<% ipv6_lan_ip() %>";

if(connection_type == "Detecting..."){
	getTop(window).refresh_another_time = 3;
	setTimeout("location.href='IPv6_auto.htm';", 3000);
}else{
	if(getTop(window).refresh_another_time > 0 && ipv6_lan_ip == ""){
		getTop(window).refresh_another_time--;
		connection_type = "Detecting...";
		setTimeout("location.href='IPv6_auto.htm';", 3000);
	}
	else
		getTop(window).refresh_another_time = 0;
}
/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "autoDetect" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
}

if(getTop(window).use_orbi_style_flag == "1")
	var get_dns_assign='<% cfg_get("ipv6_autoDetect_dns_assign") %>';
else
var get_dns_assign='<% cfg_get("ipv6_auto_dns_assign") %>';
if (get_dns_assign == '0' && ipv6_type == "autoDetect")
{
	var ipv6_get_dns1=ipv6_auto_dns1;
	var ipv6_get_dns2=ipv6_auto_dns2;
}
else
{
	if(getTop(window).use_orbi_style_flag == "1"){
		var ipv6_get_dns1="<% cfg_get("ipv6_autoDetect_dns1") %>";
		var ipv6_get_dns2="<% cfg_get("ipv6_autoDetect_dns2") %>";
	}else{
	var ipv6_get_dns1="<% cfg_get("ipv6_auto_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_auto_dns2") %>";
	}
}

function loadvalue()
{
	var cf = document.forms[0];

	ipv6_load_common(cf);		
	
	if(getTop(window).ipv6_dns_manual == 1)
	{
		if(wan_port_status != "Link down" && (connection_type == "6to4 Tunnel" || connection_type== "Auto Config" || connection_type== "DHCP" || connection_type == "6rd Tunnel" || connection_type == "PPPoE"))
		{
			document.getElementById("dns_div").style.display = "";
			load_ipv6_dns(cf);
		}
	}
	login_type_show(cf);
	cf.login_type.value = "autoDetect";
}

function check_ipv6_auto(cf)
{
	if(getTop(window).ipv6_dns_manual == 1)
	{
		if(wan_port_status != "Link down" &&(connection_type == "6to4 Tunnel" || connection_type== "Auto Config" || connection_type== "DHCP" || connection_type == "6rd Tunnel" || connection_type == "PPPoE"))
		{
			if(checkIPv6DNS(cf) == false)
				return false;
		}
	}

	if( ipv6_save_common(cf) == false )
		return false;
	
	return true;
}

</script>

<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="<% cfg_get("ipv6_dhcps_interface_id") %>">
<input type="hidden" name="ipv6_hidden_filtering" value="">
<script>
if(getTop(window).use_orbi_style_flag == "1"){
document.write('<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_autoDetect_dns1") %>" />');
document.write('<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_autoDetect_dns2") %>" />');
}else{
document.write('<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_auto_dns1") %>" />');
document.write('<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_auto_dns2") %>" />');
}
</script>
<input type="hidden" name="ipv6_hidden_ip_assign" value="">

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','internet')"><B>$ipv6_internet_con_type:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" id="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
        </select>
        </TD>
</TR>
$bluebar
<TR>
	<TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','wan_type')"><B>$trigger_contype:</B></A></TD>
	<TD nowrap class="tdright" id="connection_type">
	<script>
	if(getTop(window).dsl_enable_flag == 0)
	{	
		if(wan_port_status != "Link down")
		{
			if(connection_type != "")
			{//to fix bug33352:the detected mode should be translated
				var type=change_conn_type_name(connection_type);
				document.write(type);
			}
		}
		else
			document.write("$ipv6_no_wan_connection");
	}else
	{
		if(dsl_wan_preference == "1")//dsl
		{
			if(wan_dsl_port_status == "1")
			{
				if(connection_type != "")
				{//to fix bug33352:the detected mode should be translated
					var type=change_conn_type_name(connection_type);
					document.write(type);
				}
			}
			else
				document.write("$ipv6_no_wan_connection");
		}else if(dsl_wan_preference == "2")//eth
		{
			if(wan_port_status != "Link down")
			{
				if(connection_type != "")
				{//to fix bug33352:the detected mode should be translated
					var type=change_conn_type_name(connection_type);
					document.write(type);
				}
			}
			else
				document.write("$ipv6_no_wan_connection");
		}
	}
	</script>
	</TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','wan_ipaddr')"><B>$ipv6_wan_address</B></A></TD>
	<TD nowrap class="tdright" id="wan_ip">
	<script>
	if(connection_type == "6to4 Tunnel" && wan_port_status != "Link down")
		document.write("<TR><TD nowrap>$spacebar"+"N/A</TD></TR>");
	else
		ipv6_write_ip(ipv6_wan_ip);
	</script>
	</TD>
</TR>
$bluebar
</table>
<div id="dns_div" style="display:none">
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>

<% ipv6_display_dns() %>

</table>
</div>
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
	<TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','lan_ipaddr')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','lan_ipaddr')"><B>$ipv6_lan_address</B></A></TD>
	<TD nowrap class="tdright" id="lan_ip"><script>ipv6_write_ip(ipv6_lan_ip);</script></TD>
</TR>
<TR>
	<TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="btm0"><input type="radio" name="IpAssign" id="ipassign_dhcp" value="dhcp"><label for="ipassign_dhcp">$ipv6_dhcp_server</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="IpAssign" id="ipassign_auto" value="auto"><label for="ipassign_auto">$ipv6_auto_config</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<BR>
	<input type="checkbox" name="useInterfaceId" id="useInterfaceId" value="" onClick="set_interface();"><label for="useInterfaceId">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','interface_id')">$ipv6_interface</A></label>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="ip-input-row top0"><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_interface_id1" id="ipv6_interface_id1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id2" id="ipv6_interface_id2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id3" id="ipv6_interface_id3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id4" id="ipv6_interface_id4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
	</TD>
</TR> 
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_auto','nat')"><B>$ipv6_filtering:</B></A>
        </TD>
        <TD nowrap class="tdright">
	<input type="radio" name="IPv6Filtering" value="Secured" id="IPv6Filtering_s"><label for="IPv6Filtering_s">$adva_wansetup_nat_secured</label>&nbsp;
	<input type="radio" name="IPv6Filtering" value="Open" id="IPv6Filtering_o"><label for="IPv6Filtering_o">$adva_wansetup_nat_open</label>&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_IPv6_auto") %>
</table>
</FORM>
</BODY>
</HTML>
