<% http_header("style/form.css", "/funcs.js", "/ipv6.js", "/ipv6_autoConfig.js") %>
<% body_header("_IPv6_autoConfig", "IPv6_index.htm", "ipv6_dslite") %>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if(master=="admin")
	document.write('<TD nowrap colspan=2 align=center><input class="common_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" onClick="location.href=\'IPv6_index.htm\';">&nbsp;&nbsp;<input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'IPv6_dslite.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" id="apply" value="$apply_mark" onClick="return check_ipv6_dslite(document.forms[0])";></TD>');
else
	document.write('<TD nowrap colspan=2 align=center><input class="common1_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" disabled>&nbsp;&nbsp;<input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>		
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% table_header() %>

<script>
var my_internet = "<% cfg_get("my_internet") %>";
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable")%>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";

var ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
var ipv6_lan_ip = "<% ipv6_lan_ip() %>";
<% ipv6_auto_dns() %>

//bug 28770
//var wan_ip_split = ipv6_wan_ip_all.split('/');
//var ipv6_wan_ip = ipv6_wan_ip_all;

/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "dslite" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
}

if(my_internet == "1")
	var get_dns_assign='<% cfg_get("ipv6_pppoe_dns_assign") %>';
else
	var get_dns_assign='<% cfg_get("ipv6_dhcp_dns_assign") %>';
if (get_dns_assign == '0')
{
	var ipv6_get_dns1=ipv6_auto_dns1;
	var ipv6_get_dns2=ipv6_auto_dns2;
}
else if(my_internet == "1")
{
	var ipv6_get_dns1="<% cfg_get("ipv6_pppoe_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_pppoe_dns2") %>";
}
else
{
	var ipv6_get_dns1="<% cfg_get("ipv6_dhcp_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_dhcp_dns2") %>";
}

/*------ mapt --------------------*/
var have_mapt=getTop(window).have_mapt;
var enable_value="<% cfg_get("mapt_enable") %>";
var type_value="<% cfg_get("mapt_type") %>";
var local_ipv6="<% cfg_get("mapt_loc_ip6pre") %>";
var local_ipv6_pre_len="<% cfg_get("mapt_loc_ip6pre_len") %>";
var local_ipv4="<% cfg_get("mapt_loc_ip4pre") %>";
var local_ipv4_pre_len="<% cfg_get("mapt_loc_ip4pre_len") %>";
var local_ea="<% cfg_get("mapt_loc_ealen") %>";
var remote_ipv6="<% cfg_get("mapt_rmt_ip6pre") %>";
var remote_ipv6_pre_len="<% cfg_get("mapt_rmt_ip6pre_len") %>";
var loc_psidoffset="<% cfg_get("mapt_loc_psidoffset") %>";
getTop(window).enable_mapt=enable_value;
var ipv6_pppoe_username = "<% cfg_get("ipv6_pppoe_username") %>";
var ipv6_pppoe_pwd = "<% cfg_get("ipv6_pppoe_passwd") %>";
var ipv6_pppoe_servername = "<% cfg_get("ipv6_pppoe_servername") %>";
var pppoe_username = "<% cfg_sed_xss("wan_pppoe_username") %>";
var pppoe_password = "<% cfg_sed_xss("wan_pppoe_passwd") %>";
var pppoe_servername = "<% cfg_sed_xss("wan_pppoe_service") %>";
var pppoe_dod = "<% cfg_get("wan_pppoe_demand") %>";
var aftr_ipv6 = "<% cfg_get("aftr_ipv6") %>";
var aftr_ipv6_addr = "<% cfg_get("manual_aftr_ipv6") %>";

function change_ipv6_pppoe_password(obj)
{
        if( obj.type == "password" )
        {
                if( get_browser() == "Firefox" )
                {
                        obj.value = "";
                        obj.type = "text";
                }
                else
                {
                        obj.outerHTML = '<input type="text" name="ipv6_pppoe_passwd" maxlength="64" size="18" onFocus="this.select();" onKeyPress="return getkey(\'ssid\', event)" value="">';
                        document.forms[0].ipv6_pppoe_passwd.focus();
                        document.forms[0].ipv6_pppoe_passwd.focus();
                }
        }
}

function change_ipv6_dslite()
{
	var cf = document.forms[0];

	if(cf.my_internet[1].checked == true)
	{
		document.getElementById("login_line").style.display="";
		document.getElementById("passwd_line").style.display="";
		document.getElementById("servname_line").style.display="";
		document.getElementById("conn_mode_line").style.display="";
		document.getElementById("idle_line").style.display="";
		document.getElementById("ds_lite_tr5").style.display="none";
		document.getElementById("bluebar").style.display="";
		cf.aftr_ipv6[1].checked = true;
		cf.hid_aftr_ipv6.value = "1";
		cf.aftr_ipv6_addr.disabled = false;
		get_dns_assign='<% cfg_get("ipv6_pppoe_dns_assign") %>';
		if (get_dns_assign == '1')
		{
			ipv6_get_dns1="<% cfg_get("ipv6_pppoe_dns1") %>";
			ipv6_get_dns2="<% cfg_get("ipv6_pppoe_dns2") %>";
		}

		if(getTop(window).ipv6_dns_manual == 1)
		{
			load_ipv6_dns(cf);
		}
		if(ipv6_pppoe_pwd == "")
		{
			cf.pppoe_passwd.outerHTML='<input type="text" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="this.select();" onKeyPress="return getkey(\'ssid\', event)" value="">';
		}
		else
		{
			cf.pppoe_passwd.outerHTML='<input type="password" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" style="width: 143px" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey(\'ssid\', event)" value="">';
			cf.pppoe_passwd.value = ipv6_pppoe_pwd;
		}
	}
	else{
		document.getElementById("login_line").style.display="none";
		document.getElementById("passwd_line").style.display="none";
		document.getElementById("servname_line").style.display="none";
		document.getElementById("conn_mode_line").style.display="none";
		document.getElementById("idle_line").style.display="none";
		document.getElementById("ds_lite_tr5").style.display="";
		document.getElementById("bluebar").style.display="none";
		get_dns_assign='<% cfg_get("ipv6_dhcp_dns_assign") %>';
		if (get_dns_assign == '1')
		{
			ipv6_get_dns1="<% cfg_get("ipv6_dhcp_dns1") %>";
			ipv6_get_dns2="<% cfg_get("ipv6_dhcp_dns2") %>";
		}

		if(getTop(window).ipv6_dns_manual == 1)
		{
			load_ipv6_dns(cf);
		}
	}
}

function show_idleout(form,time)
{
	if( time == 1 )
		form.pppoe_idletime.disabled = false;
	else
		form.pppoe_idletime.disabled = true;
}

function loadvalue()
{
	var cf = document.forms[0];
        
	cf.pppoe_username.value = ipv6_pppoe_username;
	cf.pppoe_servername.value = ipv6_pppoe_servername;

	/* load the LAN Setup items' value */
	ipv6_load_common(cf);
	if(have_mapt)
	{
		document.getElementById("mapt_html").style.display="";
		load_mapt();
	}
	else
		document.getElementById("mapt_html").style.display="none";

	if(my_internet === "1") {
		cf.my_internet[1].checked = true;
		cf.hid_my_internet.value = "1";
	}
	else {
		cf.my_internet[0].checked = true;
		cf.hid_my_internet.value = "0";
	}
	if(pppoe_dod === "1")
	{
		cf.pppoe_dod.options[1].selected = true;
		cf.pppoe_idletime.disabled = false;
	}
	else if(pppoe_dod === "2")
	{
		cf.pppoe_dod.options[2].selected = true;
		cf.pppoe_idletime.disabled = true;
	}
	else{
		cf.pppoe_dod.options[0].selected = true;
		cf.pppoe_idletime.disabled = true;
	}
	if(aftr_ipv6 === "1") {
		cf.aftr_ipv6[1].checked = true;
		cf.hid_aftr_ipv6.value = "1";
		cf.aftr_ipv6_addr.disabled = false;
	}
	else {
		cf.aftr_ipv6[0].checked = true;
		cf.hid_aftr_ipv6.value = "0";
		cf.aftr_ipv6_addr.disabled = true;
	}
	cf.aftr_ipv6_addr.value = aftr_ipv6_addr;
	change_ipv6_dslite();
	login_type_show(cf);
	cf.login_type.value="dslite";
}
</script>

<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="<% cfg_get("ipv6_dhcps_interface_id") %>">
<input type="hidden" name="ipv6_hidden_filtering" value="">
<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_dhcp_dns1") %>" />
<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_dhcp_dns2") %>" />
<input type="hidden" name="ipv6_hidden_ip_assign" value="">
<input type="hidden" name="hid_my_internet" value="0">
<input type="hidden" name="hid_aftr_ipv6" value="0">
<input type="hidden" name="hid_pppoe_dod"><!--bug 22322:when connection mode gray out,need a hidden-value to transfer -->
<input type="hidden" name="hidden_pppoe_idle_time">

<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','internet')"><B>$ipv6_internet_con_type</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" id="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
        </select>
        </TD>
</TR>
$bluebar
<TR id="ds_lite_tr1"><TD nowrap><B>My Internet Connection is</B></TD></TR>
<TR id="ds_lite_tr2">
        <TD nowrap>
        <input onclick='change_ipv6_dslite();'  type="radio" name="my_internet" id="int_dhcpv6" value="0" checked="true"><label for="int_dhcpv6">DHCPv6</label>
        </TD>
</TR>
<TR id="ds_lite_tr3">
        <TD nowrap>
        <input onclick='change_ipv6_dslite();' type="radio" name="my_internet" id="int_pppoe" value="1"><label for="int_pppoe">PPPoE</label>
	</TD>
</TR>
$bluebar
<TR id="login_line" style="display:none"> 
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','login')"><B>$basic_pppoe_login</B></A>
        </TD>
        <TD nowrap class="tdright">
        <input type="text" name="pppoe_username" id="pppoe_username" maxLength="64" size="18" onKeyPress="return getkey('ssid', event)" value="">        
	</TD>
</TR>
<TR id="passwd_line" style="display:none">
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','passwd')"><B>$basic_pppoe_passwd</B></A>
        </TD>
        <TD nowrap class="tdright">
        <input type="text" name="pppoe_passwd" id="pppoe_passwd" maxlength="64" size="18" onFocus="change_ipv6_pppoe_password(this);" onKeyPress="return getkey('ssid', event)" value="">
        </TD>
</TR>
<TR id="servname_line" style="display:none">
        <TD><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','serv_name')"><B>$basic_pppoe_serv_name</B></A></TD>
        <TD nowrap class="tdright">
        <input type="text" name="pppoe_servername" id="pppoe_servername" maxLength="50" size="18" onKeyPress="return getkey('ssid', event)" value="">
        </TD>
</TR>
<TR id="conn_mode_line" style="display:none">
        <TD><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_pppoe','connection_mode')"><B>$basic_int_connection_mode</B></A></TD>
        <TD class="tdright">
        <select name="pppoe_dod" id="pppoe_dod" onchange="show_idleout(document.forms[0],this.value)">
                <option value="0" selected>$basic_mode_always</option>
                <option value="1">$basic_mode_dial</option>
                <option value="2">$basic_mode_manual</option>
        </select>
        </TD>
</TR>
<TR id="idle_line" style="display:none">
	<TD>
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_BAS_pppoe','pppoe_idletime')">$basic_pppoe_idle</A>
	</TD>
	<TD class="tdright">
	<input type="text" name="pppoe_idletime" id="pppoe_idletime" maxLength="5" size="16" value="<% idle_time("wan_pppoe_idletime") %>" onKeyPress="return getkey('num', event)">
	</TD>
</TR>
<TR id=bluebar style="display:none"><td colspan=2><img src=/liteblue.gif width=100% height=12></td></TR>
<TR id="ds_lite_tr4"><TD nowrap><B>AFTR IPv6 Address</B></TD></TR>
<TR id="ds_lite_tr5">
        <TD nowrap>
        <input onclick='document.forms[0].hid_aftr_ipv6.value="0"; document.forms[0].aftr_ipv6_addr.disabled = true'  type="radio" name="aftr_ipv6" id="auto_aftr_ipv6" value="0"><label for="auto_aftr_ipv6">$ipv6_auto_config</label>
        </TD>
</TR>
<TR id="ds_lite_tr6">
        <TD nowrap>
        <input onclick='document.forms[0].hid_aftr_ipv6.value="1"; document.forms[0].aftr_ipv6_addr.disabled = false' type="radio" name="aftr_ipv6" id="manual_aftr_ipv6" value="1" checked="true"><label for="manual_aftr_ipv6">Manual Config</label>
	</TD>
	<TD nowrap class="tdright">
	<input type="text" name="aftr_ipv6_addr" size="25" maxlength="40">
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','wan_ipaddr')"><B>$ipv6_wan_address</B></A>
	</TD>
	<TD nowrap class="tdright"><script>ipv6_write_ip(ipv6_wan_ip);</script></TD>
</TR>
$bluebar

<% ipv6_display_dns("1") %>

<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ipaddr')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ipaddr')"><B>$ipv6_lan_address</B></A></TD>
	<TD nowrap class="tdright"><script>ipv6_write_ip(ipv6_lan_ip);</script></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="IpAssign" id="ipassign_dhcp" value="dhcp"><label for="ipassign_dhcp">$ipv6_dhcp_server</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="IpAssign" id="ipassign_auto" value="auto"><label for="ipassign_auto">$ipv6_auto_config</label></TD>
</TR>
<TR>
        <TD nowrap colspan=2>
        <BR>
	<input type="checkbox" name="useInterfaceId" id="useInterfaceId" value="" onClick="set_interface();"><label for="useInterfaceId">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','interface_id')">$ipv6_interface</A></label>
        </TD>
</TR>
<TR>
        <TD nowrap colspan=2><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_interface_id1" id="ipv6_interface_id1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id2" id="ipv6_interface_id2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id3" id="ipv6_interface_id3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id4" id="ipv6_interface_id4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
        </TD>
</TR>
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','nat')"><B>$ipv6_filtering</B></A>
        </TD>
        <TD nowrap class="tdright">
	<input type="radio" name="IPv6Filtering" value="Secured" id="IPv6Filtering_se"><label for="IPv6Filtering_se">$adva_wansetup_nat_secured</label>&nbsp;
	<input type="radio" name="IPv6Filtering" value="Open" id="IPv6Filtering_op"><label for="IPv6Filtering_op">$adva_wansetup_nat_open</label>&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
<TABLE cellspacing=5 cellPadding=0 width=100% border=0 id="mapt_html">
<input type="hidden" name="hid_cb_enable" value="0">
<input type="hidden" name="hid_tx_lol_ipv6" value="">
<input type="hidden" name="hid_tx_lol_ipv4" value="">
<input type="hidden" name="hid_tx_rmo_ipv6" value="">

<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="cb_enable" id="cb_enable_ch"><label for="cb_enable_ch">
	<a tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_fixed','internet')"><b>$mapt_ab</b></a></label>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=10 height=12 border=0><input type="radio" name="rd_type" value="0" id="rd_type_auto"><label for="rd_type_auto">$mapt_auto</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=10 height=12 border=0><input type="radio" name="rd_type" value="1" id="rd_type_set"><label for="rd_type_set">$mapt_set:</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_local</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv6</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="tx_lol_ipv6_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv4</b></TD>
</TR>
<tr>
	<td nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">/
	<input type="text" name="tx_lol_ipv4_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</td>
</tr>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ea</b></TD>
</TR>
<tr>
	<td nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ea" size="3"  autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)">
	</td>
</tr>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$psid_offset</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="psidoffset" size="3" onKeyPress="return getkey('num',event)">
	</TD>
</TR>
<TR>
	<TD nowrap><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_re</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv6</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="tx_rmo_ipv6_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
$bluebar
</TABLE>


</div>
<% help_box("0","_IPv6_dhcp") %>
</FORM>
</BODY>
</HTML>

