<% http_header("style/form.css", "/funcs.js", "/ipv6.js", "/ipv6_dhcp.js") %>
<% body_header("_IPv6_dhcp", "IPv6_index.htm", "ipv6_dhcp") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if(master=="admin")
	document.write('<TD nowrap colspan=2 align=center><input class="common_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" onClick="location.href=\'IPv6_index.htm\';">&nbsp;&nbsp;<input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'IPv6_dhcp.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" id="apply" value="$apply_mark" onClick="return check_ipv6_dhcp(document.forms[0])";></TD>');
else
	document.write('<TD nowrap colspan=2 align=center><input class="common1_bt" type="button" name="Status Refresh" id="refresh" value="$ipv6_refresh" disabled>&nbsp;&nbsp;<input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>		
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
var ipv6_ip_assign = "<% cfg_get("ipv6_dhcps_enable") %>";
var ipv6_interface_type = "<% cfg_get("ipv6_dhcps_interface_id_enable")%>";
var ipv6_interface_id = "<% cfg_get("ipv6_dhcps_interface_id") %>";
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";

var ipv6_wan_ip = "<% ipv6_wan_ip("wan_if") %>";
var ipv6_lan_ip = "<% ipv6_lan_ip() %>";
<% ipv6_auto_dns() %>

//bug 28770
//var wan_ip_split = ipv6_wan_ip_all.split('/');
//var ipv6_wan_ip = ipv6_wan_ip_all;

/* to fix bug 27954 */
var ipv6_type = "<% cfg_get("ipv6_type") %>";
if( ipv6_type != "dhcp" )
{
	ipv6_lan_ip = "";
	ipv6_wan_ip = "";
}

var get_dns_assign='<% cfg_get("ipv6_dhcp_dns_assign") %>';
if (get_dns_assign == '0' && ipv6_type == "dhcp")
{
	var ipv6_get_dns1=ipv6_auto_dns1;
	var ipv6_get_dns2=ipv6_auto_dns2;
}
else
{
	var ipv6_get_dns1="<% cfg_get("ipv6_dhcp_dns1") %>";
	var ipv6_get_dns2="<% cfg_get("ipv6_dhcp_dns2") %>";
}

/*------ mapt --------------------*/
var have_mapt=getTop(window).have_mapt;
var enable_value="<% cfg_get("mapt_enable") %>";
var type_value="<% cfg_get("mapt_type") %>";
var local_ipv6="<% cfg_get("mapt_loc_ip6pre") %>";
var local_ipv6_pre_len="<% cfg_get("mapt_loc_ip6pre_len") %>";
var local_ipv4="<% cfg_get("mapt_loc_ip4pre") %>";
var local_ipv4_pre_len="<% cfg_get("mapt_loc_ip4pre_len") %>";
var local_ea="<% cfg_get("mapt_loc_ealen") %>";
var remote_ipv6="<% cfg_get("mapt_rmt_ip6pre") %>";
var remote_ipv6_pre_len="<% cfg_get("mapt_rmt_ip6pre_len") %>";
var loc_psidoffset="<% cfg_get("mapt_loc_psidoffset") %>";
getTop(window).enable_mapt=enable_value;

function loadvalue()
{
	var cf = document.forms[0];
        
	cf.ipv6_system.value = "<% cfg_get("ipv6_dhcp_userClass") %>";
	cf.domainName.value = "<% cfg_get("ipv6_dhcp_domainName") %>";

	if(getTop(window).ipv6_dns_manual == 1)
	{
		load_ipv6_dns(cf);
	}

	/* load the LAN Setup items' value */
	ipv6_load_common(cf);
	if(have_mapt)
	{
		document.getElementById("mapt_html").style.display="";
		load_mapt();
	}
	else
		document.getElementById("mapt_html").style.display="none";
	login_type_show(cf);
	cf.login_type.value="dhcp";
}
</script>

<input type="hidden" name="ipv6_hidden_enable_interface" value="">
<input type="hidden" name="ipv6_hidden_interface_id" value="<% cfg_get("ipv6_dhcps_interface_id") %>">
<input type="hidden" name="ipv6_hidden_filtering" value="">
<input type="hidden" name="ipv6_hidden_primary_dns" value="<% cfg_get("ipv6_dhcp_dns1") %>" />
<input type="hidden" name="ipv6_hidden_second_dns" value="<% cfg_get("ipv6_dhcp_dns2") %>" />
<input type="hidden" name="ipv6_hidden_ip_assign" value="">

<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','internet')"><B>$ipv6_internet_con_type:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" id="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
        </select>
        </TD>
</TR>
$bluebar
<TR>
	<TD nowrap class="btm0">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','user_class')"><B>$ipv6_user_class:</B></A>
	</td>
	<TD nowrap class="tdright">
	<input type="text" name="ipv6_system" id="ipv6_system" maxLength="60" size="16" onKeyPress="return getkey('ssid', event)" value="">
	</TD>
</TR>
<TR>
	<TD nowrap class="label-td">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','domain_name')"><B>$basic_int_doname:</B></A>
	</td>
	<TD nowrap class="tdright">
	<input type="text" class="input1" name="domainName" id="domain_name" maxLength="60" size="16" onKeyPress="return getkey('ssid', event)" value="">
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','wan_ipaddr')"><B>$ipv6_wan_address</B></A>
	</TD>
	<TD nowrap class="tdright"><script>ipv6_write_ip(ipv6_wan_ip);</script></TD>
</TR>
$bluebar

<% ipv6_display_dns("1") %>

<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ipaddr')"><B>$lan_mark_head</B></A></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ipaddr')"><B>$ipv6_lan_address</B></A></TD>
	<TD nowrap class="tdright"><script>ipv6_write_ip(ipv6_lan_ip);</script></TD>
</TR>
<TR>
        <TD nowrap><A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','lan_ip_assign')">$ipv6_ip_assign</A></TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="btm0"><input type="radio" name="IpAssign" id="ipassign_dhcp" value="dhcp"><label for="ipassign_dhcp">$ipv6_dhcp_server</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><input type="radio" name="IpAssign" id="ipassign_auto" value="auto"><label for="ipassign_auto">$ipv6_auto_config</label></TD>
</TR>
<TR>
        <TD nowrap colspan=2>
        <BR>
	<input type="checkbox" name="useInterfaceId" id="useInterfaceId" value="" onClick="set_interface();"><label for="useInterfaceId">
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','interface_id')">$ipv6_interface</A></label>
        </TD>
</TR>
<TR>
        <TD nowrap colspan=2 class="ipv6-input-row top0"><img src=/spacer.gif width=20 height=12 border=0>
	<input type="text" name="IPv6_interface_id1" id="ipv6_interface_id1" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id2" id="ipv6_interface_id2" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id3" id="ipv6_interface_id3" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="IPv6_interface_id4" id="ipv6_interface_id4" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
        </TD>
</TR>
$bluebar
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_dhcp','nat')"><B>$ipv6_filtering:</B></A>
        </TD>
        <TD nowrap class="tdright">
	<input type="radio" name="IPv6Filtering" value="Secured" id="IPv6Filtering_ss"><label for="IPv6Filtering_ss">$adva_wansetup_nat_secured</label>&nbsp;
	<input type="radio" name="IPv6Filtering" value="Open" id="IPv6Filtering_oo"><label for="IPv6Filtering_oo">$adva_wansetup_nat_open</label>&nbsp;&nbsp;
        </TD>
</TR>
$bluebar
</TABLE>
<TABLE cellspacing=5 cellPadding=0 width=100% border=0 id="mapt_html">
<input type="hidden" name="hid_cb_enable" value="0">
<input type="hidden" name="hid_tx_lol_ipv6" value="">
<input type="hidden" name="hid_tx_lol_ipv4" value="">
<input type="hidden" name="hid_tx_rmo_ipv6" value="">

<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="cb_enable" id="cb_enable_ch"><label for="cb_enable_ch">
	<a tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6_fixed','internet')"><b>$mapt_ab</b></a></label>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=10 height=12 border=0><input type="radio" name="rd_type" value="0" id="rd_type_auto"><label for="rd_type_auto">$mapt_auto</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=10 height=12 border=0><input type="radio" name="rd_type" value="1" id="rd_type_set"><label for="rd_type_set">$mapt_set:</label></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_local</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv6:</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_lol_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="tx_lol_ipv6_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv4:</b></TD>
</TR>
<tr>
	<td nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">.
	<input type="text" name="tx_lol_ipv4" size="3" maxlength="3" autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)" onkeydown="keydown(event,this);" onkeyup="keyup(event,this);">/
	<input type="text" name="tx_lol_ipv4_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</td>
</tr>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ea:</b></TD>
</TR>
<tr>
	<td nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_lol_ea" size="3"  autocomplete="off" onFocus="this.select();" onKeyPress="return getkey('num',event)">
	</td>
</tr>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$psid_offset:</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="psidoffset" size="3" onKeyPress="return getkey('num',event)">
	</TD>
</TR>
<TR>
	<TD nowrap><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_re</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=16 height=12 border=0><b>$mapt_ipv6:</b></TD>
</TR>
<TR>
	<TD nowrap colspan=2><img src=/spacer.gif width=30 height=12 border=0>
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="tx_rmo_ipv6" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="tx_rmo_ipv6_prefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
$bluebar
</TABLE>


</div>
<% help_box("0","_IPv6_dhcp") %>
</FORM>
</BODY>
</HTML>

