<% http_header("style/form.css", "/funcs.js", "/ipv6.js") %>
<% body_header("_IPv6", "IPv6_passThrougth.htm", "ipv6_passthrougth") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipv6_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if(master=="admin")
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="location.href=\'IPv6_passThrougth.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_ipv6_passThrougth(document.forms[0])";></TD>');     
else
	document.write('<TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled></TD>');
</script>
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<script>
var ipv6_cone_fitering = "<% cfg_get("wan_ipv6_cone_fitering") %>";
var enable_vpn = "<% cfg_get("vpn_enable") %>";

function loadvalue()
{
	var cf = document.forms[0];

	/* IPv6 Filtering */
/*        if(ipv6_cone_fitering == 0)
        {
                cf.IPv6Filtering[0].checked = true;
        }
        else if(ipv6_cone_fitering == 1)
        {
                cf.IPv6Filtering[1].checked = true;
        }
*/
	login_type_show(cf);
	cf.login_type.value = "bridge"; 
}
</script>

<input type="hidden" name="ipv6_hidden_filtering" value="">

<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6','internet')"><B>$ipv6_internet_con_type:</B></A>
        </TD>
        <TD nowrap class="tdright">
        <select name="login_type" onChange="change_ipv6(document.forms[0].login_type.value)">
	</select>
        </TD>
</TR>
$bluebar
<!--<TR>
        <TD nowrap>
        <A tabindex=-1 class="disabled" href="javascript:loadhelp('_IPv6','nat')"><B>$ipv6_filtering</B></A>
        </TD>
        <TD nowrap class="tdright">
        <input type="radio" name="IPv6Filtering" value="Secured">$adva_wansetup_nat_secured&nbsp;
        <input type="radio" name="IPv6Filtering" value="Open">$adva_wansetup_nat_open&nbsp;&nbsp;
        </TD>
</TR>
$bluebar -->
</TABLE>
<script>
function check_ipv6_passThrougth(cf)
{
	/* save IPv6 Filtering */
/*        if(cf.IPv6Filtering[0].checked == true)
        {
                cf.ipv6_hidden_filtering.value = "0";
        }
        else if(cf.IPv6Filtering[1].checked == true)
        {
                cf.ipv6_hidden_filtering.value = "1";
        }
*/
}
</script>

</div>
<% help_box("0","_IPv6") %>
</FORM>
</BODY>
</HTML>

