<% http_header("style/form.css", "/funcs.js", "/lan.js", "/reservation.js") %>
<% body_header("_lan", "LAN_lan.htm", "lan") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$lan_mark_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
back_reload_page("LAN_lan.htm");
if(getTop(window).document.getElementById('setup_sub').style.display == "none")
	getTop(window).open_or_close_sub('setup');
getTop(window).menu_color_change('lan');

var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<tr><td nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'LAN_lan.htm\';"> &nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="return checklan(document.forms[0]);"></td></tr>');
else
	document.write('<tr><td nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name=="Cancel" id="cancel" value="$cancel_mark" disabled> &nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></td></tr>');
</script>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %> 
<% refresh_timestamp("reservation_add", "reservation_edit") %>
<script>
//Block Services IP address and range
<% blksvc_items_xss() %>
<% reservation_items_xss() %>
<% save_timestamp("lan","reservation_editnum","reservation_del","edit_devname") %>
var old_lanip="<% cfg_get("lan_ipaddr") %>";
var old_lanmask="<% cfg_get("lan_netmask") %>";
var dmz_ip="<% cfg_get("dmz_ipaddr") %>";
var bs_trustedip="<% cfg_get("block_trustedip") %>";
var wan_type="<% cfg_get("wan_proto") %>";
var wan_ip="<% test_wan_ip() %>";
var bas_pptp_ip="<% bas_pptp_ip() %>";
var wan_mask="<% test_wan_netmask() %>";
var endis_wl_radio="<% enable_ap_orNot("bgn") %>";
var wds_endis_fun="<% cfg_get("wds_endis_fun") %>";
var wds_repeater_basic="<% cfg_get("wds_repeater_basic") %>";

var endis_wla_radio="<% enable_ap_orNot("an") %>";
var wla_wds_endis_fun="<% cfg_get("wla_wds_endis_fun") %>";
var wds_repeater_basic_a="<% cfg_get("wds_repeater_basic_a") %>";
var ts='<% cfg_get("lan") %>';
if ((endis_wl_radio == "1" && wds_endis_fun == "1" && wds_repeater_basic == "0") || (endis_wla_radio == "1" && wla_wds_endis_fun == "1" && wds_repeater_basic_a == "0"))
	old_lanip ="<% cfg_get("repeater_ip") %>";

var have_ipmac_flag=parent.have_ipmac_flag;
var ipmac_binding_flag="<% cfg_get("ipmac_binding_on")%>";
var is_ipmac=(have_ipmac_flag == 1 && ipmac_binding_flag == 1 && (parent.is_ru_version == 1 || parent.is_pr_version == 1)) ? 1 : 0;
var wps_alert="<% cfg_get("wps_alert") %>";
var consolidate_device_name = parent.consolidate_device_name;
var dhcp_lease_time_flag = parent.dhcp_lease_time_flag;
<% cfg_set("wps_alert", "0") %>

function loadvalue()
{
	var form=document.forms[0];
	if(dhcp_lease_time_flag == 1)
	{
		document.getElementById("dhcp_lease_time").style.display = "";
		form.lanLeaseTime.value = "<% cfg_get("lan_dhcp_lease_time") %>";
	}
	var dhcp_start='<% cfg_get("dhcp_start") %>';
	var dhcp_end='<% cfg_get("dhcp_end") %>';
	var lanip_array = old_lanip.split(".");
	form.sysLANIPAddr1.value=lanip_array[0];
	form.sysLANIPAddr2.value=lanip_array[1];
	form.sysLANIPAddr3.value=lanip_array[2];
	form.sysLANIPAddr4.value=lanip_array[3];
	var mask_array = old_lanmask.split(".");
	form.sysLANSubnetMask1.value=mask_array[0];
	form.sysLANSubnetMask2.value=mask_array[1];
	form.sysLANSubnetMask3.value=mask_array[2];
	form.sysLANSubnetMask4.value=mask_array[3];
	form.sysPoolStartingAddr1.value = form.sysPoolFinishAddr1.value=lanip_array[0];
	form.sysPoolStartingAddr2.value = form.sysPoolFinishAddr2.value= lanip_array[1];
	form.sysPoolStartingAddr3.value = form.sysPoolFinishAddr3.value=lanip_array[2];	
	var start_array =dhcp_start.split('.');
	var end_array = dhcp_end.split('.');
	form.sysPoolStartingAddr4.value=start_array[3];
	form.sysPoolFinishAddr4.value=end_array[3];
	if(consolidate_device_name == "1")
		document.getElementById("edit_devname_bt").style.display = "";
	if( '<% cfg_get("lan_dhcp") %>' == '1')
		form.dhcp_server.checked = true;
	else
		form.dhcp_server.checked = false;
	dhcponoff();
	var sysRIPVersion="<% cfg_get("rip_version") %>";
	if(sysRIPVersion=="0")
		form.sysRIPVersion.value="Disabled";
	else if(sysRIPVersion=="1")
		form.sysRIPVersion.value="RIP_1";
	else if(sysRIPVersion=="2")
		form.sysRIPVersion.value="RIP_2B";
	else if(sysRIPVersion=="3")
		form.sysRIPVersion.value="RIP_2M";
	var rip_direction="<% cfg_get("rip_direction") %>";
	if(rip_direction=="0")
		form.rip_direction.value="Both";
	else if(rip_direction=="1")
		form.rip_direction.value="In only";
        else if(rip_direction=="2")
		form.rip_direction.value="Out only";
	else if(rip_direction=="3")
		form.rip_direction.value="None";

	if ((endis_wl_radio == '1' && wds_endis_fun == '1' && wds_repeater_basic == '0') || (endis_wla_radio == '1' && wla_wds_endis_fun == '1' && wds_repeater_basic_a == '0')){
		/* to fix bug 23556*/
		form.Add.className="add_gray_bt";
		form.Edit.className="edit_gray_bt";
		form.Delete.className="delete_gray_bt";

		setDisabled(true,form.sysRIPVersion,form.rip_direction,form.dhcp_server, form.sysPoolStartingAddr4,form.sysPoolFinishAddr4,form.Add,form.Edit,form.Delete);
	}

	showWps_alert();
}
</script>
<input type="hidden" name="select_edit">
<input type="hidden" name="select_del">
<input type="hidden" name="dhcp_mode">
<input type="hidden" name="dhcp_start">
<input type="hidden" name="dhcp_end">
<input type="hidden" name="dmz_ip">
<input type="hidden" name="bs_trustedip">
<input type="hidden" name="network">
<input type="hidden" name="change_network_flag">
<input type="hidden" name="change_network2_flag">
<input type="hidden" name="change_ip_flag">
<input type="hidden" name="lan_ipaddr">
<input type="hidden" name="lan_subnet">

<input type="hidden" name="out_of_range">
<!--Block sites: Trusted IP Address-->
<input type="hidden" name="Trusted_IP_Enable" value="<% cfg_get("block_endis_Trusted_IP") %>">
<input type="hidden" name="cfTrusted_IPAddress" value="<% cfg_get("block_trustedip") %>">
<!--Default DMZ IP address-->
<input type="hidden" name="dmz_value" value="<% cfg_get("wan_endis_dmz") %>">
<input type="hidden" name="dmz_ipaddr" value="<% cfg_get("dmz_ipaddr") %>">
<input type="hidden" name="net_leng">
<input type="hidden" name="hid_array_num">
<!--fix bug 26874 wireless should be restart when change dhcp pool -->
<input type="hidden" name="dhcp_start_old" value="<% cfg_get("dhcp_start") %>">
<input type="hidden" name="dhcp_end_old" value="<% cfg_get("dhcp_end") %>">
<input type="hidden" name="dhcp_pool_tag">
<input type="hidden" name="hid_lease_time" value="24">
<TR> 
	<TD nowrap>
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_lan','device_name')"><B>$lan_mark_name:</B></A>
	</TD>
	<TD nowrap class="tdright">
	<script>
	var old_name="<% cfg_sed_xss("netbiosname") %>";
	var dev_name="<% cfg_sed_xss("Device_name") %>";
	if(old_name != "")
		dev_name = old_name;
	if(consolidate_device_name == "1"){
		document.write(dev_name);
		document.write("&nbsp;&nbsp;&nbsp;");
		document.write('<input type="hidden" name="device_name" id="device_name" value="<% cfg_sed_xss("Device_name") %>">');
	}else
		document.write('<input type="text" name="device_name" id="device_name" maxlength="12" value="<% cfg_sed_xss("netbiosname") %>">');
	</script>
	<input class="short_edit_bt" id="edit_devname_bt" style="display:none"  type="button" name="edit" value="$edit_mark" onClick="edit_devicename(dev_name)">
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap colspan=2>
	<A tabindex=-1 class="disabled" href="javascript:loadhelp('_lan','tcp')"><B>$lan_mark_ip_head</B></A>
	</TD>
</TR>
<TR>
	<TD nowrap><span id="iptext">$lan_mark_ip:</span></TD>
	<TD nowrap class="tdright">
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANIPAddr1" id="sys_lan_ipaddress1" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANIPAddr2" id="sys_lan_ipaddress2" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANIPAddr3" id="sys_lan_ipaddress3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANIPAddr4" id="sys_lan_ipaddress4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">
	</TD>
</TR>
<TR>
	<TD nowrap><span id="subtext">$lan_mark_subnet:</span></TD>
	<TD nowrap class="tdright">
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANSubnetMask1" id="sys_lan_netmask1" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANSubnetMask2" id="sys_lan_netmask2" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANSubnetMask3" id="sys_lan_netmask3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">.
	<input type="text" size="3" autocomplete="off" maxlength="3" name="sysLANSubnetMask4" id="sys_lan_netmask4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" onblur="lanip_change(document.forms[0])">
	</TD>
</TR>
<TR>
	<TD nowrap>$rip_dir:</TD>
	<TD nowrap class="tdright">
	<select name="rip_direction" id="rip_direction">
		<option value="Both">$rip_both</option>
		<option value="In only">$rip_in</option>
		<option value="Out only">$rip_out</option>
	</select>
	</TD>
</TR>
<TR>
	<TD nowrap>$rip_ver:</TD>
	<TD nowrap class="tdright">
	<select name="sysRIPVersion" id="sys_rip_version">
		<option value="Disabled">$rip_disable</option>
		<option value="RIP_1">$rip1</option>
		<option value="RIP_2B">$rip2b</option>
		<option value="RIP_2M">$rip2m</option>
	</select>
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>
	<input type="checkbox" name="dhcp_server" id="dhcp_server_enable" value='1' onClick="dhcponoff()">
	<label for="dhcp_server_enable"><B>$lan_mark_dhcp</B></label>
	</TD>
</TR>
<TR>
	<TD nowrap><span id="iptext">$lan_dhcp_start:</span></TD>
	<TD nowrap class="tdright">
	<input type="text" name="sysPoolStartingAddr1" id="sys_pool_starting_address1" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolStartingAddr2" id="sys_pool_starting_address2" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolStartingAddr3" id="sys_pool_starting_address3" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolStartingAddr4" id="sys_pool_starting_address4" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD nowrap><span id="subtext">$lan_dhcp_end:</span></TD>
	<TD nowrap class="tdright">
	<input type="text" name="sysPoolFinishAddr1" id="sys_pool_finish_address1" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolFinishAddr2" id="sys_pool_finish_address2" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolFinishAddr3" id="sys_pool_finish_address3" size="3" autocomplete="off" maxlength="3" disabled>.
	<input type="text" name="sysPoolFinishAddr4" id="sys_pool_finish_address4" size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR id="dhcp_lease_time" style="display:none">
	<TD nowrap><span id="lease-time">$dhcp_lease_time (range: 1-24 hours):</span></TD>
	<TD nowrap class="tdright">
	<input type="text" name="lanLeaseTime" id="lan_lease_time" size="5" autocomplete="off" maxlength="2"> $hours 
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap colspan=2>
	<script>
	if(is_ipmac == 1)
		document.write("<A tabindex=-1 class=\"disabled\" href=\"javascript:loadhelp('_lan','ipmac')\"><B>$ipmac_table_head</B></A>");
	else
		document.write("<A tabindex=-1 class=\"disabled\" href=\"javascript:loadhelp('_lan','reserved')\"><B>$reservation_head</B></A>");
	</script>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2><div align=center>
	<TABLE id="address_reser_table" class='tables table1' border=0 cellpadding=2 cellspacing=0 width=100%>
	<TR class=table_header>
		<TD nowrap align=center>&nbsp;</TD>
		<TD nowrap align=center><span class="subhead">#</span></TD>
		<TD nowrap align=center><span class="subhead">$info_mark_ip</span></TD>
		<TD nowrap align=center><span class="subhead">$lan_mark_name</span></TD>
		<TD nowrap align=center><span class="subhead">$info_mark_mac</span></TD>
	</TR>
<script>
if (array_num > 0)
{
	for(i=1;i<=array_num;i++)
	{
		var dhcp_start='<% cfg_get("dhcp_start") %>';
	        var dhcp_end='<% cfg_get("dhcp_end") %>';
	        var start_array =dhcp_start.split('.');
	        var end_array = dhcp_end.split('.');
		
		var str = eval ( 'resevArray' + i );
		var each_info=str.split(' ');
		var each4=each_info[0].split('.');
		each_info[2] = str.replace(/^([^\s]*\s){2}/g, "").replace(/ /g, "&nbsp;");
		var have_devname=0;
		if(each_info[1]!="<unknown>" && dev_name_num > 0)
		{
			for(j=1;j<=dev_name_num;j++)
			{
				var dev_str = eval ( 'devnameArray' + j );
				var dev_info = dev_str.split(' ');
				if(dev_info[0] == each_info[1]) {
					each_info[2] = dev_str.substr(dev_info[0].length + dev_info[1].length + dev_info[2].length+3)
					have_devname = 1;
					break;
				}
			}
		}

		if( i%2== 0 )
			document.write("<TR class=\"even_line\">");
		else
			document.write("<TR class=\"odd_line\">");
		document.write('<TD class="select_radio" nowrap align=center><input type="radio" name="ruleSelect" id="address_select'+i+'" value="'+(i-1)+'"><label for="address_select'+i+'"></label></TD>');
		document.write('<TD nowrap align=center><span class="subhead">'+i+'</span></TD>');
		if (each_info[0]=="<unknown>")
			document.write('<TD nowrap align=center> &lt;$unknown_mark&gt;</TD>');
		else
			document.write('<TD nowrap align=center>'+each_info[0]+'</TD>');
		if (each_info[2]=="<unknown>" && have_devname == 0)
			document.write('<TD nowrap align=center> &lt;$unknown_mark&gt;</TD>');
		else
			document.write('<TD nowrap align=center>'+each_info[2].replace(/</g, "&#60;").replace(/>/g, "&#62;")+'</TD>');
		if (each_info[1]=="<unknown>")
			document.write('<TD nowrap align=center> &lt;$unknown_mark&gt;</TD></TR>');
		else
			document.write('<TD nowrap align=center>'+each_info[1]+'</TD></TR>');
	}
}		
</script>
	</TABLE>
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2 align=center>
	<input class="add_bt"  type="button" name="Add" id="add" value="$add_mark" onClick="valid_add();return false;">
	<input class="edit_bt" type="button" name="Edit" id="edit" value="$edit_mark" onClick="return check_reservation_editnum(document.forms[0]);">
	<script>
	if( master == "admin" )
		document.write('<input class="delete_bt" type="button" name="Delete" id="delete" value="$delete_mark" onClick="return check_reservation_del( document.forms[0]);">');
	else
		document.write('<input class="delete1_bt" type="button" name="Delete" id="delete" value="$delete_mark" disabled>');
	</script>
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_lan") %>
</FORM>
</BODY>
</HTML>
