<% http_header("style/form.css", "/funcs.js", "/qos.js") %>
<% body_header("_qos", "QOS_rule.htm", "add_qos_online") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$qos_add_head</div>
<div class="fix_button">
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
    <TD nowrap align=center>
    <script>
	var master="<% cfg_get("http_loginname") %>";
	if( master=="admin" )
		document.write('<input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="qosRule();">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" id="apply" value="$apply_mark" onClick="return check_qos_online(document.forms[0],\'add\');">');
	else
		document.write('<input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" id="apply" value="$apply_mark" disabled>');
    </script>
    </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
<% qos_items_xss() %>

str_div="";
var serv_array=<% get_serv_array("1") %>;
function loadvalue()
{
	str_div=getObj("hidden_app_port").innerHTML;
	getObj("hidden_app_port").innerHTML='';
	change_serv_online();
}
</script>
<input type="hidden" name="hidden_port_type">
<input type="hidden" name="hidden_portstart">
<input type="hidden" name="hidden_portend">
<input type="hidden" name="hidden_port_type2">
<input type="hidden" name="hidden_portstart2">
<input type="hidden" name="hidden_portend2">
<input type="hidden" name="hidden_qos_policy_name">
	<TR><TD nowrap colspan=2><b>$qos_priority</b> </TD></TR>
	<TR>
		<TD nowrap>$qos_policy_for</TD>
		<TD nowrap><INPUT type="text" name="name" id="name" maxLength="60" size="20" onKeyPress="return getkey('ssid', event)" value=""></TD>
	</TR>
	<TR>
		<TD nowrap>$qos_priority_category</TD>
		<TD nowrap> 
			<SELECT name="category" id="category" onChange="change_priority()">
				<OPTION value="0">$qos_application</OPTION>
				<OPTION value="1" selected>$qos_online</OPTION>
				<OPTION value="3" >$qos_mac</OPTION>
			</SELECT>
		</TD>
	</TR>	
	<TR>
		<TD nowrap>$qos_online</TD>
		<TD nowrap> 
			<SELECT name="apps" id="apps" onChange="change_serv_online()">
				<OPTION value="Counter-Strike">$qos_counter_strike</OPTION>
				<OPTION value="Age-of-Empires" >$qos_ageof_empires</OPTION>
				<OPTION value="Everquest" >$qos_everquest</OPTION>
				<OPTION value="Quake-2" >$qos_quake2</OPTION>
				<OPTION value="Quake-3" >$qos_quake3</OPTION>
				<OPTION value="Unreal-Tourment" >$qos_unreal</OPTION>
				<OPTION value="Warcraft" >$qos_warcraft</OPTION>
				<OPTION value="Add" >$qos_add_new_game</OPTION>			
			</SELECT>
		</TD>
	</TR>
	<TR>
		<TD nowrap>$qos_priority</TD>
		<TD nowrap>
			<SELECT name="priority" id="priority">
				<OPTION value="0" >$qos_highest</OPTION>
				<OPTION value="1" selected>$qos_high</OPTION>			
				<OPTION value="2" >$qos_normal</OPTION>
				<OPTION value="3" >$qos_low</OPTION>
			</SELECT>
		</TD>
	</TR>
	$bluebar
	</TABLE>
	<div id="real_app_port"></div>	
	<div id="hidden_app_port" style="VISIBILITY:hidden;POSITION:absolute;">
	<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
	<TR>
		<TD nowrap colspan=2><b>$qos_specified_port</b></TD>
	</TR>
	<TR>
		<TD nowrap>$trigger_contype</TD>
		<TD nowrap> 
			<select name="protocol" id="protocol" size="1">
				<option value="TCP/UDP">TCP/UDP</option>
				<option value="TCP">TCP</option>
				<option value="UDP">UDP</option>
			</SELECT>
		</TD>
	</TR>	
	<TR>
		<TD nowrap>$block_ser_start_port</TD>
		<TD nowrap>
			<input type="text" name="port_start" id="port_start" size="6" maxlength="5" onKeyPress="return getkey('num', event)">(1~65535)
		</TD>
	</TR>
	<TR>
		<TD nowrap>$block_ser_end_port</TD>
		<TD nowrap> 
			<input type="text" name="port_end" id="port_end" size="6" maxlength="5" onKeyPress="return getkey('num', event)">(1~65535)
		</TD>
	</TR> 
$bluebar	
	</TABLE>	
</div>
</div>
<% help_box("0","_qos") %>
</FORM>
</BODY>
</HTML>
