<% http_header("style/form.css", "/funcs.js", "/qos.js") %>
<% body_header("_qos","QOS_rule.htm","edit_qos_mac") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$qos_add_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
        <TR>
                <TD nowrap colspan=2 align=center>
		<script>
			var master="<% cfg_get("http_loginname") %>";
			if( master=="admin" )
				document.write('<input class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="qosRule();">&nbsp;&nbsp;<input class="apply_bt" type="button" name="apply" value="$apply_mark" onClick="return check_qos_mac(document.forms[0],\'edit\');">');
			else
				document.write('<input class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="apply" value="$apply_mark" disabled>');
		</script>
            </TD>
        </TR>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
var qosmac_array_num=0;
<% qos_items_xss() %>
<% qosMac_items_xss() %>
<% list_attach_device()  %>
<% list_attach_name() %>
<% save_timestamp("edit_qos_mac","qos_editmac","qos_addmac","qos_delmac") %>
<% refresh_timestamp("qos_editnum") %>
var attach_device_list="<% echo_file("/tmp/netscan/attach_device") %>";
var attach_array=attach_device_list.split(' @#$$&*! ');
var attach_mac_array = new Array();
var attach_name_array = new Array();
var attach_policy = new Array();
var user_add_mac = new Array();
var k=0;
var p=0;
var ts='<% cfg_get("edit_qos_mac") %>';
var mac_list_num=0;
var mac_show_num=0; //bug 31143table item color show wrong, this number remember the talbe is even line or odd line
</script>
<script>
var select_editnum="<% cfg_get("qoslist_editnum") %>";
var select_name;
function loadvalue()
{
	var cf=document.forms[0];
	var edit_str=eval('qosArray'+select_editnum).replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
	var each_info=edit_str.split(' ');
	cf.name.value=each_info[0];
	cf.mac.value=each_info[8];
	cf.dev_name.value=each_info[7];
	cf.priority.value=each_info[3];
}
</script>
<input type="hidden" name="the_mac">
<input type="hidden" name="select_editnum_mac">
<input type="hidden" name="select_qoslist_num">
<input type="hidden" name="hidden_priority_category" value=3>
	<TR><TD nowrap colspan=2><b>$qos_priority</b> </TD></TR>
	<TR>
		<TD nowrap>$qos_policy_for</TD>
		<TD nowrap> <INPUT type="text" name="name" maxLength="60" size="16" onKeyPress="return getkey('ssid', event)" value=""></TD>
	</TR>
	<TR>
		<TD nowrap>$qos_priority_category</TD>
		<TD nowrap> 
			<SELECT name="category" onChange="change_priority()" disabled>
				<OPTION value="0" >$qos_application</OPTION>
				<OPTION value="1" >$qos_online</OPTION>
				<OPTION value="3" selected>$qos_mac</OPTION>			
			</SELECT>
		</TD>
	</TR>
$bluebar
	<TR><TD nowrap colspan=2> <b>$qos_mac_device_list</b></TD></TR>
	<TR>	
		<TD nowrap colspan=2>
			<TABLE class="tables device_list" border=0 cellpadding=2 cellspacing=0 width=100%>
			<TR class=table_header>
				<TD nowrap>&nbsp; </TD>
				<TD nowrap align=center> <span class="subhead">$qos_policy</span></TD>
				<TD nowrap align=center> <span class="subhead">$qos_priority</span></TD>
				<TD nowrap align=center> <span class="subhead">$lan_mark_name</span></TD>
				<TD nowrap align=center> <span class="subhead">$qos_mac</span></TD>
			</TR>
	<script>
var edit_str=eval('qosArray'+select_editnum);
var each_qosinfo=edit_str.split(' ');	
if(attach_device_list != "")
{
        for(i=0, p=0;i<attach_array.length;i++, p++)
        {
                var each_info=attach_array[i].split(' ');
                if(each_info.length>2)
                {
                        attach_mac_array[p]=each_info[1];
                        if (each_info[2].length>0)
				attach_name_array[p]=each_info[2];
                        else
                                attach_name_array[p]="----";
                }
                else
                {
                        attach_mac_array[p]=each_info[1];
                        attach_name_array[p]="----";
                }
                if(attach_mac_array[p] == "<unknown>")
                        attach_mac_array[p]="&lt;$unknown_mark&gt;"

                if(attach_name_array[p] == "<unknown>" || attach_name_array[p] == "&lt;unknown&gt;" || attach_name_array[p] == "----" ){
                        for( t=0; t<deviceIP_name_num; t++){
                                var dev_name = eval ( 'deviceIP_name' + t );
                                var dev_name_array = dev_name.split(' ');
                                if( attach_ip_array[p] == dev_name_array[0] && dev_name_array[1] != "") 
                                        attach_name_array[p] = dev_name_array[1];

                        }
                }

                if( attach_mac_array[p].toUpperCase() == "<% cfg_get("macAddr") %>".toUpperCase().replace(/-/g,":") 
                        && (attach_name_array[p] == "<unknown>" || attach_name_array[p] == "&lt;unknown&gt;" || attach_name_array[p] == "----" ) )
                {
                        attach_name_array[p] = "<% cfg_get("client_name") %>";
                }

                if(attach_name_array[p] == "<unknown>")
                        attach_name_array[p]="&lt;$unknown_mark&gt;"
        }
}
if( qosmac_array_num > 0 )
{
        for(i=1;i<=qosmac_array_num;i++)
        {
                var str = eval ( 'qosmac_Array' + i );
                var each_info=str.split(' ');
		k = i - 1;
                user_add_mac[k]=each_info[3];
        }
}
var dev_num_not_in_maclist=0
if( p > 0 )
{
        for(j=0,i=qosmac_array_num;j<p;j++)
        {
		var flag=0;
		for(k=0;k<qosmac_array_num;k++)
		{
			if(attach_mac_array[j].toLowerCase() == user_add_mac[k].toLowerCase())
			{
				/*-- when user added list have this device info,
				     clear it in attach list, to avoid record duplicate info  --*/
				attach_mac_array[j]="";
				attach_name_array[j]="";
				attach_policy[j]="";
				flag++;
				break;
			}
		}
		if(flag == 0)
		{
			i++;
			mac_show_num++;
			dev_num_not_in_maclist++;
			var def_name=attach_mac_array[j].substring(9,11)+attach_mac_array[j].substring(12,14)+attach_mac_array[j].substring(15,17);
                        attach_policy[j]='Pri_MAC_'+def_name;
			if( mac_show_num%2== 0 )
				document.write("<TR class=\"even_line\">");
			else
				document.write("<TR class=\"odd_line\">");
			document.write('<TD nowrap align=center><input type="radio" name="MacSelect" value="'+i+'" disabled onclick="attached_qosmac_data_select('+i+','+j+')" id="MacSelect_1"><label for="MacSelect_1"></label></TD><TD nowrap align=center><span class="subhead">'+attach_policy[j]+'</span></TD>');
                        document.write('<TD nowrap align=center> $qos_normal</TD>');
                        document.write('<TD nowrap align=center> '+attach_name_array[j]+'</TD><TD nowrap align=center> '+attach_mac_array[j]+'</TD></TR>');
                }
        }
}
mac_list_num = i ;
if( qosmac_array_num > 0 )
{
	for(i=1;i<=qosmac_array_num;i++)
	{
		mac_show_num++;
		var str = eval ( 'qosmac_Array' + i );	
		var each_info=str.split(' ');
		if( mac_show_num%2== 0 )//bug 31143, move this "if code" before "if( each_qosinfo[0] == each_info[0])"
			document.write("<TR class=\"even_line\">");
		else
			document.write("<TR class=\"odd_line\">");
		if(each_qosinfo[0] == each_info[0])
			document.write('<TD nowrap align=center><input type="radio" name="MacSelect" checked value="'+i+'"  onclick="qosmac_data_select('+i+')" id="MacSelect_2"><label for="MacSelect_2"></label></TD>');
		else
			document.write('<TD nowrap align=center><input type="radio" name="MacSelect" disabled value="'+i+'"  onclick="qosmac_data_select('+i+')" id="MacSelect_3"><label for="MacSelect_3"></label></TD>');
		document.write('<TD nowrap align=center><span class="subhead">'+each_info[0]+'</span></TD>');
		if(each_info[1]=='0')
			document.write('<TD nowrap align=center> $qos_highest</TD>');
		else if(each_info[1]=='1')
			document.write('<TD nowrap align=center> $qos_high</TD>');
		else if(each_info[1]=='2')
			document.write('<TD nowrap align=center> $qos_normal</TD>');
		else 
			document.write('<TD nowrap align=center> $qos_low</TD>');			
		document.write('<TD nowrap align=center> '+each_info[2]+'</TD><TD nowrap align=center> '+each_info[3]+'</TD></TR>');
	}
}		
	</script>		
			</TABLE>
		</TD>
	</TR>
$bluebar
	<TR>
		<TD nowrap>$qos_mac</TD>
		<TD nowrap> 
			<input type="text" value="" name="mac" maxlength="60" size="16" onKeyPress="return getkeya(event)">
		</TD>
	</TR>
	<TR>
		<TD nowrap>$lan_mark_name</TD>
		<TD nowrap> <INPUT type="text" name="dev_name" maxLength="60" size="16" onKeyPress="return getkey('hostname', event)" value=""></TD>
	</TR>
	<TR>
		<TD nowrap>$qos_priority</TD>
		<TD nowrap> 
			<SELECT name="priority">
				<OPTION value="0" >$qos_highest</OPTION>
				<OPTION value="1" selected>$qos_high</OPTION>			
				<OPTION value="2" >$qos_normal</OPTION>
				<OPTION value="3" >$qos_low</OPTION>
			</SELECT>
		</TD>
	</TR>	
$bluebar
	<TR align=center>
	    <TD nowrap colspan=2>
		<script>
			var master="<% cfg_get("http_loginname") %>";
			if( master=="admin" )
				document.write('<input class="add_bt"  type="button" name="add_mac" value="$add_mark" onClick="return valid_add_qosmac(document.forms[0],\'add\',\'edit_page\');"><input class="edit_bt" type="button" name="edit_mac" value="$edit_mark" onClick="return valid_add_qosmac(document.forms[0],\'edit\',\'edit_page\');"><input class="delete_bt" type="button" name="del_mac" value="$delete_mark" onClick="return valid_delete_qosmac(document.forms[0]);">');			
			else
				document.write('<input class="add1_bt"  type="button" name="add_mac" value="$add_mark" disabled><input class="edit1_bt" type="button" name="edit_mac" value="$edit_mark" disabled><input class="delete1_bt" type="button" name="del_mac" value="$delete_mark" disabled>');
		</script>
		<input class="common_bt" type='button' name='refresh' value='$refresh_mark' onClick='location.href="QOS_mac_add.htm";return false;'>
		</TD>	
	</TR>
$bluebar
	</TABLE>	
</div>
<% help_box("0","_qos") %>	
</FORM>
<script>
if( qosmac_array_num == 1)
	qosmac_data_select(1);
else
//	for(j=0;j<attach_array.length + qosmac_array_num;j++)
	for(j=0;j<mac_list_num;j++)
		if(document.forms[0].MacSelect[j].checked)
			qosmac_data_select(j + 1 - dev_num_not_in_maclist);
</script>
</BODY>
</HTML>
