<% http_header("style/form.css", "/funcs.js", "/qos.js") %>
<% noload_header("_qos", "QOS_main.htm","qos_editnum") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title" id="qos_priority_table">$qos_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="qosMain();">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="qosMain();return false;"></TD></TR>');
else
	document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD></TR>');

</script>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>
<script>
var qos_array_num=0;
var qosmac_array_num=0;
<% qos_items_xss() %>
<% qosMac_items_xss() %>
<% save_timestamp("qos_editnum","qos_del","qos_del_all") %>
<% refresh_timestamp("add_qos_adva", "edit_qos_adva","add_qos_ether", "edit_qos_ether", "add_qos_mac", "edit_qos_mac", "add_qos_online", "edit_qos_online") %>
var ts='<% cfg_get("qos_editnum") %>'
</script>
<input type="hidden" name="qos_list">
<input type="hidden" name="select_edit">
<input type="hidden" name="select_del">
<input type="hidden" name="select_del_mac" value="0">
<TR>
	<TD>
		<TABLE class='tables table1' border=0 cellpadding=2 cellspacing=0 width=100%>
		<TR class=table_header>
			<TD nowrap align=center>&nbsp;</TD>
			<TD nowrap align=center><span class="subhead">#</span> </TD>
			<TD nowrap align=center><span class="subhead">$qos_policy</span> </TD>
			<TD nowrap align=center><span class="subhead">$qos_priority</span></TD>
			<TD nowrap align=center><span class="subhead">$qos_description</span></TD>
		</TR>
<script>	
if( qos_array_num > 0 )
{
	for(i=1,j=0;i<=qos_array_num;j++)
	{
		var str = eval ( 'qosArray' + i );
		var each_info=str.split(' ');
		
		each_info[0] = each_info[0].replace(/</g, "&#60;").replace(/>/g, "&#62;");
		if( j%2== 0 )//bug 31143, table color problem,  change i to j, i is config number, j is table show number
			document.write("<TR class=\"odd_line\">");
		else
			document.write("<TR class=\"even_line\">");
		document.write('<TD class=\"select_radio\" nowrap align=center><input type="radio" name="ruleSelect" id="qos_select'+(j+1)+'" value="'+j+'"><label for="qos_select'+(j+1)+'"></label></TD><TD nowrap align=center>'+(j+1)+'</TD><TD nowrap align=center>'+change_name_online(each_info[0])+'</TD>');
		
		if(each_info[3]=='0')
			document.write('<TD nowrap align=center>$qos_highest</TD>');
		else if(each_info[3]=='1')
			document.write('<TD nowrap align=center>$qos_high</TD>');
		else if(each_info[3]=='2')
			document.write('<TD nowrap align=center>$qos_normal</TD>');
		else 
			document.write('<TD nowrap align=center>$qos_low</TD>');
		if(each_info[1]=='0')
		{
			if(each_info[2]!="Add")
				document.write("<TD nowrap align=center>"+ change_name_online(each_info[2])+' $qos_application</TD></TR>');
			else
				document.write("<TD nowrap align=center>"+ change_name_online(each_info[0])+' $qos_application</TD></TR>');
		}
		else if(each_info[1]=='1')
		{
			if(each_info[2]!="Add")
				document.write("<TD nowrap align=center>$qos_online "+change_name_online(each_info[2])+'</TD></TR>');	
			else
				document.write("<TD nowrap align=center>$qos_online "+change_name_online(each_info[0])+'</TD></TR>');	
		}
		else if(each_info[1]=='2')
		{
			//document.write("<TD nowrap align=center> "+change_name_online(each_info[0])+" </TD></TR>");	
                        document.write("<TD nowrap align=center> "+"LAN Port "+each_info[2]+" </TD></TR>");
		}
		else if(each_info[1]=='3')
			document.write("<TD nowrap align=center>  MAC "+each_info[8]+" </TD></TR>");
		i = i+2;
	}
}		
</script>
		</TABLE>
	</TD>
</TR>
$bluebar
<TR>
	<TD  align=center nowrap>
	<input class="edit_bt" type="button" name="edit_qos" id="edit_qos" value="$edit_mark" onClick="check_qoslist_editnum(document.forms[0]);">&nbsp;
	<script>
	if(master == "admin")
		document.write('<input class="delete_bt" type="button" name="delete_qos" id="delete_qos" value="$delete_mark" onClick="check_qoslist_delnum(document.forms[0]);">&nbsp;&nbsp;<input class="delete_bt" type="button" name="delete_all_qos" id="delete_all_qos" value="$deleteall_mark" onClick="check_qoslist_delall(document.forms[0]);"><br><br>');
	else
		document.write('<input class="delete1_bt" type="button" name="delete_qos" id="delete_qos" value="$delete_mark" disabled>&nbsp;&nbsp;<input class="delete1_bt" type="button" name="delete_all_qos" id="delete_all_qos" value="$deleteall_mark" disabled><br><br>');
		
	</script>
	<input class="long_add_bt" type="button" name="add_qos" id="add_qos" value="$qos_add_prioritye" onClick="location.href='QOS_adva_add.htm';">
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_qos") %>
</form>
</BODY>
</HTML>	
