<% http_header("style/form.css") %>
<body>
<style type="text/css">
p{font-size:13px}
img{align:center-right}
</style>
<div>
	<div style="padding-left: 20px">
		<iframe height="97px" width="980px" scrolling="no" frameborder="0" class="header_frame" src="BRS_top.html">
		</iframe>
	</div>
	
	<div style="margin:18px 100px;">
		<p style="font: bold 17px arial; color: #9d98ff;">
			<script>document.write("$rae_learn_head".replace(/vs\. Extender$/g, ''))</script>
		</p>
		<script>document.write("$rae_learn_router_1");</script>
		<div><img src="image/router_map.gif" style="max-height:223px"></div>
		<p>$rae_learn_router_2</p>
		<div><img src="image/G1.jpg" style="max-height:223px"></div>
		<script>document.write("$rae_learn_router_ap");</script>
		<div><img src="image/G2.jpg" style="max-height:223px"></div>
		<script>document.write("$rae_learn_ap_extender".replace(/<p><b>Extender<\/b><\/p>$/g, ''));</script>
	</div>
	<div class="bottom_margin" style="height:20px"></div>

</div>
</body>
</html>
