<% http_header("style/form2.css", "/funcs.js", "/jquery-1.7.2.min.js") %>
<% body_header("_edit_device", "QOS_device.htm", "edit_device") %>
<div class="page_title headstyle1"><% rae_page_title() %></div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<TD nowrap align=center>
	<script>
		var master="<% cfg_get("http_loginname") %>";
		if( master=="admin" )
			document.write('<input class="new_cancel_bt ui-corner-all" type="reset" name="Cancel" value="$cancel_mark" onClick="location.href=\'rae_main.htm\';"><input class="new_apply_bt ui-corner-all" type="button" name="Apply" value="$apply_mark" onClick="return select_type();">');
		else
			document.write('<input class="new_greycancel_bt ui-corner-all" type="reset" name="Cancel" value="$cancel_mark" disabled><input class="new_greyapply_bt ui-corner-all" type="submit" name="Apply" value="$apply_mark" disabled>');
	</script>
	</TD>
</TR>
</TABLE>
</div>
<style><% rae_main_css() %></style>
<script language="javascript" type="text/javascript">
var cur_mode="<% cfg_get("rae_cur_mode") %>";
var ap_mode="<% cfg_get("ap_mode") %>";
var bridge_mode="<% cfg_get("bridge_mode") %>";
function loadvalue()
{
	var cf = document.forms[0];
	var len = 1;
	if(getTop(window).use_orbi_style_flag != "1" || (getTop(window).use_orbi_style_flag == "1" && "<% cfg_get("wan_preference") %>" != "1"))
	{
	if(parent.rae_flag & 1)
	{
		document.getElementById("ap_mode").style.display = "";
		len++;
	}
	else
		document.getElementById("ap_mode").style.display = "none";
	if(parent.rae_flag & 2)
	{
		document.getElementById("bridge_mode").style.display = "";
		len++;
	}
	else
		document.getElementById("bridge_mode").style.display = "none";
	}
	else
	{
		document.getElementById("ap_mode").style.display = "none";
		document.getElementById("bridge_mode").style.display = "none";
	}
	if(parent.rae_flag & 4)
	{
		document.getElementById("repeating_mode").style.display = "";
		len++;
	}
	else
		document.getElementById("repeating_mode").style.display = "none";
	document.getElementById("icon_box").style.width=(len*220+20)+"px";
	if( ap_mode == "1" )
	{
		cf.operation_type[1].checked = true;
		$$("#ap").removeClass("icon_unselect").addClass("icon_select");
	}
	else if(bridge_mode == "1")
	{
		cf.operation_type[2].checked = true;
		$$("#bridge").removeClass("icon_unselect").addClass("icon_select");
	}
	else
	{
		cf.operation_type[0].checked = true;
		$$("#router").removeClass("icon").addClass("icon_select");
	}
		

}


</script>
<div id="main" class="main_top_button">

<div class="boxline" id="icon_box">
<div id="router_mode" class="box ui-corner-all router">
<div class="radio_box"><input type="radio" name="operation_type" onclick="select_type(0)" value=0 id="operation_type_rm"><label for="operation_type_rm"> $rae_rm</label></div>
<div id="router" class="icon_unselect" onclick="select_type(0)"><img src="/image/router.gif"></div>
</div>
<div id="ap_mode" class="box ui-corner-all ap">
<div class="radio_box"><input type="radio" name="operation_type" onclick="select_type(1)" value=1 id="operation_type_ap"><label for="operation_type_ap"> $ap_mode</label></div>
<div id="ap" class="icon_unselect" onclick="select_type(1)"><img src="/image/ap.gif"></div>
</div>
<div id="bridge_mode" class="box ui-corner-all bridge">
<div class="radio_box"><input type="radio" name="operation_type" onclick="select_type(2)" value=2 id="operation_type_br"><label for="operation_type_br"> $bridge_mode</label></div>
<div id="bridge" style="width:115px" class="icon_unselect" onclick="select_type(2)"><img src="/image/bridge.gif"></div>
</div>
<div id="repeating_mode" class="box ui-corner-all repeating">
<div class="radio_box"><input type="radio" name="operation_type" onclick="select_type(3)" value=2 id="operation_type_re"><label for="operation_type_re"> $repeating_mode</label></div>
<div id="repeating" class="icon_unselect" onclick="select_type(3)"><img src="/image/repeating.gif"></div>
</div>

</div>

</div>
</form>
</body>
</html>
