<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Data Collection Details</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='style/simple_tnc_details.css'>
	<% hijack_language() %>
</head>
<script>
function click_close() {
	window.close();
}

if(top.location.href.indexOf("definedLanguage") != -1) {
	tnc_full_00 = "$tnc_full_00";
	tnc_full_01 = "$tnc_full_01";
	tnc_full_02 = "$tnc_full_02";
	tnc_full_10 = "$tnc_full_10";
	tnc_full_11 = "$tnc_full_11";
	tnc_full_12 = "$tnc_full_12";
	tnc_full_20 = "$tnc_full_20";
	tnc_full_21 = "$tnc_full_21";
	tnc_full_22 = "$tnc_full_22";
	tnc_full_23 = "$tnc_full_23";
	tnc_full_30 = "$tnc_full_30";
	tnc_full_31 = "$tnc_full_31";
	tnc_full_40 = "$tnc_full_40";
	tnc_full_terms = "$tnc_full_terms";
	close_win_mark = "$close_win_mark";
}
</script>
<body>
	<div id="policy">
		<script>
			if("<% cfg_get("new_sold_board") %>" != "1") {
				document.write("<p class='title'>" + tnc_full_00 + "</p>");
				document.write("<p>" + tnc_full_01 + "</p>");
				document.write("<p>" + tnc_full_02 + "</p>");
				document.write("<p>" + tnc_full_10 + "</p>");
				document.write("<p>" + tnc_full_11 + "</p>");
				document.write("<p>" + tnc_full_12 + "</p>");
				document.write("<p>" + tnc_full_20 + "</p>");
				document.write("<p>" + tnc_full_21 + "</p>");
				document.write("<p>" + tnc_full_22 + "</p>");
				document.write("<p>" + tnc_full_23 + "</p>");
				document.write("<p>" + tnc_full_30 + "</p>");
				document.write("<p>" + tnc_full_31 + "</p>");
				document.write("<p>" + tnc_full_40 + "</p>");
			}
			else
				document.write(tnc_full_terms.replace(/(href='[^']+')/g, "$$1" + " target='_blank'"));
		</script>
	</div>
	<script>
		document.write('<div class="button_line"><input type="button" class="delete_bt" name="Close" id="close" value="' + close_win_mark + '" onclick="click_close()"></div>');
	</script>
</body>
</html>
