<% http_header("style/form.css", "/funcs.js", "/ipv6.js",  "/str_router.js") %>
<% noload_header("_STR_routes", "STR_routes.htm", "st_router_add2") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$static_router_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master =="admin" )
    document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel_bt" type="reset" name="Cancel" value="$cancel_mark" onClick="location.href=\'STR_routes.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_router_add2(document.forms[0],\'add\');"></TD></TR>');
else
	document.write('<TR><TD nowrap colspan=2 align=center><input class="cancel1_bt" type="reset" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" value="$apply_mark" disabled></TD></TR>');
</script>
</TABLE>
</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
<% routes_items_xss() %>
</script>

<input type="hidden" name="route_ac">
<input type="hidden" name="route_dest">
<input type="hidden" name="route_dest_pre">
<input type="hidden" name="route_gtw">
<input type="hidden" name="count">
<input type="hidden" name="totalnum" value="$totalnum">
<TR>
	<TD nowrap class="btm0">$sta_routes_rtname</TD>
	<TD nowrap class="top0">
	<input type="text" name="route_name" size="16" maxlength="30">
	</TD>
</TR>
<TR>
	<TD nowrap colspan=2>
	<input type="checkbox" name="SRouteActive" id="SRouteActive_act" checked><label for="SRouteActive_act">$sta_routes_act</label></TD>
</TR>
<TR>
	<TD nowrap class="ip-label-td">$sta_routes_ipv6_destip</TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="ip-input-row top0"><img class='el-hide' src=/spacer.gif width=10 height=12 border=0>
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteDestAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">/
	<input type="text" name="SRouteDestAddrPrefix" size="2" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num', event);" onkeyup="keyup_n(event,this,3);">
	</TD>
</TR>
<TR>
	<TD nowrap class="ip-label-td">$sta_routes_ipv6_gtwip</TD>
</TR>
<TR>
	<TD nowrap colspan=2 class="ip-input-row top0"><img class='el-hide' src=/spacer.gif width=10 height=12 border=0>
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">:
	<input type="text" name="SRouteGatewayAddr" size="3" autocomplete="off" maxlength="4" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkeya(event);" onkeyup="keyup_n(event,this,4);">
	</TD>
</TR>
<TR>
	<TD nowrap class="btm0">$sta_routes_metric</TD>
</TR>
<TR>
	<TD nowrap class="top0"><img class='el-hide' src=/spacer.gif width=10 height=12 border=0>
	<input type="text" name="route_metric" size="3" maxlength="2" onKeyPress="return getkey('num',event);">
	</TD>
</TR>	
$bluebar
</TABLE>
</div>
<% help_box("0","_STR_routes") %>
</FORM>
</BODY>
</HTML>
