<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% http_header("/funcs.js", "style/top.css", "funcs.js", "top.js", "/jquery-1.7.2.min.js") %>
<% top_body_header("lang_check.html", "select_language") %>

<script>
var language_oriArray = "<% lang_en() %>".split(" ");
var language_showArray="<% lang_show() %>".split(" ");
var gui_region = "<% cfg_get("GUI_Region") %>";
var browser_lang = "<% get_browser_language() %>";
var lang_select = "<% cfg_get("Language_Selection") %>";
//var type = parent.type;
var dis_lang_crl = "<% cfg_get("Enable_GUIStringTable") %>";
var jp_multiPPPoE = "<% cfg_get("jp_multiPPPoE") %>";
var netgear_region=getTop(window).netgear_region;
var wds_support_wpa=getTop(window).wds_support_wpa;
var security_mode="<% cfg_get("wl_sectype") %>";
var security_mode_a="<% cfg_get("wla_sectype") %>";
var old_wds_endis_fun="<% cfg_get("wds_endis_fun") %>";
var old_wds_endis_fun_a="<% cfg_get("wla_wds_endis_fun") %>";
var an_router_flag = parent.an_router_flag;
var bgn_pr_wds_support_wpa=0;
var an_pr_wds_support_wpa=0;

if( wds_support_wpa == 1 && gui_region == "Chinese" && (netgear_region == "" || netgear_region.toUpperCase() == "WW"))
{
	if((security_mode=="3" ||  security_mode=="4" || security_mode == "5") && old_wds_endis_fun == "1")
		bgn_pr_wds_support_wpa=1;

	if(an_router_flag == 1 )
	{
		if( (security_mode_a == "3" || security_mode_a == "4" || security_mode_a == "5") && old_wds_endis_fun_a == "1" )
			an_pr_wds_support_wpa=1;

	}	
}

//for firmware version checking
var wan_status = "<% detwan_valid() %>";
var config_status = <% autoup_status() %>;
<% check_version() %>
var master="<% cfg_get("http_loginname") %>";

function loadvalue()
{
	load_top_value();

	if(lang_select != "Auto")
		lang_select = gui_region;
	document.forms[0].language.value = lang_select;

	if( dis_lang_crl == "0" )
		document.forms[0].language.disabled = true;
	else if(!IsGameRouter())
	{
		/* if select is "Auto", change languae to browser_langauge */
		if(lang_select == "Auto" && browser_lang != gui_region && master == "admin")
		{
			if(bgn_pr_wds_support_wpa == 1 || an_pr_wds_support_wpa == 1 )
				return;
			var form = document.forms[0];
			getTop(window).auto_change_lang = 1;
	                form.language.disabled=true;
        	        form.hidden_lang_avi.value=form.language.value;
                	form.target="formframe";
                	form.submit();
		}

	}
}

window.onresize = function(){
	load_top_value();
}

function myFunction() {
	var x = document.getElementById("Demo");
	if (x.className.indexOf("w3-show") == -1) {
		x.className += " w3-show";
	}
	else {
		x.className = x.className.replace(" w3-show", "");
	}
}
</script>
<input type=hidden name=hidden_lang_avi>
<div id="logo"></div>
<div id="logout" class="logout_bt el-hide" onclick='getTop(window).location.href="LGO_logout.htm";'><b>$logout_head</b></div>
<% top_hardware_version() %>
<ul class="tnb-right el-show">
	<li>
		<div class="w3-dropdown-click">
			<a onclick="myFunction()" ><img src="image/tnb-ico1.png" alt=""/></a>
			<div id="Demo" class="w3-dropdown-content w3-bar-block tnb-submenu-bg">
				<div id="search">
					<input type="text" name="search" value="$ent_srh_item" onkeypress="detectEnter('num',event);" onfocus="this.value='';" onblur="(this.value=='')?(this.value='$ent_srh_item'):''" />
					<input id="search_button" class="search_button" type="button" name="dosearch" value="GO" onclick="do_search();">
				</div>
			</div>
		</div>
	</li>
	<li><a href="javascript:;"><img src="image/tnb-ico2.png" alt=""/></a>
		<div class="tnb-submenu">
			<a target="_blank" href="http://downloadcenter.netgear.com/" class="sublink">$docu_head</a>
			<a target="_blank" href="http://support.netgear.com" class="sublink">$oray_status_online</a>
			<a target="_blank" href="http://kb.netgear.com/app/answers/detail/a_id/12923" class="sublink">$router_faq</a>
			<a target="_blank" href="license.htm" class="sublink">GNU GPL</a>
		</div>
	</li>
	<li><a href="javascript:;"><img src="image/tnb-ico3.png" alt=""/></a>
		<div class="tnb-submenu">
			<a href="javascript:;" class="sublink" id="logout" onclick='getTop(window).location.href="LGO_logout.htm";'>Logout</a>
		</div>
	</li>
</ul>
<div class="clear"></div>

<div id="labels">
	<div id="basic_lab" class="label_unclick" onclick="goto_top('index.htm');">
		<div class="label_left"></div>
		<div class="label_middle"><b><span id="basic_label">$basic_title</span></b></div>
		<div class="label_right"></div>
	</div>
	<div id="advanced_lab" class="label_unclick" onclick="goto_top('adv_index.htm');">
		<div class="label_left"></div>
		<div class="label_middle"><b><span id="advanced_label">$advanced_title</span></b></div>
		<div class="label_right"></div>
	</div>
</div>
<div id="firm_version" name="firm_version">$router_firmware_version <br class='el-hide'><% cat_file("/firmware_version") %><% get_firmware_region("single_blank", "ww_blank") %></div>
<div id="update_info" class="update_info_down" onclick="firmwareUpgrade();">
	<div id="update_info_left"></div>
	<div id="update_info_middle"><i>$firmware_upgrade_is_available_click_to_get</i></div>
	<div id="update_info_right"></div>
</div>
<% top_signal_strength() %>
<div id="right_info" class="header-bar el-show">
<div id="router_name" name="router_name" class='el-show'><b>$my_router:</b> Nighthawk® AX12 RAX120</div>
<div id="select_language" align=right class="custom-select" >
	<script language="javascript" type="text/javascript">
	if( master == "admin" )
		document.write('<select align=right name="language" id="language" size=1 onChange="change_select();">');
	else
		document.write('<select align=right name="language" id="language" size=1 disabled>');
	
	
		languageShowlist();
	</script>
	</select>
</div>
</div>
</form>
<script language="javascript" type="text/javascript">
if(getTop(window).game_router_flag != "1" && getTop(window).use_orbi_style_flag != "1")
{
	$$('#logout').removeClass("el-hide");
	$$('#router_name').removeClass("el-hide");
	$$('#firm_version').find("br").removeClass("el-hide");
	$$('#right_info').removeClass("el-show");
}
</script>
</body>
</html>

