<% http_header("style/form.css", "/funcs.js", "/triggering.js") %>
<% body_header("_FW_trigger", "triggering.htm", "triggering_edit") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$trigger_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'triggering.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="check_triggering_add(document.forms[0],\'edit\')"></TD>');
else
	document.write('<TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></TD>');
</script>
        
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">
<% pop_help_button() %>

<% table_header("$trigger_head") %>

<script>
<% forward_items_xss() %>
<% trigger_items_xss() %>
<% upnp_items() %>

<% check_ftp() %>
var show_enableHTTP="<% cfg_get("usb_enableHTTP") %>";
var show_enableHvia="<% cfg_get("usb_enableHvia") %>";
var show_HTTP_via_port="<% cfg_get("usb_HTTP_via_port") %>";
var show_enableFTP="<% cfg_get("usb_enableFTP") %>";
var show_enableFvia="<% cfg_get("usb_enableFvia") %>";
var show_FTP_via_port="<% cfg_get("usb_FTP_via_port") %>";

var endis_ntp="<% cfg_get("endis_ntp") %>";
var endis_upnp="<% cfg_get("upnp_enable") %>";
var select_editnum='<% cfg_get("porttrigger_editnum") %>';
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";
var remote_port="<% cfg_get("remote_port") %>";
var info_get_wanproto="<% cfg_get("wan_proto") %>";
var endis_remote="<% cfg_get("remote_endis") %>";
var usb_router_flag=parent.usb_router_flag;
function loadvalue()
{
	var cf=document.forms[0];
	var str = eval ( 'triggeringArray' + select_editnum );
	var each_info=str.split(' ');
	cf.pt_name.value=each_info[0].replace(/&harr;/g," ").replace(/&#92;/g, "\\").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&#40;/g,"(").replace(/&#41;/g,")").replace(/&#34;/g,'\"').replace(/&#39;/g,"'").replace(/&#35;/g,"#").replace(/&#38;/g,"&");
	cf.service_ip.value=each_info[2];
	cf.pt_type.value=each_info[3];
	cf.pt_port.value=each_info[4];
	cf.in_port_type.value=each_info[5];
	cf.in_port_start.value=each_info[6];
	cf.in_port_end.value=each_info[7];
	cf.endis_trigger.value=each_info[8];
	cf.src_ip_type.value=((each_info[1]==0) ? "Any":"Single address");
	if(each_info[1]=='1')
	{
		var ip_array=each_info[2].split('.');
		cf.src_ip1.value=ip_array[0];
		cf.src_ip2.value=ip_array[1];
		cf.src_ip3.value=ip_array[2];
		cf.src_ip4.value=ip_array[3];
	}
	setsrc(cf);
}
</script>
<input type="hidden" name="service_ip">
<input type="hidden" name="endis_trigger">
<input type="hidden" name="hidden_pt_name">
<TR>
	<TD nowrap>$forward_service_name:</TD>
	<TD nowrap>
	<input type="text" name="pt_name" id="pt_name" size="20" maxlength="30">
	</TD>
</TR>
<TR>
	<TD nowrap>$trigger_ser_user:</TD>
	<TD nowrap> 
	<select name="src_ip_type" id="src_ip_type" onChange="setsrc(document.forms[0]);">
		<option value="Any">$any</option>
		<option value="Single address">$single_addr</option>
	</select>
	</TD>
</TR>
<TR>
	<TD nowrap> &nbsp;</TD>
	<TD nowrap class="ip-input-row top0">
	<input type="text" name="src_ip1" id="src_ip1" disabled size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="src_ip2" id="src_ip2" disabled size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="src_ip3" id="src_ip3" disabled size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="src_ip4" id="src_ip4" disabled size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD nowrap>$block_ser_service_type:</TD>
	<TD nowrap>
	<select name="pt_type" id="pt_type" size="1" >
		<option value="TCP">$block_ser_setup_tcp</option>
		<option value="UDP">$block_ser_setup_udp</option>
	</select>
	</TD>
</TR>
<TR>
	<TD nowrap>$trigger_port:</TD>
	<TD nowrap>
	<input type="text" name="pt_port" id="pt_port" size="7" maxlength="5" onKeyPress="return getkey('num', event)">(1~65535)
	</TD>
</TR>
$bluebar
<TR>
	<TD nowrap>$trigger_contype:</TD>
	<TD nowrap>
	<select name="in_port_type" id="in_port_type" size="1">
		<option value="TCP/UDP">TCP/UDP</option>
		<option value="TCP">TCP</option>
		<option value="UDP">UDP</option>
	</select>
	</TD>
</TR>
<TR>
	<TD nowrap>$block_ser_start_port:</TD>
	<TD nowrap>
	<input type="text" name="in_port_start" id="in_port_start" size="7" maxlength="5" onKeyPress="return getkey('num', event)">(1~65535)
	</TD>
</TR>
<TR>
	<TD nowrap>$block_ser_end_port:</Td>
	<TD nowrap>
	<input type="text" name="in_port_end" id="in_port_end" size="7" maxlength="5" onKeyPress="return getkey('num', event)">(1~65535)
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_FW_trigger") %>
</FORM>
</BODY>
</HTML>
