<% http_header("style/form.css", "/funcs.js", "/upgrade.js") %>
<body onLoad="loadvalue(); please_wait(false);">
<div id="black_over_lay" class="black_overlay">
</div>
<div id="page_title_div" class="page_title" style="display:block">$firm_upgrade</div>
<div id="main" class="main inner-main">
<% pop_help_button() %>

<div id="FW_checking_div" style="display:block">
<form method="post" action="/apply.cgi?/UPG_upgrade.htm" target="formframe">
<input type="hidden" name="submit_flag" value="auto_upgrade_check" />

<div><img src=/liteblue.gif width=100% height=12></div>

<script>
<% refresh_timestamp("auto_upgrade_check", "download_confile", "upg_agree_conditions") %>
<% refresh_timestamp("upload_check_fw") %>
var ts="<% cfg_get("auto_upgrade_check") %>"
var ts1="<% cfg_get("upload_check_fw") %>"
var new_sold_board="<% cfg_get("new_sold_board") %>";
var agree_auto_up_TC="<% cfg_get("agree_auto_up_TC") %>";
var agree_collect_TC="<% cfg_get("agree_collect_TC") %>";
var tnc_request_flag = parent.tnc_request_flag;
var auto_upgrade_flag = parent.auto_upgrade_flag;

<% cfg_set("hidden_upgrade", "0") %>

function loadvalue()
{
	var autoup = '<% cfg_get("auto_check_for_upgrade") %>';
	var cf = document.forms[0];
	var cf1 = document.forms[1];

	cf.action = "/apply.cgi?/UPG_upgrade.htm timestamp=" + ts;
	cf1.action = "/upgrade_check.cgi?/UPG_version.htm timestamp=" + ts1;

	var cf2 = document.forms[2];

	if(agree_auto_up_TC == "1")
		cf2.agree_upg[0].checked = true;
	else
		cf2.agree_upg[1].checked = true;

	if(agree_collect_TC == "1")
		cf2.agree_col[0].checked = true;
	else
		cf2.agree_col[1].checked = true;
	cf2.action = "/apply.cgi?/UPG_upgrade.htm timestamp=" + ts;

	if(tnc_request_flag != 1)
		document.getElementById("condition_div").style.display = "none";
	else if(new_sold_board == "1") {
		var trs = document.getElementsByClassName("coll-tr");
		while(trs.length != 0) {
			trs[0].className = "tr_hidden";
			trs = document.getElementsByClassName("coll-tr");
		}
	}

}
var netgear_module="<% cat_file("/module_name") %>";
var netgear_region=getTop(window).netgear_region;
var netgear_ver="<% cat_file("/firmware_version") %>";
</script>

<input type="hidden" name="auto_check_for_upgrade">
<% table_header("", "class='form_table'") %>
<tr>
	<td nowrap><a tabindex=-1 href="javascript:loadhelp('_upgrade','check')"><b>$upgrade_new_version</b></a></td>
	<script>
	var master="<% cfg_get("http_loginname") %>";
	if( master == "admin" )
		document.write('<td nowrap><input class="short_common_bt" type="button" name="Check" id="check" value="$check_mark" onclick="click_check();"></td>');
	else
		document.write('<td nowrap><input class="short_common1_bt" type="button" name="Check" id="check" value="$check_mark" disabled></td>');
	</script>
</tr>
$bluebar
</table>
</form>
</div>

<div id="FW_upg_div" style="display:block">
<form method="post" action="/upgrade_check.cgi" target="formframe" enctype="multipart/form-data">
<table width="100%" border="0" cellpadding="0" cellspacing="3">
<tr>
	<td nowrap>
	<a tabindex=-1 href="javascript:loadhelp('_upgrade','locate')"><b>$upgrade_select_disk</b></a>
	</td>
</tr>
<tr><td nowrap>
	 <div class='file-selector-group'>
	 <input name="mtenFWUpload" type="file" size="32" id="router_upload" maxlength="1024" class="type-file-file" onchange="this.form.upfile.value=this.value.substr(this.value.lastIndexOf('\\')+1);" contentEditable=false onkeydown="return false;" onbeforeeditfocus="return false;" onpaste="return false;" onmouseover="this.style.cursor='pointer';" />
	 <label for="router_upload" class="type-file-file"></label>
	 <input type="text" name="upfile" size="20" maxlength="1024" readonly />&nbsp;&nbsp;&nbsp;
	 <input type="button" value="$browse_mark"  id="browse" name="Browse" class="middle_common_bt" onclick="if(IE_version()!=6){this.form.router_upload.click();}" onmouseover="this.style.cursor='default';" />
	</div>
</td></tr>
<script>
	if( master == "admin" )
		document.write('<tr><td nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'UPG_upgrade.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Upload" id="Upload" value="$upg_mark" onClick="return clickUpgrade(document.forms[1]);"></td></tr>');
	else
		document.write('<tr><td nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Upload" id="Upload" value="$upg_mark" disabled></td></tr>');
</script>
<tr class='el-hide'><td nowrap>&nbsp;</td></tr>
$bluebar
</table>
</form>
</div>

<style>
.agree_option div{float:left; margin:2px 20px 2px 10px;}
.agree_title{margin:2px 0px 2px 5px;}
.agree_tip{margin:2px 0px 2px 5px;}
.policy{margin-left:50px;}
.agree_title a{text-decoration:underline; color:blue;}
.open_link a{text-decoration:underline; color:blue; font-size:10pt;}
.open_link span:first-child{margin: 10px 30px 10px 55%;}
.open_link span:last-child{margin: 10px 30px 10px 0;}
.tr_hidden{display:none;}
</style>
<div id="condition_div" style="display:block;">
<form method="post" action="/apply.cgi/UPG_upgrade.htm" target="formframe">
<input type="hidden" name="submit_flag" value="upg_agree_conditions">
<input type="hidden" name="hid_agree_upg" value="0" />
<input type="hidden" name="hid_agree_col" value="0" />
<table width="100%" border="0" cellpadding="0" cellspacing="3">
<script>
if(getTop(window).game_router_flag != "1" && getTop(window).use_orbi_style_flag != "1"){
	if( master == "admin" )
		document.write('<tr><td nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'UPG_upgrade.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="conditions_apply(document.forms[2]);"></td></tr>');
	else
		document.write('<tr><td nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></td></tr>');
	document.write('$bluebar');
}
</script>
<tr>
	<td nowrap><b>$tnc_autoup_title</b></td>
</tr>
<tr><td><div class="agree_title">$tnc_autoup_enable</div></td></tr>
<tr><td nowrap><div class="agree_tip">$tnc_select_one</div></td></tr>
<tr>
	<td nowrap>
		<div class="agree_option agree_option-2">
			<div><input type="radio" name="agree_upg" value="agree_upg" id='auto_agree'><label for="auto_agree">$tnc_agree</label></div>
			<div><input type="radio" name="agree_upg" id='auto_disagree' value="disagree_upg"><label for="auto_disagree">$tnc_disagree</label></div>
		</div>
		<div style="clear:both"></div>
	</td>
</tr>
<TR class='coll-tr'><TD colspan=2><img src=/liteblue.gif width=100% height=12></TD></TR>
<tr class='coll-tr'>
	<td nowrap><b>$tnc_collect_title</b></td>
</tr>
<tr class='coll-tr'><td><div class="agree_title"><script>document.write("$tnc_collect_enable")</script></div></td></tr>
<tr class='coll-tr'><td nowrap><div class="agree_tip">$tnc_select_one</div></td></tr>
<tr class='coll-tr'>
	<td nowrap>
		<div class="agree_option agree_option-2">
			<div><input type="radio" name="agree_col" id='col_agree' value="agree_col"><label for="col_agree">$tnc_agree</label></div>
			<div><input type="radio" name="agree_col" id='col_disagree' value="disagree_col"><label for="col_disagree">$tnc_disagree</label></div>
		</div>
		<div style="clear:both"></div>
	</td>
</tr>
$bluebar
</table>
</form>
<div class="open_link">
	<span><a href="https://www.netgear.com/about/privacy-policy/?cid=wmt_netgear_organic" target="_blank">$tnc_policy</a></span>
	<span><a href="#" onclick="view_details('tnc')">$tnc_tos_title</a></span>
</div>

<script>
if(getTop(window).use_orbi_style_flag == "1"){
	document.write('$bluebar');
	document.write('<TABLE width=100% border=0 cellpadding=0 cellspacing=2>');
	if( master == "admin" )
		document.write('<tr><td style="text-align: right;" nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" onClick="location.href=\'UPG_upgrade.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="button" name="Apply" id="apply" value="$apply_mark" onClick="conditions_apply(document.forms[2]);"></td></tr>');
	else
		document.write('<tr><td style="text-align: right;" nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" id="cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="button" name="Apply" id="apply" value="$apply_mark" disabled></td></tr>');
	document.write('</TABLE>');
}
</script>
</div>
<div id="pls_wait_div" style="display:none">
<div align="center"><br /><br /><b>$wizard_pls_wait</b><br /><br /></div>
<div class="waiting_img_div" align="center"><img src="image/wait30.gif" /></div>
</div>

</div>
<% help_box("0","_upgrade") %>
</body>
</html>
