<% http_header("style/form.css") %>
<% change_bg() %>
<script>
<!--
/*  16168 
var get_num=location.href.indexOf("openfile");
var open_file=location.href.substr(get_num+9);
*/

-->
</script>
<FRAMESET rows="10%,*,25%" border="0" framespacing="0" frameborder="no">
	<frame src="USB_Browse_top.htm" name="browse_top" scrolling="no">
	<frame src="USB_folderBrowse.htm" name="folder_tree">
	<frame src="USB_Browse_bottom.htm" name="bottom" scrolling="no">
</FRAMESET>
<NOFRAMES>
<BODY>
<P>$alert_browser
</BODY>
</NOFRAMES>
</FRAMESET>
</HTML>
