<% http_header("style/form.css", "/funcs.js", "/vlan.js") %>
<% body_header("_VLAN_IPTV", "VLAN_IPTV.htm", "apply_vlan_add") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$vlan_add_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<TD nowrap colspan=2 align=center>
	<script>
	var master="<% cfg_get("http_loginname") %>";
	if( master == "admin")
		document.write('<input class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="location.href=\'VLAN_IPTV.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_vlan_input(document.forms[0],\'add\');">');
	else
		document.write('<input class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled>');
	</script>
	</TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button">
<% pop_help_button() %>

<input type="hidden" name="hid_wired_port" value="0" />
<input type="hidden" name="hid_wireless_port" value="0" />
<input type="hidden" name="hid_internet_group" value="" />
<input type="hidden" name="hid_intranet_group" value="" />
<% table_header() %>

<script>
<% vlan_items_xss() %>
var is_for_RU=parent.is_ru_version;
var con_endis_wl_radio="<% cfg_get("endis_wl_radio") %>";
var con_endis_wla_radio="<% cfg_get("endis_wla_radio") %>";
var get_endis_guestNet="<% cfg_get("wlg1_endis_guestNet") %>";
var get_endis_guestNet_an="<% cfg_get("wla1_endis_guestNet") %>";
if(parent.use_orbi_style_flag == 1 )
var lan_ports_num = parent.lan_ports_num+1;
else
var lan_ports_num = parent.lan_ports_num;
var ad_router_flag = parent.ad_router_flag;
var wan_preference="<% cfg_get("wan_preference") %>";

function change_type(cf)
{
	if(cf.vlan_type.value == "orange") {
		document.getElementById("vlan_ports").style.display ="none";
		cf.vlan_name.value = "Orange France TV";
		cf.vlan_name.disabled = true;
		cf.vlan_id.value = "840";
		cf.vlan_id.disabled = true;
		cf.vlan_priority.value = "5";
		cf.vlan_priority.disabled = true;
	} else {
		document.getElementById("vlan_ports").style.display ="";
		cf.vlan_name.value = "";
		cf.vlan_name.disabled = false;
		cf.vlan_id.disabled = false;
		cf.vlan_priority.disabled = false;
	}
}

function loadvalue()
{
	var cf=document.forms[0];
	if(ad_router_flag == "0")
		document.getElementById("60G_td").style.display = "none";
	if(con_endis_wl_radio=="1")
		cf.iptv_ports_10.disabled=false;
	else
		cf.iptv_ports_10.disabled=true;
	if(con_endis_wla_radio=="1")
		cf.iptv_ports_11.disabled=false;
	else
		cf.iptv_ports_11.disabled=true;
	if(get_endis_guestNet=="1")
		cf.iptv_ports_12.disabled=false;
	else
		cf.iptv_ports_12.disabled=true;
	if(get_endis_guestNet_an=="1")
		cf.iptv_ports_13.disabled=false;
	else
		cf.iptv_ports_13.disabled=true;
	if(getTop(window).support_orange_flag ==1)
		document.getElementById("isp_profile").style.display = "";
}
</script>

<TR id="isp_profile" style="display:none">
	<TD nowrap><B>ISP Profile:</B></TD>
	<TD><select name="vlan_type" id="vlan_type" onChange="change_type(document.forms[0])">
	<script>
	var netgear_region="<% get_firmware_region() %>";
	if(netgear_region == "WW")
		document.write('<option value="orange">Orange France TV</option>');
	</script>
	<option value="others" selected>Others</option></TD>
</TR>
<TR>
	<TD nowrap class="btm0"><B>$sta_routes_name:</B></TD>
	<TD nowrap class="ip-input-row"><input type="text" name="vlan_name" value="" size="20" maxlength="10" onKeyPress="return getkey( 'ssid',event)"></TD>
</TR>
<TR id="vlanid">
	<TD nowrap class="btm0"><B>$vlan_id:</B></TD>
	<TD nowrap class="ip-input-row"><input type="text" name="vlan_id" value="" size="20" maxlength="4" onKeyPress="return getkey( 'num',event)">(1~4094)</TD>
</TR>
<TR id="vlanpro">
	<TD nowrap class="btm0"><B>$qos_priority:</B></TD>
	<TD nowrap class="ip-input-row"><input type="text" name="vlan_priority" value="0" maxlength="1" size="20" onKeyPress="return getkey( 'num',event)">(0~7)</TD>
</TR>
</table>

<table name="vlan_ports" id="vlan_ports" border="0" cellpadding="0" cellspacing="0">
<tr>
	<script>
		for(var count = 0; count < lan_ports_num; count++){
			port_num = count+1;
			if(parent.use_orbi_style_flag == 1 && count == 4 && wan_preference != "2")
				document.write('<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_'+count+'" name="iptv_ports_'+count+'"><label for="iptv_ports_'+count+'">Multi-Giga (5G/2.5G/1G)</td>');
			else if(parent.use_orbi_style_flag == 1 && count == 4 && wan_preference == "2")
				document.write('<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_'+count+'" name="iptv_ports_'+count+'" disabled><label for="iptv_ports_'+count+'">Multi-Giga (5G/2.5G/1G)</td>');
			else if(parent.use_orbi_style_flag == "1" && wan_preference === "1" && count == 0)
				continue;
			else
			document.write('<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_'+count+'" name="iptv_ports_'+count+'"><label for="iptv_ports_'+count+'">Port'+port_num+'</td>');
		}
	</script>
	<td>&nbsp;</td>
	<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_10" name="iptv_ports_10"><label for="iptv_ports_10">WiFi-2.4G</label></td>
	<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_11" name="iptv_ports_11"><label for="iptv_ports_11">WiFi-5G</label></td>
	<td style="display:none" align="center"><input type="checkbox" id="iptv_ports_12" name="iptv_ports_12"><label for="iptv_ports_12">Guest-2.4G</label></td>
	<td style="display:none" align="center"><input type="checkbox" id="iptv_ports_13" name="iptv_ports_13"><label for="iptv_ports_13">Guest_5G</label></td>
	<td align="center" id="60G_td"><input type="checkbox" id="iptv_ports_14" name="iptv_ports_14"><label for="iptv_ports_14">WiFi-60G</label></td>
</tr>
</table>

</div>
<% help_box("0","_VLAN_iptv") %>
</FORM>
</BODY>
</HTML>

