<% http_header("style/form.css", "/funcs.js", "/wlacl.js") %>
<% body_header("_WLG_acl", "WLG_acl.htm", "wlacl_apply") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$wlan_wlacl</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="location.href=\'WLG_adv.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return check_wlacl_apply(document.forms[0])"></TD>');
else
	document.write(' <TD nowrap colspan=2 align=center><input class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled></TD>');
 </script>      
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button"> 
<% pop_help_button() %>

<% table_header() %>

<script>
<% wlacl_items_xss() %>
<% save_timestamp("wlacl_apply","wlacl_editnum","wlacl_del") %>
<% refresh_timestamp("wlacl_edit","wlacl_add") %>

var ts='<% cfg_get("wlacl_apply") %>';
var endis_wl_radio="<% enable_ap_orNot("bgn") %>";
var endis_wla_radio="<% enable_ap_orNot("an") %>";
var wps_alert="<% cfg_get("wps_alert") %>";
<% cfg_set("wps_alert", "0") %>

function loadvalue()
{
	getTop(window).enabled_wps="<% wps_menu() %>";
	if( getTop(window).location.href.indexOf("adv_index.htm") != -1 )
		getTop(window).menu_color_change('wladv');
	else
		getTop(window).basic_menu_color_change('wireless');
	var form=document.forms[0];
	if('<% cfg_get("wl_access_ctrl_on") %>' == '1')
	{
		form.accessLimit.checked = true;
	}
	else
	{
		form.accessLimit.checked = false;
	}
	showWps_alert();
}

function isfull(array_num)
{
	if (array_num == 64)
	{
		alert("$acl_length_64");
		return false;
	}
	else
	{
		location.href="WLG_acl_wait.htm";
	}
}
</script>

<input type="hidden" name="select_edit">
<input type="hidden" name="select_del">
<input type="hidden" name="wl_access_ctrl_on">
<TR>
	<TD nowrap>
	<input type="checkbox" name="accessLimit" id="accessLimit_on" ><label for="accessLimit_on">
	<A tabindex=-1 href="javascript:loadhelp('_WLG_acl','control')"><B>$adva_wlan_acl_on</B></A></label>
	</TD>
</TR>
<TR>
	<TD nowrap>
	<TABLE class=tables border=0 cellpadding=2 cellspacing=0 width=100%>
	<TR class=table_header>
		<TD nowrap>&nbsp; </TD>
		<TD nowrap align=center><span class="subhead">$lan_mark_name</span></TD>
		<TD nowrap align=center><span class="subhead">$info_mark_mac</span></TD>
	</TR>
<script>
if (array_num > 0)
{
	for(i=1;i<=array_num;i++)
	{
		var str = eval ( 'wlaclArray' + i );
		var each_info=str.split(' ');
		if(each_info[0]!="<unknown>")
		{
		    if( i%2== 0 )
                    document.write("<TR class=\"even_line\">");
               else
                    document.write("<TR class=\"odd_line\">");
			document.write('<TD nowrap align=center><input type="radio" name="MacSelect" value="'+i+'" id="MacSelect_r"><label for="MacSelect_r"></label></TD><TD nowrap align=center> '+each_info[0].replace(/</g, "&#60;").replace(/>/g, "&#62;")+'</TD><TD nowrap align=center> '+each_info[1]+'</TD></TR>');
		}
		else
		{
		    if( i%2== 0 )
                    document.write("<TR class=\"even_line\">");
               else
                    document.write("<TR class=\"odd_line\">");
			document.write('<TD nowrap align=center><input type="radio" name="MacSelect" value="'+i+'" id="MacSelect_r"><label for="MacSelect_r"></label></TD><TD nowrap align=center> &lt;unknown&gt;</TD><TD nowrap align=center> '+each_info[1]+'</TD></TR>');
		}
	}
}		
</script>
	</TABLE>
	</TD>
</TR>
$bluebar
<TR>
<script>
if( master == "admin" )
	document.write('<TD nowrap colspan=2 align=center><input class="add_bt" type="button" value="$add_mark" name="Add" onClick="isfull(array_num)">&nbsp;&nbsp;<input class="edit_bt" type="submit" value="$edit_mark" name="Edit" onClick="return check_wlacl_editnum(document.forms[0]);">&nbsp;&nbsp;<input class="delete_bt" type="submit" value="$delete_mark" name="Delete" onClick="return check_wlacl_del(document.forms[0]);"></TD>');
else
	document.write('<TD nowrap colspan=2 align=center><input class="add1_bt" type="button" value="$add_mark" name="Add" disabled>&nbsp;&nbsp;<input class="edit1_bt" type="submit" value="$edit_mark" name="Edit" disabled>&nbsp;&nbsp;<input class="delete1_bt" type="submit" value="$delete_mark" name="Delete" disabled></TD>');
</script>
	
</TR>

$bluebar
</TABLE>
</div>
<% help_box("0","_WLG_acl") %>
</FORM>
</BODY>
</HTML>
