<% echo_set("","/tmp/wps_process_state") %>
<% cfg_set("client_name","") %>

<% http_header("style/form.css", "/funcs.js") %>
<% body_header("_wps", "WPS_status.htm", "wps") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$add_wps_client_header</div>
<div id="main" class="main inner-main">
<% pop_help_button() %>

<% table_header() %> 
<TR><TD colspan=2 class="top0"><img src="liteblue.gif" width=100% height=12></TD></TR>

<input type="hidden" name="wps_in_progress" value="0">
<TR>
	<TD nowrap><B>$wps_or_pin</B></TD>
</TR>
<TR>
	<TD nowrap>
	<input type=radio name="WPS_type" id="wps_type" value="Push Button" checked><label for="wps_type">$wps_push_button</label></TD>
</TR>
<TR>
	<TD><P class='wps-mg-left'>
	<script>
		if( "<% cfg_get("quick_wps_fastlane") %>" == "fastlane" )
			document.write("$wps_fastlane_push_button_text");
		else
			document.write("$wps_push_button_text");
	</script>
	</P></TD>
</TR>
<TR>
	<TD colspan=3>
	<P class="MsoNormal wps-txt-ag" style='margin:0cm;margin-bottom:.0001pt;'>
	<span lang=EN-US style='font-size:9.0pt;font-family:Arial'>
	<script>
	var master="<% cfg_get("http_loginname") %>";
	if(master=="admin")
		document.write('<input type="button" name="wps_button" id="wps_button" style="background:url(/image/buttons.gif) no-repeat -340px 0; width:50px; height:30px;" onClick="disableButton();" />');
	else
		document.write('<input type="button" name="wps_button" id="wps_button" style="background:url(/image/buttons.gif) no-repeat -308px 0; width:30px; height:30px;" disabled >');
		
	</script>
	</span>
	</P>
	</TD>
</TR>   
<TR>
	<TD nowrap align=left>
	<input type=radio name="WPS_type" id="pin_num" value="PIN Number" onClick="location.href='WPS_pin.htm'"><label for="pin_num">$wps_pin</label>
	</TD>
</TR>
$bluebar
</table>

<script language="javascript">
parent.wps_charcount=0;
getTop(window).wps_process=0;
function loadvalue()
{
	var cf = document.forms[0];
	if (cf.wps_in_progress.value == "1") {
		cf.WPS_type[0].disabled = true;
		cf.WPS_type[1].disabled = true;
		cf.wps_button.disabled = true;
	} else {
		cf.WPS_type[0].disabled = false;
		cf.WPS_type[1].disabled = false;
		cf.wps_button.disabled = false;
	}
}
function disableButton()
{
	var cf = document.forms[0];
	cf.WPS_type[0].disabled = true;
	cf.WPS_type[1].disabled = true;
	cf.wps_button.disabled = true;
//	getTop(window).enable_action=0;
	getTop(window).topframe.location.href="top_nochange.html";
	parent.wps_choice=0;
	parent.wps_pin_num="";	
	document.forms[0].submit();
}
</script>
</div>
<% help_box("1","_wps") %>
</FORM>
</BODY>
</HTML>
