<% http_header("style/form.css", "/funcs.js") %>
<% body_header("_wps", "", "") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$wps_connect_head</div>
<div id="main" class="main inner-sub inner-main">
<% pop_help_button() %>

<% table_header() %>
$bluebar

<script type="text/javascript">
var pchar = "|"; // progress char
//var maxchars = parseInt(parent.wps_client + 40)*2;
//var wps_client = parent.wps_client;
var delay_time = 500; // msecs                                      //bug16779: a half-second interval
var wps_status="<% wps_process_status() %>";
var wps_charcount = parseInt(parent.wps_charcount);
if( parent.wps_choice == 1)
	var maxchars = (120*2+70)- wps_charcount;	
else
	var maxchars = (60*4+50)- wps_charcount;

pin_refresh_time = parent.pin_refresh_time; //bug 23496,the result page of timeout(PIN method) doesn't appearance when loading bar reach at 100%
var percent = parseFloat(100/maxchars)*2;
function loadvalue()
{
	updateProgress();
}

function makeStr(strsize)
{
        var currentPer = strsize * percent ;
        document.getElementById("bar").style.width = currentPer + "%";
}
function updateProgress()
{
	client_name = getTop(window).formframe.wps_status_frame.client_name;
	var cf = document.forms[0];

	makeStr(parseInt(wps_charcount/2));
	if (wps_charcount % 2 == 0)
		document.getElementById("pic_on").className="pic_on";
	else
		document.getElementById("pic_on").className="pic_off";
		
	if ( wps_charcount == maxchars || client_name  != "" )//to fix bug 25036
	{
		//if DUT get client name at once, display the progress 1 sec, and go to WPS_sucess.htm
		if(wps_charcount == parent.wps_charcount)
		{
			wps_charcount++;
			setTimeout("updateProgress();",1000);
		}
		else
			getTop(window).formframe.location.href="WPS_success.htm";
	}
	else
	{
		pin_refresh_time=pin_refresh_time+1;
		if ( parent.wps_choice == 1 )
		{
			if(pin_refresh_time % 2 == 0)
				wps_charcount=wps_charcount+1;
		}
		else
			wps_charcount=wps_charcount+1;
		setTimeout("updateProgress();",delay_time);
	}
}

</script>
<script>
if ( parent.wps_choice == 1 )
{
	str="<TR><TD>$wps_client_pin<font size=4><B>";//The client's PIN is 
	str+=" "+parent.wps_pin_num;
	str+="</B></font>.</TD></TR>";
	document.write(str);
}
</script>
<TR>
	<TD>$wps_collectInfo</TD>
</TR>
<TR>
	<TD nowrap align="center">
        <div id="bar_td">
        <div id="pic_on" class="pic_on" ></div>
        <div class="prgbar2"><div id="bar" class="bar"></div></div>
        </div>
	</TD>
</TR>

<TR>
	<TD align=center>
	<input class="cancel_bt" type='button' name='Cancel' value='$cancel_mark' onClick='getTop(window).formframe.location.href="WPS_success.htm";'>
	</TD>
</TR>
</TABLE>
<iframe name="wps_status_frame" src="wps_get_status.htm" allowtransparency="true" scrolling="no" frameborder="0" ></iframe>
<input type="hidden" name="stop" value="">
<input type="hidden" name="pgbarcount" value="10">
</div>
<% help_box("1","_wps") %>

</FORM>
</BODY>
</HTML>
